Repository exercism/v3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iHiD, @ErikSchierboom, @exercism/ada, @exercism/ballerina, @exercism/bash, @exercism/c, @exercism/ceylon, @exercism/cfml, @exercism/clojure, @exercism/coffeescript, @exercism/common-lisp, @exercism/coq, @exercism/cpp, @exercism/crystal, @exercism/csharp, @exercism/d, @exercism/dart, @exercism/delphi, @exercism/elisp, @exercism/elixir, @exercism/elm, @exercism/erlang, @exercism/factor, @exercism/fortran, @exercism/fsharp, @exercism/gnu-apl, @exercism/go, @exercism/groovy, @exercism/haskell, @exercism/haxe, @exercism/idris, @exercism/java, @exercism/javascript, @exercism/julia, @exercism/kotlin, @exercism/lfe, @exercism/lua, @exercism/mips, @exercism/nim, @exercism/objective-c, @exercism/ocaml, @exercism/perl5, @exercism/perl6, @exercism/pharo-smalltalk, @exercism/php, @exercism/plsql, @exercism/pony, @exercism/powershell, @exercism/prolog, @exercism/purescript, @exercism/python, @exercism/r, @exercism/racket, @exercism/reasonml, @exercism/ruby, @exercism/rust, @exercism/scala, @exercism/scheme, @exercism/shen, @exercism/sml, @exercism/swift, @exercism/tcl, @exercism/typescript, @exercism/vbnet, @exercism/vimscript, @exercism/x86-assembly

.github/CODEOWNERS:

# Docs
docs/**/*                              @iHiD @ErikSchierboom
reference/stories/**/*                 @ErikSchierboom

# Badges
badges.md                              @iHiD @ErikSchierboom

# Bot-generated
languages/languages.json               @ErikSchierboom
languages/README.md                    @ErikSchierboom
reference/references.json              @ErikSchierboom
reference/README.md                    @ErikSchierboom
reference/stories/stories.json         @ErikSchierboom
reference/stories/README.md            @ErikSchierboom

# Track-specific reviewers
languages/ada/**/*                     @exercism/ada
languages/ballerina/**/*               @exercism/ballerina
languages/bash/**/*                    @exercism/bash
languages/c/**/*                       @exercism/c
languages/ceylon/**/*                  @exercism/ceylon
languages/cfml/**/*                    @exercism/cfml
languages/clojure/**/*                 @exercism/clojure
languages/coffeescript/**/*            @exercism/coffeescript
languages/common-lisp/**/*             @exercism/common-lisp
languages/coq/**/*                     @exercism/coq
languages/cpp/**/*                     @exercism/cpp
languages/crystal/**/*                 @exercism/crystal
languages/csharp/**/*                  @exercism/csharp
languages/d/**/*                       @exercism/d
languages/dart/**/*                    @exercism/dart
languages/delphi/**/*                  @exercism/delphi
languages/elisp/**/*                   @exercism/elisp
languages/elixir/**/*                  @exercism/elixir
languages/elm/**/*                     @exercism/elm
languages/erlang/**/*                  @exercism/erlang
languages/factor/**/*                  @exercism/factor
languages/fortran/**/*                 @exercism/fortran
languages/fsharp/**/*                  @exercism/fsharp
languages/gnu-apl/**/*                 @exercism/gnu-apl
languages/go/**/*                      @exercism/go
languages/groovy/**/*                  @exercism/groovy
languages/haskell/**/*                 @exercism/haskell
languages/haxe/**/*                    @exercism/haxe
languages/idris/**/*                   @exercism/idris
languages/java/**/*                    @exercism/java
languages/javascript/**/*              @exercism/javascript
languages/julia/**/*                   @exercism/julia
languages/kotlin/**/*                  @exercism/kotlin
languages/lfe/**/*                     @exercism/lfe
languages/lua/**/*                     @exercism/lua
languages/mips/**/*                    @exercism/mips
languages/nim/**/*                     @exercism/nim
languages/objective-c/**/*             @exercism/objective-c
languages/ocaml/**/*                   @exercism/ocaml
languages/perl5/**/*                   @exercism/perl5
languages/perl6/**/*                   @exercism/perl6
languages/pharo-smalltalk/**/*         @exercism/pharo-smalltalk
languages/php/**/*                     @exercism/php
languages/plsql/**/*                   @exercism/plsql
languages/pony/**/*                    @exercism/pony
languages/powershell/**/*              @exercism/powershell
languages/prolog/**/*                  @exercism/prolog
languages/purescript/**/*              @exercism/purescript
languages/python/**/*                  @exercism/python
languages/r/**/*                       @exercism/r
languages/racket/**/*                  @exercism/racket
languages/reasonml/**/*                @exercism/reasonml
languages/ruby/**/*                    @exercism/ruby @iHiD
languages/rust/**/*                    @exercism/rust
languages/scala/**/*                   @exercism/scala
languages/scheme/**/*                  @exercism/scheme
languages/shen/**/*                    @exercism/shen
languages/sml/**/*                     @exercism/sml
languages/swift/**/*                   @exercism/swift
languages/tcl/**/*                     @exercism/tcl
languages/typescript/**/*              @exercism/typescript
languages/vbnet/**/*                   @exercism/vbnet
languages/vimscript/**/*               @exercism/vimscript
languages/x86-assembly/**/*            @exercism/x86-assembly

[Stories] booleans.rpg: Add Julia implementation (#1841)
  reference/stories/booleans.rpg-quest-logic.md
Owners: @ErikSchierboom

run prettier
  languages/clojure/exercises/concept/vectors/.docs/introduction.md
Owners: @exercism/clojure

format instructions.md
  languages/clojure/exercises/concept/vectors/.docs/instructions.md
Owners: @exercism/clojure

[x86-64-assembly] Update basics exercise
  languages/x86-64-assembly/exercises/concept/basics/.docs/after.md
  languages/x86-64-assembly/exercises/concept/basics/.docs/hints.md
  languages/x86-64-assembly/exercises/concept/basics/.docs/instructions.md
  languages/x86-64-assembly/exercises/concept/basics/.docs/introduction.md
  languages/x86-64-assembly/exercises/concept/basics/.meta/config.json
  languages/x86-64-assembly/exercises/concept/basics/.meta/design.md
  languages/x86-64-assembly/exercises/concept/basics/.meta/example.asm
  languages/x86-64-assembly/exercises/concept/basics/basics.asm
  languages/x86-64-assembly/exercises/concept/basics/basics_test.c
Owners: none

remove blank line
  languages/clojure/exercises/concept/vectors/.docs/instructions.md
Owners: @exercism/clojure

correct function name
  languages/clojure/exercises/concept/vectors/.docs/instructions.md
Owners: @exercism/clojure

remove blank line
  languages/clojure/exercises/concept/vectors/.docs/instructions.md
Owners: @exercism/clojure

csharp/casting introduction.md
  languages/csharp/exercises/concept/casting/.docs/after.md
  languages/csharp/exercises/concept/casting/.docs/introduction.md
Owners: @exercism/csharp

csharp/casting tweaked goals
  languages/csharp/exercises/concept/casting/.meta/design.md
Owners: @exercism/csharp

csharp/casting cosmetic
  languages/csharp/exercises/concept/casting/.docs/after.md
Owners: @exercism/csharp

csharp/casting found le mot juste
  languages/csharp/exercises/concept/casting/.docs/introduction.md
Owners: @exercism/csharp

csharp/casting tweaks
  languages/csharp/exercises/concept/casting/.docs/after.md
Owners: @exercism/csharp

csharp/structs review points
  languages/csharp/exercises/concept/structs/.docs/after.md
  languages/csharp/exercises/concept/structs/.docs/hints.md
  languages/csharp/exercises/concept/structs/.docs/instructions.md
  languages/csharp/exercises/concept/structs/.docs/introduction.md
  languages/csharp/exercises/concept/structs/.meta/Example.cs
  languages/csharp/exercises/concept/structs/.meta/design.md
  languages/csharp/exercises/concept/structs/Structs.cs
  languages/csharp/exercises/concept/structs/StructsTests.cs
Owners: @exercism/csharp

csharp/structs cosmetic
  languages/csharp/exercises/concept/structs/.meta/Example.cs
  languages/csharp/exercises/concept/structs/Structs.cs
Owners: @exercism/csharp

csharp/structs review points
  languages/csharp/exercises/concept/structs/.docs/after.md
Owners: @exercism/csharp

csharp/structs proofing
  languages/csharp/exercises/concept/structs/.docs/after.md
Owners: @exercism/csharp

[Docs] Add note about after.md including all information from the introduction.md document
  docs/concept-exercises.md
Owners: @iHiD, @ErikSchierboom

csharp/structs proofing
  languages/csharp/exercises/concept/structs/.docs/after.md
  languages/csharp/exercises/concept/structs/.docs/hints.md
Owners: @exercism/csharp

csharp/structs cosmetic
  languages/csharp/exercises/concept/structs/.docs/after.md
  languages/csharp/exercises/concept/structs/.docs/instructions.md
Owners: @exercism/csharp

csharp/structs added track config.json
  languages/csharp/config.json
Owners: @exercism/csharp

csharp/casting draft PR
  languages/csharp/exercises/concept/casting/.docs/after.md
  languages/csharp/exercises/concept/casting/.docs/instructions.md
  languages/csharp/exercises/concept/casting/.meta/Example.cs
  languages/csharp/exercises/concept/casting/Casting.cs
  languages/csharp/exercises/concept/casting/CastingTests.cs
Owners: @exercism/csharp

csharp/casting draft PR
  languages/csharp/exercises/concept/casting/.docs/introduction.md
Owners: @exercism/csharp

csharp/casting draft PR
  languages/csharp/exercises/concept/casting/.docs/introduction.md
Owners: @exercism/csharp

Delete README.md
  languages/csharp/reference/README.md
Owners: @exercism/csharp

csharp/casting resolve merge conflict
  languages/csharp/reference/README.md
Owners: @exercism/csharp
