Repository exercism/v3, pull requests merged in 2020-12, with the labels that each got.

#2165 Kickstart elm/exercices from fsharp/exercises
  languages/elm/concepts/basics/about.md
  languages/elm/concepts/basics/links.json
  languages/elm/config.json
  languages/elm/docs/README.md
  languages/elm/exercises/README.md
  languages/elm/exercises/_sidebar.md
  languages/elm/exercises/concept/README.md
  languages/elm/exercises/concept/lucians-luscious-lasagna/.docs/hints.md
  languages/elm/exercises/concept/lucians-luscious-lasagna/.docs/instructions.md
  languages/elm/exercises/concept/lucians-luscious-lasagna/.docs/introduction.md
  languages/elm/exercises/concept/lucians-luscious-lasagna/.meta/Cook.elm
  languages/elm/exercises/concept/lucians-luscious-lasagna/.meta/config.json
  languages/elm/exercises/concept/lucians-luscious-lasagna/.meta/design.md
  languages/elm/exercises/concept/lucians-luscious-lasagna/elm.json
  languages/elm/exercises/concept/lucians-luscious-lasagna/src/Cook.elm
  languages/elm/exercises/concept/lucians-luscious-lasagna/tests/Tests.elm
  languages/elm/exercises/practice/README.md
  languages/elm/exercises/shared/.docs/README.md
  languages/elm/exercises/shared/.docs/cli.md
  languages/elm/reference/README.md
  languages/elm/reference/implementing-a-concept-exercise.md
Labels: track/elm, type/documentation

#2885 [Python] str-methods. Fix https prefix and typo
  languages/python/concepts/string-methods/about.md
Labels: track/python

#2851 [Common Lisp] implement concept exercise: functions
  languages/common-lisp/concepts/default-parameters/about.md
  languages/common-lisp/concepts/default-parameters/links.json
  languages/common-lisp/concepts/function-definition/about.md
  languages/common-lisp/concepts/functions/about.md
  languages/common-lisp/concepts/functions/links.json
  languages/common-lisp/concepts/named-parameters/about.md
  languages/common-lisp/concepts/named-parameters/links.json
  languages/common-lisp/concepts/rest-parameters/about.md
  languages/common-lisp/concepts/rest-parameters/links.json
  languages/common-lisp/concepts/scope/about.md
  languages/common-lisp/concepts/scope/links.json
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/lillys-lasagna/.docs/hints.md
  languages/common-lisp/exercises/concept/lillys-lasagna/.docs/instructions.md
  languages/common-lisp/exercises/concept/lillys-lasagna/.docs/introduction.md
  languages/common-lisp/exercises/concept/lillys-lasagna/.meta/config.json
  languages/common-lisp/exercises/concept/lillys-lasagna/.meta/design.md
  languages/common-lisp/exercises/concept/lillys-lasagna/.meta/example.lisp
  languages/common-lisp/exercises/concept/lillys-lasagna/lillys-lasagna-test.lisp
  languages/common-lisp/exercises/concept/lillys-lasagna/lillys-lasagna.lisp
Labels: track/common-lisp

#2854 [C#] attack trolls. flag enums and attributes
  languages/csharp/concepts/attributes/about.md
  languages/csharp/concepts/attributes/links.json
  languages/csharp/concepts/bit-manipulation/about.md
  languages/csharp/concepts/compound-assignment/about.md
  languages/csharp/concepts/flag-enums/about.md
  languages/csharp/concepts/flag-enums/links.json
  languages/csharp/config.json
  languages/csharp/exercises/concept/attack-of-the-trolls/.docs/hints.md
  languages/csharp/exercises/concept/attack-of-the-trolls/.docs/instructions.md
  languages/csharp/exercises/concept/attack-of-the-trolls/.docs/introduction.md
  languages/csharp/exercises/concept/attack-of-the-trolls/.meta/config.json
  languages/csharp/exercises/concept/attack-of-the-trolls/.meta/design.md
  languages/csharp/exercises/concept/attack-of-the-trolls/AttackOfTheTrollsTests.cs
Labels: track/csharp

#2895 Replace then with them
  languages/python/concepts/lists/about.md
Labels: track/python

#2896 [Elixir] Fix `rpg-character-sheet`'s `config.json`
  languages/elixir/exercises/concept/rpg-character-sheet/.meta/config.json
Labels: track/elixir

#2899 Update valid-files.yml to except languages/python/reference/README.md
  .github/workflows/valid-files.yml
Labels: type/ci

#2900 [Elixir] Add concepts missing in the config
  languages/elixir/config.json
Labels: track/elixir

#2876 [Elixir] New concept exercise: `erlang-libraries` and `randomness`
  languages/elixir/concepts/erlang-libraries/about.md
  languages/elixir/concepts/erlang-libraries/links.json
  languages/elixir/concepts/randomness/about.md
  languages/elixir/concepts/randomness/links.json
  languages/elixir/config.json
  languages/elixir/exercises/concept/captains-log/.docs/hints.md
  languages/elixir/exercises/concept/captains-log/.docs/instructions.md
  languages/elixir/exercises/concept/captains-log/.docs/introduction.md
  languages/elixir/exercises/concept/captains-log/.formatter.exs
  languages/elixir/exercises/concept/captains-log/.gitignore
  languages/elixir/exercises/concept/captains-log/.meta/config.json
  languages/elixir/exercises/concept/captains-log/.meta/design.md
  languages/elixir/exercises/concept/captains-log/.meta/example.ex
  languages/elixir/exercises/concept/captains-log/lib/captains_log.ex
  languages/elixir/exercises/concept/captains-log/mix.exs
  languages/elixir/exercises/concept/captains-log/test/captains_log_test.exs
  languages/elixir/exercises/concept/captains-log/test/test_helper.exs
Labels: track/elixir, type/new-exercise

#2893 [Python] Reference and Exercise Tables Rework
  languages/python/config.json
  languages/python/exercises/README.md
  languages/python/reference/README.md
Labels: track/python

#2901 [Go] Fix booleans introduction table
  languages/go/exercises/concept/booleans/.docs/introduction.md
Labels: track/erlang, track/scala

#2905 Add `file` concept to list of concepts
  languages/elixir/config.json
Labels: track/elixir

#2850 [Julia] Add intro to optional-args concept
  languages/julia/concepts/optional-arguments/about.md
Labels: track/julia

#2907 Make meta-config files check pass
  languages/fsharp/exercises/concept/booking-up-for-beauty/.meta/config.json
  languages/fsharp/exercises/concept/cars-assemble/.meta/config.json
  languages/fsharp/exercises/concept/interest-is-interesting/.meta/config.json
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/.meta/config.json
  languages/javascript/exercises/concept/array-transformations/array-transformations.js
  languages/javascript/exercises/concept/array-transformations/array-transformations.spec.js
Labels: track/javascript

#2910 inform user of environment dependency
  bin/format.sh
Labels: type/ci

#2906 Add missing concepts files
  languages/clojure/concepts/booleans/links.json
  languages/clojure/concepts/conditionals/about.md
  languages/clojure/concepts/conditionals/links.json
  languages/clojure/concepts/floating-point-numbers/links.json
  languages/clojure/concepts/numbers/links.json
  languages/clojure/concepts/strings/links.json
  languages/clojure/concepts/vectors/links.json
  languages/javascript/concepts/spread-operator/about.md
  languages/javascript/concepts/spread-operator/links.json
  languages/julia/concepts/arithmetic-operators/about.md
  languages/julia/concepts/arithmetic-operators/links.json
  languages/julia/concepts/boolean-expressions/about.md
  languages/julia/concepts/boolean-expressions/links.json
  languages/julia/concepts/integer-equality/about.md
  languages/julia/concepts/integer-equality/links.json
  languages/python/concepts/loops/about.md
  languages/python/concepts/loops/links.json
  languages/python/concepts/none/about.md
  languages/python/concepts/none/links.json
  languages/python/concepts/str-methods/about.md
  languages/python/concepts/str-methods/links.json
  languages/swift/concepts/constants/about.md
  languages/swift/concepts/constants/links.json
  languages/swift/concepts/variables/about.md
  languages/swift/concepts/variables/links.json
Labels: track/javascript, track/julia, track/python, track/swift

#2887 [C#] polymorphism concept
  languages/csharp/concepts/inheritance/about.md
  languages/csharp/exercises/concept/wizards-and-warriors/.docs/introduction.md
  languages/csharp/exercises/concept/wizards-and-warriors/.meta/design.md
  languages/csharp/reference/exercises.json
Labels: track/csharp

#2911 [C#] enums concept about.md
  languages/csharp/concepts/enums/about.md
  languages/csharp/concepts/enums/links.json
  languages/csharp/exercises/concept/logs-logs-logs/.docs/hints.md
  languages/csharp/exercises/concept/logs-logs-logs/.docs/instructions.md
  languages/csharp/exercises/concept/logs-logs-logs/.meta/config.json
Labels: track/csharp

#2912 [Rust] update introduction headings
  languages/rust/exercises/concept/entry-api/.docs/introduction.md
  languages/rust/exercises/concept/enums/.docs/introduction.md
  languages/rust/exercises/concept/numbers/.docs/introduction.md
  languages/rust/exercises/concept/options/.docs/introduction.md
  languages/rust/exercises/concept/structs/.docs/introduction.md
Labels: track/rust, type/improve-student-facing-doc

#2916 [Rust] patch test_pr.sh for BSD mktemp
  languages/rust/scripts/test_pr.sh
Labels: track/rust

#2917 [Rust] group maintainer utilities
  languages/rust/scripts/boil_exercise.sh
Labels: track/rust

#2875 [Python] Add new concept exercise : numbers
  languages/python/config.json
  languages/python/exercises/concept/currency-exchange/.docs/hints.md
  languages/python/exercises/concept/currency-exchange/.docs/instructions.md
  languages/python/exercises/concept/currency-exchange/.docs/introduction.md
  languages/python/exercises/concept/currency-exchange/.meta/config.json
  languages/python/exercises/concept/currency-exchange/.meta/design.md
  languages/python/exercises/concept/currency-exchange/.meta/example.py
  languages/python/exercises/concept/currency-exchange/exchange.py
  languages/python/exercises/concept/currency-exchange/exchange_test.py
Labels: track/python

#2922 Fix exercise's link
  languages/python/exercises/README.md
Labels: track/python

#2924 [Python] Concepts rename pt2
  languages/python/concepts/numbers/about.md
  languages/python/config.json
  languages/python/exercises/README.md
  languages/python/exercises/concept/currency-exchange/.docs/introduction.md
  languages/python/exercises/concept/currency-exchange/.meta/config.json
  languages/python/exercises/concept/currency-exchange/numbers.py
  languages/python/exercises/concept/currency-exchange/numbers_test.py
  languages/python/exercises/concept/little-sisters-essay/.meta/config.json
  languages/python/exercises/concept/little-sisters-essay/string_methods.py
  languages/python/exercises/concept/little-sisters-essay/string_methods_test.py
  languages/python/reference/README.md
Labels: track/python

#2927 [Python] Fix typo about.md
  languages/python/concepts/lists/about.md
Labels: track/python

#2928 [Python] add link design.md
  languages/python/concepts/lists/about.md
Labels: track/python

#2920 [Python] Updates to implementing-a-concept-exercise.md
  languages/python/reference/implementing-a-concept-exercise.md
Labels: track/python

#2930 [Elixir] rename freelance-rates to freelancer-rates
  languages/elixir/exercises/concept/freelancer-rates/.docs/hints.md
  languages/elixir/exercises/concept/freelancer-rates/.docs/instructions.md
  languages/elixir/exercises/concept/freelancer-rates/.docs/introduction.md
  languages/elixir/exercises/concept/freelancer-rates/.formatter.exs
  languages/elixir/exercises/concept/freelancer-rates/.gitignore
  languages/elixir/exercises/concept/freelancer-rates/.meta/config.json
  languages/elixir/exercises/concept/freelancer-rates/.meta/design.md
  languages/elixir/exercises/concept/freelancer-rates/.meta/example.ex
  languages/elixir/exercises/concept/freelancer-rates/lib/freelancer_rates.ex
  languages/elixir/exercises/concept/freelancer-rates/mix.exs
  languages/elixir/exercises/concept/freelancer-rates/test/freelancer_rates_test.exs
  languages/elixir/exercises/concept/freelancer-rates/test/test_helper.exs
  reference/stories/README.md
  reference/stories/numbers.freelancer-rates.md
  reference/stories/stories.json
Labels: track/elixir

#2936 [Python] Concepts naming cleanup and typo patrol
  languages/python/concepts/list-methods/about.md
  languages/python/concepts/lists/about.md
  languages/python/concepts/numbers/about.md
  languages/python/exercises/README.md
  languages/python/exercises/concept/chaitanas-colossal-coaster/.docs/introduction.md
  languages/python/exercises/concept/elyses-enchantments/.docs/introduction.md
  languages/python/reference/README.md
Labels: track/python

#2932 [Elixir] Add neenjaw as contributor to my exercises that he reviewed
  languages/elixir/exercises/concept/bread-and-potions/.meta/config.json
  languages/elixir/exercises/concept/captains-log/.meta/config.json
  languages/elixir/exercises/concept/rpg-character-sheet/.meta/config.json
  languages/elixir/exercises/concept/wine-cellar/.meta/config.json
Labels: track/elixir

#2934 [Elixir] Ensure that tests are self-contained - `rpn-calculator-output`
  languages/elixir/exercises/concept/rpn-calculator-output/test/rpn_calculator/output_test.exs
Labels: track/elixir

#2933 [Elixir] Ensure that tests are self-contained - `wine-cellar`
  languages/elixir/exercises/concept/wine-cellar/test/wine_cellar_test.exs
Labels: track/elixir

#2941 [C#] Add key features and tags to config
  languages/csharp/config.json
Labels: track/csharp

#2903 [Elixir] Propose a simple chessboard `ranges` exercise
  languages/elixir/concepts/charlists/about.md
  languages/elixir/concepts/ranges/about.md
  languages/elixir/config.json
  languages/elixir/exercises/concept/chessboard/.docs/hints.md
  languages/elixir/exercises/concept/chessboard/.docs/instructions.md
  languages/elixir/exercises/concept/chessboard/.docs/introduction.md
  languages/elixir/exercises/concept/chessboard/.formatter.exs
  languages/elixir/exercises/concept/chessboard/.gitignore
  languages/elixir/exercises/concept/chessboard/.meta/config.json
  languages/elixir/exercises/concept/chessboard/.meta/design.md
  languages/elixir/exercises/concept/chessboard/.meta/example.ex
  languages/elixir/exercises/concept/chessboard/lib/chessboard.ex
  languages/elixir/exercises/concept/chessboard/mix.exs
  languages/elixir/exercises/concept/chessboard/test/chessboard_test.exs
  languages/elixir/exercises/concept/chessboard/test/test_helper.exs
  languages/elixir/exercises/concept/date-parser/.docs/introduction.md
  languages/elixir/exercises/concept/dna-encoding/.docs/hints.md
  languages/elixir/exercises/concept/dna-encoding/.docs/instructions.md
  languages/elixir/exercises/concept/dna-encoding/lib/dna.ex
  languages/elixir/exercises/concept/dna-encoding/test/dna_test.exs
  languages/elixir/exercises/concept/mensch-aergere-dich-nicht/.docs/hints.md
  languages/elixir/exercises/concept/mensch-aergere-dich-nicht/.docs/introduction.md
  languages/elixir/exercises/concept/mensch-aergere-dich-nicht/.meta/design.md
  languages/elixir/reference/README.md
  languages/elixir/reference/exercise-concepts/pangram.md
  languages/elixir/reference/exercise-concepts/rna-transcription.md
Labels: track/elixir

#2945 [C#] Add clarification that new instances are unique
  languages/csharp/concepts/classes/about.md
Labels: track/csharp

#2946 [C#] Do-while loop context
  languages/csharp/concepts/do-while-loops/about.md
Labels: track/csharp

#2947 [C#] Fix typo in named-arguments concept doc
  languages/csharp/concepts/named-arguments/about.md
Labels: track/csharp

#2951 Adding evelynstender as maintainer
  languages/javascript/maintainers.md
Labels: track/javascript

#2957 [Elixir] Ensure that tests are self-contained - `basketball-website`
  languages/elixir/exercises/concept/basketball-website/.meta/example.ex
  languages/elixir/exercises/concept/basketball-website/test/basketball_website_test.exs
Labels: track/elixir, type/improve-exercise

#2956 [Elixir] Ensure that tests are self-contained - `boutique-suggestions`
  languages/elixir/exercises/concept/boutique-suggestions/.meta/example.ex
  languages/elixir/exercises/concept/boutique-suggestions/test/boutique_suggestions_test.exs
Labels: track/elixir, type/improve-exercise

#2955 [Elixir] Ensure that tests are self-contained - `high-score`
  languages/elixir/exercises/concept/high-score/test/high_score_test.exs
Labels: track/elixir, type/improve-exercise

#2954 [Elixir] Ensure that tests are self-contained - `kitchen-calculator`
  languages/elixir/exercises/concept/kitchen-calculator/.meta/example.ex
  languages/elixir/exercises/concept/kitchen-calculator/test/kitchen_calculator_test.exs
Labels: track/elixir, type/improve-exercise

#2953 [Elixir] Ensure that tests are self-contained - `language-list`
  languages/elixir/exercises/concept/language-list/test/language_list_test.exs
Labels: track/elixir, type/improve-exercise

#2952 [Elixir] Ensure that tests are self-contained - `remote_control_car`
  languages/elixir/exercises/concept/remote-control-car/.meta/example.ex
  languages/elixir/exercises/concept/remote-control-car/test/remote_control_car_test.exs
Labels: track/elixir, type/improve-exercise

#2416 [JavaScript] arrays - replace about.md file with concept files
  languages/javascript/concepts/arrays/about.md
  languages/javascript/concepts/arrays/links.json
  languages/javascript/exercises/concept/arrays/.docs/after.md
Labels: track/javascript

#2415 [JavaScript] array-analysis - replace about.md file with concept files
  languages/javascript/concepts/array-analysis/about.md
  languages/javascript/concepts/array-analysis/links.json
  languages/javascript/exercises/concept/array-analysis/.docs/after.md
Labels: track/javascript

#2419 [JavaScript] nullability - replace about.md file with concept files
  languages/javascript/concepts/nullability/about.md
  languages/javascript/exercises/concept/nullability/.docs/after.md
Labels: track/javascript

#2420 [JavaScript] recursion - replace about.md file with concept files
  languages/javascript/concepts/recursion/about.md
  languages/javascript/exercises/concept/recursion/.docs/after.md
Labels: track/javascript

#2417 [JavaScript] basics - replace about.md file with concept files
  languages/javascript/concepts/basics/about.md
  languages/javascript/concepts/basics/links.json
  languages/javascript/exercises/concept/basics/.docs/after.md
Labels: track/javascript

#2422 [JavaScript] closures - replace about.md file with concept files
  languages/javascript/concepts/closures/about.md
  languages/javascript/concepts/closures/links.json
  languages/javascript/exercises/concept/closures/.docs/after.md
Labels: track/javascript

#2418 [JavaScript] booleans - replace about.md file with concept files
  languages/javascript/concepts/booleans/about.md
  languages/javascript/concepts/booleans/links.json
  languages/javascript/exercises/concept/booleans/.docs/after.md
Labels: track/javascript

#2126 [JavaScript] Add Array Loops concept exercise
  languages/javascript/concepts/array-loops/about.md
  languages/javascript/exercises/concept/array-loops/.docs/hints.md
  languages/javascript/exercises/concept/array-loops/.docs/instructions.md
  languages/javascript/exercises/concept/array-loops/.docs/introduction.md
  languages/javascript/exercises/concept/array-loops/.meta/config.json
  languages/javascript/exercises/concept/array-loops/array-loops.js
  languages/javascript/exercises/concept/array-loops/array-loops.spec.js
  languages/javascript/exercises/concept/array-loops/example.js
Labels: track/javascript

#2697 [Javascript] Nullability: improve concept exercises
  languages/javascript/concepts/nullability/about.md
  languages/javascript/concepts/nullability/links.json
  languages/javascript/exercises/concept/nullability/.docs/hints.md
  languages/javascript/exercises/concept/nullability/.docs/instructions.md
  languages/javascript/exercises/concept/nullability/.docs/introduction.md
  languages/javascript/exercises/concept/nullability/.meta/config.json
Labels: track/javascript

#2266 [JavaScript] new concept exercise - `callbacks`
  languages/javascript/concepts/callbacks/about.md
  languages/javascript/concepts/callbacks/links.json
  languages/javascript/config.json
  languages/javascript/exercises/concept/fruit-picker/.docs/hints.md
  languages/javascript/exercises/concept/fruit-picker/.docs/instructions.md
  languages/javascript/exercises/concept/fruit-picker/.docs/introduction.md
  languages/javascript/exercises/concept/fruit-picker/.eslintrc
  languages/javascript/exercises/concept/fruit-picker/.gitignore
  languages/javascript/exercises/concept/fruit-picker/.meta/config.json
  languages/javascript/exercises/concept/fruit-picker/.meta/design.md
  languages/javascript/exercises/concept/fruit-picker/babel.config.js
  languages/javascript/exercises/concept/fruit-picker/example.js
  languages/javascript/exercises/concept/fruit-picker/fruit-picker.js
  languages/javascript/exercises/concept/fruit-picker/fruit-picker.spec.js
  languages/javascript/exercises/concept/fruit-picker/global.d.ts
  languages/javascript/exercises/concept/fruit-picker/grocer.js
  languages/javascript/exercises/concept/fruit-picker/package.json
Labels: status/draft, track/javascript, type/new-exercise
