Repository exercism/v3, pull requests merged in 2020-02, with the labels that each got.

#452 [Elixir] Create exercise-concept reference: raindrops
  languages/elixir/reference/exercise-concepts/raindrops.md
Labels: documentation, status/in-progress, track/elixir

#453 [Elixir] Create exercise concept - pangram
  languages/elixir/reference/exercise-concepts/pangram.md
Labels: documentation, status/in-progress, track/elixir

#363 [Clojure] add porkostomus to maintainers
  languages/clojure/maintainers.md
Labels: track/clojure

#409 Add l0nax to maintainers
  languages/c/maintainers.md
Labels: track/c

#484 [Clojure] add sidebar and docs/README.md
  languages/clojure/_sidebar.md
  languages/clojure/docs/README.md
Labels: documentation, track/clojure

#338 [JavaScript] Create reference for import & export
  languages/javascript/reference/keywords/export.md
  languages/javascript/reference/keywords/import.md
Labels: track/javascript

#448 [Elixir] start reference readme
  languages/elixir/reference/README.md
Labels: track/elixir

#490 Add 'Zulu-Inuoe' to the list of maintainers
  languages/common-lisp/maintainers.md
Labels: track/common-lisp

#485 [ELisp] Adding myself as contributing maintainer
  languages/emacs-lisp/maintainers.md
Labels: track/emacs-lisp

#499 [JavaScript] Mark kickoff meeting as happened
  languages/javascript/README.md
Labels: track/javascript

#450 [Go] Add project board to README.md
  languages/go/README.md
Labels: track/go

#486 [Clojure] add Clojure to languages/README.md
  languages/README.md
Labels: documentation, track/clojure

#240 [TypeScript] Add implementing a concept docs
  languages/javascript/docs/implementing-a-concept-exercise.md
  languages/typescript/README.md
  languages/typescript/docs/implementing-a-concept-exercise.md
  languages/typescript/exercises/concept/README.md
  languages/typescript/exercises/concept/numbers.md
  languages/typescript/exercises/concept/promises.md
  languages/typescript/exercises/concept/strings.md
Labels: documentation, track/typescript

#441 [Rust] Extract Concepts from v2 exercise: paasio
  languages/rust/reference/exercise-concepts/paasio.md
Labels: track/rust

#508 [Perl5] Add bootstrap
  .github/labeler.yml
  README.md
  languages/perl5/README.md
  languages/perl5/docs/implementing-a-concept-exercise.md
  languages/perl5/maintainers.md
Labels: CI, documentation, track/perl5

#210 [Dart] Explains 'abstract' keyword
  languages/dart/keywords/abstract.md
  languages/dart/keywords/class.md
  languages/dart/keywords/extends.md
  languages/dart/keywords/object.md
Labels: track/dart, type/new-reference

#525 Create leap.md
  languages/cpp/reference/exercise-concepts/leap.md
Labels: documentation, track/cpp

#527 [C#] Add design document for enums exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/enums/.meta/Example.cs
  languages/csharp/exercises/concept/enums/.meta/design.md
  languages/csharp/exercises/concept/enums/Enums.cs
  languages/csharp/reference/README.md
Labels: track/csharp

#529 [C#] Add design document for numbers-floating-point exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/numbers-floating-point/.meta/design.md
  languages/csharp/reference/README.md
Labels: track/csharp

#510 [C#] Add design document for strings exercise
  languages/csharp/exercises/concept/strings/.meta/design.md
  languages/csharp/reference/README.md
Labels: track/csharp

#433 [Scala] Extract concepts from v2 scrabble-score exercise
  languages/scala/reference/concept-exercises/scrabble-score.md
Labels: documentation, track/scala

#432 [Scala] Extract concepts from v2 space-age exercise
  languages/scala/reference/exercise-concepts/space-age.md
Labels: documentation, track/scala

#547 [Perl5] Add sshine as contributing maintainer
  languages/perl5/maintainers.md
Labels: track/perl5

#548 [Perl5] Add rfilipo as maintainer
  languages/perl5/maintainers.md
Labels: track/perl5

#551 [C++] Added essential documentation and folder structure
  languages/cpp/_sidebar.md
  languages/cpp/docs/README.md
  languages/cpp/exercises/README.md
  languages/cpp/exercises/_sidebar.md
  languages/cpp/exercises/concept/README.md
  languages/cpp/exercises/concept/_sidebar.md
  languages/cpp/exercises/practice/README.md
  languages/cpp/exercises/shared/.docs/README.md
  languages/cpp/reference/_sidebar.md
Labels: documentation, track/cpp

#609 [Cpp] Extract Concepts from v2 exercise: hamming
  languages/cpp/reference/exercise-concepts/hamming.md
Labels: documentation, track/cpp

#414 [Java] extract concepts from gigasecond example
  languages/java/reference/exercise-concepts/gigasecond.md
Labels: documentation, track/java

#610 [Docs] Add design.md steps
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/csharp/docs/examples/new-concept-exercise-arrays.md
  languages/javascript/docs/implementing-a-concept-exercise.md
  languages/kotlin/docs/implementing-a-concept-exercise.md
  languages/typescript/docs/implementing-a-concept-exercise.md
Labels: documentation, track/csharp, track/javascript, track/kotlin, track/typescript

#611 [Docs] Add guidelines
  docs/concept-exercises.md
Labels: documentation

#512 [C#] Extract concepts from v2 grade-school exercise
  languages/csharp/reference/exercise-concepts/grade-school.md
Labels: track/csharp

#480 [Go] Add numbers concept exercise
  languages/go/exercises/concept/numbers/.docs/after.md
  languages/go/exercises/concept/numbers/.docs/hints.md
  languages/go/exercises/concept/numbers/.docs/instructions.md
  languages/go/exercises/concept/numbers/.docs/introduction.md
  languages/go/exercises/concept/numbers/.meta/example.go
  languages/go/exercises/concept/numbers/go.mod
  languages/go/exercises/concept/numbers/numbers.go
  languages/go/exercises/concept/numbers/numbers_test.go
Labels: status/in-progress, track/go, type/new-exercise

#536 [Java] Extract concepts from v2 rna-transcription exercise
  languages/java/reference/exercise-concepts/rna-transcription.md
Labels: track/java

#618 [Go] add design documents for strings and numbers
  languages/go/exercises/concept/basic-strings/.meta/design.md
  languages/go/exercises/concept/numbers/.meta/design.md
Labels: track/go, type/improve-exercise

#615 Add document on how to implement a concept exercise in Go
  languages/go/docs/implementing-a-concept-exercise.md
  languages/go/docs/style-guide.md
Labels: documentation, track/go

#620 [Go] Fix Typo
  languages/go/docs/implementing-a-concept-exercise.md
Labels: documentation, track/go

#522 [Common Lisp] updating README to reflect launch progress.
  languages/common-lisp/README.md
Labels: track/common-lisp

#505 [Elixir] Concept Reference Updates
  languages/elixir/reference/README.md
Labels: documentation, status/in-progress, track/elixir

#511 [C#] Extract concepts from v2 change exercise
  languages/csharp/reference/exercise-concepts/change.md
Labels: track/csharp

#629 [Go] Update Status Page
  languages/go/README.md
Labels: track/go

#630 [Go] Add more links to Readme
  languages/go/README.md
Labels: track/go

#632 [C++] Added documentation on Concepts Exercises implementation
  languages/cpp/docs/implementing-a-concept-exercise.md
Labels: documentation, track/cpp

#404 [Docs] Render mermaid graph code blocks
  docs/maintainers/README.md
  index.html
  languages/julia/reference/progression.md
Labels: documentation, track/julia

#636 [JavaScript] Mark test runner as deployed & add dashboard href
  languages/javascript/README.md
Labels: documentation, track/javascript

#488 [Elixir] Adds concepts and explanation of exercise
  languages/elixir/reference/exercise-concepts/scale-generator.md
Labels: documentation, status/in-progress, track/elixir

#482 [Elixir] Adds concept list for rna-transcription exercise
  languages/elixir/reference/exercise-concepts/rna-transcription.md
Labels: documentation, status/in-progress, track/elixir

#222 [Rust] Initial list of concepts
  languages/rust/reference/README.md
Labels: track/rust

#614 [Docs] Clarify background knowledge
  docs/concept-exercises.md
Labels: documentation

#651 [Docs] Features of v3 typo's
  docs/features-of-v3.md
Labels: documentation

#537 [C#] extract concepts of v2 isbn-verifier exercise
  languages/csharp/reference/exercise-concepts/isbn-verifier.md
Labels: track/csharp

#633 [Java] add initial config.json file structure
  languages/java/README.md
  languages/java/config.json
Labels: track/java

#658 [Docs] Remove C# reference from repository-structure.md
  docs/maintainers/repository-structure.md
Labels: documentation

#659 [Docs] remove duplicated word
  docs/maintainers/faqs.md
Labels: documentation

#549 [Java] extract concepts from matrix v2 exercise
  languages/java/reference/exercise-concepts/matrix.md
Labels: track/java

#669 [CI] Add workflow to make prevent work-in-progress PRs from being merged
  .github/workflows/wip.yml
Labels: CI

#676 Revert "[CI] Add workflow to make prevent work-in-progress PRs from being merged"
  .github/workflows/wip.yml
Labels: CI

#677 [Elm] Bootstrap
  .github/labeler.yml
  README.md
  languages/elm/README.md
  languages/elm/docs/implementing-a-concept-exercise.md
Labels: CI, documentation, track/elm

#689 [CI] Roadmap feedback GitHub issue template
  .github/ISSUE_TEMPLATE/roadmap-feedback.md
Labels: documentation

#657 [Python] Extract Concepts from v2 exercise: reverse-string
  languages/python/reference/exercise-concepts/reverse-string.md
Labels: documentation, status/draft, track/python

#503 [Python] Add Concepts from v2 exercise: variable-length-quantity
  languages/python/reference/exercise-concepts/variable-length-quantity.md
Labels: documentation, status/in-progress, track/python

#501 [Python] Add Concepts from v2 exercise: binary-search-tree
  languages/python/reference/exercise-concepts/binary-search-tree.md
Labels: documentation, status/in-progress, track/python

#463 [Python] Add Concepts from v2 exercise: allergies
  languages/python/reference/exercise-concepts/allergies.md
Labels: documentation, status/in-progress, track/python

#462 [Python] Add Concepts from v2 exercise: leap
  languages/python/reference/exercise-concepts/leap.md
Labels: documentation, status/in-progress, track/python

#420 [Python] Add Concepts for v2 exercise: phone-number
  languages/python/reference/exercise-concepts/phone-number.md
Labels: documentation, track/python

#418 [Python] Add Concepts for v2 exercise: hamming
  languages/python/reference/exercise-concepts/hamming.md
Labels: documentation, track/python

#395 [DRAFT] [Python] Add Concepts for v2 exercise: clock
  languages/python/reference/exercise-concepts/clock.md
Labels: documentation, status/draft, track/python

#698 Add config.json to structure of exercise file tree
  languages/kotlin/docs/implementing-a-concept-exercise.md
Labels: documentation, track/kotlin

#540 [Python] Extract Concepts from v2 exercise: markdown
  languages/python/reference/exercise-concepts/markdown.md
Labels: documentation, status/draft, track/python

#416 [Python] Add Concepts for v2 exercise: matrix
  languages/python/reference/exercise-concepts/matrix.md
Labels: documentation, track/python

#520 [Python] Extract Concepts from v2 exercise: rna-transcription
  languages/python/reference/exercise-concepts/rna-transcription.md
Labels: documentation, track/python

#538 [Python] Extract Concepts from v2 exercise: robot-simulator
  languages/python/reference/exercise-concepts/robot-simulator.md
Labels: documentation, status/draft, track/python

#665 [WIP] [Python] Concept implementation instructions
  languages/python/docs/implementing-a-concept-exercise.md
Labels: documentation, status/draft, track/python

#383 [Clojure] Init New Concept Exercise for `List`
  languages/clojure/exercises/concept/list/.doc/after.md
  languages/clojure/exercises/concept/list/.doc/hints.md
  languages/clojure/exercises/concept/list/.doc/instructions.md
  languages/clojure/exercises/concept/list/.doc/introduction.md
  languages/clojure/exercises/concept/list/.meta/Example.clj
  languages/clojure/exercises/concept/list/project.clj
  languages/clojure/exercises/concept/list/src/list.clj
  languages/clojure/exercises/concept/list/test/list_test.clj
Labels: track/clojure

#704 [Clojure]: Init design.md for concept List
  languages/clojure/exercises/concept/list/.meta/design.md
Labels: track/clojure

#702 [C#] Feedback on numbers exercise
  languages/csharp/exercises/concept/numbers/.docs/hints.md
  languages/csharp/exercises/concept/numbers/.docs/instructions.md
  languages/csharp/exercises/concept/numbers/.docs/introduction.md
  languages/csharp/exercises/concept/numbers/.meta/Example.cs
Labels: track/csharp, type/improve-exercise

#705 [Python] Harmonize, part 1
  languages/python/reference/README.md
  languages/python/reference/concepts/pep_8_style_guide.md
  languages/python/reference/concepts/python_enhancement_proposals.md
  languages/python/reference/concepts/pythonic.md
  languages/python/reference/concepts/zen_of_python.md
  languages/python/reference/exercise-concepts/allergies.md
  languages/python/reference/exercise-concepts/binary-search-tree.md
  languages/python/reference/exercise-concepts/clock.md
  languages/python/reference/exercise-concepts/hamming.md
  languages/python/reference/exercise-concepts/leap.md
  languages/python/reference/exercise-concepts/markdown.md
  languages/python/reference/exercise-concepts/matrix.md
  languages/python/reference/exercise-concepts/phone-number.md
  languages/python/reference/exercise-concepts/reverse-string.md
  languages/python/reference/exercise-concepts/rna-transcription.md
  languages/python/reference/exercise-concepts/robot-simulator.md
  languages/python/reference/exercise-concepts/variable-length-quantity.md
Labels: documentation, status/in-progress, track/python

#266 [Go] add concepts for v2's parallel letter frequency
  languages/go/reference/exercise-concepts/parallel-letter-frequency.md
Labels: status/in-progress, track/go

#608 [Common Lisp] add proposed concepts from roman-numeral exercise.
  languages/common-lisp/reference/exercise-concepts/roman-numerals.md
Labels: track/common-lisp

#711 [Elm] Add Matthieu Pizenberg to maintainers
  languages/elm/maintainers.md
Labels: track/elm

#717 [Ruby] Initialise config.json
  languages/ruby/README.md
  languages/ruby/config.json
Labels: track/ruby

#720 [Elm] Extract Concepts from v2 exercise: grade-school
  languages/elm/reference/exercise-concepts/grade-school.md
Labels: track/elm

#715 [Elm] Initialize config.json
  languages/elm/README.md
  languages/elm/config.json
Labels: track/elm

#726 [C++] Extract concepts from v2 exercise: two-fer
  languages/cpp/reference/exercise-concepts/two-fer.md
Labels: documentation, track/cpp

#728 [Rust] add variable shadowing
  languages/rust/reference/README.md
Labels: track/rust

#680 [Rust] Link to concepts in the Book
  languages/rust/reference/README.md
Labels: track/rust

#685 [C#] Normalize format of exercise-concepts
  languages/csharp/reference/exercise-concepts/book-store.md
  languages/csharp/reference/exercise-concepts/isbn-verifier.md
  languages/csharp/reference/exercise-concepts/leap.md
  languages/csharp/reference/exercise-concepts/protein-translation.md
  languages/csharp/reference/exercise-concepts/rna-trascriptions.md
  languages/csharp/reference/exercise-concepts/robot-name.md
  languages/csharp/reference/exercise-concepts/two-fer.md
Labels: track/csharp

#664 [F#] Compile list of Concepts
  languages/fsharp/README.md
  languages/fsharp/reference/README.md
Labels: documentation, track/fsharp

#744 Create resistor-color.md
  languages/csharp/reference/exercise-concepts/resistor-color.md
Labels: track/csharp

#746 [C#] rectify a wrong definition
  languages/csharp/reference/exercise-concepts/resistor-color.md
Labels: track/csharp

#747 Create gigasecond.md
  languages/csharp/reference/exercise-concepts/gigasecond.md
Labels: track/csharp

#679 [Rust] extract concepts for luhn
  languages/rust/reference/exercise-concepts/luhn.md
Labels: track/rust

#660 [Rust] extract conceps from leap
  languages/rust/reference/exercise-concepts/leap.md
Labels: track/rust

#684 [Python] add config.json skeleton
  languages/python/README.md
  languages/python/config.json
Labels: track/python

#683 [Python] Update README.md
  languages/python/README.md
Labels: track/python

#748 [C#] Update introduction.md
  languages/csharp/exercises/concept/strings/.docs/introduction.md
Labels: track/csharp

#628 [Java] Extract concepts from v2 exercise: leap
  languages/java/reference/exercise-concepts/leap.md
Labels: track/java

#738 [Ruby] Strings concept exercise
  languages/ruby/config.json
  languages/ruby/exercises/concept/strings/.docs/after.md
  languages/ruby/exercises/concept/strings/.docs/hints.md
  languages/ruby/exercises/concept/strings/.docs/instructions.md
  languages/ruby/exercises/concept/strings/.docs/introduction.md
  languages/ruby/exercises/concept/strings/.meta/config.json
  languages/ruby/exercises/concept/strings/.meta/design.md
  languages/ruby/exercises/concept/strings/.meta/example.rb
  languages/ruby/exercises/concept/strings/log_line_parser.rb
  languages/ruby/exercises/concept/strings/log_line_parser_test.rb
  reference/types/string.md
Labels: track/ruby

#756 [F#] Add Shadowing Concept
  languages/fsharp/reference/README.md
Labels: track/fsharp

#621 [Common Lisp] Extract Concepts from Word Count
  languages/common-lisp/reference/exercise-concepts/word-count.md
Labels: track/common-lisp

#539 [Common Lisp] Extract CL Concepts from RNA Transcription
  languages/common-lisp/reference/exercise-concepts/rna-transcription.md
Labels: track/common-lisp

#768 [Docs] Clarify after.md document
  docs/concept-exercises.md
Labels: documentation

#767 [C#] Add after document for strings exercise
  languages/csharp/exercises/concept/strings/.docs/after.md
Labels: documentation, track/csharp

#769 [Docs] Update introduction document description
  docs/concept-exercises.md
Labels: documentation

#765 [Docs] Describe config.json file usage
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/clojure/docs/implementing-a-concept-exercise.md
  languages/common-lisp/docs/implementing-a-concept-exercise.md
  languages/cpp/docs/implementing-a-concept-exercise.md
  languages/csharp/docs/implementing-a-concept-exercise.md
  languages/fsharp/docs/implementing-a-concept-exercise.md
  languages/go/docs/implementing-a-concept-exercise.md
  languages/haskell/docs/implementing-a-concept-exercise.md
  languages/javascript/docs/implementing-a-concept-exercise.md
  languages/julia/docs/implementing-a-concept-exercise.md
  languages/kotlin/docs/implementing-a-concept-exercise.md
  languages/purescript/docs/implementing-a-concept-exercise.md
  languages/typescript/docs/implementing-a-concept-exercise.md
Labels: documentation, track/common-lisp, track/cpp, track/csharp, track/fsharp, track/go, track/haskell, track/javascript, track/julia, track/kotlin, track/purescript, track/typescript

#763 [C#] Update Concept Exercise issue
  languages/csharp/docs/examples/new-concept-exercise-arrays.md
Labels: documentation, track/csharp

#771 [Docs] Rephrase the design document headers
  .github/ISSUE_TEMPLATE/implement-concept-exercise.md
  languages/clojure/exercises/concept/list/.meta/design.md
  languages/csharp/docs/examples/new-concept-exercise-arrays.md
  languages/csharp/exercises/concept/dates/.meta/design.md
  languages/csharp/exercises/concept/enums-advanced/.meta/design.md
  languages/csharp/exercises/concept/enums/.meta/design.md
  languages/csharp/exercises/concept/numbers-floating-point/.meta/design.md
  languages/csharp/exercises/concept/numbers/.meta/design.md
  languages/csharp/exercises/concept/strings/.meta/design.md
  languages/go/exercises/concept/basic-strings/.meta/design.md
  languages/go/exercises/concept/numbers/.meta/design.md
  languages/ruby/exercises/concept/strings/.meta/design.md
Labels: documentation, track/csharp

#770 [C++] Extract concepts from v2 exercise: trinary
  languages/cpp/reference/exercise-concepts/trinary.md
Labels: documentation, track/cpp

#781 [Rust] expand and caveat concepts reference
  languages/rust/reference/README.md
Labels: track/rust

#743 [Clojure] Add reference/progression.md
  languages/clojure/_sidebar.md
  languages/clojure/exercises/README.md
  languages/clojure/exercises/concept/README.md
  languages/clojure/exercises/practice/README.md
  languages/clojure/reference/README.md
  languages/clojure/reference/progression.md
Labels: track/clojure

#607 [Common Lisp] add proposed concepts from anagram exercise.
  languages/common-lisp/reference/exercise-concepts/anagram.md
Labels: track/common-lisp

#762 [C#] Consistent interpretation
  languages/csharp/reference/README.md
Labels: track/csharp

#764 [F#] Add example Concept Exercise issue
  languages/fsharp/docs/examples/new-concept-exercise-strings.md
Labels: documentation, track/fsharp

#701 [Scala] Add draft for scala concepts
  languages/scala/reference/README.md
  reference/concepts/partial_functions.md
Labels: track/scala

#761 [F#] Add strings Concept Exercise
  languages/fsharp/.gitignore
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/strings/.docs/after.md
  languages/fsharp/exercises/concept/strings/.docs/hints.md
  languages/fsharp/exercises/concept/strings/.docs/instructions.md
  languages/fsharp/exercises/concept/strings/.docs/introduction.md
  languages/fsharp/exercises/concept/strings/.meta/Example.fs
  languages/fsharp/exercises/concept/strings/.meta/config.json
  languages/fsharp/exercises/concept/strings/.meta/design.md
  languages/fsharp/exercises/concept/strings/Strings.fs
  languages/fsharp/exercises/concept/strings/Strings.fsproj
  languages/fsharp/exercises/concept/strings/StringsTest.fs
  languages/fsharp/reference/README.md
  reference/types/string.md
Labels: track/fsharp

#791 [C++] Add concepts for v2's rna-transcription
  languages/cpp/reference/exercise-concepts/rna-transcription.md
Labels: documentation, track/cpp

#788 [C#] Add missing Concepts
  languages/csharp/reference/README.md
Labels: track/csharp

#709 [Go] update concepts list to current state
  languages/go/reference/README.md
Labels: documentation, track/go

#347 [Go] Concept Exercise: basic-slices
  languages/go/exercises/concept/basic-slices/.docs/after.md
  languages/go/exercises/concept/basic-slices/.docs/hints.md
  languages/go/exercises/concept/basic-slices/.docs/instructions.md
  languages/go/exercises/concept/basic-slices/.docs/introduction.md
  languages/go/exercises/concept/basic-slices/.meta/config.json
  languages/go/exercises/concept/basic-slices/.meta/design.md
  languages/go/exercises/concept/basic-slices/.meta/example.go
  languages/go/exercises/concept/basic-slices/basic_slices.go
  languages/go/exercises/concept/basic-slices/basic_slices_test.go
  languages/go/exercises/concept/basic-slices/go.mod
Labels: status/in-progress, track/go, type/new-exercise

#682 [Raku] Bootstrap
  .github/labeler.yml
  README.md
  languages/raku/README.md
  languages/raku/docs/implementing-a-concept-exercise.md
  languages/raku/maintainers.md
Labels: CI, documentation, track/raku

#790 [Docs] Update generic-how-to-implement-a-concept-exercise.md document…
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
Labels: documentation

#668 [Scala] Move reference concept doc for scrabble-score to correct dir
  languages/scala/reference/exercise-concepts/scrabble-score.md
Labels: documentation, track/scala

#792 [F#] Add reference document for string concatenation
  languages/fsharp/docs/README.md
  languages/fsharp/docs/string_concatenation.md
Labels: documentation, track/fsharp

#800 Extend cxx concepts
  languages/cpp/reference/README.md
Labels: documentation, track/cpp

#799 [C++] Add concepts for v2's raindrops
  languages/cpp/reference/exercise-concepts/raindrops.md
Labels: documentation, track/cpp

#749 [Elm] Extract Concepts from v2 exercise: raindrops
  languages/Elm/reference/exercise-concepts/raindrops.md
Labels: track/elm

#798 [C#] Update framework and packages
  languages/csharp/exercises/concept/dates/Dates.csproj
  languages/csharp/exercises/concept/enums-advanced/EnumsAdvanced.csproj
  languages/csharp/exercises/concept/enums/Enums.csproj
  languages/csharp/exercises/concept/numbers-floating-point/NumbersFloatingPoint.csproj
  languages/csharp/exercises/concept/numbers/Numbers.csproj
  languages/csharp/exercises/concept/strings/Strings.csproj
Labels: track/csharp

#700 [Python] Concept extraction / references mega merge
  languages/python/README.md.old
  languages/python/reference/README.md
  languages/python/reference/concepts/pep_8_style_guide.md
  languages/python/reference/concepts/python_enhancement_proposals.md
  languages/python/reference/concepts/pythonic.md
  languages/python/reference/concepts/zen_of_python.md
  languages/python/reference/exercise-concepts/allergies.md
  languages/python/reference/exercise-concepts/binary-search-tree.md
  languages/python/reference/exercise-concepts/clock.md
  languages/python/reference/exercise-concepts/hamming.md
  languages/python/reference/exercise-concepts/leap.md
  languages/python/reference/exercise-concepts/markdown.md
  languages/python/reference/exercise-concepts/matrix.md
  languages/python/reference/exercise-concepts/phone-number.md
  languages/python/reference/exercise-concepts/reverse-string.md
  languages/python/reference/exercise-concepts/rna-transcription.md
  languages/python/reference/exercise-concepts/robot-simulator.md
  languages/python/reference/exercise-concepts/variable-length-quantity.md
  languages/python/reference/implementing-a-concept-exercise.md
Labels: documentation, status/draft, track/python

#806 Moves two files to the appropriate location
  languages/elm/reference/exercise-concepts/bob.md
  languages/elm/reference/exercise-concepts/raindrops.md
Labels: track/elm

#805 [Docs] Add no-code part to hints.md
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/csharp/reference/examples/new-concept-exercise-arrays.md
  languages/fsharp/reference/examples/new-concept-exercise-strings.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: documentation, track/csharp, track/fsharp, track/javascript, track/kotlin, track/typescript

#813 [Elm] Add instructions for implementing a concept exercise in elm
  languages/elm/reference/implementing-a-concept-exercise.md
Labels: track/elm

#802 [Julia] Extract concepts from v2 exercise: rna-transcription
  languages/julia/reference/exercise-concepts/rna-transcription.md
Labels: track/julia

#825 [Rust] Port concept exercise numbers from C#
  languages/rust/exercises/concept/numbers/.docs/after.md
  languages/rust/exercises/concept/numbers/.docs/hints.md
  languages/rust/exercises/concept/numbers/.docs/instructions.md
  languages/rust/exercises/concept/numbers/.docs/introduction.md
  languages/rust/exercises/concept/numbers/.meta/config.json
  languages/rust/exercises/concept/numbers/.meta/design.md
  languages/rust/exercises/concept/numbers/.meta/example.rs
  languages/rust/exercises/concept/numbers/Cargo.toml
  languages/rust/exercises/concept/numbers/src/lib.rs
  languages/rust/exercises/concept/numbers/tests/numbers.rs
Labels: documentation, track/rust, type/new-exercise
