Repository exercism/v3, pull requests merged in 2020-11, with the labels that each got.

#2670 Update maintainers.md
  languages/javascript/maintainers.md
Labels: track/javascript

#2664 [Common Lisp] Rename Exercises
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/key-comparison/.docs/after.md
  languages/common-lisp/exercises/concept/key-comparison/.docs/hints.md
  languages/common-lisp/exercises/concept/key-comparison/.docs/instructions.md
  languages/common-lisp/exercises/concept/key-comparison/.docs/introduction.md
  languages/common-lisp/exercises/concept/key-comparison/.meta/config.json
  languages/common-lisp/exercises/concept/key-comparison/.meta/design.md
  languages/common-lisp/exercises/concept/key-comparison/.meta/example.lisp
  languages/common-lisp/exercises/concept/key-comparison/key-comparison-test.lisp
  languages/common-lisp/exercises/concept/key-comparison/key-comparison.lisp
  languages/common-lisp/exercises/concept/leslies-lists/.docs/after.md
  languages/common-lisp/exercises/concept/leslies-lists/.docs/hints.md
  languages/common-lisp/exercises/concept/leslies-lists/.docs/instructions.md
  languages/common-lisp/exercises/concept/leslies-lists/.docs/introduction.md
  languages/common-lisp/exercises/concept/leslies-lists/.meta/config.json
  languages/common-lisp/exercises/concept/leslies-lists/.meta/design.md
  languages/common-lisp/exercises/concept/leslies-lists/.meta/example.lisp
  languages/common-lisp/exercises/concept/leslies-lists/leslies-lists-test.lisp
  languages/common-lisp/exercises/concept/leslies-lists/leslies-lists.lisp
  languages/common-lisp/exercises/concept/pal-picker/.docs/after.md
  languages/common-lisp/exercises/concept/pal-picker/.docs/hints.md
  languages/common-lisp/exercises/concept/pal-picker/.docs/instructions.md
  languages/common-lisp/exercises/concept/pal-picker/.docs/introduction.md
  languages/common-lisp/exercises/concept/pal-picker/.meta/config.json
  languages/common-lisp/exercises/concept/pal-picker/.meta/design.md
  languages/common-lisp/exercises/concept/pal-picker/.meta/example.lisp
  languages/common-lisp/exercises/concept/pal-picker/pal-picker-test.lisp
  languages/common-lisp/exercises/concept/pal-picker/pal-picker.lisp
  languages/common-lisp/exercises/concept/pizza-pi/.docs/after.md
  languages/common-lisp/exercises/concept/pizza-pi/.docs/hints.md
  languages/common-lisp/exercises/concept/pizza-pi/.docs/instructions.md
  languages/common-lisp/exercises/concept/pizza-pi/.docs/introduction.md
  languages/common-lisp/exercises/concept/pizza-pi/.meta/config.json
  languages/common-lisp/exercises/concept/pizza-pi/.meta/design.md
  languages/common-lisp/exercises/concept/pizza-pi/.meta/example.lisp
  languages/common-lisp/exercises/concept/pizza-pi/pizza-pi-test.lisp
  languages/common-lisp/exercises/concept/pizza-pi/pizza-pi.lisp
  languages/common-lisp/exercises/concept/socks-and-sexprs/.docs/after.md
  languages/common-lisp/exercises/concept/socks-and-sexprs/.docs/hints.md
  languages/common-lisp/exercises/concept/socks-and-sexprs/.docs/instructions.md
  languages/common-lisp/exercises/concept/socks-and-sexprs/.docs/introduction.md
  languages/common-lisp/exercises/concept/socks-and-sexprs/.meta/config.json
  languages/common-lisp/exercises/concept/socks-and-sexprs/.meta/design.md
  languages/common-lisp/exercises/concept/socks-and-sexprs/.meta/example.lisp
  languages/common-lisp/exercises/concept/socks-and-sexprs/socks-and-sexprs-test.lisp
  languages/common-lisp/exercises/concept/socks-and-sexprs/socks-and-sexprs.lisp
  languages/common-lisp/reference/README.md
  languages/common-lisp/reference/implementing-a-concept-exercise.md
  reference/concepts/comments.md
  reference/concepts/expressions.md
  reference/stories/basics.lasagna.md
  reference/types/symbol.md
Labels: track/common-lisp

#2674 [Common Lisp] Prettier Broke Post-Merge
  languages/common-lisp/exercises/concept/pal-picker/.meta/config.json
Labels: track/common-lisp

#2669 [Go] Remove invisible chars in .meta/config.json
  languages/go/exercises/concept/methods/.meta/config.json
  languages/go/exercises/concept/strings/.meta/config.json
  languages/go/exercises/concept/structs/.meta/config.json
Labels: track/go

#2677 [Elixir] Make implementation and test files have aligned paths
  languages/elixir/exercises/concept/rpn-calculator-output/.meta/config.json
  languages/elixir/exercises/concept/rpn-calculator-output/lib/rpn_calculator/output.ex
  languages/elixir/exercises/concept/rpn-calculator-output/test/rpn_calculator/output_test.exs
  languages/elixir/exercises/concept/stack-underflow/.meta/config.json
  languages/elixir/exercises/concept/stack-underflow/lib/rpn_calculator/exception.ex
  languages/elixir/exercises/concept/stack-underflow/test/rpn_calculator/exception_test.exs
  languages/elixir/exercises/concept/stack-underflow/test/test_helper.exs
Labels: track/elixir

#2650 [Java] add editor key to exercise config
  languages/java/exercises/concept/arrays/.meta/config.json
  languages/java/exercises/concept/basics/.meta/config.json
  languages/java/exercises/concept/booleans/.meta/config.json
  languages/java/exercises/concept/chars/.meta/config.json
  languages/java/exercises/concept/classes/.meta/config.json
  languages/java/exercises/concept/conditionals/.meta/config.json
  languages/java/exercises/concept/constructors/.meta/config.json
  languages/java/exercises/concept/inheritance/.meta/config.json
  languages/java/exercises/concept/interfaces/.meta/config.json
  languages/java/exercises/concept/numbers/.meta/config.json
  languages/java/exercises/concept/strings/.meta/config.json
  languages/java/exercises/concept/switch-statement/.meta/config.json
  languages/java/exercises/concept/ternary-operators/.meta/config.json
Labels: hacktoberfest-accepted

#2686 [Elixir] Update mix app names; Rename freelancer-rate -> freelancer-rates
  languages/elixir/exercises/concept/basketball-website/mix.exs
  languages/elixir/exercises/concept/bird-count/mix.exs
  languages/elixir/exercises/concept/boutique-inventory/mix.exs
  languages/elixir/exercises/concept/boutique-suggestions/mix.exs
  languages/elixir/exercises/concept/bread-and-potions/mix.exs
  languages/elixir/exercises/concept/community-garden/mix.exs
  languages/elixir/exercises/concept/date-parser/mix.exs
  languages/elixir/exercises/concept/dna-encoding/mix.exs
  languages/elixir/exercises/concept/file-sniffer/mix.exs
  languages/elixir/exercises/concept/freelance-rates/.docs/hints.md
  languages/elixir/exercises/concept/freelance-rates/.docs/instructions.md
  languages/elixir/exercises/concept/freelance-rates/.docs/introduction.md
  languages/elixir/exercises/concept/freelance-rates/.formatter.exs
  languages/elixir/exercises/concept/freelance-rates/.gitignore
  languages/elixir/exercises/concept/freelance-rates/.meta/config.json
  languages/elixir/exercises/concept/freelance-rates/.meta/design.md
  languages/elixir/exercises/concept/freelance-rates/.meta/example.ex
  languages/elixir/exercises/concept/freelance-rates/lib/freelancer_rates.ex
  languages/elixir/exercises/concept/freelance-rates/mix.exs
  languages/elixir/exercises/concept/freelance-rates/test/freelancer_rates_test.exs
  languages/elixir/exercises/concept/freelance-rates/test/test_helper.exs
  languages/elixir/exercises/concept/german-sysadmin/mix.exs
  languages/elixir/exercises/concept/guessing-game/mix.exs
  languages/elixir/exercises/concept/high-school-sweetheart/mix.exs
  languages/elixir/exercises/concept/high-score/mix.exs
  languages/elixir/exercises/concept/kitchen-calculator/mix.exs
  languages/elixir/exercises/concept/language-list/mix.exs
  languages/elixir/exercises/concept/lasagna/mix.exs
  languages/elixir/exercises/concept/log-level/mix.exs
  languages/elixir/exercises/concept/mensch-aergere-dich-nicht/mix.exs
  languages/elixir/exercises/concept/name-badge/mix.exs
  languages/elixir/exercises/concept/pacman-rules/mix.exs
  languages/elixir/exercises/concept/remote-control-car/mix.exs
  languages/elixir/exercises/concept/rpn-calculator-output/mix.exs
  languages/elixir/exercises/concept/rpn-calculator/mix.exs
  languages/elixir/exercises/concept/secrets/.meta/example.ex
  languages/elixir/exercises/concept/secrets/lib/secrets.ex
  languages/elixir/exercises/concept/secrets/mix.exs
  languages/elixir/exercises/concept/stack-underflow/mix.exs
  languages/elixir/exercises/concept/take-a-number/mix.exs
  languages/elixir/exercises/concept/wine-cellar/mix.exs
  languages/python/exercises/concept/sets/.docs/introduction.md
  reference/stories/README.md
  reference/stories/numbers.freelancer-rates.md
Labels: track/elixir

#2690 [CI] Bump rebase action to fix CVE-2020-15228
  .github/workflows/rebase.yml
Labels: type/ci

#2472 [Common Lisp] lists - replace about.md file with concept files
  languages/common-lisp/concepts/cons/about.md
  languages/common-lisp/concepts/cons/links.json
  languages/common-lisp/concepts/lists/about.md
  languages/common-lisp/concepts/lists/links.json
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/leslies-lists/.docs/introduction.md
Labels: track/common-lisp

#2364 [Go] slices - replace about.md file with concept files
  languages/go/concepts/slices/about.md
  languages/go/exercises/concept/slices/.docs/after.md
Labels: track/go

#2684 [CI] Add check to verify existence of concept files
  .github/bin/verify-concepts/verify-concepts.sh
  .github/workflows/verify-concept-files.yml
Labels: type/ci

#2696 [F#] Use same names as C# track
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/booking-up-for-beauty/.docs/hints.md
  languages/fsharp/exercises/concept/booking-up-for-beauty/.docs/instructions.md
  languages/fsharp/exercises/concept/booking-up-for-beauty/.docs/introduction.md
  languages/fsharp/exercises/concept/booking-up-for-beauty/.meta/Example.fs
  languages/fsharp/exercises/concept/booking-up-for-beauty/.meta/config.json
  languages/fsharp/exercises/concept/booking-up-for-beauty/.meta/design.md
  languages/fsharp/exercises/concept/booking-up-for-beauty/BookingUpForBeauty.fs
  languages/fsharp/exercises/concept/booking-up-for-beauty/BookingUpForBeauty.fsproj
  languages/fsharp/exercises/concept/booking-up-for-beauty/BookingUpForBeautyTests.fs
  languages/fsharp/exercises/concept/cars-assemble/.docs/hints.md
  languages/fsharp/exercises/concept/cars-assemble/.docs/instructions.md
  languages/fsharp/exercises/concept/cars-assemble/.docs/introduction.md
  languages/fsharp/exercises/concept/cars-assemble/.meta/Example.fs
  languages/fsharp/exercises/concept/cars-assemble/.meta/config.json
  languages/fsharp/exercises/concept/cars-assemble/.meta/design.md
  languages/fsharp/exercises/concept/cars-assemble/CarsAssemble.fs
  languages/fsharp/exercises/concept/cars-assemble/CarsAssemble.fsproj
  languages/fsharp/exercises/concept/cars-assemble/CarsAssembleTests.fs
  languages/fsharp/exercises/concept/interest-is-interesting/.docs/hints.md
  languages/fsharp/exercises/concept/interest-is-interesting/.docs/instructions.md
  languages/fsharp/exercises/concept/interest-is-interesting/.docs/introduction.md
  languages/fsharp/exercises/concept/interest-is-interesting/.meta/Example.fs
  languages/fsharp/exercises/concept/interest-is-interesting/.meta/config.json
  languages/fsharp/exercises/concept/interest-is-interesting/.meta/design.md
  languages/fsharp/exercises/concept/interest-is-interesting/InterestIsInteresting.fs
  languages/fsharp/exercises/concept/interest-is-interesting/InterestIsInteresting.fsproj
  languages/fsharp/exercises/concept/interest-is-interesting/InterestIsInterestingTests.fs
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/.docs/hints.md
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/.docs/instructions.md
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/.docs/introduction.md
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/.meta/Example.fs
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/.meta/config.json
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/.meta/design.md
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/LuciansLusciousLasagna.fs
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/LuciansLusciousLasagna.fsproj
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/LuciansLusciousLasagnaTests.fs
  languages/fsharp/reference/implementing-a-concept-exercise.md
  reference/concepts/assignment.md
  reference/concepts/comments.md
  reference/concepts/immutability.md
  reference/concepts/type_inference.md
  reference/stories/basics.lasagna.md
  reference/stories/datetimes.appointment-scheduler.md
  reference/stories/floating-point-numbers.savings-account.md
  reference/stories/numbers.car-production-line.md
  reference/types/datetime.md
  reference/types/floating_point_number.md
  reference/types/function.md
  reference/types/integer.md
Labels: track/fsharp

#2718 [All] Move practice exercises inside "exercises" key in config.json
  languages/c/config.json
  languages/clojure/config.json
  languages/common-lisp/config.json
  languages/cpp/config.json
  languages/csharp/config.json
  languages/dart/config.json
  languages/elixir/config.json
  languages/elm/config.json
  languages/emacs-lisp/config.json
  languages/erlang/config.json
  languages/fsharp/config.json
  languages/go/config.json
  languages/haskell/config.json
  languages/j/config.json
  languages/java/config.json
  languages/javascript/config.json
  languages/julia/config.json
  languages/kotlin/config.json
  languages/nim/config.json
  languages/perl5/config.json
  languages/purescript/config.json
  languages/python/config.json
  languages/ruby/config.json
  languages/rust/config.json
  languages/scala/config.json
  languages/swift/config.json
  languages/x86-64-assembly/config.json
Labels: track/c, track/common-lisp, track/cpp, track/csharp, track/dart, track/elixir, track/elm, track/emacs-lisp, track/erlang, track/fsharp, track/go, track/haskell, track/j, track/java, track/javascript, track/julia, track/kotlin, track/nim, track/perl5, track/purescript, track/python, track/ruby, track/rust, track/scala, track/swift, track/x86-64-assembly

#2566 [C#] dictionary ex. tests with only one assert
  languages/csharp/exercises/concept/international-calling-connoisseur/.docs/introduction.md
  languages/csharp/exercises/concept/international-calling-connoisseur/.meta/config.json
  languages/csharp/exercises/concept/international-calling-connoisseur/InternationalCallingConnoisseur.cs
  languages/csharp/exercises/concept/international-calling-connoisseur/InternationalCallingConnoisseurTests.cs
Labels: track/csharp

#2726 [C#] instructions.md for empty string
  languages/csharp/exercises/concept/squeaky-clean/.docs/instructions.md
  languages/csharp/exercises/concept/squeaky-clean/SqueakyCleanTests.cs
Labels: track/csharp

#2476 [PureScript] booleans - replace about.md file with concept files
  languages/purescript/concepts/booleans/about.md
  languages/purescript/exercises/concept/booleans/.docs/after.md
Labels: track/purescript

#2706 [Elixir] Add concept headings to introduction.md
  languages/elixir/config.json
  languages/elixir/exercises/concept/basketball-website/.docs/introduction.md
  languages/elixir/exercises/concept/bird-count/.docs/introduction.md
  languages/elixir/exercises/concept/boutique-inventory/.docs/introduction.md
  languages/elixir/exercises/concept/boutique-suggestions/.docs/introduction.md
  languages/elixir/exercises/concept/bread-and-potions/.docs/introduction.md
  languages/elixir/exercises/concept/community-garden/.docs/introduction.md
  languages/elixir/exercises/concept/date-parser/.docs/introduction.md
  languages/elixir/exercises/concept/dna-encoding/.docs/introduction.md
  languages/elixir/exercises/concept/file-sniffer/.docs/introduction.md
  languages/elixir/exercises/concept/freelance-rates/.docs/introduction.md
  languages/elixir/exercises/concept/german-sysadmin/.docs/introduction.md
  languages/elixir/exercises/concept/guessing-game/.docs/introduction.md
  languages/elixir/exercises/concept/high-school-sweetheart/.docs/introduction.md
  languages/elixir/exercises/concept/high-score/.docs/introduction.md
  languages/elixir/exercises/concept/kitchen-calculator/.docs/introduction.md
  languages/elixir/exercises/concept/language-list/.docs/introduction.md
  languages/elixir/exercises/concept/lasagna/.docs/introduction.md
  languages/elixir/exercises/concept/log-level/.docs/introduction.md
  languages/elixir/exercises/concept/mensch-aergere-dich-nicht/.docs/introduction.md
  languages/elixir/exercises/concept/name-badge/.docs/introduction.md
  languages/elixir/exercises/concept/pacman-rules/.docs/introduction.md
  languages/elixir/exercises/concept/remote-control-car/.docs/introduction.md
  languages/elixir/exercises/concept/rpn-calculator-output/.docs/introduction.md
  languages/elixir/exercises/concept/rpn-calculator/.docs/introduction.md
  languages/elixir/exercises/concept/secrets/.docs/introduction.md
  languages/elixir/exercises/concept/stack-underflow/.docs/introduction.md
  languages/elixir/exercises/concept/take-a-number/.docs/introduction.md
  languages/elixir/exercises/concept/wine-cellar/.docs/introduction.md
Labels: track/elixir

#2683 [java] fix multiple exercises typos
  languages/java/exercises/concept/conditionals/.meta/config.json
  languages/java/exercises/concept/conditionals/src/main/java/Blackjack.java
  languages/java/exercises/concept/conditionals/src/test/java/BlackjackTest.java
  languages/java/exercises/concept/numbers/src/test/java/AssemblyLineTest.java
  languages/java/exercises/concept/ternary-operators/src/test/java/SalaryCalculatorTest.java
Labels: track/java

#2731 [C#] rename high school sweethearts classes
  languages/csharp/exercises/concept/high-school-sweethearts/.docs/instructions.md
  languages/csharp/exercises/concept/high-school-sweethearts/.meta/Example.cs
  languages/csharp/exercises/concept/high-school-sweethearts/HighSchoolSweethearts.cs
  languages/csharp/exercises/concept/high-school-sweethearts/HighSchoolSweetheartsTests.cs
Labels: track/csharp

#2736 [Java] aligned all exercises to use assertj
  languages/java/exercises/concept/booleans/src/test/java/QuestLogicTest.java
  languages/java/exercises/concept/inheritance/src/test/java/FighterTest.java
Labels: track/java

#2733 [C#] minor concept changes
  languages/csharp/concepts/accessibility/about.md
  languages/csharp/concepts/accessibility/links.json
  languages/csharp/concepts/pattern-matching-constants/about.md
  languages/csharp/concepts/pattern-matching-constants/links.json
  languages/csharp/concepts/ternary-operators/about.md
  languages/csharp/concepts/ternary-operators/links.json
  languages/csharp/config.json
  languages/csharp/exercises/concept/logs-logs-logs/.meta/design.md
  languages/csharp/exercises/concept/red-vs-blue-darwin-style/.meta/design.md
  languages/csharp/exercises/concept/the-weather-in-deather/.meta/design.md
  languages/csharp/reference/exercises.json
Labels: track/csharp

#2689 [Elixir] New concept exercise - io
  languages/elixir/concepts/io/about.md
  languages/elixir/concepts/io/links.json
  languages/elixir/config.json
  languages/elixir/exercises/concept/rpg-character-sheet/.docs/hints.md
  languages/elixir/exercises/concept/rpg-character-sheet/.docs/instructions.md
  languages/elixir/exercises/concept/rpg-character-sheet/.docs/introduction.md
  languages/elixir/exercises/concept/rpg-character-sheet/.formatter.exs
  languages/elixir/exercises/concept/rpg-character-sheet/.gitignore
  languages/elixir/exercises/concept/rpg-character-sheet/.meta/config.json
  languages/elixir/exercises/concept/rpg-character-sheet/.meta/design.md
  languages/elixir/exercises/concept/rpg-character-sheet/.meta/example.ex
  languages/elixir/exercises/concept/rpg-character-sheet/lib/rpg/character_sheet.ex
  languages/elixir/exercises/concept/rpg-character-sheet/mix.exs
  languages/elixir/exercises/concept/rpg-character-sheet/test/rpg/character_sheet_test.exs
  languages/elixir/exercises/concept/rpg-character-sheet/test/test_helper.exs
  languages/elixir/exercises/concept/rpn-calculator-output/.meta/design.md
  reference/stories/io.rpg-character-sheet.md
Labels: track/elixir

#2745 [Python] Basics Concept Exercise Reformat - A Re-implementation of PR 2534
  languages/python/concepts/basics/about.md
  languages/python/concepts/basics/links.json
  languages/python/exercises/concept/guidos-gorgeous-lasagna/.docs/introduction.md
Labels: track/python

#2744 [Python] Concept Tree Updates
  languages/python/config.json
Labels: track/python

#2742 [C#] format multiple files
  languages/csharp/exercises/concept/authentication-system/.meta/Example.cs
  languages/csharp/exercises/concept/authentication-system/AuthenticationSystemTests.cs
  languages/csharp/exercises/concept/beauty-salon-goes-global/BeautySalonGoesGlobalTests.cs
  languages/csharp/exercises/concept/football-match-reports/.meta/Example.cs
  languages/csharp/exercises/concept/hyper-optimized-telemetry/.meta/Example.cs
  languages/csharp/exercises/concept/hyper-optimized-telemetry/HyperOptimizedTelemetryTests.cs
  languages/csharp/exercises/concept/hyperia-forex/.meta/Example.cs
  languages/csharp/exercises/concept/hyperinflation-hits-hyperia/HyperinflationHitsHyperiaTests.cs
  languages/csharp/exercises/concept/land-grab-in-space/.meta/Example.cs
  languages/csharp/exercises/concept/object-relational-mapping/ObjectRelationalMappingTests.cs
  languages/csharp/exercises/concept/orm-in-one-go/OrmInOneGoTests.cs
  languages/csharp/exercises/concept/parsing-log-files/ParsingLogFilesTests.cs
  languages/csharp/exercises/concept/remote-control-competition/.meta/Example.cs
  languages/csharp/exercises/concept/remote-control-competition/RemoteControlCompetitionTests.cs
  languages/csharp/exercises/concept/secure-munchester-united/.meta/Example.cs
  languages/csharp/exercises/concept/secure-munchester-united/SecureMunchesterUnited.cs
  languages/csharp/exercises/concept/the-weather-in-deather/TheWeatherInDeatherTests.cs
  languages/csharp/exercises/concept/why-cant-i-push-to-main/.meta/Example.cs
Labels: track/csharp

#2156 [Go] Jamessouth go constants 1919
  languages/go/exercises/concept/constants/.docs/after.md
  languages/go/exercises/concept/constants/.docs/hints.md
  languages/go/exercises/concept/constants/.docs/instructions.md
  languages/go/exercises/concept/constants/.docs/introduction.md
  languages/go/exercises/concept/constants/.meta/config.json
  languages/go/exercises/concept/constants/.meta/design.md
  languages/go/exercises/concept/constants/.meta/example.go
  languages/go/exercises/concept/constants/constants.go
  languages/go/exercises/concept/constants/constants_test.go
  languages/go/exercises/concept/constants/go.mod
Labels: track/go

#2360 [Go] conditionals - replace about.md file with concept files
  languages/go/concepts/conditionals-if/about.md
  languages/go/concepts/conditionals-if/links.json
  languages/go/concepts/conditionals-switch/about.md
  languages/go/concepts/conditionals-switch/links.json
  languages/go/exercises/concept/conditionals/.docs/after.md
Labels: track/go

#2465 [Kotlin] basics - replace about.md file with concept files
  languages/kotlin/concepts/basics/about.md
  languages/kotlin/exercises/concept/basics/.docs/after.md
Labels: track/kotlin

#2757 [C#] Csharp/calculator cyclic dep improv 2314
  languages/csharp/config.json
  languages/csharp/exercises/concept/calculator-conundrum/.docs/instructions.md
  languages/csharp/exercises/concept/calculator-conundrum/.docs/introduction.md
  languages/csharp/exercises/concept/calculator-conundrum/.meta/Example.cs
  languages/csharp/exercises/concept/calculator-conundrum/.meta/config.json
  languages/csharp/exercises/concept/calculator-conundrum/.meta/design.md
  languages/csharp/exercises/concept/calculator-conundrum/CalculatorConundrum.cs
  languages/csharp/exercises/concept/calculator-conundrum/CalculatorConundrumTests.cs
Labels: track/csharp

#2766 [Docs] Specify rules for naming concept exercises
  docs/maintainers/determining-concepts.md
Labels: type/documentation

#2762 [Docs] Make the directory for concept exercise files more explicit
  docs/concept-exercises.md
Labels: type/documentation

#2761 [Docs] Add description of concept documents
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  docs/maintainers/repository-structure.md
  languages/c/reference/implementing-a-concept-exercise.md
  languages/clojure/reference/implementing-a-concept-exercise.md
  languages/common-lisp/bin/generate-scaffolding/template/.docs/introduction.md
  languages/common-lisp/reference/implementing-a-concept-exercise.md
  languages/cpp/reference/implementing-a-concept-exercise.md
  languages/csharp/concepts/equality/about.md
  languages/csharp/exercises/concept/authentication-system/.meta/design.md
  languages/csharp/exercises/concept/lucians-luscious-lasagna/.meta/design.md
  languages/csharp/exercises/concept/weighing-machine/.meta/design.md
  languages/csharp/reference/implementing-a-concept-exercise.md
  languages/elixir/exercises/concept/secrets/.meta/design.md
  languages/elixir/reference/implementing-a-concept-exercise.md
  languages/elm/reference/implementing-a-concept-exercise.md
  languages/emacs-lisp/reference/implementing-a-concept-exercise.md
  languages/fsharp/reference/implementing-a-concept-exercise.md
  languages/go/reference/implementing-a-concept-exercise.md
  languages/haskell/reference/implementing-a-concept-exercise.md
  languages/java/reference/implementing-a-concept-exercise.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/julia/reference/implementing-a-concept-exercise.md
  languages/julia/reference/progression.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/pharo-smalltalk/reference/implementing-a-concept-exercise.md
  languages/purescript/reference/implementing-a-concept-exercise.md
  languages/python/reference/implementing-a-concept-exercise.md
  languages/ruby/reference/implementing-a-concept-exercise.md
  languages/rust/howto/implementing-a-concept-exercise.md
  languages/swift/exercises/concept/master-mixologist/.docs/hints.md
  languages/swift/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: track/c, track/common-lisp, track/cpp, track/csharp, track/elixir, track/elm, track/emacs-lisp, track/fsharp, track/go, track/haskell, track/java, track/javascript, track/julia, track/kotlin, track/pharo-smalltalk, track/purescript, track/python, track/ruby, track/rust, track/swift, track/typescript, type/documentation

#2743 [C#] replace conditionals with if-statements
  languages/csharp/concepts/if-statements/about.md
  languages/csharp/concepts/if-statements/links.json
  languages/csharp/exercises/concept/bird-watcher/.meta/design.md
  languages/csharp/exercises/concept/interest-is-interesting/.meta/design.md
  languages/csharp/exercises/concept/squeaky-clean/.meta/design.md
  languages/csharp/reference/exercise-concepts/isbn-verifier.md
  languages/csharp/reference/exercise-concepts/rna-trascriptions.md
  languages/csharp/reference/exercise-concepts/robot-name.md
Labels: track/csharp

#2774 Fix typo ./determining-concepts.md
  docs/maintainers/determining-concepts.md
Labels: type/documentation

#2667 [Swift] lasagna-master - replace after.md file with concept files
  languages/swift/concepts/default-parameters/about.md
  languages/swift/concepts/default-parameters/links.json
  languages/swift/concepts/function-overloading/about.md
  languages/swift/concepts/function-overloading/links.json
  languages/swift/concepts/inout-parameters/about.md
  languages/swift/concepts/inout-parameters/links.json
  languages/swift/concepts/multiple-return-values/about.md
  languages/swift/concepts/multiple-return-values/links.json
  languages/swift/concepts/nested-functions/about.md
  languages/swift/concepts/nested-functions/links.json
  languages/swift/concepts/variadic-parameters/about.md
  languages/swift/concepts/variadic-parameters/links.json
  languages/swift/exercises/concept/lasagna-master/.docs/after.md
Labels: track/swift

#2665 [Swift] Add name key to config.json
  languages/swift/config.json
Labels: track/swift

#2668 [Swift] lasagna: replace after with concept files
  languages/swift/concepts/basics/about.md
  languages/swift/concepts/basics/links.json
  languages/swift/concepts/constants-and-variables/about.md
  languages/swift/concepts/constants-and-variables/links.json
  languages/swift/concepts/constants/about.md
  languages/swift/concepts/functions/about.md
  languages/swift/concepts/type-annotations/about.md
  languages/swift/concepts/variables/about.md
  languages/swift/concepts/variables/links.json
  languages/swift/exercises/concept/lasagna/.docs/after.md
Labels: track/swift

#2781 [Swift] Replace poetry-club after.md with about.md files
  languages/swift/concepts/importing/about.md
  languages/swift/concepts/opaque-indices/about.md
  languages/swift/concepts/opaque-indices/links.json
  languages/swift/concepts/string-components/about.md
  languages/swift/concepts/string-indexing/about.md
  languages/swift/config.json
  languages/swift/exercises/concept/poetry-club/.docs/after.md
Labels: track/swift

#2782 [Common Lisp] Break up "Sorting Socks and Sepxrs" `after.md`
  languages/common-lisp/concepts/comments/about.md
  languages/common-lisp/concepts/comments/links.json
  languages/common-lisp/concepts/cons/about.md
  languages/common-lisp/concepts/expressions/about.md
  languages/common-lisp/concepts/symbols/about.md
  languages/common-lisp/concepts/symbols/links.json
  languages/common-lisp/exercises/concept/socks-and-sexprs/.docs/after.md
  languages/common-lisp/exercises/concept/socks-and-sexprs/.docs/introduction.md
Labels: track/common-lisp

#2557 [Julia] Add concept exercise: leap
  languages/julia/config.json
  languages/julia/exercises/concept/leap/.docs/hints.md
  languages/julia/exercises/concept/leap/.docs/instructions.md
  languages/julia/exercises/concept/leap/.docs/introduction.md
  languages/julia/exercises/concept/leap/.docs/source.md
  languages/julia/exercises/concept/leap/.meta/design.md
  languages/julia/exercises/concept/leap/.meta/example.jl
  languages/julia/exercises/concept/leap/leap.jl
  languages/julia/exercises/concept/leap/runtests.jl
Labels: track/julia

#2770 [Python] Inventory Dicts Improvement
  languages/python/concepts/dicts/about.md
  languages/python/concepts/dicts/links.json
  languages/python/config.json
  languages/python/exercises/concept/inventory-management/.docs/after.md
  languages/python/exercises/concept/inventory-management/.docs/hints.md
  languages/python/exercises/concept/inventory-management/.docs/instructions.md
  languages/python/exercises/concept/inventory-management/.docs/introduction.md
  languages/python/exercises/concept/inventory-management/.meta/config.json
  languages/python/exercises/concept/inventory-management/.meta/design.md
  languages/python/exercises/concept/inventory-management/.meta/example.py
  languages/python/exercises/concept/inventory-management/dicts.py
  languages/python/exercises/concept/inventory-management/dicts_test.py
Labels: track/python

#2788 [Python] Strings Concept: Changed in-Text Links to Ref Links
  languages/python/concepts/strings/about.md
Labels: track/python

#2470 [Common Lisp] sameness - replace about.md file with concept files
  languages/common-lisp/concepts/sameness/about.md
  languages/common-lisp/concepts/sameness/links.json
  languages/common-lisp/exercises/concept/key-comparison/.docs/after.md
Labels: track/common-lisp

#2776 [C#] Upgrade to .NET 5
  languages/csharp/exercises/concept/annalyns-infiltration/AnnalynsInfiltration.csproj
  languages/csharp/exercises/concept/attack-of-the-trolls/AttackOfTheTrolls.csproj
  languages/csharp/exercises/concept/authentication-system/AuthenticationSystem.csproj
  languages/csharp/exercises/concept/beauty-salon-goes-global/BeautySalonGoesGlobal.csproj
  languages/csharp/exercises/concept/bird-watcher/BirdWatcher.csproj
  languages/csharp/exercises/concept/booking-up-for-beauty/BookingUpForBeauty.csproj
  languages/csharp/exercises/concept/building-telemetry/BuildingTelemetry.csproj
  languages/csharp/exercises/concept/calculator-conundrum/CalculatorConundrum.csproj
  languages/csharp/exercises/concept/cars-assemble/CarsAssemble.csproj
  languages/csharp/exercises/concept/elons-toys/ElonsToys.csproj
  languages/csharp/exercises/concept/faceid-2/Faceid2.csproj
  languages/csharp/exercises/concept/football-match-reports/FootballMatchReports.csproj
  languages/csharp/exercises/concept/high-school-sweethearts/HighSchoolSweethearts.csproj
  languages/csharp/exercises/concept/hyper-optimized-telemetry/HyperOptimizedTelemetry.csproj
  languages/csharp/exercises/concept/hyperia-forex/HyperiaForex.csproj
  languages/csharp/exercises/concept/hyperinflation-hits-hyperia/HyperinflationHitsHyperia.csproj
  languages/csharp/exercises/concept/instruments-of-texas/InstrumentsOfTexas.csproj
  languages/csharp/exercises/concept/interest-is-interesting/InterestIsInteresting.csproj
  languages/csharp/exercises/concept/international-calling-connoisseur/InternationalCallingConnoisseur.csproj
  languages/csharp/exercises/concept/land-grab-in-space/LandGrabInSpace.csproj
  languages/csharp/exercises/concept/log-levels/LogLevels.csproj
  languages/csharp/exercises/concept/logs-logs-logs/LogsLogsLogs.csproj
  languages/csharp/exercises/concept/lucians-luscious-lasagna/LuciansLusciousLasagna.csproj
  languages/csharp/exercises/concept/need-for-speed/NeedForSpeed.csproj
  languages/csharp/exercises/concept/object-relational-mapping/ObjectRelationalMapping.csproj
  languages/csharp/exercises/concept/orm-in-one-go/OrmInOneGo.csproj
  languages/csharp/exercises/concept/parsing-log-files/ParsingLogFiles.csproj
  languages/csharp/exercises/concept/phone-number-analysis/PhoneNumberAnalysis.csproj
  languages/csharp/exercises/concept/red-vs-blue-darwin-style/RedVsBlueDarwinStyle.csproj
  languages/csharp/exercises/concept/remote-control-cleanup/RemoteControlCleanup.csproj
  languages/csharp/exercises/concept/remote-control-competition/RemoteControlCompetition.csproj
  languages/csharp/exercises/concept/roll-the-die/RollTheDie.csproj
  languages/csharp/exercises/concept/secure-munchester-united/SecureMunchesterUnited.csproj
  languages/csharp/exercises/concept/squeaky-clean/SqueakyClean.csproj
  languages/csharp/exercises/concept/the-weather-in-deather/TheWeatherInDeather.csproj
  languages/csharp/exercises/concept/tim-from-marketing/TimFromMarketing.csproj
  languages/csharp/exercises/concept/tracks-on-tracks-on-tracks/TracksOnTracksOnTracks.csproj
  languages/csharp/exercises/concept/weighing-machine/WeighingMachine.csproj
  languages/csharp/exercises/concept/why-cant-i-push-to-main/WhyCantIPushToMain.csproj
  languages/csharp/exercises/concept/wizards-and-warriors-2/WizardsAndWarriors2.csproj
  languages/csharp/exercises/concept/wizards-and-warriors/WizardsAndWarriors.csproj
Labels: track/csharp

#2784 [C#] Basics concept. detailing variable names
  languages/csharp/concepts/basics/about.md
  languages/csharp/concepts/basics/links.json
Labels: track/csharp

#2783 [C#] Namespace concept. Red vs Blue. Tests
  languages/csharp/exercises/concept/red-vs-blue-darwin-style/.meta/Example.cs
  languages/csharp/exercises/concept/red-vs-blue-darwin-style/.meta/config.json
  languages/csharp/exercises/concept/red-vs-blue-darwin-style/RedVsBlueDarwinStyle.cs
  languages/csharp/exercises/concept/red-vs-blue-darwin-style/RedVsBlueDarwinStyleTests.cs
Labels: track/csharp

#2800 [C#] consolidate references to arithmetic-overflow and overflow
  languages/csharp/concepts/arithmetic-overflow/about.md
  languages/csharp/concepts/arithmetic-overflow/links.json
  languages/csharp/config.json
  languages/csharp/exercises/concept/instruments-of-texas/.meta/design.md
Labels: track/csharp

#2799 [Python] Added Numbers Concept Description and Links Files
  languages/python/concepts/numbers/about.md
  languages/python/concepts/numbers/links.json
Labels: track/python

#2804 [C#] datetimes. Constructor for test culture en us
  languages/csharp/exercises/concept/booking-up-for-beauty/.meta/config.json
  languages/csharp/exercises/concept/booking-up-for-beauty/BookingUpForBeautyTests.cs
Labels: track/csharp

#2796 [Julia] Add exercise: vehicle-purchase
  languages/julia/config.json
  languages/julia/exercises/concept/vehicle-purchase/.docs/instructions.md
  languages/julia/exercises/concept/vehicle-purchase/.docs/introduction.md
  languages/julia/exercises/concept/vehicle-purchase/.meta/config.json
  languages/julia/exercises/concept/vehicle-purchase/.meta/design.md
  languages/julia/exercises/concept/vehicle-purchase/.meta/example.jl
  languages/julia/exercises/concept/vehicle-purchase/runtests.jl
  languages/julia/exercises/concept/vehicle-purchase/vehicle-purchase.jl
  reference/stories/conditionals.vehicle-purchase.md
Labels: track/julia

#2810 [C#] keep only concept datetimes
  languages/csharp/concepts/datetime/about.md
  languages/csharp/concepts/datetime/links.json
  languages/csharp/config.json
Labels: track/csharp

#2815 [C#] rename exercise to developer-privileges
  languages/csharp/config.json
  languages/csharp/exercises/concept/developer-privileges/.docs/hints.md
  languages/csharp/exercises/concept/developer-privileges/.docs/instructions.md
  languages/csharp/exercises/concept/developer-privileges/.docs/introduction.md
  languages/csharp/exercises/concept/developer-privileges/.meta/Example.cs
  languages/csharp/exercises/concept/developer-privileges/.meta/config.json
  languages/csharp/exercises/concept/developer-privileges/.meta/design.md
  languages/csharp/exercises/concept/developer-privileges/WhyCantIPushToMain.cs
  languages/csharp/exercises/concept/developer-privileges/WhyCantIPushToMain.csproj
  languages/csharp/exercises/concept/developer-privileges/WhyCantIPushToMainTests.cs
  languages/csharp/reference/exercises.json
Labels: track/csharp

#2524 [rust] clean up concepts: add blurbs, remove duplicates
  languages/rust/config.json
Labels: track/rust

#2522 [rust] option: finish implementing; fix everything broken
  languages/rust/exercises/concept/options/.docs/after.md
  languages/rust/exercises/concept/options/.docs/hints.md
  languages/rust/exercises/concept/options/.docs/instructions.md
  languages/rust/exercises/concept/options/.docs/introduction.md
  languages/rust/exercises/concept/options/.meta/config.json
  languages/rust/exercises/concept/options/.meta/design.md
  languages/rust/exercises/concept/options/.meta/example.rs
  languages/rust/exercises/concept/options/src/lib.rs
  languages/rust/exercises/concept/options/tests/options.rs
Labels: track/rust

#2822 [C#] classes concept - ensured related scraped concepts were included
  languages/csharp/concepts/classes/about.md
  languages/csharp/reference/exercises.json
Labels: track/csharp

#2823 [Clojure] init hashmaps exercise
  languages/clojure/exercises/concept/international-calling-connoisseur/.docs/instructions.md
  languages/clojure/exercises/concept/international-calling-connoisseur/deps.edn
  languages/clojure/exercises/concept/international-calling-connoisseur/src/exercism/dialing_codes.clj
  languages/clojure/exercises/concept/international-calling-connoisseur/test/exercism/dialing_codes_test.clj
Labels: status/draft, track/clojure, track/csharp, type/new-exercise

#2825 [C#] elons-toys - removed concepts from design.md
  languages/csharp/exercises/concept/elons-toys/.meta/design.md
Labels: track/csharp

#2826 [rust]: add script to test a pull request
  languages/rust/scripts/test_pr.sh
Labels: track/rust

#2352 [Rust] entry-api - replace about.md file with concept files
  languages/rust/concepts/entry-api/about.md
  languages/rust/concepts/entry-api/links.json
  languages/rust/exercises/concept/entry-api/.docs/after.md
Labels: track/rust

#2355 [Rust] structs - replace about.md file with concept files
  languages/rust/concepts/structs/about.md
  languages/rust/concepts/structs/links.json
  languages/rust/exercises/concept/structs/.docs/after.md
Labels: track/rust

#2353 [Rust] numbers - replace about.md file with concept files
  languages/rust/concepts/floating-point-numbers/about.md
  languages/rust/concepts/integers/about.md
  languages/rust/concepts/numbers/about.md
  languages/rust/exercises/concept/numbers/.docs/after.md
Labels: track/rust

#2828 [C#] international-calling-connoisseur - reformat instructions.md.
  languages/csharp/exercises/concept/international-calling-connoisseur/.docs/instructions.md
Labels: track/csharp

#2764 [Julia] Add concept exercise: fibonacci-iterator
  languages/julia/concepts/iterator-protocol/about.md
  languages/julia/concepts/iterator-protocol/links.json
  languages/julia/concepts/optional-arguments/about.md
  languages/julia/concepts/optional-arguments/links.json
  languages/julia/config.json
  languages/julia/exercises/concept/fibonacci-iterator/.docs/hints.md
  languages/julia/exercises/concept/fibonacci-iterator/.docs/instructions.md
  languages/julia/exercises/concept/fibonacci-iterator/.docs/introduction.md
  languages/julia/exercises/concept/fibonacci-iterator/.meta/config.json
  languages/julia/exercises/concept/fibonacci-iterator/.meta/example.jl
  languages/julia/exercises/concept/fibonacci-iterator/fibonacci.jl
  languages/julia/exercises/concept/fibonacci-iterator/runtests.jl
Labels: track/julia

#2832 Fix : fix typo
  docs/maintainers/faqs.md
Labels: type/documentation

#2835 [Common-Lisp] Fixing a build-up of markdown linting issues.
  languages/common-lisp/concepts/comments/about.md
  languages/common-lisp/concepts/comments/links.json
  languages/common-lisp/concepts/expressions/about.md
  languages/common-lisp/concepts/symbols/about.md
  languages/common-lisp/exercises/concept/pal-picker/.docs/introduction.md
  languages/common-lisp/exercises/concept/pizza-pi/.docs/introduction.md
  languages/common-lisp/exercises/concept/socks-and-sexprs/.docs/introduction.md
Labels: track/common-lisp

#2473 [Common Lisp] conditionals - replace about.md file with concept files
  languages/common-lisp/concepts/conditionals/about.md
  languages/common-lisp/concepts/conditionals/links.json
  languages/common-lisp/concepts/truthy-and-falsy/about.md
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/pal-picker/.docs/after.md
  languages/common-lisp/exercises/concept/pal-picker/.docs/introduction.md
Labels: track/common-lisp

#2738 [Kotlin] Update exercise template with Kotlin 1.4
  languages/kotlin/.templates/exercise/.docs/after.md
  languages/kotlin/.templates/exercise/build.gradle.kts
  languages/kotlin/.templates/exercise/gradle/wrapper/gradle-wrapper.properties
  languages/kotlin/settings.gradle.kts
Labels: track/kotlin

#2737 [Kotlin] Add `annalyns-infiltration` concept exercise
  languages/kotlin/concepts/booleans/about.md
  languages/kotlin/concepts/booleans/links.json
  languages/kotlin/config.json
  languages/kotlin/exercises/concept/annalyns-infiltration/.docs/hints.md
  languages/kotlin/exercises/concept/annalyns-infiltration/.docs/instructions.md
  languages/kotlin/exercises/concept/annalyns-infiltration/.docs/introduction.md
  languages/kotlin/exercises/concept/annalyns-infiltration/.meta/config.json
  languages/kotlin/exercises/concept/annalyns-infiltration/.meta/design.md
  languages/kotlin/exercises/concept/annalyns-infiltration/.meta/src/main/kotlin/Example.kt
  languages/kotlin/exercises/concept/annalyns-infiltration/build.gradle.kts
  languages/kotlin/exercises/concept/annalyns-infiltration/gradle/wrapper/gradle-wrapper.jar
  languages/kotlin/exercises/concept/annalyns-infiltration/gradle/wrapper/gradle-wrapper.properties
  languages/kotlin/exercises/concept/annalyns-infiltration/gradlew
  languages/kotlin/exercises/concept/annalyns-infiltration/gradlew.bat
  languages/kotlin/exercises/concept/annalyns-infiltration/settings.gradle.kts
  languages/kotlin/exercises/concept/annalyns-infiltration/src/main/kotlin/AnnalynsInfiltration.kt
  languages/kotlin/exercises/concept/annalyns-infiltration/src/test/kotlin/AnnalynsInfiltrationTest.kt
Labels: track/kotlin

#2585 [CI] Use Erik's link check
  .github/workflows/valid-links.yml
  .markdownignore
  languages/go/reference/empty-interface.md
  markathon.md
Labels: track/go, type/ci

#2834 [Julia] Add concept docs for several exercises
  languages/julia/concepts/conditionals/about.md
  languages/julia/concepts/conditionals/links.json
  languages/julia/concepts/if-statements/about.md
  languages/julia/concepts/if-statements/links.json
  languages/julia/concepts/iterator-protocol/about.md
  languages/julia/concepts/iterator-protocol/links.json
  languages/julia/concepts/optional-arguments/about.md
  languages/julia/concepts/optional-arguments/links.json
  languages/julia/concepts/short-circuit-evaluation/about.md
  languages/julia/concepts/short-circuit-evaluation/links.json
  languages/julia/concepts/ternary-operator/about.md
  languages/julia/concepts/ternary-operator/links.json
  languages/julia/exercises/concept/vehicle-purchase/.docs/introduction.md
Labels: track/julia

#2845 [CI] Format code
  languages/erlang/exercises/concept/README.md
  languages/go/exercises/concept/booleans/.docs/introduction.md
  languages/julia/exercises/concept/fibonacci-iterator/.docs/instructions.md
  languages/scala/reference/README.md
Labels: track/erlang, track/scala

#2471 [Common Lisp] arithmetic - replace about.md file with concept files
  languages/common-lisp/concepts/arithmetic/about.md
  languages/common-lisp/concepts/arithmetic/links.json
  languages/common-lisp/concepts/floating-point-numbers/about.md
  languages/common-lisp/concepts/floating-point-numbers/links.json
  languages/common-lisp/concepts/integers/about.md
  languages/common-lisp/concepts/integers/links.json
  languages/common-lisp/exercises/concept/pizza-pi/.docs/after.md
  languages/common-lisp/exercises/concept/pizza-pi/.docs/approaches.md
Labels: track/common-lisp

#2849 [Common Lisp] Correct package identifier usage.
  languages/common-lisp/bin/generate-scaffolding/template/.meta/example.lisp
  languages/common-lisp/bin/generate-scaffolding/template/SLUG-test.lisp
  languages/common-lisp/bin/generate-scaffolding/template/SLUG.lisp
  languages/common-lisp/exercises/concept/key-comparison/.meta/example.lisp
  languages/common-lisp/exercises/concept/key-comparison/key-comparison-test.lisp
  languages/common-lisp/exercises/concept/key-comparison/key-comparison.lisp
  languages/common-lisp/exercises/concept/leslies-lists/.meta/example.lisp
  languages/common-lisp/exercises/concept/leslies-lists/leslies-lists-test.lisp
  languages/common-lisp/exercises/concept/leslies-lists/leslies-lists.lisp
  languages/common-lisp/exercises/concept/pal-picker/.meta/example.lisp
  languages/common-lisp/exercises/concept/pal-picker/pal-picker-test.lisp
  languages/common-lisp/exercises/concept/pal-picker/pal-picker.lisp
  languages/common-lisp/exercises/concept/pizza-pi/.docs/approaches.md
  languages/common-lisp/exercises/concept/pizza-pi/.meta/example.lisp
  languages/common-lisp/exercises/concept/pizza-pi/pizza-pi-test.lisp
  languages/common-lisp/exercises/concept/pizza-pi/pizza-pi.lisp
  languages/common-lisp/exercises/concept/socks-and-sexprs/.meta/example.lisp
  languages/common-lisp/exercises/concept/socks-and-sexprs/socks-and-sexprs-test.lisp
  languages/common-lisp/exercises/concept/socks-and-sexprs/socks-and-sexprs.lisp
Labels: track/common-lisp

#2852 [CI] Update prettier docs
  docs/maintainers/style-guide.md
Labels: type/documentation

#2848 [Docs] Add name of config.json spec
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
Labels: type/documentation

#2858 [CI] Remove unused markdown link check config file
  .github/markdown-link-check-config.json
Labels: type/ci

#2403 [Ruby] instance-variables - replace about.md file with concept files
  languages/ruby/concepts/instance-variables/about.md
  languages/ruby/concepts/instance-variables/links.json
  languages/ruby/concepts/nil/about.md
  languages/ruby/concepts/nil/links.json
  languages/ruby/exercises/concept/instance-variables/.docs/after.md
Labels: track/ruby

#2859 [CI] Only output invalid links and files in markdown link checks
  .github/workflows/valid-links.yml
Labels: type/ci

#2523 [rust]: implement Tuples concept exercise
  languages/rust/concepts/destructuring/about.md
  languages/rust/concepts/destructuring/links.json
  languages/rust/concepts/tuples/about.md
  languages/rust/concepts/tuples/links.json
  languages/rust/config.json
  languages/rust/exercises/concept/tuples/.docs/hints.md
  languages/rust/exercises/concept/tuples/.docs/instructions.md
  languages/rust/exercises/concept/tuples/.docs/introduction.md
  languages/rust/exercises/concept/tuples/.meta/config.json
  languages/rust/exercises/concept/tuples/.meta/design.md
  languages/rust/exercises/concept/tuples/.meta/example.rs
  languages/rust/exercises/concept/tuples/Cargo.toml
  languages/rust/exercises/concept/tuples/src/lib.rs
  languages/rust/exercises/concept/tuples/tests/tuples.rs
Labels: track/erlang, track/rust, track/scala

#2864 [Common Lisp] update execise generator for new spec.
  languages/common-lisp/bin/generate-scaffolding/template/.docs/after.md
  languages/common-lisp/bin/generate-scaffolding/template/.meta/config.json
Labels: track/common-lisp

#2863 [Common Lisp] Using gender neutral pronouns for Lisp Aliens.
  languages/common-lisp/exercises/concept/leslies-lists/.docs/instructions.md
  languages/common-lisp/exercises/concept/pal-picker/.docs/instructions.md
  languages/common-lisp/exercises/concept/pizza-pi/.docs/instructions.md
  languages/common-lisp/exercises/concept/socks-and-sexprs/.docs/hints.md
  languages/common-lisp/exercises/concept/socks-and-sexprs/.docs/instructions.md
Labels: track/common-lisp

#2786 List-Method Exercise Edits and List Concept Doc
  languages/python/concepts/lists/about.md
  languages/python/exercises/concept/chaitanas-colossal-coaster/.docs/instructions.md
  languages/python/exercises/concept/chaitanas-colossal-coaster/.docs/introduction.md
Labels: track/common-lisp, track/dart, track/go, track/julia, track/python

#2847 [Python] Implement new concept exercise - string methods #2175
  languages/python/concepts/string-methods/about.md
  languages/python/concepts/string-methods/links.json
  languages/python/exercises/concept/string-methods/.docs/hints.md
  languages/python/exercises/concept/string-methods/.docs/instructions.md
  languages/python/exercises/concept/string-methods/.docs/introduction.md
  languages/python/exercises/concept/string-methods/.meta/config.json
  languages/python/exercises/concept/string-methods/.meta/design.md
  languages/python/exercises/concept/string-methods/.meta/example.py
  languages/python/exercises/concept/string-methods/str_methods.py
  languages/python/exercises/concept/string-methods/str_methods_test.py
Labels: track/python

#2869 [Python] Rename string-methods Concept Exercise to "Little Sisters Essay"
  languages/python/concepts/string-methods/links.json
  languages/python/config.json
  languages/python/exercises/concept/little-sisters-essay/.docs/hints.md
  languages/python/exercises/concept/little-sisters-essay/.docs/instructions.md
  languages/python/exercises/concept/little-sisters-essay/.docs/introduction.md
  languages/python/exercises/concept/little-sisters-essay/.meta/config.json
  languages/python/exercises/concept/little-sisters-essay/.meta/design.md
  languages/python/exercises/concept/little-sisters-essay/.meta/example.py
  languages/python/exercises/concept/little-sisters-essay/str_methods.py
  languages/python/exercises/concept/little-sisters-essay/str_methods_test.py
Labels: track/python

#2871 [Elixir] Add missing `@tag :pending` to a few concept exercises
  languages/elixir/exercises/concept/basketball-website/test/basketball_website_test.exs
  languages/elixir/exercises/concept/boutique-suggestions/test/boutique_suggestions_test.exs
  languages/elixir/exercises/concept/bread-and-potions/test/rpg_test.exs
  languages/elixir/exercises/concept/rpn-calculator/test/rpn_calculator_test.exs
  languages/elixir/exercises/concept/wine-cellar/test/wine_cellar_test.exs
Labels: track/elixir

#2873 [Python] Fix typo and remove white space in about.md
  languages/python/concepts/numbers/about.md
Labels: track/python

#2879 [Dart] Add Stargator to list of maintainers
  languages/dart/maintainers.md
Labels: track/dart

#2881 [CI] Enable external link checks
  .github/workflows/valid-links.yml
Labels: type/ci

#2882 Revert "[CI] Enable external link checks (#2881)"
  .github/workflows/valid-links.yml
Labels: type/ci

#2878 [Python] dicts improve links
  languages/python/concepts/dicts/links.json
Labels: track/python
