Repository exercism/v3, pull requests merged in 2020-10, with the labels that each got.

#2281 [Ruby] Normalize naming for method references
  languages/ruby/exercises/concept/basics/lasagna.rb
  languages/ruby/exercises/concept/booleans/.docs/instructions.md
  languages/ruby/exercises/concept/booleans/attendee.rb
  languages/ruby/exercises/concept/instance-variables/.docs/hints.md
  languages/ruby/exercises/concept/instance-variables/.docs/instructions.md
  languages/ruby/exercises/concept/instance-variables/attendee.rb
Labels: status/in-progress, track/ruby

#1835 [Clojure] add vectors exercise
  languages/clojure/exercises/concept/vectors/.docs/instructions.md
  languages/clojure/exercises/concept/vectors/.docs/introduction.md
  languages/clojure/exercises/concept/vectors/.meta/config.json
  languages/clojure/exercises/concept/vectors/deps.edn
  languages/clojure/exercises/concept/vectors/example.clj
  languages/clojure/exercises/concept/vectors/src/vectors.clj
  languages/clojure/exercises/concept/vectors/test/vectors_test.clj
Labels: status/draft, status/in-progress, track/clojure, type/new-exercise

#1813 [Clojure] add floating point numbers exercise
  languages/clojure/exercises/concept/floating-point-numbers/.docs/instructions.md
  languages/clojure/exercises/concept/floating-point-numbers/.docs/introduction.md
  languages/clojure/exercises/concept/floating-point-numbers/config.json
  languages/clojure/exercises/concept/floating-point-numbers/deps.edn
  languages/clojure/exercises/concept/floating-point-numbers/src/floating-point-numbers.clj
  languages/clojure/exercises/concept/floating-point-numbers/test/floating-point-numbers_test.clj
Labels: status/draft, status/in-progress, track/clojure, type/new-exercise

#2288 [Haskell] Docs: change case of `haskell` directory
  languages/haskell/reference/implementing-a-concept-exercise.md
Labels: track/haskell

#2122 [Elixir] New concept exercise - `protocols`
  languages/elixir/exercises/concept/protocols/.docs/after.md
  languages/elixir/exercises/concept/protocols/.docs/hints.md
  languages/elixir/exercises/concept/protocols/.docs/instructions.md
  languages/elixir/exercises/concept/protocols/.docs/introduction.md
  languages/elixir/exercises/concept/protocols/.formatter.exs
  languages/elixir/exercises/concept/protocols/.gitignore
  languages/elixir/exercises/concept/protocols/.meta/config.json
  languages/elixir/exercises/concept/protocols/.meta/design.md
  languages/elixir/exercises/concept/protocols/.meta/example.ex
  languages/elixir/exercises/concept/protocols/lib/rpg.ex
  languages/elixir/exercises/concept/protocols/mix.exs
  languages/elixir/exercises/concept/protocols/test/rpg_test.exs
  languages/elixir/exercises/concept/protocols/test/test_helper.exs
Labels: track/elixir, type/new-exercise

#1809 [Clojure] add booleans exercise
  languages/clojure/exercises/concept/booleans/.cpcache/2272782656.cp
  languages/clojure/exercises/concept/booleans/.cpcache/2272782656.libs
  languages/clojure/exercises/concept/booleans/.docs/hints.md
  languages/clojure/exercises/concept/booleans/.docs/instructions.md
  languages/clojure/exercises/concept/booleans/.docs/introduction.md
  languages/clojure/exercises/concept/booleans/.meta/config.json
  languages/clojure/exercises/concept/booleans/.meta/example.clj
  languages/clojure/exercises/concept/booleans/.nrepl-port
  languages/clojure/exercises/concept/booleans/deps.edn
  languages/clojure/exercises/concept/booleans/src/booleans.clj
  languages/clojure/exercises/concept/booleans/test/booleans_test.clj
Labels: status/draft, status/in-progress, track/clojure, type/new-exercise

#1807 [Clojure] Add numbers exercise
  languages/clojure/exercises/concept/numbers/.docs/instructions.md
  languages/clojure/exercises/concept/numbers/.docs/introduction.md
  languages/clojure/exercises/concept/numbers/.meta/config.json
  languages/clojure/exercises/concept/numbers/.meta/example.clj
  languages/clojure/exercises/concept/numbers/deps.edn
  languages/clojure/exercises/concept/numbers/src/numbers.clj
  languages/clojure/exercises/concept/numbers/test/numbers_test.clj
Labels: status/draft, status/in-progress, track/clojure, type/new-exercise

#1801 [Clojure] add strings concept exercise
  languages/clojure/exercises/concept/strings/.docs/instructions.md
  languages/clojure/exercises/concept/strings/.docs/introduction.md
  languages/clojure/exercises/concept/strings/.meta/config.json
  languages/clojure/exercises/concept/strings/.meta/example.clj
  languages/clojure/exercises/concept/strings/deps.edn
  languages/clojure/exercises/concept/strings/src/strings.clj
  languages/clojure/exercises/concept/strings/test/strings_test.clj
Labels: track/clojure, type/new-exercise

#2295 [Perl] Add Daniel Mita to maintainers
  languages/perl5/maintainers.md
Labels: track/perl5

#2294 [Perl] Add config
  languages/perl5/README.md
  languages/perl5/config.json
Labels: track/perl5

#2290 Fix mixed up links in issue template "implement concept exercise"
  .github/ISSUE_TEMPLATE/implement-concept-exercise.md
Labels: type/documentation

#2284 [Java] add UTF-8 encoding into gradle config
  languages/java/exercises/concept/arrays/build.gradle
  languages/java/exercises/concept/basics/build.gradle
  languages/java/exercises/concept/booleans/build.gradle
  languages/java/exercises/concept/chars/build.gradle
  languages/java/exercises/concept/classes/build.gradle
  languages/java/exercises/concept/conditionals/build.gradle
  languages/java/exercises/concept/constructors/build.gradle
  languages/java/exercises/concept/interfaces/build.gradle
  languages/java/exercises/concept/numbers/build.gradle
  languages/java/exercises/concept/strings/build.gradle
  languages/java/exercises/concept/ternary-operators/build.gradle
Labels: track/java

#2307 Fix typo on exceptions concept exercise
  languages/csharp/exercises/concept/exceptions/.docs/instructions.md
Labels: track/csharp

#2304 [Elixir] Clarify conditionals
  languages/README.md
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/binary-matching/.meta/design.md
  languages/elixir/exercises/concept/cond/.docs/after.md
  languages/elixir/exercises/concept/cond/.docs/hints.md
  languages/elixir/exercises/concept/cond/.docs/instructions.md
  languages/elixir/exercises/concept/cond/.docs/introduction.md
  languages/elixir/exercises/concept/cond/.formatter.exs
  languages/elixir/exercises/concept/cond/.gitignore
  languages/elixir/exercises/concept/cond/.meta/config.json
  languages/elixir/exercises/concept/cond/.meta/design.md
  languages/elixir/exercises/concept/cond/.meta/example.ex
  languages/elixir/exercises/concept/cond/lib/log_level.ex
  languages/elixir/exercises/concept/cond/mix.exs
  languages/elixir/exercises/concept/cond/test/log_level_test.exs
  languages/elixir/exercises/concept/cond/test/test_helper.exs
  languages/elixir/exercises/concept/keyword-lists/.meta/design.md
  languages/elixir/exercises/concept/multiple-clause-functions/.meta/design.md
  languages/elixir/exercises/concept/nil/.meta/design.md
  languages/elixir/exercises/concept/streams/.meta/design.md
  languages/elixir/reference/README.md
  languages/languages.json
  reference/README.md
  reference/concepts/conditionals.md
  reference/concepts/switch.md
  reference/references.json
Labels: track/elixir, type/improve-exercise

#2202 [Common Lisp] basic-lists concept exercise
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/lists/.docs/after.md
  languages/common-lisp/exercises/concept/lists/.docs/hints.md
  languages/common-lisp/exercises/concept/lists/.docs/instructions.md
  languages/common-lisp/exercises/concept/lists/.docs/introduction.md
  languages/common-lisp/exercises/concept/lists/.meta/config.json
  languages/common-lisp/exercises/concept/lists/.meta/design.md
  languages/common-lisp/exercises/concept/lists/.meta/example.lisp
  languages/common-lisp/exercises/concept/lists/lists-test.lisp
  languages/common-lisp/exercises/concept/lists/lists.lisp
Labels: track/common-lisp

#2287 [Csharp] resolve cyclic dependency with exceptions and overflow
  languages/csharp/config.json
Labels: track/csharp

#1821 [Swift] Add loops concept exercise
  languages/swift/config.json
  languages/swift/exercises/concept/loops/.docs/after.md
  languages/swift/exercises/concept/loops/.docs/hints.md
  languages/swift/exercises/concept/loops/.docs/instructions.md
  languages/swift/exercises/concept/loops/.docs/introduction.md
  languages/swift/exercises/concept/loops/.gitignore
  languages/swift/exercises/concept/loops/.meta/Example.swift
  languages/swift/exercises/concept/loops/.meta/config.json
  languages/swift/exercises/concept/loops/.meta/design.md
  languages/swift/exercises/concept/loops/Package.swift
  languages/swift/exercises/concept/loops/Sources/loops/loops.swift
  languages/swift/exercises/concept/loops/Tests/LinuxMain.swift
  languages/swift/exercises/concept/loops/Tests/loopsTests/XCTestManifests.swift
  languages/swift/exercises/concept/loops/Tests/loopsTests/loopsTests.swift
Labels: track/swift, type/new-exercise

#2181 [Swift] Add closures concept exercise
  languages/swift/config.json
  languages/swift/exercises/concept/closures/.docs/after.md
  languages/swift/exercises/concept/closures/.docs/hints.md
  languages/swift/exercises/concept/closures/.docs/instructions.md
  languages/swift/exercises/concept/closures/.docs/introduction.md
  languages/swift/exercises/concept/closures/.gitignore
  languages/swift/exercises/concept/closures/.meta/Example.swift
  languages/swift/exercises/concept/closures/.meta/config.json
  languages/swift/exercises/concept/closures/.meta/design.md
  languages/swift/exercises/concept/closures/Package.swift
  languages/swift/exercises/concept/closures/Sources/closures/closures.swift
  languages/swift/exercises/concept/closures/Tests/LinuxMain.swift
  languages/swift/exercises/concept/closures/Tests/closuresTests/XCTestManifests.swift
  languages/swift/exercises/concept/closures/Tests/closuresTests/closuresTests.swift
Labels: track/swift

#2320 [All] Add concepts section to config.json
  languages/c/config.json
  languages/clojure/config.json
  languages/common-lisp/config.json
  languages/cpp/config.json
  languages/csharp/config.json
  languages/dart/config.json
  languages/elixir/config.json
  languages/elm/config.json
  languages/emacs-lisp/config.json
  languages/erlang/config.json
  languages/fsharp/config.json
  languages/go/config.json
  languages/haskell/config.json
  languages/j/config.json
  languages/java/config.json
  languages/javascript/config.json
  languages/julia/config.json
  languages/kotlin/config.json
  languages/nim/config.json
  languages/perl5/config.json
  languages/purescript/config.json
  languages/python/config.json
  languages/ruby/config.json
  languages/rust/config.json
  languages/scala/config.json
  languages/swift/config.json
  languages/x86-64-assembly/config.json
Labels: track/c, track/common-lisp, track/cpp, track/csharp, track/dart, track/elixir, track/elm, track/emacs-lisp, track/erlang, track/fsharp, track/go, track/haskell, track/j, track/java, track/javascript, track/julia, track/kotlin, track/nim, track/perl5, track/purescript, track/python, track/ruby, track/rust, track/scala, track/swift, track/x86-64-assembly

#2270 [Java] Implement concept exercise switch-statement
  languages/java/config.json
  languages/java/exercises/concept/switch-statement/.docs/after.md
  languages/java/exercises/concept/switch-statement/.docs/hints.md
  languages/java/exercises/concept/switch-statement/.docs/instructions.md
  languages/java/exercises/concept/switch-statement/.docs/introduction.md
  languages/java/exercises/concept/switch-statement/.meta/config.json
  languages/java/exercises/concept/switch-statement/.meta/design.md
  languages/java/exercises/concept/switch-statement/.meta/src/reference/java/PlayAnalyzer.java
  languages/java/exercises/concept/switch-statement/build.gradle
  languages/java/exercises/concept/switch-statement/src/main/java/PlayAnalyzer.java
  languages/java/exercises/concept/switch-statement/src/test/java/PlayAnalyzerTest.java
  languages/java/exercises/settings.gradle
Labels: track/java

#2474 [Julia] functions-introduction - replace about.md file with concept files
  languages/julia/concepts/functions-introduction/about.md
  languages/julia/concepts/functions-introduction/links.json
  languages/julia/exercises/concept/functions-introduction/.docs/after.md
Labels: hacktoberfest-accepted, track/julia

#2475 [Julia] multiple-dispatch - replace about.md file with concept files
  languages/julia/concepts/multiple-dispatch/about.md
  languages/julia/concepts/multiple-dispatch/links.json
  languages/julia/exercises/concept/multiple-dispatch/.docs/after.md
Labels: hacktoberfest-accepted, track/julia

#2393 [Elixir] streams - replace about.md file with concept files
  languages/elixir/concepts/pipe-operator/about.md
  languages/elixir/concepts/pipe-operator/links.json
  languages/elixir/concepts/ranges/about.md
  languages/elixir/concepts/ranges/links.json
  languages/elixir/concepts/streams/about.md
  languages/elixir/concepts/streams/links.json
  languages/elixir/exercises/concept/streams/.docs/after.md
Labels: track/elixir

#2312 [Python] Implement new Concept Exercise: Enum #2309
  languages/python/exercises/concept/enums/.docs/after.md
  languages/python/exercises/concept/enums/.docs/hints.md
  languages/python/exercises/concept/enums/.docs/instructions.md
  languages/python/exercises/concept/enums/.docs/introduction.md
  languages/python/exercises/concept/enums/.meta/config.json
  languages/python/exercises/concept/enums/.meta/design.md
  languages/python/exercises/concept/enums/.meta/example.py
  languages/python/exercises/concept/enums/enums.py
  languages/python/exercises/concept/enums/enums_test.py
Labels: hacktoberfest-accepted, track/python

#2396 [Elixir] list-comprehensions - replace about.md file with concept files
  languages/elixir/concepts/list-comprehensions/about.md
  languages/elixir/concepts/list-comprehensions/links.json
  languages/elixir/exercises/concept/list-comprehensions/.docs/after.md
  languages/elixir/exercises/concept/list-comprehensions/.docs/introduction.md
Labels: track/elixir

#2395 [Elixir] regular-expressions - replace about.md file with concept files
  languages/elixir/concepts/regular-expressions/about.md
  languages/elixir/concepts/regular-expressions/links.json
  languages/elixir/exercises/concept/regular-expressions/.docs/after.md
  languages/elixir/exercises/concept/regular-expressions/.docs/introduction.md
Labels: track/elixir

#2392 [Elixir] processes - replace about.md file with concept files
  languages/elixir/concepts/pids/about.md
  languages/elixir/concepts/pids/links.json
  languages/elixir/concepts/processes/about.md
  languages/elixir/concepts/processes/links.json
  languages/elixir/exercises/concept/processes/.docs/after.md
Labels: track/elixir

#2377 [Elixir] tuples - replace about.md file with concept files
  languages/elixir/concepts/pattern-matching/about.md
  languages/elixir/concepts/pattern-matching/links.json
  languages/elixir/concepts/tuples/about.md
  languages/elixir/concepts/tuples/links.json
  languages/elixir/exercises/concept/tuples/.docs/after.md
Labels: track/elixir

#2370 [Elixir] basics - replace about.md file with concept files
  languages/elixir/concepts/basics/about.md
  languages/elixir/concepts/basics/links.json
  languages/elixir/exercises/concept/basics/.docs/after.md
Labels: track/elixir

#2381 [Elixir] recursion - replace about.md file with concept files
  languages/elixir/concepts/recursion/about.md
  languages/elixir/concepts/recursion/links.json
  languages/elixir/exercises/concept/recursion/.docs/after.md
Labels: track/elixir

#2384 [Elixir] binary-matching - replace about.md file with concept files
  languages/elixir/concepts/binaries/about.md
  languages/elixir/concepts/binaries/links.json
  languages/elixir/exercises/concept/binary-matching/.docs/after.md
Labels: track/elixir

#2508 Elixir nil replace after md with concept documents
  languages/elixir/concepts/if/about.md
  languages/elixir/concepts/if/links.json
  languages/elixir/concepts/nil/about.md
  languages/elixir/concepts/nil/links.json
Labels: track/elixir

#2372 [Elixir] numbers - replace about.md file with concept files
  languages/elixir/concepts/floating-point-numbers/about.md
  languages/elixir/concepts/floating-point-numbers/links.json
  languages/elixir/concepts/integers/about.md
  languages/elixir/concepts/integers/links.json
  languages/elixir/exercises/concept/numbers/.docs/after.md
Labels: track/elixir

#2379 [Elixir] nil - replace about.md file with concept files
  languages/elixir/concepts/if/about.md
  languages/elixir/concepts/if/links.json
  languages/elixir/concepts/nil/about.md
  languages/elixir/concepts/nil/links.json
  languages/elixir/exercises/concept/nil/.docs/after.md
Labels: track/elixir

#2507 Elixir agent replace after md with concept documents
  languages/elixir/concepts/agent/about.md
  languages/elixir/concepts/agent/links.json
Labels: track/elixir

#2394 [Elixir] agent - replace about.md file with concept files
  languages/elixir/concepts/agent/about.md
  languages/elixir/concepts/agent/links.json
  languages/elixir/exercises/concept/agent/.docs/after.md
Labels: track/elixir

#2509 Elixir enum replace after md with concept documents
  languages/elixir/concepts/enum/about.md
  languages/elixir/concepts/enum/links.json
Labels: track/elixir

#2386 [Elixir] enum - replace about.md file with concept files
  languages/elixir/concepts/enum/about.md
  languages/elixir/concepts/enum/links.json
  languages/elixir/exercises/concept/enum/.docs/after.md
Labels: track/elixir

#2376 [Elixir] anonymous-functions - replace about.md file with concept files
  languages/elixir/concepts/anonymous-functions/about.md
  languages/elixir/concepts/anonymous-functions/links.json
  languages/elixir/concepts/bit-manipulation/about.md
  languages/elixir/concepts/bit-manipulation/links.json
  languages/elixir/concepts/closures/about.md
  languages/elixir/concepts/closures/links.json
  languages/elixir/exercises/concept/anonymous-functions/.docs/after.md
Labels: track/elixir

#2382 [Elixir] charlists - replace about.md file with concept files
  languages/elixir/concepts/case/about.md
  languages/elixir/concepts/case/links.json
  languages/elixir/concepts/charlists/about.md
  languages/elixir/concepts/charlists/links.json
  languages/elixir/exercises/concept/charlists/.docs/after.md
Labels: track/elixir

#2516 Elixir cond replace after md with concept documents
  languages/elixir/concepts/atoms/about.md
  languages/elixir/concepts/atoms/links.json
Labels: track/elixir

#2378 [Elixir] strings - replace about.md file with concept files
  languages/elixir/concepts/strings/about.md
  languages/elixir/concepts/strings/links.json
  languages/elixir/exercises/concept/strings/.docs/after.md
Labels: track/elixir

#2510 Elixir lists replace after md with concept documents
  languages/elixir/concepts/lists/about.md
  languages/elixir/concepts/lists/links.json
  languages/elixir/concepts/string-literals/about.md
  languages/elixir/concepts/string-literals/links.json
Labels: track/elixir

#2515 Elixir try rescue else after replace after md with concept documents
  languages/elixir/concepts/try-rescue-else-after/about.md
  languages/elixir/concepts/try-rescue-else-after/links.json
Labels: track/elixir

#2390 [Elixir] keyword-lists - replace about.md file with concept files
  languages/elixir/concepts/keyword-lists/about.md
  languages/elixir/concepts/keyword-lists/links.json
  languages/elixir/exercises/concept/keyword-lists/.docs/after.md
Labels: track/elixir

#2391 [Elixir] try-rescue-else-after - replace about.md file with concept files
  languages/elixir/concepts/try-rescue-else-after/about.md
  languages/elixir/concepts/try-rescue-else-after/links.json
  languages/elixir/exercises/concept/try-rescue-else-after/.docs/after.md
Labels: track/elixir

#2374 [Elixir] lists - replace about.md file with concept files
  languages/elixir/concepts/lists/about.md
  languages/elixir/concepts/lists/links.json
  languages/elixir/concepts/string-literals/about.md
  languages/elixir/concepts/string-literals/links.json
  languages/elixir/exercises/concept/lists/.docs/after.md
Labels: track/elixir

#2517 Update cond links.json
  languages/elixir/concepts/cond/links.json
Labels: track/elixir

#2373 [Elixir] cond - replace about.md file with concept files
  languages/elixir/concepts/atoms/about.md
  languages/elixir/concepts/atoms/links.json
  languages/elixir/concepts/cond/about.md
  languages/elixir/concepts/cond/links.json
  languages/elixir/exercises/concept/cond/.docs/after.md
Labels: track/elixir

#2303 [Python] Implement new Concept Exercise: list-methods #2170
  languages/python/exercises/concept/list_methods/.docs/after.md
  languages/python/exercises/concept/list_methods/.docs/hints.md
  languages/python/exercises/concept/list_methods/.docs/instructions.md
  languages/python/exercises/concept/list_methods/.docs/introduction.md
  languages/python/exercises/concept/list_methods/.meta/config.json
  languages/python/exercises/concept/list_methods/.meta/design.md
  languages/python/exercises/concept/list_methods/.meta/example.py
  languages/python/exercises/concept/list_methods/list_methods.py
  languages/python/exercises/concept/list_methods/list_methods_test.py
Labels: hacktoberfest-accepted, track/python

#2302 [Python] Implement new Concept Exercise: loops #1430
  languages/python/exercises/concept/loops/.docs/after.md
  languages/python/exercises/concept/loops/.docs/hints.md
  languages/python/exercises/concept/loops/.docs/instructions.md
  languages/python/exercises/concept/loops/.docs/introduction.md
  languages/python/exercises/concept/loops/.meta/config.json
  languages/python/exercises/concept/loops/.meta/design.md
  languages/python/exercises/concept/loops/.meta/example.py
  languages/python/exercises/concept/loops/loops.py
  languages/python/exercises/concept/loops/loops_test.py
Labels: hacktoberfest-accepted, track/python

#2283 [Python] Implement new Concept Exercise: none #1031
  languages/python/exercises/concept/none/.docs/after.md
  languages/python/exercises/concept/none/.docs/hints.md
  languages/python/exercises/concept/none/.docs/instructions.md
  languages/python/exercises/concept/none/.docs/introduction.md
  languages/python/exercises/concept/none/.meta/config.json
  languages/python/exercises/concept/none/.meta/design.md
  languages/python/exercises/concept/none/.meta/example.py
  languages/python/exercises/concept/none/none.py
  languages/python/exercises/concept/none/none_test.py
Labels: hacktoberfest-accepted, track/python

#2389 [Elixir] exceptions - replace about.md file with concept files
  languages/elixir/concepts/exceptions/about.md
  languages/elixir/concepts/exceptions/links.json
  languages/elixir/exercises/concept/exceptions/.docs/after.md
Labels: track/elixir

#2380 [Elixir] maps - replace about.md file with concept files
  languages/elixir/concepts/maps/about.md
  languages/elixir/concepts/maps/links.json
  languages/elixir/concepts/module-attributes-as-constants/about.md
  languages/elixir/concepts/module-attributes-as-constants/links.json
  languages/elixir/exercises/concept/maps/.docs/after.md
Labels: track/elixir

#2383 [Elixir] access-behaviour - replace about.md file with concept files
  languages/elixir/concepts/access-behaviour/about.md
  languages/elixir/concepts/access-behaviour/links.json
  languages/elixir/exercises/concept/access-behaviour/.docs/after.md
Labels: track/elixir

#2375 [Elixir] multiple-clause-functions - replace about.md file with concept files
  languages/elixir/concepts/default-arguments/about.md
  languages/elixir/concepts/default-arguments/links.json
  languages/elixir/concepts/guards/about.md
  languages/elixir/concepts/guards/links.json
  languages/elixir/concepts/multiple-clause-functions/about.md
  languages/elixir/concepts/multiple-clause-functions/links.json
  languages/elixir/exercises/concept/multiple-clause-functions/.docs/after.md
Labels: track/elixir

#2351 [Python] bools - replace about.md file with concept files
  languages/python/concepts/bools/about.md
  languages/python/concepts/bools/links.json
  languages/python/exercises/concept/bools/.docs/after.md
Labels: track/python

#2385 [Elixir] bitstrings - replace about.md file with concept files
  languages/elixir/concepts/bitstrings/about.md
  languages/elixir/concepts/bitstrings/links.json
  languages/elixir/concepts/tail-call-recursion/about.md
  languages/elixir/concepts/tail-call-recursion/links.json
  languages/elixir/exercises/concept/bitstrings/.docs/after.md
  languages/elixir/exercises/concept/bitstrings/.docs/introduction.md
Labels: track/elixir

#2371 [Elixir] booleans - replace about.md file with concept files
  languages/elixir/concepts/booleans/about.md
  languages/elixir/concepts/booleans/links.json
  languages/elixir/exercises/concept/booleans/.docs/after.md
Labels: track/elixir

#2518 Elixir errors replace after md with concept documents
  languages/elixir/concepts/errors/about.md
  languages/elixir/concepts/errors/links.json
  languages/elixir/concepts/try-rescue/about.md
  languages/elixir/concepts/try-rescue/links.json
Labels: track/elixir

#2388 [Elixir] structs - replace about.md file with concept files
  languages/README.md
  languages/elixir/concepts/static-access-operator/about.md
  languages/elixir/concepts/static-access-operator/links.json
  languages/elixir/concepts/structs/about.md
  languages/elixir/concepts/structs/links.json
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/structs/.docs/after.md
  languages/elixir/exercises/concept/structs/.meta/design.md
  languages/elixir/reference/README.md
  languages/languages.json
Labels: track/elixir

#2387 [Elixir] errors - replace about.md file with concept files
  languages/elixir/concepts/errors/about.md
  languages/elixir/concepts/errors/links.json
  languages/elixir/concepts/try-rescue/about.md
  languages/elixir/concepts/try-rescue/links.json
  languages/elixir/exercises/concept/errors/.docs/after.md
Labels: track/elixir

#2498 [Java] inheritance - replace about.md file with concept files
  languages/java/concepts/inheritance/about.md
  languages/java/concepts/inheritance/links.json
  languages/java/exercises/concept/inheritance/.docs/after.md
Labels: track/java

#2405 [Java] basics - replace about.md file with concept files
  languages/java/concepts/basics/about.md
  languages/java/concepts/basics/links.json
  languages/java/exercises/concept/basics/.docs/after.md
Labels: track/java

#2406 [Java] booleans - replace about.md file with concept files
  languages/java/concepts/booleans/about.md
  languages/java/concepts/booleans/links.json
  languages/java/exercises/concept/booleans/.docs/after.md
Labels: track/java

#2407 [Java] chars - replace about.md file with concept files
  languages/java/concepts/chars/about.md
  languages/java/exercises/concept/chars/.docs/after.md
Labels: track/java

#2408 [Java] classes - replace about.md file with concept files
  languages/java/concepts/classes/about.md
  languages/java/concepts/classes/links.json
  languages/java/exercises/concept/classes/.docs/after.md
Labels: track/java

#2409 [Java] conditionals - replace about.md file with concept files
  languages/java/concepts/conditionals-if/about.md
  languages/java/concepts/conditionals-if/links.json
  languages/java/exercises/concept/conditionals/.docs/after.md
Labels: track/java

#2467 [Swift] arrays - replace about.md file with concept files
  languages/swift/concepts/arrays/about.md
  languages/swift/concepts/arrays/links.json
  languages/swift/exercises/concept/arrays/.docs/after.md
Labels: track/swift

#2486 [Swift] conditionals - replace about.md file with concept files
  languages/swift/concepts/booleans/about.md
  languages/swift/concepts/conditionals-guard/about.md
  languages/swift/concepts/conditionals-if/about.md
  languages/swift/concepts/conditionals-switch/about.md
  languages/swift/concepts/ternary-operator/about.md
  languages/swift/concepts/ternary-operator/links.json
  languages/swift/config.json
  languages/swift/exercises/concept/conditionals/.docs/after.md
Labels: track/swift

#2494 [Swift] strings-and-characters - replace about.md file with concept files
  languages/swift/concepts/characters/about.md
  languages/swift/concepts/strings-and-characters/about.md
  languages/swift/concepts/strings-and-characters/links.json
  languages/swift/concepts/strings/about.md
  languages/swift/concepts/strings/links.json
  languages/swift/config.json
Labels: track/swift

#2496 [Swift] tuples - replace about.md file with concept files
  languages/swift/concepts/tuples/about.md
  languages/swift/exercises/concept/tuples/.docs/after.md
Labels: track/swift

#2487 [Swift] enums - replace about.md file with concept files
  languages/swift/concepts/enumerations/about.md
  languages/swift/exercises/concept/enums/.docs/after.md
Labels: track/swift

#2485 [Swift] closures - replace about.md file with concept files
  languages/swift/concepts/capturing/about.md
  languages/swift/concepts/capturing/links.json
  languages/swift/concepts/closures/about.md
  languages/swift/concepts/closures/links.json
  languages/swift/concepts/shorthand-arguments/about.md
  languages/swift/concepts/shorthand-arguments/links.json
  languages/swift/concepts/trailing-closures/about.md
  languages/swift/concepts/trailing-closures/links.json
Labels: track/swift

#2489 [Swift] higher-order-functions - replace about.md file with concept files
  languages/swift/concepts/escaping-functions/about.md
  languages/swift/concepts/escaping-functions/links.json
  languages/swift/concepts/higher-order-functions/about.md
  languages/swift/config.json
  languages/swift/exercises/concept/higher-order-functions/.docs/after.md
Labels: track/swift

#2491 [Swift] numbers - replace about.md file with concept files
  languages/swift/concepts/numbers/about.md
  languages/swift/exercises/concept/numbers/.docs/after.md
Labels: track/swift

#2490 [Swift] loops - replace about.md file with concept files
  languages/swift/concepts/control-transfer/about.md
  languages/swift/concepts/control-transfer/links.json
  languages/swift/concepts/for-loops/about.md
  languages/swift/concepts/for-loops/links.json
  languages/swift/concepts/loops/about.md
  languages/swift/concepts/loops/links.json
  languages/swift/concepts/repeat-while/about.md
  languages/swift/concepts/repeat-while/links.json
  languages/swift/concepts/while-loops/about.md
  languages/swift/concepts/while-loops/links.json
  languages/swift/config.json
  languages/swift/exercises/concept/loops/.docs/after.md
Labels: track/swift

#2414 [Java] ternary-operators - replace about.md file with concept files
  languages/java/concepts/ternary-operators/about.md
  languages/java/concepts/ternary-operators/links.json
  languages/java/exercises/concept/ternary-operators/.docs/after.md
Labels: track/java

#2411 [Java] interfaces - replace about.md file with concept files
  languages/java/concepts/interfaces/about.md
  languages/java/concepts/interfaces/links.json
  languages/java/exercises/concept/interfaces/.docs/after.md
Labels: track/java

#2497 [Java] switch-statement - replace about.md file with concept files
  languages/java/concepts/switch-statement/about.md
  languages/java/concepts/switch-statement/links.json
Labels: track/java

#2410 [Java] constructors - replace about.md file with concept files
  languages/java/concepts/constructors/about.md
  languages/java/concepts/constructors/links.json
  languages/java/exercises/concept/constructors/.docs/after.md
Labels: track/java

#2413 [Java] strings - replace about.md file with concept files
  languages/java/concepts/strings/about.md
  languages/java/concepts/strings/links.json
  languages/java/exercises/concept/strings/.docs/after.md
Labels: track/java

#2412 [Java] numbers - replace about.md file with concept files
  languages/java/concepts/numbers/about.md
  languages/java/concepts/numbers/links.json
  languages/java/exercises/concept/numbers/.docs/after.md
Labels: track/java

#2404 [Java] arrays - replace about.md file with concept files
  languages/java/concepts/arrays/about.md
  languages/java/concepts/arrays/links.json
  languages/java/exercises/concept/arrays/.docs/after.md
Labels: track/java

#2512 [Elixir] Fix discrepancies between `config.json` and `design.md`s
  languages/elixir/concepts/dynamic-dispatch/about.md
  languages/elixir/concepts/dynamic-dispatch/links.json
  languages/elixir/concepts/protocols/about.md
  languages/elixir/concepts/protocols/links.json
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/agent/.meta/design.md
  languages/elixir/exercises/concept/anonymous-functions/.meta/design.md
  languages/elixir/exercises/concept/binary-matching/.meta/design.md
  languages/elixir/exercises/concept/bitstrings/.meta/design.md
  languages/elixir/exercises/concept/cond/.meta/design.md
  languages/elixir/exercises/concept/maps/.meta/design.md
  languages/elixir/exercises/concept/multiple-clause-functions/.meta/design.md
Labels: track/elixir

#2349 [Python] tuples - replace about.md file with concept files
  languages/python/concepts/tuples/about.md
  languages/python/concepts/tuples/links.json
  languages/python/exercises/concept/tuples/.docs/after.md
Labels: track/python

#2350 [Python] basics - replace about.md file with concept files
  languages/python/concepts/basics/about.md
  languages/python/concepts/basics/links.json
  languages/python/exercises/concept/basics/.docs/after.md
Labels: track/python

#2348 [Python] strings - replace about.md file with concept files
  languages/python/concepts/strings/about.md
  languages/python/concepts/strings/links.json
  languages/python/exercises/concept/strings/.docs/after.md
Labels: track/python

#2521 [C#] remove enum from config and from the switch exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/switch-statements/.docs/after.md
  languages/csharp/exercises/concept/switch-statements/.docs/instructions.md
  languages/csharp/exercises/concept/switch-statements/.docs/introduction.md
  languages/csharp/exercises/concept/switch-statements/.meta/Example.cs
  languages/csharp/exercises/concept/switch-statements/.meta/config.json
  languages/csharp/exercises/concept/switch-statements/.meta/design.md
  languages/csharp/exercises/concept/switch-statements/SwitchStatements.cs
  languages/csharp/exercises/concept/switch-statements/SwitchStatementsTests.cs
Labels: track/csharp

#2340 [F#] discriminated-unions - replace about.md file with concept files
  languages/fsharp/concepts/discriminated-unions/about.md
  languages/fsharp/concepts/discriminated-unions/links.json
  languages/fsharp/exercises/concept/discriminated-unions/.docs/after.md
Labels: track/fsharp

#2336 [F#] arrays - replace about.md file with concept files
  languages/fsharp/concepts/arrays/about.md
  languages/fsharp/concepts/arrays/links.json
  languages/fsharp/exercises/concept/arrays/.docs/after.md
Labels: track/fsharp

#2338 [F#] booleans - replace about.md file with concept files
  languages/fsharp/concepts/booleans/about.md
  languages/fsharp/concepts/booleans/links.json
  languages/fsharp/exercises/concept/booleans/.docs/after.md
Labels: track/fsharp

#2339 [F#] datetimes - replace about.md file with concept files
  languages/fsharp/concepts/datetimes/about.md
  languages/fsharp/concepts/datetimes/links.json
  languages/fsharp/exercises/concept/datetimes/.docs/after.md
Labels: track/fsharp

#2341 [F#] floating-point-numbers - replace about.md file with concept files
  languages/fsharp/concepts/floating-point-numbers/about.md
  languages/fsharp/concepts/floating-point-numbers/links.json
  languages/fsharp/exercises/concept/floating-point-numbers/.docs/after.md
Labels: track/fsharp

#2342 [F#] lists - replace about.md file with concept files
  languages/fsharp/concepts/lists/about.md
  languages/fsharp/concepts/lists/links.json
  languages/fsharp/exercises/concept/lists/.docs/after.md
Labels: track/fsharp

#2344 [F#] pattern-matching - replace about.md file with concept files
  languages/fsharp/concepts/pattern-matching/about.md
  languages/fsharp/concepts/pattern-matching/links.json
  languages/fsharp/exercises/concept/pattern-matching/.docs/after.md
Labels: track/fsharp

#2345 [F#] records - replace about.md file with concept files
  languages/fsharp/concepts/records/about.md
  languages/fsharp/concepts/records/links.json
  languages/fsharp/exercises/concept/records/.docs/after.md
Labels: track/fsharp

#2346 [F#] recursion - replace about.md file with concept files
  languages/fsharp/concepts/recursion/about.md
  languages/fsharp/concepts/recursion/links.json
  languages/fsharp/exercises/concept/recursion/.docs/after.md
Labels: track/fsharp

#2347 [F#] strings - replace about.md file with concept files
  languages/fsharp/concepts/strings/about.md
  languages/fsharp/concepts/strings/links.json
  languages/fsharp/exercises/concept/strings/.docs/after.md
Labels: track/fsharp

#2337 [F#] basics - replace about.md file with concept files
  languages/fsharp/concepts/basics/about.md
  languages/fsharp/concepts/basics/links.json
  languages/fsharp/exercises/concept/basics/.docs/after.md
Labels: track/fsharp

#2343 [F#] numbers - replace about.md file with concept files
  languages/fsharp/concepts/conditionals/about.md
  languages/fsharp/concepts/conditionals/links.json
  languages/fsharp/concepts/numbers/about.md
  languages/fsharp/concepts/numbers/links.json
  languages/fsharp/exercises/concept/numbers/.docs/after.md
Labels: track/fsharp

#2462 [C#] tuples - replace about.md file with concept files
  languages/csharp/concepts/tuples/about.md
  languages/csharp/concepts/tuples/links.json
  languages/csharp/exercises/concept/tuples/.docs/after.md
Labels: track/csharp

#2459 [C#] structs - replace about.md file with concept files
  languages/csharp/concepts/structs/about.md
  languages/csharp/concepts/structs/links.json
  languages/csharp/exercises/concept/structs/.docs/after.md
Labels: track/csharp

#2458 [C#] strings - replace about.md file with concept files
  languages/csharp/concepts/strings/about.md
  languages/csharp/concepts/strings/links.json
  languages/csharp/exercises/concept/strings/.docs/after.md
Labels: track/csharp

#2463 [C#] user-defined-exceptions - replace about.md file with concept files
  languages/csharp/concepts/exception-filtering/about.md
  languages/csharp/concepts/exception-filtering/links.json
  languages/csharp/concepts/user-defined-exceptions/about.md
  languages/csharp/concepts/user-defined-exceptions/links.json
  languages/csharp/exercises/concept/user-defined-exceptions/.docs/after.md
Labels: track/csharp

#2461 [C#] time - replace about.md file with concept files
  languages/csharp/concepts/time/about.md
  languages/csharp/concepts/time/links.json
  languages/csharp/concepts/timezone/links.json
  languages/csharp/exercises/concept/time/.docs/after.md
Labels: track/csharp

#2456 [C#] resource-lifetime - replace about.md file with concept files
  languages/csharp/concepts/resource-lifetime/about.md
  languages/csharp/concepts/resource-lifetime/links.json
  languages/csharp/exercises/concept/resource-lifetime/.docs/after.md
Labels: track/csharp

#2368 [Go] time - replace about.md file with concept files
  languages/go/concepts/time/about.md
  languages/go/concepts/time/links.json
  languages/go/exercises/concept/time/.docs/after.md
Labels: track/go

#2367 [Go] structs - replace about.md file with concept files
  languages/go/concepts/structs/about.md
  languages/go/concepts/structs/links.json
  languages/go/exercises/concept/structs/.docs/after.md
Labels: track/go

#2525 Remove myself because I could not help as maintainer as anticipated!
  languages/python/maintainers.md
Labels: track/python

#2455 [C#] resource-cleanup - replace about.md file with concept files
  languages/csharp/concepts/resource-cleanup/about.md
  languages/csharp/concepts/resource-cleanup/links.json
  languages/csharp/exercises/concept/resource-cleanup/.docs/after.md
Labels: track/csharp

#2453 [C#] randomness - replace about.md file with concept files
  languages/csharp/concepts/randomness/about.md
  languages/csharp/concepts/randomness/links.json
  languages/csharp/exercises/concept/randomness/.docs/after.md
Labels: track/csharp

#2452 [C#] properties - replace about.md file with concept files
  languages/csharp/concepts/properties/about.md
  languages/csharp/exercises/concept/properties/.docs/after.md
Labels: track/csharp

#2451 [C#] parameters - replace about.md file with concept files
  languages/csharp/concepts/parameters/about.md
  languages/csharp/concepts/parameters/links.json
  languages/csharp/exercises/concept/parameters/.docs/after.md
Labels: track/csharp

#2449 [C#] operator-overloading - replace about.md file with concept files
  languages/csharp/concepts/operator-overloading/about.md
  languages/csharp/concepts/operator-overloading/links.json
  languages/csharp/exercises/concept/operator-overloading/.docs/after.md
Labels: track/csharp

#2448 [C#] object-initializers - replace about.md file with concept files
  languages/csharp/concepts/object-initializers/about.md
  languages/csharp/concepts/object-initializers/links.json
  languages/csharp/exercises/concept/object-initializers/.docs/after.md
Labels: track/csharp

#2446 [C#] nullability - replace about.md file with concept files
  languages/csharp/concepts/nullability/about.md
  languages/csharp/concepts/nullability/links.json
  languages/csharp/exercises/concept/nullability/.docs/after.md
Labels: track/csharp

#2457 [C#] string-formatting - replace about.md file with concept files
  languages/csharp/concepts/string-formatting/about.md
  languages/csharp/concepts/string-formatting/links.json
  languages/csharp/concepts/verbatim-strings/about.md
  languages/csharp/concepts/verbatim-strings/links.json
  languages/csharp/exercises/concept/string-formatting/.docs/after.md
Labels: track/csharp

#2454 [C#] regular-expressions - replace about.md file with concept files
  languages/csharp/concepts/regular-expressions/about.md
  languages/csharp/concepts/regular-expressions/links.json
  languages/csharp/exercises/concept/regular-expressions/.docs/after.md
Labels: track/csharp

#2442 [C#] lists - replace about.md file with concept files
  languages/csharp/concepts/generic-types/about.md
  languages/csharp/concepts/generic-types/links.json
  languages/csharp/concepts/lists/about.md
  languages/csharp/concepts/lists/links.json
  languages/csharp/exercises/concept/lists/.docs/after.md
Labels: track/csharp

#2443 [C#] method-overloading - replace about.md file with concept files
  languages/csharp/concepts/method-overloading/about.md
  languages/csharp/concepts/method-overloading/links.json
  languages/csharp/concepts/named-arguments/about.md
  languages/csharp/concepts/named-arguments/links.json
  languages/csharp/concepts/optional-parameters/about.md
  languages/csharp/concepts/optional-parameters/links.json
  languages/csharp/exercises/concept/method-overloading/.docs/after.md
Labels: track/csharp

#2444 [C#] namespaces - replace about.md file with concept files
  languages/csharp/concepts/namespaces/about.md
  languages/csharp/concepts/namespaces/links.json
  languages/csharp/exercises/concept/namespaces/.docs/after.md
Labels: track/csharp

#2445 [C#] nested-types - replace about.md file with concept files
  languages/csharp/concepts/nested-types/about.md
  languages/csharp/concepts/nested-types/links.json
  languages/csharp/exercises/concept/nested-types/.docs/after.md
Labels: track/csharp

#2447 [C#] numbers - replace about.md file with concept files
  languages/csharp/concepts/if-statements/about.md
  languages/csharp/concepts/numbers/about.md
  languages/csharp/concepts/numbers/links.json
  languages/csharp/exercises/concept/numbers/.docs/after.md
Labels: track/csharp

#2450 [C#] overflow - replace about.md file with concept files
  languages/csharp/concepts/overflow/about.md
  languages/csharp/concepts/overflow/links.json
  languages/csharp/exercises/concept/overflow/.docs/after.md
Labels: track/csharp

#2441 [C#] interfaces - replace about.md file with concept files
  languages/csharp/concepts/interfaces/about.md
  languages/csharp/concepts/interfaces/links.json
  languages/csharp/exercises/concept/interfaces/.docs/after.md
Labels: track/csharp

#2440 [C#] integral-numbers - replace about.md file with concept files
  languages/csharp/concepts/integral-numbers/about.md
  languages/csharp/concepts/integral-numbers/links.json
  languages/csharp/exercises/concept/integral-numbers/.docs/after.md
Labels: track/csharp

#2439 [C#] inheritance - replace about.md file with concept files
  languages/csharp/concepts/inheritance/about.md
  languages/csharp/concepts/inheritance/links.json
  languages/csharp/exercises/concept/inheritance/.docs/after.md
Labels: track/csharp

#2435 [C#] exceptions - replace about.md file with concept files
  languages/csharp/concepts/exceptions/about.md
  languages/csharp/exercises/concept/exceptions/.docs/after.md
Labels: track/csharp

#2432 [C#] dictionaries - replace about.md file with concept files
  languages/csharp/concepts/dictionaries/about.md
  languages/csharp/concepts/dictionaries/links.json
  languages/csharp/exercises/concept/dictionaries/.docs/after.md
Labels: track/csharp

#2431 [C#] datetimes - replace about.md file with concept files
  languages/csharp/concepts/datetimes/about.md
  languages/csharp/concepts/datetimes/links.json
  languages/csharp/exercises/concept/datetimes/.docs/after.md
Labels: track/csharp

#2430 [C#] constructors - replace about.md file with concept files
  languages/csharp/concepts/constructors/about.md
  languages/csharp/concepts/constructors/links.json
  languages/csharp/exercises/concept/constructors/.docs/after.md
Labels: track/csharp

#2428 [C#] classes - replace about.md file with concept files
  languages/csharp/concepts/classes/about.md
  languages/csharp/concepts/classes/links.json
  languages/csharp/exercises/concept/classes/.docs/after.md
Labels: track/csharp

#2437 [C#] flag-enums - replace about.md file with concept files
  languages/csharp/concepts/bit-manipulation/about.md
  languages/csharp/concepts/bit-manipulation/links.json
  languages/csharp/concepts/compound-assignment/about.md
  languages/csharp/concepts/compound-assignment/links.json
  languages/csharp/concepts/flag-enums/about.md
  languages/csharp/concepts/flag-enums/links.json
  languages/csharp/exercises/concept/flag-enums/.docs/after.md
Labels: track/csharp

#2436 [C#] expression-bodied-members - replace about.md file with concept files
  languages/csharp/concepts/conditionals-ternary/about.md
  languages/csharp/concepts/conditionals-ternary/links.json
  languages/csharp/concepts/expression-bodied-members/about.md
  languages/csharp/concepts/expression-bodied-members/links.json
  languages/csharp/concepts/switch-expressions/about.md
  languages/csharp/concepts/switch-expressions/links.json
  languages/csharp/concepts/throw-expressions/about.md
  languages/csharp/concepts/throw-expressions/links.json
  languages/csharp/exercises/concept/expression-bodied-members/.docs/after.md
Labels: track/csharp

#2434 [C#] equality - replace about.md file with concept files
  languages/csharp/concepts/equality/about.md
  languages/csharp/concepts/equality/links.json
  languages/csharp/exercises/concept/equality/.docs/after.md
Labels: track/csharp

#2433 [C#] enums - replace about.md file with concept files
  languages/csharp/concepts/enums/about.md
  languages/csharp/exercises/concept/enums/.docs/after.md
Labels: track/csharp

#2425 [C#] booleans - replace about.md file with concept files
  languages/csharp/concepts/booleans/about.md
  languages/csharp/concepts/booleans/links.json
  languages/csharp/exercises/concept/booleans/.docs/after.md
Labels: track/csharp

#2424 [C#] basics - replace about.md file with concept files
  languages/csharp/concepts/basics/about.md
  languages/csharp/concepts/basics/links.json
  languages/csharp/exercises/concept/basics/.docs/after.md
Labels: track/csharp

#2429 [C#] constants - replace about.md file with concept files
  languages/csharp/concepts/constants/about.md
  languages/csharp/concepts/constants/links.json
  languages/csharp/concepts/defensive-copying/about.md
  languages/csharp/concepts/defensive-copying/links.json
  languages/csharp/concepts/readonly-collections/links.json
  languages/csharp/exercises/concept/constants/.docs/after.md
Labels: track/csharp

#2426 [C#] casting - replace about.md file with concept files
  languages/csharp/concepts/casting/about.md
  languages/csharp/concepts/casting/links.json
  languages/csharp/exercises/concept/casting/.docs/after.md
Labels: track/csharp

#2427 [C#] chars - replace about.md file with concept files
  languages/csharp/concepts/chars/about.md
  languages/csharp/concepts/chars/links.json
  languages/csharp/concepts/string-builder/about.md
  languages/csharp/concepts/string-builder/links.json
  languages/csharp/exercises/concept/chars/.docs/after.md
Labels: track/csharp

#2423 [C#] arrays - replace about.md file with concept files
  languages/csharp/concepts/arrays/about.md
  languages/csharp/concepts/arrays/links.json
  languages/csharp/concepts/for-loops/about.md
  languages/csharp/concepts/for-loops/links.json
  languages/csharp/concepts/foreach-loops/about.md
  languages/csharp/concepts/foreach-loops/links.json
  languages/csharp/exercises/concept/arrays/.docs/after.md
Labels: track/csharp

#2365 [Go] strings - replace about.md file with concept files
  languages/go/concepts/strings/about.md
  languages/go/concepts/strings/links.json
  languages/go/exercises/concept/strings/.docs/after.md
Labels: track/go

#2362 [Go] maps - replace about.md file with concept files
  languages/go/concepts/maps/about.md
  languages/go/concepts/maps/links.json
  languages/go/exercises/concept/maps/.docs/after.md
Labels: track/go

#2358 [Go] booleans - replace about.md file with concept files
  languages/go/concepts/booleans/about.md
  languages/go/concepts/booleans/links.json
  languages/go/exercises/concept/booleans/.docs/after.md
Labels: track/go

#2359 [Go] comments - replace about.md file with concept files
  languages/go/concepts/comments/about.md
  languages/go/concepts/comments/links.json
  languages/go/exercises/concept/comments/.docs/after.md
Labels: track/go

#2533 Bools: Add Links and Clean Up Concept Doc
  languages/python/concepts/bools/about.md
  languages/python/concepts/bools/links.json
  languages/python/exercises/concept/bools/.docs/introduction.md
  languages/python/exercises/concept/bools/.meta/design.md
Labels: track/python

#2530 Update documentation for Lists.
  languages/elixir/concepts/lists/about.md
Labels: track/elixir

#2361 [Go] errors - replace about.md file with concept files
  languages/go/concepts/errors/about.md
  languages/go/exercises/concept/errors/.docs/after.md
Labels: track/go
