Repository exercism/v3, pull requests merged in 2020-08, with the labels that each got.

#2118 [Go] cleanup config.json
  languages/README.md
  languages/go/config.json
  languages/go/exercises/concept/zero-value/.docs/after.md
  languages/go/exercises/concept/zero-value/.docs/hints.md
  languages/go/exercises/concept/zero-value/.docs/instructions.md
  languages/go/exercises/concept/zero-value/.docs/introduction.md
  languages/go/exercises/concept/zero-value/.meta/config.json
  languages/go/exercises/concept/zero-value/.meta/design.md
  languages/go/exercises/concept/zero-value/.meta/example.go
  languages/go/exercises/concept/zero-value/go.mod
  languages/go/exercises/concept/zero-value/zero_value.go
  languages/go/exercises/concept/zero-value/zero_value_test.go
  reference/README.md
Labels: track/go

#2075 [Java] Implement new Concept Exercise: arrays
  languages/java/config.json
  languages/java/exercises/concept/arrays/.docs/after.md
  languages/java/exercises/concept/arrays/.docs/hints.md
  languages/java/exercises/concept/arrays/.docs/instructions.md
  languages/java/exercises/concept/arrays/.docs/introduction.md
  languages/java/exercises/concept/arrays/.meta/config.json
  languages/java/exercises/concept/arrays/.meta/design.md
  languages/java/exercises/concept/arrays/.meta/src/reference/java/BirdCount.java
  languages/java/exercises/concept/arrays/build.gradle
  languages/java/exercises/concept/arrays/src/main/java/BirdCount.java
  languages/java/exercises/concept/arrays/src/test/java/BirdCountTest.java
  languages/java/exercises/settings.gradle
Labels: track/java, type/new-exercise

#1936 [Python] Implement new Concept Exercise: dicts (new PR)
  languages/python/exercises/concept/dicts/.docs/after.md
  languages/python/exercises/concept/dicts/.docs/hints.md
  languages/python/exercises/concept/dicts/.docs/instructions.md
  languages/python/exercises/concept/dicts/.docs/introduction.md
  languages/python/exercises/concept/dicts/.meta/config.json
  languages/python/exercises/concept/dicts/.meta/design.md
  languages/python/exercises/concept/dicts/.meta/example.py
  languages/python/exercises/concept/dicts/dicts.py
  languages/python/exercises/concept/dicts/dicts_test.py
Labels: track/python, type/new-exercise

#2128 [Ruby] Add slug to config.json
  languages/ruby/config.json
Labels: track/ruby

#1926 [Docs] begin the Rust track's merging guidelines document
  languages/rust/reference/merge-strategy.md
Labels: track/rust, type/new-reference-doc

#1905 [C#] operator-overloading new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/operator-overloading/.docs/after.md
  languages/csharp/exercises/concept/operator-overloading/.docs/hints.md
  languages/csharp/exercises/concept/operator-overloading/.docs/instructions.md
  languages/csharp/exercises/concept/operator-overloading/.docs/introduction.md
  languages/csharp/exercises/concept/operator-overloading/.meta/Example.cs
  languages/csharp/exercises/concept/operator-overloading/.meta/config.json
  languages/csharp/exercises/concept/operator-overloading/.meta/design.md
  languages/csharp/exercises/concept/operator-overloading/OperatorOverloading.cs
  languages/csharp/exercises/concept/operator-overloading/OperatorOverloading.csproj
  languages/csharp/exercises/concept/operator-overloading/OperatorOverloadingTests.cs
Labels: track/csharp, type/new-exercise

#1880 [C#] expression-bodied-members new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/expression-bodied-members/.docs/after.md
  languages/csharp/exercises/concept/expression-bodied-members/.docs/hints.md
  languages/csharp/exercises/concept/expression-bodied-members/.docs/instructions.md
  languages/csharp/exercises/concept/expression-bodied-members/.docs/introduction.md
  languages/csharp/exercises/concept/expression-bodied-members/.meta/Example.cs
  languages/csharp/exercises/concept/expression-bodied-members/.meta/config.json
  languages/csharp/exercises/concept/expression-bodied-members/.meta/design.md
  languages/csharp/exercises/concept/expression-bodied-members/ExpressionBodiedMembers.cs
  languages/csharp/exercises/concept/expression-bodied-members/ExpressionBodiedMembers.csproj
  languages/csharp/exercises/concept/expression-bodied-members/ExpressionBodiedMembersTests.cs
Labels: track/csharp, type/new-exercise

#1877 [C#] constants new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/constants/.docs/after.md
  languages/csharp/exercises/concept/constants/.docs/hints.md
  languages/csharp/exercises/concept/constants/.docs/instructions.md
  languages/csharp/exercises/concept/constants/.docs/introduction.md
  languages/csharp/exercises/concept/constants/.meta/Example.cs
  languages/csharp/exercises/concept/constants/.meta/config.json
  languages/csharp/exercises/concept/constants/.meta/design.md
  languages/csharp/exercises/concept/constants/Constants.cs
  languages/csharp/exercises/concept/constants/Constants.csproj
  languages/csharp/exercises/concept/constants/ConstantsTests.cs
Labels: track/csharp, type/new-exercise

#1655 [C#] Added Exceptions exercise
  languages/csharp/exercises/concept/exceptions/.docs/after.md
  languages/csharp/exercises/concept/exceptions/.docs/hints.md
  languages/csharp/exercises/concept/exceptions/.docs/instructions.md
  languages/csharp/exercises/concept/exceptions/.docs/introduction.md
  languages/csharp/exercises/concept/exceptions/.meta/Example.cs
  languages/csharp/exercises/concept/exceptions/.meta/config.json
  languages/csharp/exercises/concept/exceptions/.meta/design.md
  languages/csharp/exercises/concept/exceptions/Exceptions.cs
  languages/csharp/exercises/concept/exceptions/Exceptions.csproj
  languages/csharp/exercises/concept/exceptions/ExceptionsTests.cs
Labels: track/csharp

#2139 [C#] fix LogLevel method in Strings Concept exercise
  languages/csharp/exercises/concept/strings/.meta/Example.cs
Labels: track/csharp

#2022 [Swift] address comments on conditionals exercise
  languages/swift/exercises/concept/conditionals/.docs/after.md
  languages/swift/exercises/concept/conditionals/.docs/hints.md
  languages/swift/exercises/concept/conditionals/.docs/instructions.md
  languages/swift/exercises/concept/conditionals/.docs/introduction.md
  languages/swift/exercises/concept/conditionals/.meta/Example.swift
  languages/swift/exercises/concept/conditionals/.meta/design.md
  languages/swift/exercises/concept/conditionals/Sources/Conditionals/Conditionals.swift
  languages/swift/exercises/concept/conditionals/Tests/ConditionalsTests/ConditionalsTests.swift
  languages/swift/exercises/concept/conditionals/Tests/ConditionalsTests/XCTestManifests.swift
  languages/swift/exercises/concept/conditionals/Tests/LinuxMain.swift
Labels: track/swift

#2166 [Ruby] Fix test_pattern
  languages/ruby/config.json
Labels: track/ruby

#2144 [Java] chars exercise
  languages/java/config.json
  languages/java/exercises/concept/README.md
  languages/java/exercises/concept/chars/.docs/after.md
  languages/java/exercises/concept/chars/.docs/hints.md
  languages/java/exercises/concept/chars/.docs/instructions.md
  languages/java/exercises/concept/chars/.docs/introduction.md
  languages/java/exercises/concept/chars/.meta/config.json
  languages/java/exercises/concept/chars/.meta/design.md
  languages/java/exercises/concept/chars/.meta/src/reference/java/Identifier.java
  languages/java/exercises/concept/chars/build.gradle
  languages/java/exercises/concept/chars/src/main/java/Identifier.java
  languages/java/exercises/concept/chars/src/test/java/IdentifierTest.java
  languages/java/exercises/settings.gradle
Labels: status/in-progress, track/java, type/new-exercise

#2182 [Nim] Extract concepts from protein-translation
  languages/nim/reference/exercise-concepts/protein-translation.md
Labels: track/nim, type/documentation

#2136 Update config.json - remove duplicate exercise
  languages/csharp/config.json
Labels: track/csharp

#2162 [C#] new csharp exercise report action and revised csharp/reference/README.md
  .github/bin/csharp-exercise-report/.gitignore
  .github/bin/csharp-exercise-report/AssemblyInfo.cs
  .github/bin/csharp-exercise-report/Constants.cs
  .github/bin/csharp-exercise-report/Data/exercise_report_intro.md-ish
  .github/bin/csharp-exercise-report/Data/exercises_json_header.txt
  .github/bin/csharp-exercise-report/DesignDocFileHandler.cs
  .github/bin/csharp-exercise-report/DesignDocParser.cs
  .github/bin/csharp-exercise-report/DesignDocReader.cs
  .github/bin/csharp-exercise-report/Error.cs
  .github/bin/csharp-exercise-report/ErrorFileHandler.cs
  .github/bin/csharp-exercise-report/ErrorJsonParser.cs
  .github/bin/csharp-exercise-report/ErrorWriter.cs
  .github/bin/csharp-exercise-report/ExerciseFileHandler.cs
  .github/bin/csharp-exercise-report/ExerciseJsonParser.cs
  .github/bin/csharp-exercise-report/ExerciseMerger.cs
  .github/bin/csharp-exercise-report/ExerciseObjectTree.cs
  .github/bin/csharp-exercise-report/ExerciseReader.cs
  .github/bin/csharp-exercise-report/ExerciseReport.csproj
  .github/bin/csharp-exercise-report/LearningObjectives.cs
  .github/bin/csharp-exercise-report/MyDebug.cs
  .github/bin/csharp-exercise-report/PathNames.cs
  .github/bin/csharp-exercise-report/Program.cs
  .github/bin/csharp-exercise-report/README.md
  .github/bin/csharp-exercise-report/ReportFileHandler.cs
  .github/bin/csharp-exercise-report/ReportFormatter.cs
  .github/bin/csharp-exercise-report/ReportProcessor.cs
  .github/bin/csharp-exercise-report/ReportWriter.cs
  .github/bin/csharp-exercise-report/Utils.cs
  .github/bin/csharp-exercise-report/update.sh
  .github/workflows/csharp-exercise-report.yml
  languages/csharp/exercises/concept/basics/.meta/design.md
  languages/csharp/exercises/concept/structs/.meta/design.md
  languages/csharp/reference/README.md
  languages/csharp/reference/exercise-errors.json
  languages/csharp/reference/exercises.json
Labels: track/csharp, type/ci

#2190 [Pharo] Bootstrap
  .github/labeler.yml
  README.md
  languages/_sidebar.md
  languages/pharo-smalltalk/README.md
  languages/pharo-smalltalk/maintainers.md
  languages/pharo-smalltalk/reference/implementing-a-concept-exercise.md
Labels: track/pharo-smalltalk, type/ci

#2210 [C#] clean-concepts - allocated some unallocated concepts
  languages/csharp/config.json
  languages/csharp/exercises/concept/arrays/.meta/design.md
  languages/csharp/exercises/concept/chars/.meta/design.md
  languages/csharp/exercises/concept/classes/.meta/design.md
  languages/csharp/exercises/concept/constructors/.meta/design.md
  languages/csharp/exercises/concept/enums/.meta/design.md
  languages/csharp/exercises/concept/expression-bodied-members/.meta/design.md
  languages/csharp/exercises/concept/floating-point-numbers/.meta/design.md
  languages/csharp/exercises/concept/inheritance/.meta/design.md
  languages/csharp/exercises/concept/nullability/.meta/design.md
  languages/csharp/exercises/concept/numbers/.meta/design.md
  languages/csharp/exercises/concept/parameters/.meta/design.md
  languages/csharp/exercises/concept/time/.meta/design.md
  languages/csharp/exercises/concept/tuples/.meta/design.md
  languages/csharp/exercises/concept/user-defined-exceptions/.meta/design.md
  languages/csharp/reference/exercises.json
Labels: track/csharp, type/improve-exercise

#2143 [Swift] Add progression flow
  languages/swift/README.md
  languages/swift/reference/README.md
  languages/swift/reference/_sidebar.md
  languages/swift/reference/implementing-a-concept-exercise.md
  languages/swift/reference/progression.md
Labels: track/swift

#2097 [Common Lisp] Implement new Concept Exercise: conditionals
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/conditionals/.docs/after.md
  languages/common-lisp/exercises/concept/conditionals/.docs/hints.md
  languages/common-lisp/exercises/concept/conditionals/.docs/instructions.md
  languages/common-lisp/exercises/concept/conditionals/.docs/introduction.md
  languages/common-lisp/exercises/concept/conditionals/.meta/config.json
  languages/common-lisp/exercises/concept/conditionals/.meta/design.md
  languages/common-lisp/exercises/concept/conditionals/.meta/example.lisp
  languages/common-lisp/exercises/concept/conditionals/conditionals-test.lisp
  languages/common-lisp/exercises/concept/conditionals/conditionals.lisp
Labels: track/common-lisp

#2193 [Rust] categorize v3 track documentation
  languages/rust/howto/README.md
  languages/rust/howto/implementing-a-concept-exercise.md
Labels: track/rust, type/documentation

#1927 [Docs] remove TODOs from Rust reference
  languages/rust/reference/README.md
Labels: track/rust, type/documentation, type/improve-reference-doc

#2141 [Swift] Add Strings and Characters concept exercise
  languages/swift/config.json
  languages/swift/exercises/concept/strings-and-characters/.docs/after.md
  languages/swift/exercises/concept/strings-and-characters/.docs/hints.md
  languages/swift/exercises/concept/strings-and-characters/.docs/instructions.md
  languages/swift/exercises/concept/strings-and-characters/.docs/introduction.md
  languages/swift/exercises/concept/strings-and-characters/.gitignore
  languages/swift/exercises/concept/strings-and-characters/.meta/Example.swift
  languages/swift/exercises/concept/strings-and-characters/.meta/config.json
  languages/swift/exercises/concept/strings-and-characters/.meta/design.md
  languages/swift/exercises/concept/strings-and-characters/Package.swift
  languages/swift/exercises/concept/strings-and-characters/Sources/stringsAndCharacters/stringsAndCharacters.swift
  languages/swift/exercises/concept/strings-and-characters/Tests/LinuxMain.swift
  languages/swift/exercises/concept/strings-and-characters/Tests/stringsAndCharactersTests/XCTestManifests.swift
  languages/swift/exercises/concept/strings-and-characters/Tests/stringsAndCharactersTests/stringsAndCharactersTests.swift
  languages/swift/exercises/concept/strings/README.md
Labels: track/swift

#2145 [Swift] Modify strings concept exercise
  languages/README.md
  languages/swift/config.json
  languages/swift/exercises/concept/README.md
  languages/swift/exercises/concept/string-components/.docs/after.md
  languages/swift/exercises/concept/string-components/.docs/hints.md
  languages/swift/exercises/concept/string-components/.docs/instructions.md
  languages/swift/exercises/concept/string-components/.docs/introduction.md
  languages/swift/exercises/concept/string-components/.gitignore
  languages/swift/exercises/concept/string-components/.meta/Example.swift
  languages/swift/exercises/concept/string-components/.meta/config.json
  languages/swift/exercises/concept/string-components/.meta/design.md
  languages/swift/exercises/concept/string-components/Package.swift
  languages/swift/exercises/concept/string-components/Sources/stringComponents/stringComponents.swift
  languages/swift/exercises/concept/string-components/Tests/LinuxMain.swift
  languages/swift/exercises/concept/string-components/Tests/stringComponentsTests/XCTestManifests.swift
  languages/swift/exercises/concept/string-components/Tests/stringComponentsTests/stringComponentsTests.swift
  languages/swift/exercises/concept/strings/.docs/after.md
  languages/swift/exercises/concept/strings/.docs/instructions.md
  languages/swift/exercises/concept/strings/.docs/introduction.md
  languages/swift/exercises/concept/strings/.meta/design.md
  languages/swift/exercises/concept/strings/Tests/LinuxMain.swift
  languages/swift/exercises/concept/strings/Tests/StringsTests/XCTestManifests.swift
  reference/README.md
Labels: track/swift

#2221 Csharp/clean concepts 3
  languages/csharp/config.json
  languages/csharp/exercises/concept/datetimes/.meta/design.md
  languages/csharp/exercises/concept/overflow/.meta/design.md
  languages/csharp/exercises/concept/string-formatting/.meta/design.md
  languages/csharp/reference/exercises.json
Labels: track/csharp

#2188 [Nim] Extract concepts from bob exercise
  languages/nim/reference/exercise-concepts/bob.md
Labels: track/nim

#2224 [Docs] Add label: type/launch-checklist
  docs/maintainers/repository-structure.md
Labels: type/documentation
