Repository exercism/v3, pull requests merged in 2020-06, with the labels that each got.

#1530 [C#] Add compound assignment concept to flag-enums exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/flag-enums/.docs/after.md
Labels: track/csharp

#1537 [C#] Improve elapsed time for basics exercise
  languages/csharp/exercises/concept/basics/.docs/hints.md
  languages/csharp/exercises/concept/basics/.docs/instructions.md
  languages/csharp/exercises/concept/basics/.meta/Example.cs
  languages/csharp/exercises/concept/basics/.meta/design.md
  languages/csharp/exercises/concept/basics/Basics.cs
  languages/csharp/exercises/concept/basics/BasicsTests.cs
Labels: track/csharp

#1536 [F#] Improve elapsed time for basics exercise
  languages/fsharp/exercises/concept/basics/.docs/hints.md
  languages/fsharp/exercises/concept/basics/.docs/instructions.md
  languages/fsharp/exercises/concept/basics/.meta/Example.fs
  languages/fsharp/exercises/concept/basics/.meta/design.md
  languages/fsharp/exercises/concept/basics/Basics.fs
  languages/fsharp/exercises/concept/basics/BasicsTests.fs
Labels: track/fsharp

#1531 [F#] Use float instead of double
  languages/fsharp/exercises/concept/discriminated-unions/.docs/after.md
  languages/fsharp/exercises/concept/discriminated-unions/.docs/introduction.md
  languages/fsharp/exercises/concept/floating-point-numbers/.docs/after.md
  languages/fsharp/exercises/concept/floating-point-numbers/.docs/hints.md
  languages/fsharp/exercises/concept/floating-point-numbers/.docs/introduction.md
  languages/fsharp/exercises/concept/floating-point-numbers/.meta/Example.fs
  languages/fsharp/exercises/concept/floating-point-numbers/FloatingPointNumbers.fs
  languages/fsharp/exercises/concept/numbers/.docs/after.md
  languages/fsharp/exercises/concept/numbers/.docs/hints.md
  languages/fsharp/exercises/concept/numbers/.docs/instructions.md
  languages/fsharp/exercises/concept/numbers/.docs/introduction.md
  languages/fsharp/exercises/concept/numbers/.meta/Example.fs
  languages/fsharp/exercises/concept/numbers/.meta/design.md
  languages/fsharp/exercises/concept/numbers/Numbers.fs
Labels: track/fsharp

#1564 Fixed C++ Concept exercises naming
  languages/cpp/config.json
  languages/cpp/exercises/concept/README.md
  languages/cpp/exercises/concept/strings/.meta/design.md
Labels: track/cpp, type/documentation

#1566 [Nim] Bootstrap track
  .github/labeler.yml
  README.md
  languages/_sidebar.md
  languages/nim/README.md
  languages/nim/maintainers.md
  languages/nim/reference/implementing-a-concept-exercise.md
Labels: track/nim, type/ci

#1567 [Docs] Clarify when implementation files are available to the student
  docs/concept-exercises.md
Labels: type/documentation

#1543 [Elixir] New concept exercise: `nil`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/nil/.docs/after.md
  languages/elixir/exercises/concept/nil/.docs/hints.md
  languages/elixir/exercises/concept/nil/.docs/instructions.md
  languages/elixir/exercises/concept/nil/.docs/introduction.md
  languages/elixir/exercises/concept/nil/.formatter.exs
  languages/elixir/exercises/concept/nil/.gitignore
  languages/elixir/exercises/concept/nil/.meta/config.json
  languages/elixir/exercises/concept/nil/.meta/design.md
  languages/elixir/exercises/concept/nil/.meta/example.ex
  languages/elixir/exercises/concept/nil/lib/name_badge.ex
  languages/elixir/exercises/concept/nil/mix.exs
  languages/elixir/exercises/concept/nil/test/name_badge_test.exs
  languages/elixir/exercises/concept/nil/test/test_helper.exs
  reference/stories/nullability.name-badges.md
Labels: track/elixir, type/documentation, type/new-exercise

#1560 [Elixir] New concept exercise: `charlists`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/charlists/.docs/after.md
  languages/elixir/exercises/concept/charlists/.docs/hints.md
  languages/elixir/exercises/concept/charlists/.docs/instructions.md
  languages/elixir/exercises/concept/charlists/.docs/introduction.md
  languages/elixir/exercises/concept/charlists/.formatter.exs
  languages/elixir/exercises/concept/charlists/.gitignore
  languages/elixir/exercises/concept/charlists/.meta/config.json
  languages/elixir/exercises/concept/charlists/.meta/design.md
  languages/elixir/exercises/concept/charlists/.meta/example.ex
  languages/elixir/exercises/concept/charlists/lib/username.ex
  languages/elixir/exercises/concept/charlists/mix.exs
  languages/elixir/exercises/concept/charlists/test/test_helper.exs
  languages/elixir/exercises/concept/charlists/test/username_test.exs
Labels: track/elixir, type/new-exercise

#1569 [Elixir] Trim down `design.md`s by removing repetitive or uninformative sections
  languages/elixir/exercises/concept/anonymous-functions/.meta/design.md
  languages/elixir/exercises/concept/basics/.meta/design.md
  languages/elixir/exercises/concept/booleans/.meta/design.md
  languages/elixir/exercises/concept/charlists/.meta/design.md
  languages/elixir/exercises/concept/conditionals/.meta/design.md
  languages/elixir/exercises/concept/lists/.meta/design.md
  languages/elixir/exercises/concept/maps/.meta/design.md
  languages/elixir/exercises/concept/multiple-clause-functions/.meta/design.md
  languages/elixir/exercises/concept/nil/.meta/design.md
  languages/elixir/exercises/concept/numbers/.meta/design.md
  languages/elixir/exercises/concept/recursion/.meta/design.md
  languages/elixir/exercises/concept/strings/.meta/design.md
  languages/elixir/exercises/concept/tuples/.meta/design.md
Labels: track/elixir, type/documentation

#1576 [C#] Added multi-dim array concept
  languages/csharp/reference/README.md
Labels: track/csharp

#1571 [Nim] Add initial `config.json`
  languages/nim/README.md
  languages/nim/config.json
Labels: track/nim

#1506 [Elixir] Implement Concept Exercise: matching-binary
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/binary-matching/.docs/after.md
  languages/elixir/exercises/concept/binary-matching/.docs/hints.md
  languages/elixir/exercises/concept/binary-matching/.docs/instructions.md
  languages/elixir/exercises/concept/binary-matching/.docs/introduction.md
  languages/elixir/exercises/concept/binary-matching/.formatter.exs
  languages/elixir/exercises/concept/binary-matching/.gitignore
  languages/elixir/exercises/concept/binary-matching/.meta/config.json
  languages/elixir/exercises/concept/binary-matching/.meta/design.md
  languages/elixir/exercises/concept/binary-matching/.meta/example.ex
  languages/elixir/exercises/concept/binary-matching/assets/bmp.bmp
  languages/elixir/exercises/concept/binary-matching/assets/elf.o
  languages/elixir/exercises/concept/binary-matching/assets/gif.gif
  languages/elixir/exercises/concept/binary-matching/assets/jpeg.jpg
  languages/elixir/exercises/concept/binary-matching/assets/png-transparent.png
  languages/elixir/exercises/concept/binary-matching/lib/file_sniffer.ex
  languages/elixir/exercises/concept/binary-matching/mix.exs
  languages/elixir/exercises/concept/binary-matching/test/file_sniffer_test.exs
  languages/elixir/exercises/concept/binary-matching/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/stories/binary-data.file-sniffer.md
Labels: status/draft, track/elixir, type/new-exercise

#1563 Fixed wrong or broken links in C++ documentation
  languages/_sidebar.md
  languages/cpp/exercises/concept/_sidebar.md
  languages/cpp/reference/README.md
Labels: track/cpp, type/documentation

#1559 [Go] Add new Concept Exercise: errors
  languages/go/exercises/concept/errors/.docs/after.md
  languages/go/exercises/concept/errors/.docs/hints.md
  languages/go/exercises/concept/errors/.docs/instructions.md
  languages/go/exercises/concept/errors/.docs/introduction.md
  languages/go/exercises/concept/errors/.meta/config.json
  languages/go/exercises/concept/errors/.meta/design.md
  languages/go/exercises/concept/errors/.meta/sample.go
Labels: status/draft, track/go, type/new-exercise

#1575 [Elixir] New concept exercise: access
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/access/.docs/after.md
  languages/elixir/exercises/concept/access/.docs/hints.md
  languages/elixir/exercises/concept/access/.docs/instructions.md
  languages/elixir/exercises/concept/access/.docs/introduction.md
  languages/elixir/exercises/concept/access/.formatter.exs
  languages/elixir/exercises/concept/access/.gitignore
  languages/elixir/exercises/concept/access/.meta/config.json
  languages/elixir/exercises/concept/access/.meta/design.md
  languages/elixir/exercises/concept/access/.meta/example.ex
  languages/elixir/exercises/concept/access/lib/basketball_website.ex
  languages/elixir/exercises/concept/access/mix.exs
  languages/elixir/exercises/concept/access/test/basketball_website_test.exs
  languages/elixir/exercises/concept/access/test/test_helper.exs
  languages/elixir/reference/README.md
Labels: status/in-progress, track/elixir, type/new-exercise

#1584 [docs] fix typo
  reference/stories/tuples.kitchen-calculator.md
Labels: type/documentation, type/improve-reference-doc

#1582 [CI] /format fallback to HTTPS on forks
  .github/workflows/format-code.yml
Labels: type/ci

#1210 [C] Extract concepts of v2 difference-of-squares exercise
  languages/c/reference/exercise-concepts/difference-of-squares.md
Labels: track/c, type/documentation, type/new-reference-doc

#1204 [C] Extract concepts of v2 resistor-color exercise
  languages/c/reference/exercise-concepts/resistor-color.md
Labels: track/c, type/documentation, type/new-reference-doc

#1205 [C] Extract concepts of v2 isogram exercise
  languages/c/reference/exercise-concepts/isogram.md
Labels: track/c, type/documentation, type/new-reference-doc

#1209 [C] Extract concepts of v2 hamming exercise
  languages/c/reference/exercise-concepts/hamming.md
Labels: track/c, type/documentation, type/new-reference-doc

#1598 [Elixir] Attribute others for their work
  languages/elixir/exercises/concept/basics/.meta/config.json
  languages/elixir/exercises/concept/binary-matching/.meta/config.json
  languages/elixir/exercises/concept/lists/.meta/config.json
  languages/elixir/exercises/concept/tuples/.meta/config.json
Labels: type/improve-exercise

#1596 [C#] Put concept out-of-scope
  languages/csharp/reference/out-of-scope.md
Labels: track/csharp

#1578 [F#] Add records exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/records/.docs/after.md
  languages/fsharp/exercises/concept/records/.docs/hints.md
  languages/fsharp/exercises/concept/records/.docs/instructions.md
  languages/fsharp/exercises/concept/records/.docs/introduction.md
  languages/fsharp/exercises/concept/records/.meta/Example.fs
  languages/fsharp/exercises/concept/records/.meta/config.json
  languages/fsharp/exercises/concept/records/Records.fs
  languages/fsharp/exercises/concept/records/Records.fsproj
  languages/fsharp/exercises/concept/records/RecordsTests.fs
  languages/fsharp/reference/README.md
  reference/stories/records.nba-root-for-team-algorithm.md
  reference/types/record.md
Labels: track/fsharp

#1595 [C#] Added new concepts
  languages/csharp/reference/README.md
Labels: track/csharp

#1600 [C#] add concept (dynamic)
  languages/csharp/reference/README.md
Labels: track/csharp

#1593 [Elixir] new concept exercise - bitstrings
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/bitstrings/.docs/after.md
  languages/elixir/exercises/concept/bitstrings/.docs/hints.md
  languages/elixir/exercises/concept/bitstrings/.docs/instructions.md
  languages/elixir/exercises/concept/bitstrings/.docs/introduction.md
  languages/elixir/exercises/concept/bitstrings/.formatter.exs
  languages/elixir/exercises/concept/bitstrings/.gitignore
  languages/elixir/exercises/concept/bitstrings/.meta/config.json
  languages/elixir/exercises/concept/bitstrings/.meta/design.md
  languages/elixir/exercises/concept/bitstrings/.meta/example.ex
  languages/elixir/exercises/concept/bitstrings/lib/dna.ex
  languages/elixir/exercises/concept/bitstrings/mix.exs
  languages/elixir/exercises/concept/bitstrings/test/dna_test.exs
  languages/elixir/exercises/concept/bitstrings/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/stories/primitive-types.rna-and-dna-processing.md
Labels: track/elixir, type/new-exercise

#1587 [Elixir] New concept exerise: `enum`
  languages/csharp/reference/out-of-scope.md
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/enum/.docs/after.md
  languages/elixir/exercises/concept/enum/.docs/hints.md
  languages/elixir/exercises/concept/enum/.docs/instructions.md
  languages/elixir/exercises/concept/enum/.docs/introduction.md
  languages/elixir/exercises/concept/enum/.formatter.exs
  languages/elixir/exercises/concept/enum/.gitignore
  languages/elixir/exercises/concept/enum/.meta/config.json
  languages/elixir/exercises/concept/enum/.meta/design.md
  languages/elixir/exercises/concept/enum/.meta/example.ex
  languages/elixir/exercises/concept/enum/lib/boutique_inventory.ex
  languages/elixir/exercises/concept/enum/mix.exs
  languages/elixir/exercises/concept/enum/test/boutique_inventory_test.exs
  languages/elixir/exercises/concept/enum/test/test_helper.exs
  reference/stories/enumerable.fashion-boutique.md
Labels: track/csharp, track/elixir, type/new-exercise

#1599 Adjust config.json naming conventions
  languages/ruby/config.json
  languages/ruby/exercises/concept/README.md
Labels: track/ruby

#1556 [C#] Add chars exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/chars/.docs/after.md
  languages/csharp/exercises/concept/chars/.docs/hints.md
  languages/csharp/exercises/concept/chars/.docs/instructions.md
  languages/csharp/exercises/concept/chars/.docs/introduction.md
  languages/csharp/exercises/concept/chars/.meta/Example.cs
  languages/csharp/exercises/concept/chars/.meta/config.json
  languages/csharp/exercises/concept/chars/.meta/design.md
  languages/csharp/exercises/concept/chars/Chars.cs
  languages/csharp/exercises/concept/chars/Chars.csproj
  languages/csharp/exercises/concept/chars/CharsTest.cs
  languages/csharp/reference/README.md
Labels: track/csharp, type/new-exercise

#1608 [Elixir] new concept exercise: `structs`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/structs/.docs/after.md
  languages/elixir/exercises/concept/structs/.docs/hints.md
  languages/elixir/exercises/concept/structs/.docs/instructions.md
  languages/elixir/exercises/concept/structs/.docs/introduction.md
  languages/elixir/exercises/concept/structs/.formatter.exs
  languages/elixir/exercises/concept/structs/.gitignore
  languages/elixir/exercises/concept/structs/.meta/config.json
  languages/elixir/exercises/concept/structs/.meta/design.md
  languages/elixir/exercises/concept/structs/.meta/example.ex
  languages/elixir/exercises/concept/structs/lib/remote_control_car.ex
  languages/elixir/exercises/concept/structs/mix.exs
  languages/elixir/exercises/concept/structs/test/remote_control_car_test.exs
  languages/elixir/exercises/concept/structs/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/stories/classes.remote-control-car.md
Labels: status/in-progress, track/elixir, type/new-exercise

#1602 [Docs] Add note about using code in hints document
  docs/concept-exercises.md
Labels: type/documentation

#1613 docs/concept-exercises enhanced guidance for after.md
  docs/concept-exercises.md
Labels: type/documentation

#1615 [Docs] Typo in concept-exercises.md
  docs/concept-exercises.md
Labels: type/documentation

#1618 [Docs] Additional guidance for after.md
  docs/concept-exercises.md
Labels: type/documentation

#1607 [Elixir] new concept exercise: `errors`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/errors/.docs/after.md
  languages/elixir/exercises/concept/errors/.docs/hints.md
  languages/elixir/exercises/concept/errors/.docs/instructions.md
  languages/elixir/exercises/concept/errors/.docs/introduction.md
  languages/elixir/exercises/concept/errors/.formatter.exs
  languages/elixir/exercises/concept/errors/.gitignore
  languages/elixir/exercises/concept/errors/.meta/config.json
  languages/elixir/exercises/concept/errors/.meta/design.md
  languages/elixir/exercises/concept/errors/.meta/example.ex
  languages/elixir/exercises/concept/errors/lib/rpn_calculator.ex
  languages/elixir/exercises/concept/errors/mix.exs
  languages/elixir/exercises/concept/errors/test/rpn_calculator_test.exs
  languages/elixir/exercises/concept/errors/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/stories/errors.instruments-of-texas.md
Labels: status/in-progress, track/elixir, type/new-exercise

#1619 [Julia] Fix typo in runtests.jl
  languages/julia/runtests.jl
Labels: track/julia

#1625 [Julia] [CI] Run tests against Julia 1.5 & remove EOL versions
  .github/workflows/julia-exercise-ci.yml
Labels: type/ci

#1589 [Julia] Add exercise: unicode-identifiers
  languages/julia/config.json
  languages/julia/exercises/concept/unicode-identifiers/.docs/hints.md
  languages/julia/exercises/concept/unicode-identifiers/.docs/instructions.md
  languages/julia/exercises/concept/unicode-identifiers/.meta/config.json
  languages/julia/exercises/concept/unicode-identifiers/.meta/design.md
  languages/julia/exercises/concept/unicode-identifiers/.meta/example.jl
  languages/julia/exercises/concept/unicode-identifiers/emoji-times.jl
  languages/julia/exercises/concept/unicode-identifiers/runtests.jl
Labels: track/julia

#1630 [C#][F#] Remove duplicate datetime format from the appointment scheduler story
  languages/csharp/exercises/concept/datetimes/.docs/instructions.md
  languages/fsharp/exercises/concept/datetimes/.docs/instructions.md
  reference/stories/datetimes.appointment-scheduler.md
Labels: type/improve-exercise

#1611 [Ruby] Concept Exercise: arrays
  languages/ruby/config.json
  languages/ruby/exercises/concept/README.md
  languages/ruby/exercises/concept/arrays/.docs/after.md
  languages/ruby/exercises/concept/arrays/.docs/hints.md
  languages/ruby/exercises/concept/arrays/.docs/instructions.md
  languages/ruby/exercises/concept/arrays/.docs/introduction.md
  languages/ruby/exercises/concept/arrays/.meta/config.json
  languages/ruby/exercises/concept/arrays/.meta/design.md
  languages/ruby/exercises/concept/arrays/.meta/example.rb
  languages/ruby/exercises/concept/arrays/bird_count.rb
  languages/ruby/exercises/concept/arrays/bird_count_test.rb
Labels: track/ruby

#1636 [C#] added pre-requisite
  languages/csharp/exercises/concept/dictionaries/.meta/design.md
Labels: track/csharp

#1632 [C#] Fix test name filenames
  languages/csharp/exercises/concept/chars/CharsTests.cs
  languages/csharp/exercises/concept/dictionaries/DictionariesTests.cs
Labels: track/csharp

#1652 [Docs] Add improve exercise template
  .github/ISSUE_TEMPLATE/improve-concept-exercise.md
Labels: type/documentation

#1232 [Docs] Clarify a route for checking stories for appropriateness
  docs/concept-exercises.md
Labels: type/documentation

#1629 [CI] [Julia] Remove Julia from concept CI
  .github/bin/concept-checks/Manifest.toml
  .github/bin/concept-checks/Project.toml
  .github/bin/concept-checks/concept-checks.jl
  .github/workflows/concept-ci.yml
  docs/maintainers/continuous-integration.md
Labels: type/ci, type/documentation

#1616 [Elixir] New concept exercise: `keyword-lists`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/keyword-lists/.docs/after.md
  languages/elixir/exercises/concept/keyword-lists/.docs/hints.md
  languages/elixir/exercises/concept/keyword-lists/.docs/instructions.md
  languages/elixir/exercises/concept/keyword-lists/.docs/introduction.md
  languages/elixir/exercises/concept/keyword-lists/.formatter.exs
  languages/elixir/exercises/concept/keyword-lists/.gitignore
  languages/elixir/exercises/concept/keyword-lists/.meta/config.json
  languages/elixir/exercises/concept/keyword-lists/.meta/design.md
  languages/elixir/exercises/concept/keyword-lists/.meta/example.ex
  languages/elixir/exercises/concept/keyword-lists/lib/wine_cellar.ex
  languages/elixir/exercises/concept/keyword-lists/mix.exs
  languages/elixir/exercises/concept/keyword-lists/test/test_helper.exs
  languages/elixir/exercises/concept/keyword-lists/test/wine_cellar_test.exs
Labels: track/elixir, type/new-exercise

#1657 [Elixir] Add angelikatyborska as contributing Elixir maintainer
  languages/elixir/maintainers.md
Labels: track/elixir

#1658 [CI] Fix /format
  .github/workflows/format-code.yml
Labels: type/ci

#1617 [C#] Add exercise User-defined Exceptions
  languages/csharp/config.json
  languages/csharp/exercises/concept/user-defined-exceptions/.docs/after.md
  languages/csharp/exercises/concept/user-defined-exceptions/.docs/hints.md
  languages/csharp/exercises/concept/user-defined-exceptions/.docs/instructions.md
  languages/csharp/exercises/concept/user-defined-exceptions/.docs/introduction.md
  languages/csharp/exercises/concept/user-defined-exceptions/.meta/Example.cs
  languages/csharp/exercises/concept/user-defined-exceptions/.meta/config.json
  languages/csharp/exercises/concept/user-defined-exceptions/.meta/design.md
  languages/csharp/exercises/concept/user-defined-exceptions/UserDefinedExceptions.csproj
  languages/csharp/exercises/concept/user-defined-exceptions/UserDefinedExceptionsTests.cs
  languages/csharp/exercises/concept/user-defined-exceptions/UserDefinedExceptons.cs
Labels: status/in-progress, track/csharp, type/new-exercise

#1661 [C#] linked to config.json as the place to search exercises
  languages/csharp/exercises/concept/README.md
Labels: track/csharp

#1662 [Docs] Fix grammar in concept-exercises.md
  docs/concept-exercises.md
Labels: type/documentation

#1653 csharp/concepts-doc added links to issues
  languages/csharp/reference/README.md
Labels: track/csharp

#1623 [Elixir] New `exceptions` concept exercise
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/exceptions/.docs/after.md
  languages/elixir/exercises/concept/exceptions/.docs/hints.md
  languages/elixir/exercises/concept/exceptions/.docs/instructions.md
  languages/elixir/exercises/concept/exceptions/.docs/introduction.md
  languages/elixir/exercises/concept/exceptions/.formatter.exs
  languages/elixir/exercises/concept/exceptions/.gitignore
  languages/elixir/exercises/concept/exceptions/.meta/config.json
  languages/elixir/exercises/concept/exceptions/.meta/design.md
  languages/elixir/exercises/concept/exceptions/.meta/example.ex
  languages/elixir/exercises/concept/exceptions/lib/rpn_calculator.ex
  languages/elixir/exercises/concept/exceptions/mix.exs
  languages/elixir/exercises/concept/exceptions/test/rpn_calculator/exception_test.exs
  languages/elixir/exercises/concept/exceptions/test/test_helper.exs
  languages/elixir/reference/README.md
Labels: status/in-progress, track/elixir, type/new-exercise

#1692 [Elixir] Fix formatting.
  languages/elixir/exercises/concept/exceptions/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#1603 [Rust] Early Stage Optimistic PR for Options Concept Exercise
  languages/rust/exercises/concept/options/.docs/after.md
  languages/rust/exercises/concept/options/.docs/hints.md
  languages/rust/exercises/concept/options/.docs/instructions.md
  languages/rust/exercises/concept/options/.docs/introduction.md
  languages/rust/exercises/concept/options/.meta/config.json
  languages/rust/exercises/concept/options/.meta/design.md
  languages/rust/exercises/concept/options/.meta/example.rs
  languages/rust/exercises/concept/options/Cargo.toml
  languages/rust/exercises/concept/options/src/lib.rs
  languages/rust/exercises/concept/options/tests/options.rs
Labels: track/rust

#1628 [Elixir] new concept exercise `try-rescue-else-after`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/try-rescue-else-after/.docs/after.md
  languages/elixir/exercises/concept/try-rescue-else-after/.docs/hints.md
  languages/elixir/exercises/concept/try-rescue-else-after/.docs/instructions.md
  languages/elixir/exercises/concept/try-rescue-else-after/.docs/introduction.md
  languages/elixir/exercises/concept/try-rescue-else-after/.formatter.exs
  languages/elixir/exercises/concept/try-rescue-else-after/.gitignore
  languages/elixir/exercises/concept/try-rescue-else-after/.meta/config.json
  languages/elixir/exercises/concept/try-rescue-else-after/.meta/design.md
  languages/elixir/exercises/concept/try-rescue-else-after/.meta/example.ex
  languages/elixir/exercises/concept/try-rescue-else-after/lib/rpn_calculator.ex
  languages/elixir/exercises/concept/try-rescue-else-after/mix.exs
  languages/elixir/exercises/concept/try-rescue-else-after/test/rpn_calculator/output_test.exs
  languages/elixir/exercises/concept/try-rescue-else-after/test/test_helper.exs
  languages/elixir/reference/README.md
Labels: status/in-progress, track/elixir, type/new-exercise

#1695 [Docs] story idea for tuples
  reference/stories/tuples.carnival-game.md
Labels: type/documentation

#1690 [C#] Added new concept plus general update
  languages/csharp/reference/README.md
Labels: track/csharp

#1698 [Rust] add concept exercises to our config.json
  languages/rust/config.json
Labels: track/rust

#1700 [CI] Automatically summarize stories
  .github/bin/stories/.gitignore
  .github/bin/stories/Program.fs
  .github/bin/stories/Stories.fsproj
  .github/bin/stories/update.sh
  .github/workflows/stories-summary.yml
  reference/stories/README.md
  reference/stories/stories.json
Labels: type/ci

#1705 [C#] Fix invalid exercise name
  languages/csharp/config.json
Labels: track/csharp

#1707 [Erlang] Add missing information from config.json
  languages/erlang/config.json
Labels: track/erlang

#1709 [Elixir] Fix Access Naming
  languages/elixir/exercises/concept/access-behaviour/.docs/after.md
  languages/elixir/exercises/concept/access-behaviour/.docs/hints.md
  languages/elixir/exercises/concept/access-behaviour/.docs/instructions.md
  languages/elixir/exercises/concept/access-behaviour/.docs/introduction.md
  languages/elixir/exercises/concept/access-behaviour/.formatter.exs
  languages/elixir/exercises/concept/access-behaviour/.gitignore
  languages/elixir/exercises/concept/access-behaviour/.meta/config.json
  languages/elixir/exercises/concept/access-behaviour/.meta/design.md
  languages/elixir/exercises/concept/access-behaviour/.meta/example.ex
  languages/elixir/exercises/concept/access-behaviour/lib/basketball_website.ex
  languages/elixir/exercises/concept/access-behaviour/mix.exs
  languages/elixir/exercises/concept/access-behaviour/test/basketball_website_test.exs
  languages/elixir/exercises/concept/access-behaviour/test/test_helper.exs
Labels: track/elixir

#1696 [docs] connect Rust documentation to website
  languages/rust/_sidebar.md
  languages/rust/exercises/README.md
  languages/rust/exercises/practice/README.md
Labels: track/rust, type/improve-reference-doc

#1697 [docs] fix prettier error for csharp README
  languages/csharp/exercises/concept/README.md
Labels: track/csharp, type/improve-reference-doc

#1722 [CI] Always run code format verifier
  .github/workflows/verify-code-formatting.yml
Labels: type/ci

#1721 [Clojure] config.json: add lists, and minor update in doc
  languages/clojure/config.json
  languages/clojure/exercises/concept/README.md
Labels: track/clojure

#1654 [Elixir] New concept exercise: `processes`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/processes/.docs/after.md
  languages/elixir/exercises/concept/processes/.docs/hints.md
  languages/elixir/exercises/concept/processes/.docs/instructions.md
  languages/elixir/exercises/concept/processes/.docs/introduction.md
  languages/elixir/exercises/concept/processes/.formatter.exs
  languages/elixir/exercises/concept/processes/.gitignore
  languages/elixir/exercises/concept/processes/.meta/config.json
  languages/elixir/exercises/concept/processes/.meta/design.md
  languages/elixir/exercises/concept/processes/.meta/example.ex
  languages/elixir/exercises/concept/processes/lib/take_a_number.ex
  languages/elixir/exercises/concept/processes/mix.exs
  languages/elixir/exercises/concept/processes/test/take_a_number_test.exs
  languages/elixir/exercises/concept/processes/test/test_helper.exs
  reference/concepts/actor_model.md
  reference/stories/actor-model.take-a-number-machine.md
  reference/types/README.md
  reference/types/pid.md
Labels: track/elixir, type/new-exercise

#1720 [Elixir] adding missing config uuid
  languages/elixir/config.json
Labels: track/elixir

#1729 [Dart] Fix exercise directory structure
  languages/dart/exercises/concept/.gitignore
  languages/dart/exercises/concept/futures/.docs/cli.md
  languages/dart/exercises/concept/futures/.docs/hints.md
  languages/dart/exercises/concept/futures/.docs/instructions.md
  languages/dart/exercises/concept/futures/.docs/introduction.md
  languages/dart/exercises/concept/futures/.gitignore
  languages/dart/exercises/concept/futures/lib/futures.dart
  languages/dart/exercises/concept/futures/pubspec.yaml
  languages/dart/exercises/concept/futures/test/.keep
  languages/dart/exercises/concept/numbers/.docs/cli.md
  languages/dart/exercises/concept/numbers/.docs/hints.md
  languages/dart/exercises/concept/numbers/.docs/instructions.md
  languages/dart/exercises/concept/numbers/.docs/introduction.md
  languages/dart/exercises/concept/numbers/.gitignore
  languages/dart/exercises/concept/numbers/lib/numbers.dart
  languages/dart/exercises/concept/numbers/pubspec.yaml
  languages/dart/exercises/concept/numbers/test/.keep
  languages/dart/exercises/concept/strings/.docs/cli.md
  languages/dart/exercises/concept/strings/.docs/hints.md
  languages/dart/exercises/concept/strings/.docs/instructions.md
  languages/dart/exercises/concept/strings/.docs/introduction.md
  languages/dart/exercises/concept/strings/.gitignore
  languages/dart/exercises/concept/strings/lib/strings.dart
  languages/dart/exercises/concept/strings/pubspec.yaml
  languages/dart/exercises/concept/strings/test/.keep
  languages/dart/exercises/practice/.keep
Labels: track/dart

#1730 [CI] Fix stories summary
  .github/bin/stories/update.sh
  .github/workflows/stories-summary.yml
Labels: type/ci

#1726 [CI] Generate tracks summary
  .github/bin/languages/.gitignore
  .github/bin/languages/Languages.fsproj
  .github/bin/languages/Program.fs
  .github/bin/languages/update.sh
  .github/workflows/languages-summary.yml
  languages/README.md
  languages/languages.json
Labels: type/ci

#1731 [All] Readiness cleanup in README.md
  languages/bash/README.md
  languages/c/README.md
  languages/clojure/README.md
  languages/coffeescript/README.md
  languages/common-lisp/README.md
  languages/cpp/README.md
  languages/csharp/README.md
  languages/dart/README.md
  languages/delphi/README.md
  languages/elixir/README.md
  languages/elm/README.md
  languages/emacs-lisp/README.md
  languages/erlang/README.md
  languages/factor/README.md
  languages/fsharp/README.md
  languages/go/README.md
  languages/haskell/README.md
  languages/j/README.md
  languages/java/README.md
  languages/javascript/README.md
  languages/julia/README.md
  languages/kotlin/README.md
  languages/nim/README.md
  languages/ocaml/README.md
  languages/perl5/README.md
  languages/purescript/README.md
  languages/python/README.md
  languages/r/README.md
  languages/racket/README.md
  languages/raku/README.md
  languages/reasonml/README.md
  languages/ruby/README.md
  languages/rust/README.md
  languages/scala/README.md
  languages/scheme/README.md
  languages/swift/README.md
  languages/typescript/README.md
  languages/x86-64-assembly/README.md
Labels: track/bash, track/c, track/common-lisp, track/cpp, track/csharp, track/dart, track/delphi, track/elixir, track/elm, track/emacs-lisp, track/erlang, track/factor, track/fsharp, track/go, track/haskell, track/j, track/java, track/javascript, track/julia, track/kotlin, track/nim, track/ocaml, track/perl5, track/purescript, track/python, track/r, track/racket, track/raku

#1509 [Clojure] Add new Concept Exercise: basics
  languages/clojure/exercises/concept/basics/.docs/instructions.md
  languages/clojure/exercises/concept/basics/.docs/introduction.md
  languages/clojure/exercises/concept/basics/.meta/example.clj
  languages/clojure/exercises/concept/basics/src/basics.clj
  languages/clojure/exercises/concept/basics/test/basics_test.clj
Labels: status/draft, track/clojure, type/new-exercise

#1601 [C#] Implement Tuples Exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/tuples/.docs/after.md
  languages/csharp/exercises/concept/tuples/.docs/hints.md
  languages/csharp/exercises/concept/tuples/.docs/instructions.md
  languages/csharp/exercises/concept/tuples/.docs/introduction.md
  languages/csharp/exercises/concept/tuples/.meta/Example.cs
  languages/csharp/exercises/concept/tuples/.meta/config.json
  languages/csharp/exercises/concept/tuples/.meta/design.md
  languages/csharp/exercises/concept/tuples/Tuples.cs
  languages/csharp/exercises/concept/tuples/Tuples.csproj
  languages/csharp/exercises/concept/tuples/TuplesTest.cs
Labels: track/csharp, type/new-exercise

#1748 [CI] Rename summary files for better sorting
  .github/workflows/update-summary-languages.yml
  .github/workflows/update-summary-stories.yml
Labels: type/ci

#1659 [C#] Add randomness Concept Exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/randomness/.docs/after.md
  languages/csharp/exercises/concept/randomness/.docs/hints.md
  languages/csharp/exercises/concept/randomness/.docs/instructions.md
  languages/csharp/exercises/concept/randomness/.docs/introduction.md
  languages/csharp/exercises/concept/randomness/.meta/Example.cs
  languages/csharp/exercises/concept/randomness/.meta/config.json
  languages/csharp/exercises/concept/randomness/.meta/design.md
  languages/csharp/exercises/concept/randomness/Randomness.cs
  languages/csharp/exercises/concept/randomness/Randomness.csproj
  languages/csharp/exercises/concept/randomness/RandomnessTests.cs
Labels: status/draft, track/csharp, type/new-exercise

#1753 [F#] Fix duplicate concept
  languages/fsharp/config.json
Labels: track/fsharp

#1755 [CI] Generate concepts summary
  .github/bin/concepts/.gitignore
  .github/bin/concepts/Concepts.fsproj
  .github/bin/concepts/Program.fs
  .github/bin/concepts/update.sh
  .github/workflows/update-summary-concepts.yml
  reference/README.md
  reference/references.json
Labels: type/ci

#1691 [C#] Implemented Concept exercise: equality
  languages/csharp/config.json
  languages/csharp/exercises/concept/aa-template/.docs/after.md
  languages/csharp/exercises/concept/aa-template/.docs/hints.md
  languages/csharp/exercises/concept/aa-template/.docs/instructions.md
  languages/csharp/exercises/concept/aa-template/.docs/introduction.md
  languages/csharp/exercises/concept/aa-template/.meta/Example.cs
  languages/csharp/exercises/concept/aa-template/.meta/config.json
  languages/csharp/exercises/concept/aa-template/.meta/design.md
  languages/csharp/exercises/concept/aa-template/XXX.cs
  languages/csharp/exercises/concept/aa-template/XXX.csproj
  languages/csharp/exercises/concept/aa-template/XXXTests.cs
  languages/csharp/exercises/concept/equality/.docs/after.md
  languages/csharp/exercises/concept/equality/.docs/hints.md
  languages/csharp/exercises/concept/equality/.docs/instructions.md
  languages/csharp/exercises/concept/equality/.docs/introduction.md
  languages/csharp/exercises/concept/equality/.meta/Example.cs
  languages/csharp/exercises/concept/equality/.meta/config.json
  languages/csharp/exercises/concept/equality/.meta/design.md
  languages/csharp/exercises/concept/equality/Equality.cs
  languages/csharp/exercises/concept/equality/Equality.csproj
  languages/csharp/exercises/concept/equality/EqualityTests.cs
Labels: track/csharp, type/new-exercise

#1764 [C#] Remove aa-template files
  languages/csharp/exercises/concept/aa-template/.docs/after.md
  languages/csharp/exercises/concept/aa-template/.docs/hints.md
  languages/csharp/exercises/concept/aa-template/.docs/instructions.md
  languages/csharp/exercises/concept/aa-template/.docs/introduction.md
  languages/csharp/exercises/concept/aa-template/.meta/Example.cs
  languages/csharp/exercises/concept/aa-template/.meta/config.json
  languages/csharp/exercises/concept/aa-template/.meta/design.md
  languages/csharp/exercises/concept/aa-template/XXX.cs
  languages/csharp/exercises/concept/aa-template/XXX.csproj
  languages/csharp/exercises/concept/aa-template/XXXTests.cs
Labels: track/csharp

#1767 [Elixir] Improve Concept Exercise: `multi-function-clauses`
  languages/elixir/exercises/concept/multiple-clause-functions/.docs/instructions.md
Labels: track/elixir, type/improve-exercise

#1718 [Elixir] New concept exercise: `streams`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/streams/.docs/after.md
  languages/elixir/exercises/concept/streams/.docs/hints.md
  languages/elixir/exercises/concept/streams/.docs/instructions.md
  languages/elixir/exercises/concept/streams/.docs/introduction.md
  languages/elixir/exercises/concept/streams/.formatter.exs
  languages/elixir/exercises/concept/streams/.gitignore
  languages/elixir/exercises/concept/streams/.meta/config.json
  languages/elixir/exercises/concept/streams/.meta/design.md
  languages/elixir/exercises/concept/streams/.meta/example.ex
  languages/elixir/exercises/concept/streams/lib/mensch_aergere_dich_nicht.ex
  languages/elixir/exercises/concept/streams/mix.exs
  languages/elixir/exercises/concept/streams/test/mensch_aergere_dich_nicht_test.exs
  languages/elixir/exercises/concept/streams/test/test_helper.exs
Labels: track/elixir

#1733 [C#] Update readiness checkboxes
  languages/csharp/README.md
Labels: track/csharp

#1782 [Common Lisp] Add a progress tracker and bring loop back
  languages/common-lisp/reference/README.md
  languages/common-lisp/reference/concepts.csv
Labels: track/common-lisp

#1790 [Julia] Fix readme check list
  languages/julia/README.md
Labels: track/julia

#1699 [C#] added concept exercise: parameters
  languages/csharp/config.json
  languages/csharp/exercises/concept/parameters/.docs/after.md
  languages/csharp/exercises/concept/parameters/.docs/hints.md
  languages/csharp/exercises/concept/parameters/.docs/instructions.md
  languages/csharp/exercises/concept/parameters/.docs/introduction.md
  languages/csharp/exercises/concept/parameters/.meta/Example.cs
  languages/csharp/exercises/concept/parameters/.meta/config.json
  languages/csharp/exercises/concept/parameters/.meta/design.md
  languages/csharp/exercises/concept/parameters/Parameters.cs
  languages/csharp/exercises/concept/parameters/Parameters.csproj
  languages/csharp/exercises/concept/parameters/ParametersTests.cs
Labels: track/csharp, type/new-exercise

#1780 [Docs] refer to the right issue template url
  docs/maintainers/writing-a-concept-exercise-github-issue.md
Labels: type/documentation

#1591 [Java] strings concept exercise
  languages/java/config.json
  languages/java/exercises/concept/strings/.docs/after.md
  languages/java/exercises/concept/strings/.docs/hints.md
  languages/java/exercises/concept/strings/.docs/instructions.md
  languages/java/exercises/concept/strings/.docs/introduction.md
  languages/java/exercises/concept/strings/.meta/config.json
  languages/java/exercises/concept/strings/.meta/design.md
  languages/java/exercises/concept/strings/.meta/src/reference/java/LogLine.java
  languages/java/exercises/concept/strings/build.gradle
  languages/java/exercises/concept/strings/src/main/java/LogLine.java
  languages/java/exercises/concept/strings/src/test/java/LogLineTest.java
  languages/java/exercises/settings.gradle
  reference/stories/strings.log-line-parser.md
Labels: track/java

#1739 [Elixir] new concept exercise - `list-comprehensions`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/list-comprehensions/.docs/after.md
  languages/elixir/exercises/concept/list-comprehensions/.docs/hints.md
  languages/elixir/exercises/concept/list-comprehensions/.docs/instructions.md
  languages/elixir/exercises/concept/list-comprehensions/.docs/introduction.md
  languages/elixir/exercises/concept/list-comprehensions/.formatter.exs
  languages/elixir/exercises/concept/list-comprehensions/.gitignore
  languages/elixir/exercises/concept/list-comprehensions/.meta/config.json
  languages/elixir/exercises/concept/list-comprehensions/.meta/design.md
  languages/elixir/exercises/concept/list-comprehensions/.meta/example.ex
  languages/elixir/exercises/concept/list-comprehensions/lib/boutique_suggestions.ex
  languages/elixir/exercises/concept/list-comprehensions/mix.exs
  languages/elixir/exercises/concept/list-comprehensions/test/boutique_suggestions_test.exs
  languages/elixir/exercises/concept/list-comprehensions/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/stories/enumerable.fashion-boutique.md
Labels: status/in-progress, track/elixir, type/new-exercise

#1757 [Elixir] new concept exercise - `regular-expressions`
  languages/elixir/README.md
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/regular-expressions/.docs/after.md
  languages/elixir/exercises/concept/regular-expressions/.docs/hints.md
  languages/elixir/exercises/concept/regular-expressions/.docs/instructions.md
  languages/elixir/exercises/concept/regular-expressions/.docs/introduction.md
  languages/elixir/exercises/concept/regular-expressions/.formatter.exs
  languages/elixir/exercises/concept/regular-expressions/.gitignore
  languages/elixir/exercises/concept/regular-expressions/.meta/config.json
  languages/elixir/exercises/concept/regular-expressions/.meta/design.md
  languages/elixir/exercises/concept/regular-expressions/.meta/example.ex
  languages/elixir/exercises/concept/regular-expressions/lib/date_parser.ex
  languages/elixir/exercises/concept/regular-expressions/mix.exs
  languages/elixir/exercises/concept/regular-expressions/test/date_parser_test.exs
  languages/elixir/exercises/concept/regular-expressions/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/stories/regex.event-ingest.md
Labels: status/in-progress, track/elixir, type/new-exercise
