Repository exercism/v3, pull requests merged in 2020-09, with the labels that each got.

#1820 [Swift] Add tuple concept exercise
  languages/swift/config.json
  languages/swift/exercises/concept/tuples/.docs/after.md
  languages/swift/exercises/concept/tuples/.docs/hints.md
  languages/swift/exercises/concept/tuples/.docs/instructions.md
  languages/swift/exercises/concept/tuples/.docs/introduction.md
  languages/swift/exercises/concept/tuples/.gitignore
  languages/swift/exercises/concept/tuples/.meta/Example.swift
  languages/swift/exercises/concept/tuples/.meta/config.json
  languages/swift/exercises/concept/tuples/.meta/design.md
  languages/swift/exercises/concept/tuples/Package.swift
  languages/swift/exercises/concept/tuples/Sources/tuples/tuples.swift
  languages/swift/exercises/concept/tuples/Tests/LinuxMain.swift
  languages/swift/exercises/concept/tuples/Tests/tuplesTests/XCTestManifests.swift
  languages/swift/exercises/concept/tuples/Tests/tuplesTests/tuplesTests.swift
Labels: track/swift, type/new-exercise

#2214 [Nim] new concept exercise `basics`
  languages/nim/exercises/concept/basics/.docs/instructions.md
  languages/nim/exercises/concept/basics/.meta/config.json
  languages/nim/exercises/concept/basics/.meta/design.md
  languages/nim/exercises/concept/basics/.meta/example.nim
Labels: track/nim, type/new-exercise

#2231 csharp/clean-concepts-4 added concepts to design.md docs
  languages/csharp/exercises/concept/basics/.meta/design.md
  languages/csharp/exercises/concept/casting/.meta/design.md
  languages/csharp/exercises/concept/chars/.meta/design.md
  languages/csharp/exercises/concept/classes/.meta/design.md
  languages/csharp/exercises/concept/dictionaries/.meta/design.md
  languages/csharp/exercises/concept/equality/.meta/design.md
  languages/csharp/exercises/concept/inheritance/.meta/design.md
  languages/csharp/exercises/concept/integral-numbers/.meta/design.md
  languages/csharp/exercises/concept/interfaces/.meta/design.md
  languages/csharp/exercises/concept/lists/.meta/design.md
  languages/csharp/exercises/concept/namespaces/.meta/design.md
  languages/csharp/exercises/concept/nullability/.meta/design.md
  languages/csharp/exercises/concept/numbers/.meta/design.md
  languages/csharp/exercises/concept/parameters/.meta/design.md
  languages/csharp/exercises/concept/string-formatting/.meta/design.md
  languages/csharp/reference/exercises.json
Labels: track/csharp

#2195 [Swift] Add structures-and-classes concept exercise
  languages/swift/config.json
  languages/swift/exercises/concept/structs-and-classes/.docs/after.md
  languages/swift/exercises/concept/structs-and-classes/.docs/hints.md
  languages/swift/exercises/concept/structs-and-classes/.docs/instructions.md
  languages/swift/exercises/concept/structs-and-classes/.docs/introduction.md
  languages/swift/exercises/concept/structs-and-classes/.gitignore
  languages/swift/exercises/concept/structs-and-classes/.meta/Example.swift
  languages/swift/exercises/concept/structs-and-classes/.meta/config.json
  languages/swift/exercises/concept/structs-and-classes/.meta/design.md
  languages/swift/exercises/concept/structs-and-classes/Package.swift
  languages/swift/exercises/concept/structs-and-classes/Sources/StructsAndClasses/StructsAndClasses.swift
  languages/swift/exercises/concept/structs-and-classes/Tests/LinuxMain.swift
  languages/swift/exercises/concept/structs-and-classes/Tests/StructsAndClassesTests/StructsAndClassesTests.swift
  languages/swift/exercises/concept/structs-and-classes/Tests/StructsAndClassesTests/XCTestManifests.swift
Labels: track/swift

#2236 [Docs] Add story Secret Agent: Higher-order functions
  reference/concepts/higher_order_functions.md
  reference/stories/higher-order-functions.secret-agent.md
Labels: type/documentation, type/new-reference-doc

#2234 [Docs] Add story lasagna master
  reference/concepts/inout_parameters.md
  reference/concepts/multiple_return_values.md
  reference/concepts/named_parameters.md
  reference/concepts/nested_functions.md
  reference/concepts/variadic_functions.md
  reference/stories/functions.lasagna-master.md
Labels: type/documentation, type/new-reference-doc

#2235 [Docs] Add story Conditionals: Vehicle purchase
  reference/concepts/guard.md
  reference/concepts/switch.md
  reference/stories/conditionals.vehicle-purchase.md
Labels: type/documentation, type/new-reference-doc

#2209 [JavaScript] new concept exercise - `closures`
  languages/javascript/config.json
  languages/javascript/exercises/concept/README.md
  languages/javascript/exercises/concept/closures/.docs/after.md
  languages/javascript/exercises/concept/closures/.docs/hints.md
  languages/javascript/exercises/concept/closures/.docs/instructions.md
  languages/javascript/exercises/concept/closures/.docs/introduction.md
  languages/javascript/exercises/concept/closures/.eslintrc
  languages/javascript/exercises/concept/closures/.gitignore
  languages/javascript/exercises/concept/closures/.meta/config.json
  languages/javascript/exercises/concept/closures/.meta/design.md
  languages/javascript/exercises/concept/closures/babel.config.js
  languages/javascript/exercises/concept/closures/closures.js
  languages/javascript/exercises/concept/closures/closures.spec.js
  languages/javascript/exercises/concept/closures/example.js
  languages/javascript/exercises/concept/closures/package.json
  reference/concepts/closures.md
  reference/stories/closures.design-company.md
Labels: status/in-progress, track/javascript, type/new-exercise

#2237 [CI] add Nim CI to check for compilation
  .github/workflows/nim-ci.yml
Labels: track/nim, type/ci

#2246 [C#] Update after.md
  languages/csharp/exercises/concept/interfaces/.docs/after.md
Labels: track/csharp, type/improve-exercise

#2179 [Java] classes - new exercise
  languages/java/config.json
  languages/java/exercises/concept/classes/.docs/after.md
  languages/java/exercises/concept/classes/.docs/hints.md
  languages/java/exercises/concept/classes/.docs/instructions.md
  languages/java/exercises/concept/classes/.docs/introduction.md
  languages/java/exercises/concept/classes/.meta/config.json
  languages/java/exercises/concept/classes/.meta/design.md
  languages/java/exercises/concept/classes/.meta/src/reference/java/RemoteControlCar.java
  languages/java/exercises/concept/classes/build.gradle
  languages/java/exercises/concept/classes/src/main/java/RemoteControlCar.java
  languages/java/exercises/concept/classes/src/test/java/RemoteControlCarTest.java
Labels: track/java

#2228 [Java] Implement concept exercise conditionals
  languages/java/config.json
  languages/java/exercises/concept/conditionals/.docs/after.md
  languages/java/exercises/concept/conditionals/.docs/hints.md
  languages/java/exercises/concept/conditionals/.docs/instructions.md
  languages/java/exercises/concept/conditionals/.docs/introduction.md
  languages/java/exercises/concept/conditionals/.meta/config.json
  languages/java/exercises/concept/conditionals/.meta/design.md
  languages/java/exercises/concept/conditionals/.meta/src/reference/java/Blackjack.java
  languages/java/exercises/concept/conditionals/build.gradle
  languages/java/exercises/concept/conditionals/src/main/java/Blackjack.java
  languages/java/exercises/concept/conditionals/src/test/java/BlackjackTests.java
  languages/java/exercises/settings.gradle
Labels: track/java

#2189 [Java] Implement concept exercise numbers (#1786)
  languages/java/config.json
  languages/java/exercises/concept/numbers/.docs/after.md
  languages/java/exercises/concept/numbers/.docs/hints.md
  languages/java/exercises/concept/numbers/.docs/instructions.md
  languages/java/exercises/concept/numbers/.docs/introduction.md
  languages/java/exercises/concept/numbers/.meta/config.json
  languages/java/exercises/concept/numbers/.meta/design.md
  languages/java/exercises/concept/numbers/.meta/src/reference/java/AssemblyLine.java
  languages/java/exercises/concept/numbers/build.gradle
  languages/java/exercises/concept/numbers/src/main/java/AssemblyLine.java
  languages/java/exercises/concept/numbers/src/test/java/AssemblyLineTests.java
  languages/java/exercises/settings.gradle
Labels: track/java

#2251 [Java] fix settings and style in classes concept exercise
  languages/java/exercises/concept/classes/src/test/java/RemoteControlCarTest.java
  languages/java/exercises/settings.gradle
Labels: track/java, type/improve-exercise

#2260 [C#] issue #2250 mismatch between exercises.json and config.json
  languages/csharp/config.json
  languages/csharp/exercises/concept/flag-enums/.meta/design.md
  languages/csharp/exercises/concept/integral-numbers/.meta/design.md
  languages/csharp/exercises/concept/parameters/.meta/design.md
  languages/csharp/reference/exercises.json
Labels: track/csharp

#2248 [Java] interfaces new exercise
  languages/java/exercises/concept/interfaces/.docs/after.md
  languages/java/exercises/concept/interfaces/.docs/hints.md
  languages/java/exercises/concept/interfaces/.docs/instructions.md
  languages/java/exercises/concept/interfaces/.docs/introduction.md
  languages/java/exercises/concept/interfaces/.meta/config.json
  languages/java/exercises/concept/interfaces/.meta/design.md
  languages/java/exercises/concept/interfaces/.meta/src/reference/java/ExperimentalRemoteControlCar.java
  languages/java/exercises/concept/interfaces/.meta/src/reference/java/ProductionRemoteControlCar.java
  languages/java/exercises/concept/interfaces/.meta/src/reference/java/RemoteControlCar.java
  languages/java/exercises/concept/interfaces/.meta/src/reference/java/TestTrack.java
  languages/java/exercises/concept/interfaces/build.gradle
  languages/java/exercises/concept/interfaces/src/main/java/ExperimentalRemoteControlCar.java
  languages/java/exercises/concept/interfaces/src/main/java/ProductionRemoteControlCar.java
  languages/java/exercises/concept/interfaces/src/main/java/RemoteControlCar.java
  languages/java/exercises/concept/interfaces/src/main/java/TestTrack.java
  languages/java/exercises/concept/interfaces/src/test/java/RemoteControlCarTest.java
  languages/java/exercises/settings.gradle
Labels: track/java, type/new-exercise

#2259 Update csharp-exercise-report.yml
  .github/workflows/csharp-exercise-report.yml
Labels: track/csharp

#1481 Create offer-to-help
  .github/ISSUE_TEMPLATE/offer-to-help
Labels: type/documentation

#2273 [Erlang] add concept exercises README.md
  languages/erlang/exercises/concept/README.md
Labels: track/erlang, type/new-reference-doc

#2271 [Java] ava/config-json add interfaces to track config
  languages/java/config.json
Labels: track/java

#1781 [Clojure] Add missing files for basics exercise
  languages/clojure/exercises/concept/basics/.docs/after.md
  languages/clojure/exercises/concept/basics/.docs/hints.md
  languages/clojure/exercises/concept/basics/.meta/config.json
  languages/clojure/exercises/concept/basics/.meta/design.md
Labels: track/clojure

#2123 [Go] some improvements to zero-value exercise
  languages/go/exercises/concept/zero-value/.docs/after.md
  languages/go/exercises/concept/zero-value/.docs/hints.md
  languages/go/exercises/concept/zero-value/.docs/instructions.md
  languages/go/exercises/concept/zero-value/.docs/introduction.md
  languages/go/exercises/concept/zero-value/.meta/config.json
  languages/go/exercises/concept/zero-value/.meta/example.go
  languages/go/exercises/concept/zero-value/zero_value.go
Labels: track/go
