Repository exercism/v3, pull requests merged in 2020-03, with the labels that each got.

#828 [Kotlin] Create composite root build for exercises
  languages/kotlin/.gitignore
  languages/kotlin/.templates/exercise/settings.gradle.kts
  languages/kotlin/settings.gradle.kts
Labels: track/kotlin

#823 Add concept README.md file
  languages/ruby/exercises/concept/README.md
Labels: track/ruby

#786 [Common Lisp] Add Initial Concepts for Discussion
  languages/common-lisp/reference/README.md
Labels: track/common-lisp

#542 [Haskell] Revise contribution guide
  languages/haskell/reference/implementing-a-concept-exercise.md
Labels: track/haskell

#838 [Rust] link to from languages introduction
  languages/README.md
Labels: documentation, track/rust, type/improve-reference-doc

#857 [Rust] fix concept reference list formatting
  languages/rust/reference/README.md
Labels: documentation, track/rust, type/improve-reference-doc

#829 [Rust] extract concepts for armstrong-numbers
  languages/rust/reference/exercise-concepts/armstrong-numbers.md
Labels: documentation, track/rust

#861 [Elixir] Extract Concepts from v2 exercise: robot-simulator
  languages/elixir/reference/exercise-concepts/robot-simulator.md
Labels: documentation, status/in-progress, track/elixir

#851 [Elixir] word-count concept extraction
  languages/elixir/reference/README.md
  languages/elixir/reference/exercise-concepts/word-count.md
Labels: documentation, track/elixir

#809 [F#] Update track-specific files in example
  languages/fsharp/reference/examples/new-concept-exercise-strings.md
Labels: track/fsharp

#866 [Python] Remove paparomeo from maintainers.md
  languages/python/maintainers.md
Labels: track/python

#783 [Reference] Adding to general reference
  reference/concepts/README.md
  reference/concepts/actor_model.md
  reference/concepts/eager_evaluation.md
  reference/concepts/lazy_evaluation.md
  reference/concepts/utf16.md
  reference/concepts/utf32.md
  reference/concepts/utf8.md
Labels: type/new-reference-doc

#787 [C++] Extract concepts from v2 exercise: sieve
  languages/cpp/reference/exercise-concepts/sieve.md
Labels: documentation, track/cpp

#874 [Ruby] Update status on Ruby README
  languages/ruby/README.md
Labels: track/ruby

#873 [C++] Added two new concepts
  languages/cpp/reference/README.md
Labels: documentation, track/cpp

#875 [Ruby] Add concept implementation guide
  languages/ruby/README.md
  languages/ruby/reference/implementing-a-concept-exercise.md
Labels: track/ruby

#882 [Rust] add appropriate .gitignore
  languages/rust/.gitignore
Labels: track/rust

#885 [Common Lisp] Update implementation guidelines to exclude ASDF
  languages/common-lisp/reference/implementing-a-concept-exercise.md
Labels: track/common-lisp

#816 [F#] Implement new Concept exercise dates
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/dates/.docs/after.md
  languages/fsharp/exercises/concept/dates/.docs/hints.md
  languages/fsharp/exercises/concept/dates/.docs/instructions.md
  languages/fsharp/exercises/concept/dates/.docs/introduction.md
  languages/fsharp/exercises/concept/dates/.meta/Example.fs
  languages/fsharp/exercises/concept/dates/.meta/config.json
  languages/fsharp/exercises/concept/dates/.meta/design.md
  languages/fsharp/exercises/concept/dates/Dates.fs
  languages/fsharp/exercises/concept/dates/Dates.fsproj
  languages/fsharp/exercises/concept/dates/DatesTests.fs
  languages/fsharp/reference/README.md
  reference/types/datetime.md
Labels: track/fsharp

#808 [F#] Implement new Concept Exercise: numbers
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/numbers/.docs/after.md
  languages/fsharp/exercises/concept/numbers/.docs/hints.md
  languages/fsharp/exercises/concept/numbers/.docs/instructions.md
  languages/fsharp/exercises/concept/numbers/.docs/introduction.md
  languages/fsharp/exercises/concept/numbers/.meta/Example.fs
  languages/fsharp/exercises/concept/numbers/.meta/config.json
  languages/fsharp/exercises/concept/numbers/.meta/design.md
  languages/fsharp/exercises/concept/numbers/Numbers.fs
  languages/fsharp/exercises/concept/numbers/Numbers.fsproj
  languages/fsharp/exercises/concept/numbers/NumbersTests.fs
  languages/fsharp/reference/README.md
  reference/types/floating_point_number.md
Labels: track/fsharp

#879 [C++] Extract Concepts from v2 exercise: isogram
  languages/cpp/reference/exercise-concepts/isogram.md
Labels: documentation, track/cpp

#868 Add FAQ about Citations
  docs/maintainers/faqs.md
  reference/concepts/actor_model.md
  reference/concepts/ascii.md
  reference/concepts/default_arguments.md
  reference/concepts/eager_evaluation.md
  reference/concepts/lazy_evaluation.md
  reference/concepts/macros.md
  reference/concepts/metaprogramming.md
  reference/concepts/multiple-dispatch.md
  reference/concepts/prototype_based-programming.md
  reference/concepts/signedness.md
  reference/concepts/undefined.md
  reference/concepts/utf16.md
  reference/concepts/utf32.md
  reference/concepts/utf8.md
  reference/types/signed.md
Labels: documentation

#853 [Common Lisp] Implement new Concept Exercise: sexpr
  languages/common-lisp/.gitignore
  languages/common-lisp/exercises/concept/sexpr/.docs/after.md
  languages/common-lisp/exercises/concept/sexpr/.docs/hints.md
  languages/common-lisp/exercises/concept/sexpr/.docs/instructions.md
  languages/common-lisp/exercises/concept/sexpr/.docs/introduction.md
  languages/common-lisp/exercises/concept/sexpr/.meta/config.json
  languages/common-lisp/exercises/concept/sexpr/.meta/design.md
  languages/common-lisp/exercises/concept/sexpr/.meta/example.lisp
  languages/common-lisp/exercises/concept/sexpr/sexpr-test.lisp
  languages/common-lisp/exercises/concept/sexpr/sexpr.lisp
  languages/common-lisp/exercises/shared/.docs/cli.md
Labels: track/common-lisp

#871 [Julia] Add missing .meta/config files
  languages/julia/exercises/concept/multiple-dispatch/.meta/config.json
Labels: track/julia

#888 [Elixir] Implementing a Concept Exercise Guide
  languages/elixir/README.md
  languages/elixir/exercises/concept/README.md
  languages/elixir/reference/implementing-a-concept-exercise.md
Labels: documentation, status/in-progress, track/elixir

#718 [CI] [Julia] Add concepts.csv standard and tooling
  .github/bin/concept-checks/Manifest.toml
  .github/bin/concept-checks/Project.toml
  .github/bin/concept-checks/concept-checks.jl
  .github/workflows/concept-ci.yml
  .github/workflows/julia-exercise-ci.yml
  docs/maintainers/_sidebar.md
  docs/maintainers/continuous-integration.md
  docs/maintainers/repository-structure.md
  languages/julia/.gitignore
  languages/julia/README.md
  languages/julia/config.json
  languages/julia/reference/concepts.csv
Labels: CI, documentation, track/julia

#899 [CI] Don't run concept checks on pushes to master
  .github/workflows/concept-ci.yml
Labels: CI

#893 [C#] Explicitly mention method to implement in instructions
  languages/csharp/exercises/concept/dates/.docs/instructions.md
  languages/csharp/exercises/concept/enums-advanced/.docs/instructions.md
  languages/csharp/exercises/concept/enums/.docs/instructions.md
  languages/csharp/exercises/concept/numbers-floating-point/.docs/instructions.md
  languages/csharp/exercises/concept/numbers/.docs/instructions.md
  languages/csharp/exercises/concept/strings/.docs/instructions.md
Labels: track/csharp

#897 [C#] Simplify display of returned value
  languages/csharp/exercises/concept/dates/.docs/instructions.md
  languages/csharp/exercises/concept/enums-advanced/.docs/instructions.md
  languages/csharp/exercises/concept/enums/.docs/instructions.md
  languages/csharp/exercises/concept/numbers/.docs/instructions.md
  languages/csharp/exercises/concept/strings/.docs/instructions.md
Labels: documentation, track/csharp, type/improve-exercise

#890 [C#] Update introduction of Dates exercise
  languages/csharp/exercises/concept/dates/.docs/introduction.md
Labels: documentation, track/csharp, type/improve-exercise

#902 [F#] Update new concept exercise issue example
  languages/fsharp/reference/examples/new-concept-exercise-strings.md
Labels: documentation, track/fsharp

#898 [F#] Simplify display of returned value
  languages/fsharp/docs/string_concatenation.md
  languages/fsharp/exercises/concept/dates/.docs/instructions.md
  languages/fsharp/exercises/concept/numbers/.docs/instructions.md
  languages/fsharp/exercises/concept/strings/.docs/instructions.md
Labels: documentation, track/fsharp, type/improve-exercise

#894 [F#] Make function to implement explicit in instructions
  languages/fsharp/exercises/concept/dates/.docs/instructions.md
  languages/fsharp/exercises/concept/numbers/.docs/instructions.md
  languages/fsharp/exercises/concept/strings/.docs/instructions.md
Labels: documentation, track/fsharp, type/improve-exercise

#905 [Common Lisp] Update Some Documentation with the `sexpr` Exercise
  languages/common-lisp/README.md
  languages/common-lisp/reference/README.md
  languages/common-lisp/reference/implementing-a-concept-exercise.md
Labels: track/common-lisp

#867 elixir concepts extraction for secret-handshake
  languages/elixir/reference/README.md
  languages/elixir/reference/exercise-concepts/secret-handshake.md
Labels: track/elixir

#912 [Elixir] Updated Readme
  languages/elixir/reference/README.md
Labels: track/elixir

#896 [F#] Add Booleans exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/booleans/.docs/after.md
  languages/fsharp/exercises/concept/booleans/.docs/hints.md
  languages/fsharp/exercises/concept/booleans/.docs/instructions.md
  languages/fsharp/exercises/concept/booleans/.docs/introduction.md
  languages/fsharp/exercises/concept/booleans/.meta/Example.fs
  languages/fsharp/exercises/concept/booleans/.meta/config.json
  languages/fsharp/exercises/concept/booleans/.meta/design.md
  languages/fsharp/exercises/concept/booleans/Booleans.fs
  languages/fsharp/exercises/concept/booleans/Booleans.fsproj
  languages/fsharp/exercises/concept/booleans/BooleansTests.fs
  languages/fsharp/reference/README.md
Labels: track/fsharp, type/new-exercise

#892 [F#] Add Lists exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/lists/.docs/after.md
  languages/fsharp/exercises/concept/lists/.docs/hints.md
  languages/fsharp/exercises/concept/lists/.docs/instructions.md
  languages/fsharp/exercises/concept/lists/.docs/introduction.md
  languages/fsharp/exercises/concept/lists/.meta/Example.fs
  languages/fsharp/exercises/concept/lists/.meta/config.json
  languages/fsharp/exercises/concept/lists/.meta/design.md
  languages/fsharp/exercises/concept/lists/Lists.fs
  languages/fsharp/exercises/concept/lists/Lists.fsproj
  languages/fsharp/exercises/concept/lists/ListsTests.fs
  languages/fsharp/reference/README.md
  reference/types/list.md
Labels: track/fsharp, type/new-exercise

#638 [JavaScript] Add concepts for resistor-color-duo exercise #634
  languages/JavaScript/reference/exercise-concepts/resistor-color-duo.md
Labels: track/javascript

#841 [Javascript] Implement boolean-logic concept exercise
  languages/javascript/config.json
  languages/javascript/exercises/concept/README.md
  languages/javascript/exercises/concept/booleans/.docs/after.md
  languages/javascript/exercises/concept/booleans/.docs/hints.md
  languages/javascript/exercises/concept/booleans/.docs/instructions.md
  languages/javascript/exercises/concept/booleans/.docs/introduction.md
  languages/javascript/exercises/concept/booleans/.eslintrc
  languages/javascript/exercises/concept/booleans/.gitignore
  languages/javascript/exercises/concept/booleans/.meta/config.json
  languages/javascript/exercises/concept/booleans/babel.config.js
  languages/javascript/exercises/concept/booleans/booleans.js
  languages/javascript/exercises/concept/booleans/booleans.spec.js
  languages/javascript/exercises/concept/booleans/example.js
  languages/javascript/exercises/concept/booleans/package.json
  languages/javascript/exercises/concept/booleans/yarn.lock
  reference/types/boolean.md
Labels: track/javascript

#521 [JavaScript] Create beer-song.md
  languages/javascript/reference/exercise-concepts/beer-song.md
Labels: track/javascript

#487 [Javascript] - Extract concepts of v2 bob exercise
  languages/javascript/reference/exercise-concepts/bob.md
Labels: track/javascript

#344 [C] Extract concepts of v2 two-fer exercise
  languages/c/reference/exercise-concepts/two-fer.md
Labels: track/c

#942 [CI] Merge instead of rebasing in link checker
  .github/workflows/valid-links.yml
Labels: CI

#943 tick kick-off & maintainers prep status
  languages/c/README.md
Labels: track/c

#949 [C#] Update phrasing of NumbersFloatingPoint exercise
  languages/csharp/exercises/concept/numbers-floating-point/.docs/after.md
  languages/csharp/exercises/concept/numbers-floating-point/.docs/hints.md
  languages/csharp/exercises/concept/numbers-floating-point/.docs/instructions.md
  languages/csharp/exercises/concept/numbers-floating-point/.meta/Example.cs
  languages/csharp/exercises/concept/numbers-floating-point/.meta/design.md
  languages/csharp/exercises/concept/numbers-floating-point/NumbersFloatingPoint.cs
  languages/csharp/exercises/concept/numbers-floating-point/NumbersFloatingPointTests.cs
  languages/csharp/reference/README.md
Labels: track/csharp

#952 [CI] Use system Julia instead of installing it
  .github/workflows/concept-ci.yml
  languages/julia/reference/concepts.csv
Labels: CI, track/julia

#965 [Javascript] Fix titlecase directory name
  languages/javascript/reference/exercise-concepts/resistor-color-duo.md
Labels: track/javascript

#824 [Python] Port concept exercise strings from C#
  languages/python/config.json
  languages/python/exercises/concept/strings/.docs/after.md
  languages/python/exercises/concept/strings/.docs/hints.md
  languages/python/exercises/concept/strings/.docs/instructions.md
  languages/python/exercises/concept/strings/.docs/introduction.md
  languages/python/exercises/concept/strings/.meta/config.json
  languages/python/exercises/concept/strings/.meta/design.md
  languages/python/exercises/concept/strings/.meta/example.py
  languages/python/exercises/concept/strings/loglines.py
  languages/python/exercises/concept/strings/loglines_test.py
  reference/types/string.md
Labels: track/python, type/new-exercise

#979 [CI] Run concept CI on a schedule to prevent stale cache
  .github/workflows/concept-ci.yml
Labels: CI

#983 [TypeScript] Remove duplicate after reference
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: track/typescript

#984 [JavaScript] Remove duplicate after document
  languages/javascript/reference/implementing-a-concept-exercise.md
Labels: track/javascript

#270 [Rust] Extract concepts from v2 exercise: macros
  languages/rust/reference/exercise-concepts/macros.md
Labels: track/rust

#269 [Rust] Extract concepts from v2 exercise: poker
  languages/rust/reference/exercise-concepts/poker.md
Labels: track/rust

#856 [Rust] Add concepts.csv
  languages/rust/reference/concepts.csv
Labels: documentation, status/in-progress, track/rust

#986 [Docs] Clarify syntax in introduction document
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/csharp/reference/examples/new-concept-exercise-arrays.md
  languages/elixir/reference/implementing-a-concept-exercise.md
  languages/elm/reference/implementing-a-concept-exercise.md
  languages/fsharp/reference/examples/new-concept-exercise-strings.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: documentation, track/csharp, track/elixir, track/elm, track/fsharp, track/javascript, track/kotlin, track/typescript

#1019 [J] Bootstrap track
  .github/labeler.yml
  README.md
  languages/j/README.md
  languages/j/_sidebar.md
  languages/j/config.json
  languages/j/docs/README.md
  languages/j/exercises/README.md
  languages/j/maintainers.md
  languages/j/reference/README.md
  languages/j/reference/implementing-a-concept-exercise.md
Labels: CI, documentation, track/j

#993 [Common Lisp] Add the Multiple Value Returns subconcept
  languages/common-lisp/reference/README.md
Labels: track/common-lisp

#982 [R] Bootstrap track
  .github/labeler.yml
  README.md
  languages/r/README.md
  languages/r/maintainers.md
  languages/r/reference/implementing-a-concept-exercise.md
Labels: CI, track/r

#1024 [Common Lisp] Restructured concepts to play nice with concepts.csv
  languages/common-lisp/reference/README.md
  languages/common-lisp/reference/concepts.csv
Labels: track/common-lisp

#957 [C#] Simplify new exercise issue
  languages/csharp/reference/examples/new-concept-exercise-arrays.md
Labels: track/csharp

#995 [F#] Add skip to tests
  languages/fsharp/exercises/concept/booleans/BooleansTests.fs
  languages/fsharp/exercises/concept/dates/DatesTests.fs
  languages/fsharp/exercises/concept/lists/ListsTests.fs
  languages/fsharp/exercises/concept/numbers/NumbersTests.fs
  languages/fsharp/exercises/concept/strings/StringsTests.fs
Labels: track/fsharp

#1035 [Rust] Add out-of-scope.md, remove some concepts
  languages/rust/reference/README.md
  languages/rust/reference/concepts.csv
  languages/rust/reference/out-of-scope.md
Labels: track/rust

#883 [Rust] add enums concept exercise
  languages/rust/exercises/concept/enums/.docs/after.md
  languages/rust/exercises/concept/enums/.docs/hints.md
  languages/rust/exercises/concept/enums/.docs/instructions.md
  languages/rust/exercises/concept/enums/.docs/introduction.md
  languages/rust/exercises/concept/enums/.meta/config.json
  languages/rust/exercises/concept/enums/.meta/design.md
  languages/rust/exercises/concept/enums/.meta/example.rs
  languages/rust/exercises/concept/enums/Cargo.toml
  languages/rust/exercises/concept/enums/src/lib.rs
  languages/rust/exercises/concept/enums/tests/enums.rs
Labels: status/draft, track/rust, type/new-exercise

#994 [C#] Add skip attribute
  languages/csharp/exercises/concept/dates/DatesTests.cs
  languages/csharp/exercises/concept/enums-advanced/EnumsAdvancedTests.cs
  languages/csharp/exercises/concept/enums/EnumsTests.cs
  languages/csharp/exercises/concept/numbers-floating-point/NumbersFloatingPointTests.cs
  languages/csharp/exercises/concept/numbers/NumbersTests.cs
  languages/csharp/exercises/concept/strings/StringsTests.cs
Labels: track/csharp

#990 [F#] Create DateTime in dates exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/dates/.docs/hints.md
  languages/fsharp/exercises/concept/dates/.docs/instructions.md
  languages/fsharp/exercises/concept/dates/.meta/Example.fs
  languages/fsharp/exercises/concept/dates/.meta/design.md
  languages/fsharp/exercises/concept/dates/Dates.fs
  languages/fsharp/exercises/concept/dates/DatesTests.fs
  languages/fsharp/reference/README.md
Labels: track/fsharp

#955 [F#] Add recursion exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/recursion/.docs/after.md
  languages/fsharp/exercises/concept/recursion/.docs/hints.md
  languages/fsharp/exercises/concept/recursion/.docs/instructions.md
  languages/fsharp/exercises/concept/recursion/.docs/introduction.md
  languages/fsharp/exercises/concept/recursion/.meta/Example.fs
  languages/fsharp/exercises/concept/recursion/.meta/config.json
  languages/fsharp/exercises/concept/recursion/.meta/design.md
  languages/fsharp/exercises/concept/recursion/Recursion.fs
  languages/fsharp/exercises/concept/recursion/Recursion.fsproj
  languages/fsharp/exercises/concept/recursion/RecursionTests.fs
  languages/fsharp/reference/README.md
  reference/concepts/recursion.md
Labels: track/fsharp

#950 [F#] Add discriminated-unions exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/discriminated-unions/.docs/after.md
  languages/fsharp/exercises/concept/discriminated-unions/.docs/hints.md
  languages/fsharp/exercises/concept/discriminated-unions/.docs/instructions.md
  languages/fsharp/exercises/concept/discriminated-unions/.docs/introduction.md
  languages/fsharp/exercises/concept/discriminated-unions/.meta/Example.fs
  languages/fsharp/exercises/concept/discriminated-unions/.meta/config.json
  languages/fsharp/exercises/concept/discriminated-unions/.meta/design.md
  languages/fsharp/exercises/concept/discriminated-unions/DiscriminatedUnions.fs
  languages/fsharp/exercises/concept/discriminated-unions/DiscriminatedUnions.fsproj
  languages/fsharp/exercises/concept/discriminated-unions/DiscriminatedUnionsTests.fs
  languages/fsharp/reference/README.md
  reference/concepts/pattern_matching.md
  reference/types/sum_type.md
Labels: track/fsharp

#1011 [C++] Add concept exercise strings
  languages/cpp/exercises/concept/README.md
  languages/cpp/exercises/concept/_sidebar.md
  languages/cpp/exercises/concept/strings/.docs/after.md
  languages/cpp/exercises/concept/strings/.docs/hints.md
  languages/cpp/exercises/concept/strings/.docs/instructions.md
  languages/cpp/exercises/concept/strings/.docs/introduction.md
  languages/cpp/exercises/concept/strings/.meta/config.json
  languages/cpp/exercises/concept/strings/.meta/design.md
  languages/cpp/exercises/concept/strings/.meta/example.cpp
  languages/cpp/exercises/concept/strings/.meta/example.h
  languages/cpp/exercises/concept/strings/CMakeLists.txt
  languages/cpp/exercises/concept/strings/strings.cpp
  languages/cpp/exercises/concept/strings/strings.h
  languages/cpp/exercises/concept/strings/strings_test.cpp
  languages/cpp/exercises/concept/strings/test/catch.hpp
  languages/cpp/exercises/concept/strings/test/tests-main.cpp
Labels: track/cpp, type/new-exercise

#1042 [TypeScript] Fix typo
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: track/typescript
