Repository exercism/v3, pull requests merged in 2020-07, with the labels that each got.

#1775 [C#] object-initializers new concept exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/object-initializers/.docs/after.md
  languages/csharp/exercises/concept/object-initializers/.docs/hints.md
  languages/csharp/exercises/concept/object-initializers/.docs/instructions.md
  languages/csharp/exercises/concept/object-initializers/.docs/introduction.md
  languages/csharp/exercises/concept/object-initializers/.meta/Example.cs
  languages/csharp/exercises/concept/object-initializers/.meta/config.json
  languages/csharp/exercises/concept/object-initializers/.meta/design.md
  languages/csharp/exercises/concept/object-initializers/ObjectInitialization.cs
  languages/csharp/exercises/concept/object-initializers/ObjectInitialization.csproj
  languages/csharp/exercises/concept/object-initializers/ObjectInitializationTests.cs
Labels: track/csharp, type/new-exercise

#1805 [C#] time new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/time/.docs/after.md
  languages/csharp/exercises/concept/time/.docs/hints.md
  languages/csharp/exercises/concept/time/.docs/instructions.md
  languages/csharp/exercises/concept/time/.docs/introduction.md
  languages/csharp/exercises/concept/time/.meta/Example.cs
  languages/csharp/exercises/concept/time/.meta/config.json
  languages/csharp/exercises/concept/time/.meta/design.md
  languages/csharp/exercises/concept/time/Time.cs
  languages/csharp/exercises/concept/time/Time.csproj
  languages/csharp/exercises/concept/time/TimeTests.cs
Labels: track/csharp, type/new-exercise

#1778 [C#] resource-cleanup new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/resource-cleanup/.docs/after.md
  languages/csharp/exercises/concept/resource-cleanup/.docs/hints.md
  languages/csharp/exercises/concept/resource-cleanup/.docs/instructions.md
  languages/csharp/exercises/concept/resource-cleanup/.docs/introduction.md
  languages/csharp/exercises/concept/resource-cleanup/.meta/Example.cs
  languages/csharp/exercises/concept/resource-cleanup/.meta/config.json
  languages/csharp/exercises/concept/resource-cleanup/.meta/design.md
  languages/csharp/exercises/concept/resource-cleanup/ResourceCleanup.cs
  languages/csharp/exercises/concept/resource-cleanup/ResourceCleanup.csproj
  languages/csharp/exercises/concept/resource-cleanup/ResourceCleanupTests.cs
Labels: track/csharp, type/new-exercise

#1777 [C#] switch statements new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/switch-statements/.docs/after.md
  languages/csharp/exercises/concept/switch-statements/.docs/hints.md
  languages/csharp/exercises/concept/switch-statements/.docs/instructions.md
  languages/csharp/exercises/concept/switch-statements/.docs/introduction.md
  languages/csharp/exercises/concept/switch-statements/.meta/Example.cs
  languages/csharp/exercises/concept/switch-statements/.meta/config.json
  languages/csharp/exercises/concept/switch-statements/.meta/design.md
  languages/csharp/exercises/concept/switch-statements/SwitchStatements.cs
  languages/csharp/exercises/concept/switch-statements/SwitchStatements.csproj
  languages/csharp/exercises/concept/switch-statements/SwitchStatementsTests.cs
Labels: track/csharp, type/new-exercise

#1816 Csharp/concept exercises
  languages/csharp/exercises/concept/object-initializers/.meta/design.md
  languages/csharp/exercises/concept/resource-cleanup/.meta/design.md
  languages/csharp/exercises/concept/switch-statements/.meta/design.md
  languages/csharp/reference/README.md
Labels: track/csharp

#1356 [WIP] [x86-64-assembly] Add basics exercise
  languages/x86-64-assembly/exercises/concept/basics/.docs/instructions.md
  languages/x86-64-assembly/exercises/concept/basics/.docs/introduction.md
  languages/x86-64-assembly/exercises/concept/basics/Makefile
  languages/x86-64-assembly/exercises/concept/basics/basics.asm
  languages/x86-64-assembly/exercises/concept/basics/basics_test.c
Labels: status/draft, track/x86-64-assembly, type/new-exercise

#1829 [Common Lisp] Progress update and culling of an old file
  languages/common-lisp/README.md
  languages/common-lisp/reference/README.md
  languages/common-lisp/reference/concepts.csv
Labels: track/common-lisp

#1838 [Docs] Clarify how to give attribution to reviewers
  docs/concept-exercises.md
Labels: type/documentation

#1833 [Julia] Add exercise: boolean-logic
  languages/julia/config.json
  languages/julia/exercises/concept/boolean-logic/.docs/instructions.md
  languages/julia/exercises/concept/boolean-logic/.docs/source.md
  languages/julia/exercises/concept/boolean-logic/.meta/config.json
  languages/julia/exercises/concept/boolean-logic/.meta/example.jl
  languages/julia/exercises/concept/boolean-logic/game-logic.jl
  languages/julia/exercises/concept/boolean-logic/runtests.jl
Labels: track/julia

#1845 [Docs] Add note about after.md including all information from the introduction.md document
  docs/concept-exercises.md
Labels: type/documentation

#1732 [F#] Update readiness
  languages/fsharp/README.md
Labels: track/fsharp

#1860 [C#] casting new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/casting/.docs/after.md
  languages/csharp/exercises/concept/casting/.docs/hints.md
  languages/csharp/exercises/concept/casting/.docs/instructions.md
  languages/csharp/exercises/concept/casting/.docs/introduction.md
  languages/csharp/exercises/concept/casting/.meta/Example.cs
  languages/csharp/exercises/concept/casting/.meta/config.json
  languages/csharp/exercises/concept/casting/.meta/design.md
  languages/csharp/exercises/concept/casting/Casting.cs
  languages/csharp/exercises/concept/casting/Casting.csproj
  languages/csharp/exercises/concept/casting/CastingTests.cs
Labels: track/csharp, type/new-exercise

#1857 [C#] structs new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/structs/.docs/after.md
  languages/csharp/exercises/concept/structs/.docs/hints.md
  languages/csharp/exercises/concept/structs/.docs/instructions.md
  languages/csharp/exercises/concept/structs/.docs/introduction.md
  languages/csharp/exercises/concept/structs/.meta/Example.cs
  languages/csharp/exercises/concept/structs/.meta/config.json
  languages/csharp/exercises/concept/structs/.meta/design.md
  languages/csharp/exercises/concept/structs/Structs.cs
  languages/csharp/exercises/concept/structs/Structs.csproj
  languages/csharp/exercises/concept/structs/StructsTests.cs
Labels: track/csharp, type/new-exercise

#1419 [JavaScript] Fork concept/nullability from C#
  languages/javascript/config.json
  languages/javascript/exercises/concept/README.md
  languages/javascript/exercises/concept/_sidebar.md
  languages/javascript/exercises/concept/nullability/.docs/after.md
  languages/javascript/exercises/concept/nullability/.docs/hints.md
  languages/javascript/exercises/concept/nullability/.docs/instructions.md
  languages/javascript/exercises/concept/nullability/.docs/introduction.md
  languages/javascript/exercises/concept/nullability/.eslintrc
  languages/javascript/exercises/concept/nullability/.gitignore
  languages/javascript/exercises/concept/nullability/.meta/config.json
  languages/javascript/exercises/concept/nullability/babel.config.js
  languages/javascript/exercises/concept/nullability/example.js
  languages/javascript/exercises/concept/nullability/nullability.js
  languages/javascript/exercises/concept/nullability/nullability.spec.js
  languages/javascript/exercises/concept/nullability/package.json
  reference/stories/nullability.name-badges.md
  reference/types/null.md
  reference/types/nullable.md
Labels: track/javascript, type/new-exercise

#1420 [JavaScript] Fork concept/recursion from F#
  languages/javascript/config.json
  languages/javascript/exercises/concept/README.md
  languages/javascript/exercises/concept/_sidebar.md
  languages/javascript/exercises/concept/recursion/.docs/after.md
  languages/javascript/exercises/concept/recursion/.docs/hints.md
  languages/javascript/exercises/concept/recursion/.docs/instructions.md
  languages/javascript/exercises/concept/recursion/.docs/introduction.md
  languages/javascript/exercises/concept/recursion/.eslintrc
  languages/javascript/exercises/concept/recursion/.gitignore
  languages/javascript/exercises/concept/recursion/.meta/config.json
  languages/javascript/exercises/concept/recursion/babel.config.js
  languages/javascript/exercises/concept/recursion/example.js
  languages/javascript/exercises/concept/recursion/global.d.ts
  languages/javascript/exercises/concept/recursion/package.json
  languages/javascript/exercises/concept/recursion/recursion.js
  languages/javascript/exercises/concept/recursion/recursion.spec.js
  reference/concepts/recursion.md
  reference/stories/nullability.name-badges.md
  reference/stories/recursion.pizza-delivery.md
Labels: track/javascript, type/new-exercise

#1915 [Scala] Create an empty config.json in v3
  languages/scala/README.md
  languages/scala/config.json
Labels: track/scala

#1912 [C] Create an empty config.json in v3
  languages/c/config.json
Labels: track/c

#1590 [C] Update concepts list
  languages/c/reference/README.md
Labels: status/in-progress, track/c, type/improve-reference-doc

#1858 [C#] regular expressions new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/regular-expressions/.docs/after.md
  languages/csharp/exercises/concept/regular-expressions/.docs/hints.md
  languages/csharp/exercises/concept/regular-expressions/.docs/instructions.md
  languages/csharp/exercises/concept/regular-expressions/.docs/introduction.md
  languages/csharp/exercises/concept/regular-expressions/.meta/Example.cs
  languages/csharp/exercises/concept/regular-expressions/.meta/config.json
  languages/csharp/exercises/concept/regular-expressions/.meta/design.md
  languages/csharp/exercises/concept/regular-expressions/RegularExpressions.cs
  languages/csharp/exercises/concept/regular-expressions/RegularExpressions.csproj
  languages/csharp/exercises/concept/regular-expressions/RegularExpressionsTests.cs
Labels: track/csharp, type/new-exercise

#1923 [C] Add implementation step to update implemented exercises
  languages/c/reference/implementing-a-concept-exercise.md
Labels: track/c, type/improve-reference-doc

#1825 [Julia] New exercise: matrices
  languages/julia/config.json
  languages/julia/exercises/concept/matrices-introduction/.docs/instructions.md
  languages/julia/exercises/concept/matrices-introduction/.docs/introduction.md
  languages/julia/exercises/concept/matrices-introduction/.meta/config.json
  languages/julia/exercises/concept/matrices-introduction/.meta/design.md
  languages/julia/exercises/concept/matrices-introduction/.meta/example.jl
  languages/julia/exercises/concept/matrices-introduction/exercism-matrix.jl
  languages/julia/exercises/concept/matrices-introduction/runtests.jl
  reference/stories/_sidebar.md
  reference/stories/matrices.exercism-logo-matrix.md
Labels: track/julia

#1844 [x86-64-assembly] Update basics exercise
  languages/x86-64-assembly/exercises/concept/basics/.docs/after.md
  languages/x86-64-assembly/exercises/concept/basics/.docs/hints.md
  languages/x86-64-assembly/exercises/concept/basics/.docs/instructions.md
  languages/x86-64-assembly/exercises/concept/basics/.docs/introduction.md
  languages/x86-64-assembly/exercises/concept/basics/.meta/config.json
  languages/x86-64-assembly/exercises/concept/basics/.meta/design.md
  languages/x86-64-assembly/exercises/concept/basics/.meta/example.asm
  languages/x86-64-assembly/exercises/concept/basics/basics.asm
  languages/x86-64-assembly/exercises/concept/basics/basics_test.c
Labels: track/x86-64-assembly

#1939 [Common Lisp] Add some template contents for .meta/config.json
  languages/common-lisp/bin/generate-scaffolding/template/.meta/config.json
Labels: track/common-lisp

#1933 [Julia] Add list of core concepts to progression.md
  languages/julia/reference/progression.md
Labels: track/julia

#1943 [x86-64-assembly] Add config.json
  languages/x86-64-assembly/config.json
Labels: track/x86-64-assembly

#1946 [Swift] Fix typos in concept exercises
  languages/swift/.gitignore
  languages/swift/exercises/concept/arrays/.docs/after.md
  languages/swift/exercises/concept/arrays/.docs/hints.md
  languages/swift/exercises/concept/arrays/.docs/introduction.md
  languages/swift/exercises/concept/arrays/.meta/design.md
  languages/swift/exercises/concept/basics/.docs/after.md
  languages/swift/exercises/concept/basics/.docs/hints.md
  languages/swift/exercises/concept/basics/.docs/introduction.md
  languages/swift/exercises/concept/basics/Tests/BasicsTests/BasicsTests.swift
  languages/swift/exercises/concept/basics/Tests/BasicsTests/XCTestManifests.swift
  languages/swift/exercises/concept/basics/Tests/LinuxMain.swift
  languages/swift/exercises/concept/conditionals/.docs/hints.md
  languages/swift/exercises/concept/conditionals/.docs/instructions.md
  languages/swift/exercises/concept/strings/.meta/design.md
Labels: track/swift

#1957 [Go] Some exercise tree changes to be discussed
  languages/go/config.json
Labels: status/draft, track/go

#1867 [C#] overflow new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/overflow/.docs/after.md
  languages/csharp/exercises/concept/overflow/.docs/hints.md
  languages/csharp/exercises/concept/overflow/.docs/instructions.md
  languages/csharp/exercises/concept/overflow/.docs/introduction.md
  languages/csharp/exercises/concept/overflow/.meta/Example.cs
  languages/csharp/exercises/concept/overflow/.meta/config.json
  languages/csharp/exercises/concept/overflow/.meta/design.md
  languages/csharp/exercises/concept/overflow/Overflow.cs
  languages/csharp/exercises/concept/overflow/Overflow.csproj
  languages/csharp/exercises/concept/overflow/OverflowTests.cs
Labels: track/csharp, type/new-exercise

#1866 [C#] resource-lifetime new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/resource-lifetime/.docs/after.md
  languages/csharp/exercises/concept/resource-lifetime/.docs/hints.md
  languages/csharp/exercises/concept/resource-lifetime/.docs/instructions.md
  languages/csharp/exercises/concept/resource-lifetime/.docs/introduction.md
  languages/csharp/exercises/concept/resource-lifetime/.meta/Example.cs
  languages/csharp/exercises/concept/resource-lifetime/.meta/config.json
  languages/csharp/exercises/concept/resource-lifetime/.meta/design.md
  languages/csharp/exercises/concept/resource-lifetime/ResourceLifetime.cs
  languages/csharp/exercises/concept/resource-lifetime/ResourceLifetime.csproj
  languages/csharp/exercises/concept/resource-lifetime/ResourceLifetimeTests.cs
Labels: track/csharp, type/new-exercise

#1908 [C#] nested-types new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/nested-types/.docs/after.md
  languages/csharp/exercises/concept/nested-types/.docs/hints.md
  languages/csharp/exercises/concept/nested-types/.docs/instructions.md
  languages/csharp/exercises/concept/nested-types/.docs/introduction.md
  languages/csharp/exercises/concept/nested-types/.meta/Example.cs
  languages/csharp/exercises/concept/nested-types/.meta/config.json
  languages/csharp/exercises/concept/nested-types/.meta/design.md
  languages/csharp/exercises/concept/nested-types/NestedTypes.cs
  languages/csharp/exercises/concept/nested-types/NestedTypes.csproj
  languages/csharp/exercises/concept/nested-types/NestedTypesTests.cs
Labels: track/csharp, type/new-exercise

#1973 [Docs] use underscore instead of dash
  reference/concepts/README.md
  reference/concepts/_sidebar.md
  reference/concepts/prototype_based_programming.md
Labels: type/documentation, type/improve-reference-doc

#1986 [CI] Skip file size check for auto-generated files
  .github/workflows/valid-files.yml
Labels: type/ci

#1944 [Scala] basics new exercise
  languages/scala/exercises/concept/basics/.docs/instructions.md
  languages/scala/exercises/concept/basics/.docs/introduction.md
  languages/scala/exercises/concept/basics/.meta/Example.scala
  languages/scala/exercises/concept/basics/.meta/config.json
  languages/scala/exercises/concept/basics/.meta/design.md
  languages/scala/exercises/concept/basics/Lasagna.scala
  languages/scala/exercises/concept/basics/LasagnaTest.scala
  reference/concepts/immutability.md
  reference/concepts/type_inference.md
  reference/concepts/variables.md
Labels: track/scala, type/new-exercise

#1913 [Ruby] Update Ruby Concepts list
  languages/ruby/reference/README.md
Labels: track/ruby

#1998 [C#] misspelling of "prerequisiites" in multiple files
  languages/csharp/exercises/concept/arrays/.meta/design.md
  languages/csharp/exercises/concept/basics/.meta/design.md
  languages/csharp/exercises/concept/booleans/.meta/design.md
  languages/csharp/exercises/concept/chars/.meta/design.md
  languages/csharp/exercises/concept/classes/.meta/design.md
  languages/csharp/exercises/concept/constructors/.meta/design.md
  languages/csharp/exercises/concept/datetimes/.meta/design.md
  languages/csharp/exercises/concept/dictionaries/.meta/design.md
  languages/csharp/exercises/concept/enums/.meta/design.md
  languages/csharp/exercises/concept/equality/.meta/design.md
  languages/csharp/exercises/concept/flag-enums/.meta/design.md
  languages/csharp/exercises/concept/floating-point-numbers/.meta/design.md
  languages/csharp/exercises/concept/inheritance/.meta/design.md
  languages/csharp/exercises/concept/method-overloading/.meta/design.md
  languages/csharp/exercises/concept/numbers/.meta/design.md
  languages/csharp/exercises/concept/overflow/.meta/design.md
  languages/csharp/exercises/concept/parameters/.meta/design.md
  languages/csharp/exercises/concept/properties/.meta/design.md
  languages/csharp/exercises/concept/strings/.meta/design.md
  languages/csharp/exercises/concept/structs/.meta/design.md
  languages/csharp/exercises/concept/tuples/.meta/design.md
  languages/csharp/exercises/concept/user-defined-exceptions/.meta/design.md
Labels: track/csharp, type/improve-exercise

#1961 [Swift] Add dictionaries concept exercise
  languages/swift/exercises/concept/arrays/.docs/after.md
  languages/swift/exercises/concept/arrays/.docs/introduction.md
  languages/swift/exercises/concept/dictionaries/.docs/after.md
  languages/swift/exercises/concept/dictionaries/.docs/hints.md
  languages/swift/exercises/concept/dictionaries/.docs/instructions.md
  languages/swift/exercises/concept/dictionaries/.docs/introduction.md
  languages/swift/exercises/concept/dictionaries/.gitignore
  languages/swift/exercises/concept/dictionaries/.meta/Example.swift
  languages/swift/exercises/concept/dictionaries/.meta/config.json
  languages/swift/exercises/concept/dictionaries/.meta/design.md
  languages/swift/exercises/concept/dictionaries/Package.swift
  languages/swift/exercises/concept/dictionaries/README.md
  languages/swift/exercises/concept/dictionaries/Sources/dictionaries/dictionaries.swift
  languages/swift/exercises/concept/dictionaries/Tests/LinuxMain.swift
  languages/swift/exercises/concept/dictionaries/Tests/dictionariesTests/XCTestManifests.swift
  languages/swift/exercises/concept/dictionaries/Tests/dictionariesTests/dictionariesTests.swift
Labels: track/swift, type/new-exercise

#2000 [C#] lists new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/lists/.docs/after.md
  languages/csharp/exercises/concept/lists/.docs/hints.md
  languages/csharp/exercises/concept/lists/.docs/instructions.md
  languages/csharp/exercises/concept/lists/.docs/introduction.md
  languages/csharp/exercises/concept/lists/.meta/Example.cs
  languages/csharp/exercises/concept/lists/.meta/config.json
  languages/csharp/exercises/concept/lists/.meta/design.md
  languages/csharp/exercises/concept/lists/Lists.cs
  languages/csharp/exercises/concept/lists/Lists.csproj
  languages/csharp/exercises/concept/lists/ListsTests.cs
Labels: track/csharp, type/new-exercise

#1802 [Elixir] new concept exercise - `agent`
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/agent/.docs/after.md
  languages/elixir/exercises/concept/agent/.docs/hints.md
  languages/elixir/exercises/concept/agent/.docs/instructions.md
  languages/elixir/exercises/concept/agent/.docs/introduction.md
  languages/elixir/exercises/concept/agent/.formatter.exs
  languages/elixir/exercises/concept/agent/.gitignore
  languages/elixir/exercises/concept/agent/.meta/config.json
  languages/elixir/exercises/concept/agent/.meta/design.md
  languages/elixir/exercises/concept/agent/.meta/example.ex
  languages/elixir/exercises/concept/agent/lib/community_garden.ex
  languages/elixir/exercises/concept/agent/mix.exs
  languages/elixir/exercises/concept/agent/test/community_garden_test.exs
  languages/elixir/exercises/concept/agent/test/test_helper.exs
  languages/elixir/reference/README.md
Labels: status/in-progress, track/elixir, type/new-exercise

#2030 [Go] structs exercise (started)
  languages/go/config.json
  languages/go/exercises/concept/structs/.docs/instructions.md
  languages/go/exercises/concept/structs/.meta/config.json
  languages/go/exercises/concept/structs/.meta/example.go
  languages/go/exercises/concept/structs/structs.go
Labels: track/go

#2023 [Ruby] new concept exercise - `instance-variables`
  languages/ruby/config.json
  languages/ruby/exercises/concept/README.md
  languages/ruby/exercises/concept/instance-variables/.docs/after.md
  languages/ruby/exercises/concept/instance-variables/.docs/hints.md
  languages/ruby/exercises/concept/instance-variables/.docs/instructions.md
  languages/ruby/exercises/concept/instance-variables/.docs/introduction.md
  languages/ruby/exercises/concept/instance-variables/.meta/config.json
  languages/ruby/exercises/concept/instance-variables/.meta/design.md
  languages/ruby/exercises/concept/instance-variables/.meta/example.rb
  languages/ruby/exercises/concept/instance-variables/attendee.rb
  languages/ruby/exercises/concept/instance-variables/attendee_test.rb
  reference/stories/classes.amusement-park.md
Labels: status/in-progress, track/ruby, type/new-exercise

#2025 [Ruby] new exercise - `booleans`
  languages/ruby/config.json
  languages/ruby/exercises/concept/README.md
  languages/ruby/exercises/concept/booleans/.docs/after.md
  languages/ruby/exercises/concept/booleans/.docs/hints.md
  languages/ruby/exercises/concept/booleans/.docs/instructions.md
  languages/ruby/exercises/concept/booleans/.docs/introduction.md
  languages/ruby/exercises/concept/booleans/.meta/config.json
  languages/ruby/exercises/concept/booleans/.meta/design.md
  languages/ruby/exercises/concept/booleans/.meta/example.rb
  languages/ruby/exercises/concept/booleans/attendee.rb
  languages/ruby/exercises/concept/booleans/attendee_test.rb
Labels: status/in-progress, track/ruby, type/new-exercise

#2035 test uuid = null on tree
  languages/go/config.json
Labels: track/go

#1823 [Common Lisp] add sameness exercise
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/sameness/.docs/after.md
  languages/common-lisp/exercises/concept/sameness/.docs/hints.md
  languages/common-lisp/exercises/concept/sameness/.docs/instructions.md
  languages/common-lisp/exercises/concept/sameness/.docs/introduction.md
  languages/common-lisp/exercises/concept/sameness/.meta/config.json
  languages/common-lisp/exercises/concept/sameness/.meta/design.md
  languages/common-lisp/exercises/concept/sameness/.meta/example.lisp
  languages/common-lisp/exercises/concept/sameness/sameness-test.lisp
  languages/common-lisp/exercises/concept/sameness/sameness.lisp
Labels: track/common-lisp, type/new-exercise

#1871 [C#] string-formatting new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/string-formatting/.docs/after.md
  languages/csharp/exercises/concept/string-formatting/.docs/hints.md
  languages/csharp/exercises/concept/string-formatting/.docs/instructions.md
  languages/csharp/exercises/concept/string-formatting/.docs/introduction.md
  languages/csharp/exercises/concept/string-formatting/.meta/Example.cs
  languages/csharp/exercises/concept/string-formatting/.meta/config.json
  languages/csharp/exercises/concept/string-formatting/.meta/design.md
  languages/csharp/exercises/concept/string-formatting/StringFormatting.cs
  languages/csharp/exercises/concept/string-formatting/StringFormatting.csproj
  languages/csharp/exercises/concept/string-formatting/StringFormattingTests.cs
Labels: track/csharp, type/new-exercise

#1987 [C#] namespaces new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/namespaces/.docs/after.md
  languages/csharp/exercises/concept/namespaces/.docs/hints.md
  languages/csharp/exercises/concept/namespaces/.docs/instructions.md
  languages/csharp/exercises/concept/namespaces/.docs/introduction.md
  languages/csharp/exercises/concept/namespaces/.meta/Example.cs
  languages/csharp/exercises/concept/namespaces/.meta/config.json
  languages/csharp/exercises/concept/namespaces/.meta/design.md
  languages/csharp/exercises/concept/namespaces/Namespaces.cs
  languages/csharp/exercises/concept/namespaces/Namespaces.csproj
  languages/csharp/exercises/concept/namespaces/NamespacesTests.cs
Labels: track/csharp, type/new-exercise

#1831 [Kotlin] #1716. Add implementation for concept exercise: `basic`
  .gitignore
  languages/kotlin/config.json
  languages/kotlin/exercises/concept/basics/.docs/after.md
  languages/kotlin/exercises/concept/basics/.docs/hints.md
  languages/kotlin/exercises/concept/basics/.docs/instructions.md
  languages/kotlin/exercises/concept/basics/.docs/introduction.md
  languages/kotlin/exercises/concept/basics/.meta/config.json
  languages/kotlin/exercises/concept/basics/.meta/design.md
  languages/kotlin/exercises/concept/basics/.meta/src/main/kotlin/Example.kt
  languages/kotlin/exercises/concept/basics/build.gradle.kts
  languages/kotlin/exercises/concept/basics/gradle/wrapper/gradle-wrapper.jar
  languages/kotlin/exercises/concept/basics/gradle/wrapper/gradle-wrapper.properties
  languages/kotlin/exercises/concept/basics/gradlew
  languages/kotlin/exercises/concept/basics/gradlew.bat
  languages/kotlin/exercises/concept/basics/settings.gradle.kts
  languages/kotlin/exercises/concept/basics/src/main/kotlin/Basics.kt
  languages/kotlin/exercises/concept/basics/src/test/kotlin/BasicsTest.kt
Labels: track/kotlin

#1951 [JavaScript] Add array-transformations Concept Exercise
  .editorconfig
  languages/javascript/exercises/concept/array-transformations/.docs/after.md
  languages/javascript/exercises/concept/array-transformations/.docs/hints.md
  languages/javascript/exercises/concept/array-transformations/.docs/instructions.md
  languages/javascript/exercises/concept/array-transformations/.docs/introduction.md
  languages/javascript/exercises/concept/array-transformations/.gitignore
  languages/javascript/exercises/concept/array-transformations/.meta/config.json
  languages/javascript/exercises/concept/array-transformations/.meta/design.md
  languages/javascript/exercises/concept/array-transformations/example.js
  languages/javascript/maintainers.md
Labels: track/javascript

#1952 [Python] new concept exercise - `bools`
  .gitignore
  languages/python/config.json
  languages/python/exercises/README.md
  languages/python/exercises/concept/bools/.docs/after.md
  languages/python/exercises/concept/bools/.docs/hints.md
  languages/python/exercises/concept/bools/.docs/instructions.md
  languages/python/exercises/concept/bools/.docs/introduction.md
  languages/python/exercises/concept/bools/.meta/config.json
  languages/python/exercises/concept/bools/.meta/design.md
  languages/python/exercises/concept/bools/.meta/example.py
  languages/python/exercises/concept/bools/arcade_game.py
  languages/python/exercises/concept/bools/arcade_game_test.py
  reference/stories/booleans.pac-man.md
Labels: status/in-progress, track/python, type/new-exercise

#2027 [Java] booleans - new exercise
  languages/java/config.json
  languages/java/exercises/concept/booleans/.docs/after.md
  languages/java/exercises/concept/booleans/.docs/hints.md
  languages/java/exercises/concept/booleans/.docs/instructions.md
  languages/java/exercises/concept/booleans/.docs/introduction.md
  languages/java/exercises/concept/booleans/.meta/config.json
  languages/java/exercises/concept/booleans/.meta/design.md
  languages/java/exercises/concept/booleans/.meta/src/reference/java/QuestLogic.java
  languages/java/exercises/concept/booleans/build.gradle
  languages/java/exercises/concept/booleans/src/main/java/QuestLogic.java
  languages/java/exercises/concept/booleans/src/test/java/QuestLogicTest.java
  languages/java/exercises/settings.gradle
Labels: track/java, type/new-exercise

#2056 [Docs] Explain example file better
  docs/concept-exercises.md
Labels: type/documentation

#2070 [Kotlin] #1716. Post-review fixes for concept exercise `basic`
  languages/kotlin/exercises/concept/basics/.docs/after.md
  languages/kotlin/exercises/concept/basics/.docs/hints.md
  languages/kotlin/exercises/concept/basics/.docs/instructions.md
  languages/kotlin/exercises/concept/basics/.docs/introduction.md
  languages/kotlin/exercises/concept/basics/.meta/src/main/kotlin/Example.kt
Labels: track/kotlin

#2059 Ruby remove booleans from numbers
  languages/ruby/config.json
  languages/ruby/exercises/concept/README.md
  languages/ruby/exercises/concept/numbers/.docs/after.md
  languages/ruby/exercises/concept/numbers/.docs/introduction.md
  languages/ruby/exercises/concept/numbers/.meta/config.json
  languages/ruby/exercises/concept/numbers/.meta/design.md
Labels: track/ruby

#2021 [Swift] address comments on Arrays exercise
  languages/swift/config.json
  languages/swift/exercises/concept/arrays/.docs/after.md
  languages/swift/exercises/concept/arrays/.docs/instructions.md
  languages/swift/exercises/concept/arrays/.docs/introduction.md
  languages/swift/exercises/concept/arrays/.meta/Example.swift
  languages/swift/exercises/concept/arrays/.meta/design.md
  languages/swift/exercises/concept/arrays/Sources/Arrays/Arrays.swift
  languages/swift/exercises/concept/arrays/Tests/ArraysTests/ArraysTests.swift
  languages/swift/exercises/concept/arrays/Tests/ArraysTests/XCTestManifests.swift
  languages/swift/exercises/concept/arrays/Tests/LinuxMain.swift
Labels: track/swift

#2005 [Swift] Add functions concept exercise
  languages/swift/config.json
  languages/swift/exercises/concept/functions/.docs/after.md
  languages/swift/exercises/concept/functions/.docs/hints.md
  languages/swift/exercises/concept/functions/.docs/instructions.md
  languages/swift/exercises/concept/functions/.docs/introduction.md
  languages/swift/exercises/concept/functions/.gitignore
  languages/swift/exercises/concept/functions/.meta/Example.swift
  languages/swift/exercises/concept/functions/.meta/config.json
  languages/swift/exercises/concept/functions/.meta/design.md
  languages/swift/exercises/concept/functions/Package.swift
  languages/swift/exercises/concept/functions/Sources/functions/functions.swift
  languages/swift/exercises/concept/functions/Tests/LinuxMain.swift
  languages/swift/exercises/concept/functions/Tests/functionsTests/XCTestManifests.swift
  languages/swift/exercises/concept/functions/Tests/functionsTests/functionsTests.swift
Labels: track/swift, type/new-exercise

#1942 [Common Lisp] Add new concept exercise: arithmetic
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/arithmetic/.docs/after.md
  languages/common-lisp/exercises/concept/arithmetic/.docs/hints.md
  languages/common-lisp/exercises/concept/arithmetic/.docs/instructions.md
  languages/common-lisp/exercises/concept/arithmetic/.docs/introduction.md
  languages/common-lisp/exercises/concept/arithmetic/.meta/config.json
  languages/common-lisp/exercises/concept/arithmetic/.meta/design.md
  languages/common-lisp/exercises/concept/arithmetic/.meta/example.lisp
  languages/common-lisp/exercises/concept/arithmetic/arithmetic-test.lisp
  languages/common-lisp/exercises/concept/arithmetic/arithmetic.lisp
Labels: track/common-lisp

#2048 [Go] create new concept exercise: methods (start)
  languages/go/exercises/concept/methods/.docs/instructions.md
  languages/go/exercises/concept/methods/.meta/config.json
  languages/go/exercises/concept/methods/.meta/design.md
  languages/go/exercises/concept/methods/.meta/example.go
  languages/go/exercises/concept/methods/go.mod
  languages/go/exercises/concept/methods/methods.go
Labels: track/go

#2052 [Python] new concept exercise - `basics`
  languages/python/config.json
  languages/python/exercises/concept/basics/.docs/after.md
  languages/python/exercises/concept/basics/.docs/hints.md
  languages/python/exercises/concept/basics/.docs/instructions.md
  languages/python/exercises/concept/basics/.docs/introduction.md
  languages/python/exercises/concept/basics/.meta/config.json
  languages/python/exercises/concept/basics/.meta/design.md
  languages/python/exercises/concept/basics/.meta/example.py
  languages/python/exercises/concept/basics/lasagna.py
  languages/python/exercises/concept/basics/lasagna_test.py
Labels: track/python

#2082 [Scala] Adding after and hints to basics exercise
  languages/scala/exercises/concept/basics/.docs/after.md
  languages/scala/exercises/concept/basics/.docs/hints.md
  languages/scala/exercises/concept/basics/.docs/introduction.md
Labels: track/scala

#2090 [Go] config file
  languages/go/config.json
Labels: track/go

#2091 [Common Lisp] Sameness Concept Exercise cleanups
  languages/common-lisp/exercises/concept/sameness/.docs/hints.md
  languages/common-lisp/exercises/concept/sameness/.docs/instructions.md
  languages/common-lisp/exercises/concept/sameness/.meta/design.md
  languages/common-lisp/exercises/concept/sameness/.meta/example.lisp
  languages/common-lisp/exercises/concept/sameness/sameness-test.lisp
  languages/common-lisp/exercises/concept/sameness/sameness.lisp
Labels: track/common-lisp

#2096 [Common Lisp] Add empty exercises to fill in dashboard tree
  languages/common-lisp/config.json
Labels: track/common-lisp

#2099 [Common Lisp] Fix a silly loop in the dependencies
  languages/common-lisp/config.json
Labels: track/common-lisp

#2102 [Common Lisp] Nix a second loop?
  languages/common-lisp/config.json
Labels: track/common-lisp

#2106 [CI] Exclude auto-generated Markdown files from file limit check
  .github/workflows/valid-files.yml
Labels: type/ci

#2101 Add Elm concept exercises / dependency diagram
  languages/elm/README.md
Labels: track/elm

#2113 [C#] casting minor enhancement to after.md
  languages/csharp/exercises/concept/casting/.docs/after.md
Labels: track/csharp, type/improve-exercise

#2105 [C#] integral-numbers new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/integral-numbers/.docs/after.md
  languages/csharp/exercises/concept/integral-numbers/.docs/hints.md
  languages/csharp/exercises/concept/integral-numbers/.docs/instructions.md
  languages/csharp/exercises/concept/integral-numbers/.docs/introduction.md
  languages/csharp/exercises/concept/integral-numbers/.meta/Example.cs
  languages/csharp/exercises/concept/integral-numbers/.meta/config.json
  languages/csharp/exercises/concept/integral-numbers/.meta/design.md
  languages/csharp/exercises/concept/integral-numbers/IntegralNumbers.cs
  languages/csharp/exercises/concept/integral-numbers/IntegralNumbers.csproj
  languages/csharp/exercises/concept/integral-numbers/IntegralNumbersTests.cs
Labels: track/csharp, type/new-exercise

#2076 [C#] interfaces new exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/interfaces/.docs/after.md
  languages/csharp/exercises/concept/interfaces/.docs/hints.md
  languages/csharp/exercises/concept/interfaces/.docs/instructions.md
  languages/csharp/exercises/concept/interfaces/.docs/introduction.md
  languages/csharp/exercises/concept/interfaces/.meta/Example.cs
  languages/csharp/exercises/concept/interfaces/.meta/config.json
  languages/csharp/exercises/concept/interfaces/.meta/design.md
  languages/csharp/exercises/concept/interfaces/Interfaces.cs
  languages/csharp/exercises/concept/interfaces/Interfaces.csproj
  languages/csharp/exercises/concept/interfaces/InterfacesTests.cs
Labels: track/csharp, type/new-exercise
