Repository exercism/v3, pull requests merged in 2020-01, with the labels that each got.

#6 julia: add array indexing & link to doc
  languages/julia/README.md
Labels: track/julia

#22 julia: Add CI
  .github/workflows/julia-ci.yml
Labels: track/julia

#61 Add cmccandless to Python Senior Maintainers list
  languages/python/maintainers.md
Labels: track/python

#62 Add myself to v3 javascript/maintainers.md
  languages/javascript/maintainers.md
Labels: track/javascript

#69 #53 Added Elixir issue search to the README
  README.md
Labels: documentation :book:

#64 Add pvcarrera to contributing maintainers list
  languages/ruby/maintainers.md
Labels: track/ruby

#77 Add Ruby issue search link to Readme
  README.md
Labels: documentation :book:

#79 Add bergjohan as contributing maintainer
  languages/c/maintainers.md
Labels: track/c

#74 Add Adam Morris as a JavaScript contributing maintainer
  languages/javascript/maintainers.md
Labels: track/javascript

#82 Add senior maintainers
  languages/c/maintainers.md
Labels: track/c

#65 Typos in charp's "Implementing a concept exercise"
  languages/csharp/docs/implementing-a-concept-exercise.md
Labels: track/csharp

#81 Add bergjohan as senior maintainer
  languages/x86-64-assembly/maintainers.md
Labels: track/x86-64-assembly

#80 Add a link to JavaScript issues on main README
  README.md
  languages/javascript/README.md
Labels: documentation :book:

#84 Remove extra bracket
  languages/c/README.md
Labels: track/c

#86 Add link to C issues
  README.md
Labels: documentation :book:, track/c

#88 [JavaScript] Added online editor settings to config.json
  languages/javascript/README.md
  languages/javascript/config.json
Labels: track/javascript

#87 [Go] add config.json
  languages/go/README.md
  languages/go/config.json
Labels: track/go

#91 Add bethanyg to list of contributing maintainers
  languages/python/maintainers.md
Labels: track/python

#71 add bmeverett to csharp maintainers
  languages/csharp/maintainers.md
Labels: track/csharp

#57 csharp: cleanup links
  languages/csharp/docs/examples/new-concept-exercise-arrays.md
  languages/csharp/docs/implementing-a-concept-exercise.md
  languages/csharp/exercises/concept/README.md
  languages/fsharp/docs/implementing-a-concept-exercise.md
Labels: track/csharp

#67 [C++] Adding in C++ language track
  languages/README.md
  languages/cpp/README.md
  languages/cpp/docs/implementing-a-concept-exercise.md
  languages/cpp/maintainers.md
Labels: track/cpp

#106 [Haskell] Add myself to Haskell contributing maintainers
  languages/haskell/maintainers.md
Labels: track/haskell

#50 [Haskell] Add maintainers and link to Haskell-specific v3 GitHub issues
  README.md
  languages/haskell/README.md
  languages/haskell/maintainers.md
Labels: track/haskell

#54 Shared docs
  docs/concept-exercises.md
  docs/maintainers/repository-structure.md
  languages/csharp/docs/examples/new-concept-exercise-arrays.md
  languages/csharp/exercises/shared/.docs/README.md
  languages/csharp/exercises/shared/.docs/cli.md
  languages/csharp/exercises/shared/.docs/debug.md
  languages/fsharp/exercises/shared/.docs/README.md
  languages/fsharp/exercises/shared/.docs/cli.md
Labels: documentation :book:

#108 [PureScript] Add myself to PureScript contributing maintainers
  languages/purescript/maintainers.md
Labels: track/purescript

#109 Fix pvcarrera GitHub link
  languages/ruby/maintainers.md
Labels: track/ruby

#110 [Docs] clarify labels
  docs/maintainers/repository-structure.md
Labels: documentation

#113 Update maintainers.md
  languages/csharp/maintainers.md
Labels: track/csharp

#124 [JavaScript] Add senior maintainers and sort alphabetically
  languages/javascript/maintainers.md
Labels: track/javascript

#38 [Elixir] v3 config.json
  languages/elixir/README.md
  languages/elixir/config.json
Labels: track/elixir

#116 Reword information on concept exercises for clarity
  docs/maintainers/determining-concepts.md
Labels: documentation

#132 Correct broken link
  languages/csharp/reference/code_style.md
Labels: track/csharp

#63 [Docs] Extend thoughts on concepts
  docs/maintainers/determining-concepts.md
Labels: documentation

#131 Add davidgerva to python maintainers
  languages/python/maintainers.md
Labels: track/python

#118 [Docs] Add documentation explaining how to run website locally
  docs/maintainers/_sidebar.md
  docs/maintainers/website.md
Labels: documentation

#99 [Common Lisp] Add link to Common Lisp track's issues.
  README.md
Labels: track/common-lisp

#128 [Ruby] Add sidebar information
  languages/ruby/_sidebar.md
  languages/ruby/docs/README.md
  languages/ruby/exercises/README.md
  languages/ruby/reference/README.md
Labels: track/ruby

#130 [C] Add Xavi Ondoño as contributing maintainer
  languages/c/maintainers.md
Labels: track/c

#120 [C#] Remove unneeded sidebar
  languages/csharp/exercises/concept/_sidebar.md
Labels: track/csharp

#137 Link to PureScript issues in README
  README.md
  languages/purescript/README.md
Labels: track/purescript

#117 [Elixir] Add filalex77 to Contributing Maintainers
  languages/elixir/maintainers.md
Labels: track/elixir

#51 [Haskell] v3 config.json stub
  languages/haskell/README.md
  languages/haskell/config.json
Labels: track/haskell

#141 [PureScript] Migrate config.json
  languages/purescript/config.json
Labels: track/purescript

#145 [Elixir] Remove "foregone" property from config.json
  languages/elixir/config.json
Labels: documentation, track/elixir

#12 [Julia] Notes on progression
  languages/julia/reference/progression.md
Labels: discussion, track/julia

#148 [Rust] Bootstrap
  languages/rust/README.md
  languages/rust/docs/implementing-a-concept-exercise.md
  languages/rust/maintainers.md
Labels: track/rust

#138 [Go] Add reference folder
  languages/go/reference/README.md
  languages/go/reference/channels.md
  languages/go/reference/comments.md
  languages/go/reference/concurrency.md
  languages/go/reference/defer.md
  languages/go/reference/empty interface.md
  languages/go/reference/errors.md
  languages/go/reference/exporting.md
  languages/go/reference/formatting.md
  languages/go/reference/interfaces.md
  languages/go/reference/loops.md
  languages/go/reference/methods.md
  languages/go/reference/modules.md
  languages/go/reference/multiple_returns.md
  languages/go/reference/mutexes.md
  languages/go/reference/named_returns.md
  languages/go/reference/nil.md
  languages/go/reference/packages.md
  languages/go/reference/panics.md
  languages/go/reference/pointers.md
  languages/go/reference/reflection.md
  languages/go/reference/slice.md
  languages/go/reference/structs.md
  languages/go/reference/type_switch.md
  languages/go/reference/unsafe.md
  languages/go/reference/zero_values.md
Labels: track/go

#140 [Python] Add aldraco to python maintainers
  languages/python/maintainers.md
Labels: track/python

#114 [Elixir] Update maintainers.md
  languages/elixir/maintainers.md
Labels: track/elixir

#121 [C#] Introduce looping in introduction of numbers-floating-point exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/numbers-floating-point/.docs/hints.md
  languages/csharp/exercises/concept/numbers-floating-point/.docs/introduction.md
Labels: track/csharp

#150 [Docs] Add links for missing languages
  README.md
  languages/_sidebar.md
  languages/bash/README.md
  languages/c/README.md
  languages/clojure/README.md
  languages/common-lisp/README.md
  languages/cpp/README.md
  languages/csharp/README.md
  languages/dart/README.md
  languages/elixir/README.md
  languages/emacs-lisp/README.md
  languages/erlang/README.md
  languages/fsharp/README.md
  languages/go/README.md
  languages/haskell/README.md
  languages/julia/README.md
  languages/kotlin/README.md
  languages/ocaml/README.md
  languages/python/README.md
  languages/reasonml/README.md
  languages/ruby/README.md
  languages/rust/README.md
  languages/scala/README.md
  languages/scheme/README.md
  languages/typescript/README.md
  languages/x86-64-assembly/README.md
Labels: track/bash, track/c, track/common-lisp, track/cpp, track/csharp, track/dart, track/elixir, track/erlang, track/fsharp, track/go, track/haskell, track/julia, track/kotlin, track/ocaml, track/python, track/reasonml, track/ruby, track/rust, track/scala, track/scheme, track/typescript, track/x86-64-assembly

#119 [F#] Add sidebar information
  languages/fsharp/_sidebar.md
  languages/fsharp/docs/README.md
  languages/fsharp/exercises/_sidebar.md
Labels: track/fsharp

#146 [F#] Remove "foregone" property from config.json
  languages/fsharp/config.json
Labels: documentation, track/fsharp

#143 [Javascript | Typescript ] add msomji as contributing maintainer to .js and .ts tracks
  languages/javascript/maintainers.md
  languages/typescript/maintainers.md
Labels: track/javascript, track/typescript

#129 [Python] Add sidebar information
  languages/python/_sidebar.md
  languages/python/docs/README.md
  languages/python/exercises/README.md
  languages/python/reference/README.md
Labels: track/python

#152 Adding to maintainers list
  languages/javascript/maintainers.md
Labels: track/javascript

#147 [C#] Remove "foregone" property from config.json
  languages/csharp/config.json
Labels: documentation, track/csharp

#154 [Delphi] Bootstrap
  .github/labeler.yml
  README.md
  languages/delphi/README.md
  languages/delphi/docs/implementing-a-concept-exercise.md
  languages/delphi/maintainers.md
Labels: track/delphi

#156 Adds fireproofsocks as maintainer
  languages/elixir/maintainers.md
Labels: track/elixir

#166 [Go] Update maintainers.md
  languages/go/maintainers.md
Labels: track/go

#175 [erlang] [maintainer] Add NobbZ to `maintainer.md`
  languages/erlang/README.md
  languages/erlang/maintainers.md
Labels: track/erlang

#174 [Julia] Fill out the maintainers.md file
  languages/julia/README.md
  languages/julia/maintainers.md
Labels: track/julia

#158 [Common Lisp] update maintainers file
  languages/common-lisp/README.md
  languages/common-lisp/maintainers.md
Labels: track/common-lisp

#162 [Common Lisp] Create initial config.json file
  languages/common-lisp/README.md
  languages/common-lisp/config.json
Labels: track/common-lisp

#177 [Java] Bootstrap
  .github/labeler.yml
  README.md
  languages/java/README.md
  languages/java/docs/implementing-a-concept-exercise.md
  languages/java/maintainers.md
Labels: track/java

#184 [Java] add sshine, mirko, pdmoore and msomji as contributing maintainers
  languages/java/maintainers.md
Labels: track/java

#186 [Common Lisp] Fix config.json validity issue.
  languages/common-lisp/config.json
Labels: track/common-lisp

#181 Concept - Arithmetic - citation added
  reference/concepts/arithmetic.md
Labels: documentation, type/improve-reference

#178 [Kotlin] Add `config.json` for Kotlin
  languages/kotlin/README.md
  languages/kotlin/config.json
Labels: track/kotlin

#172 [Clojure] Update maintainers.md | User: bemself
  languages/clojure/maintainers.md
Labels: track/clojure

#165 [Go] check things off the list
  languages/go/README.md
Labels: track/go

#160 [Common Lisp] complete kick-off task
  languages/common-lisp/README.md
Labels: track/common-lisp

#169 [Go] Links to Readme
  languages/go/README.md
Labels: track/go

#187 [CSharp] Fix uuid duplication for exercises
  languages/csharp/config.json
Labels: track/csharp

#182 [erlang] initial migration of config
  languages/erlang/README.md
  languages/erlang/config.json
Labels: track/erlang

#139 [Go] Create exercises folder with basic READMEs
  languages/go/exercises/README.md
  languages/go/exercises/concept/README.md
  languages/go/exercises/practice/README.md
  languages/go/exercises/shared/.docs/README.md
  languages/go/exercises/shared/.docs/cli.md
  languages/go/exercises/shared/.docs/debug.md
  languages/go/reference/testing.md
Labels: track/go

#189 [python] Add yawpitch as senior maintainer
  languages/python/maintainers.md
Labels: track/python

#190 [python] update README.md
  languages/python/README.md
Labels: track/python

#188 [Kotlin] Add Kotlin track maintainers
  languages/kotlin/maintainers.md
Labels: track/kotlin

#192 [Factor] Bootstrap
  .github/labeler.yml
  README.md
  languages/factor/README.md
  languages/factor/docs/implementing-a-concept-exercise.md
  languages/factor/maintainers.md
Labels: track/factor

#193 [PureScript] Fill out maintainers.md
  languages/purescript/README.md
  languages/purescript/maintainers.md
Labels: track/purescript

#197 [PureScript] cross off config.json in readme
  languages/purescript/README.md
Labels: track/purescript

#173 [Julia] Convert existing files to new repository structure
  languages/julia/README.md
  languages/julia/config.json
  languages/julia/exercises/concept/multiple-dispatch/.docs/after.md
  languages/julia/exercises/concept/multiple-dispatch/.docs/hints.md
  languages/julia/exercises/concept/multiple-dispatch/.docs/instructions.md
  languages/julia/exercises/concept/multiple-dispatch/.docs/introduction.md
  languages/julia/exercises/concept/multiple-dispatch/.meta/example.jl
  languages/julia/exercises/concept/multiple-dispatch/encounters.jl
  languages/julia/exercises/concept/multiple-dispatch/runtests.jl
  languages/julia/exercises/shared/.docs/cli.md
  languages/julia/runtests.jl
  reference/concepts/multiple-dispatch.md
Labels: track/julia

#208 Add _sidebar for go
  languages/go/_sidebar.md
  languages/go/docs/README.md
Labels: track/go

#211 [Java] Fill out maintainers.md
  languages/java/README.md
Labels: track/java

#202 Add @devkabiir as maintainer for dart track
  languages/dart/maintainers.md
Labels: track/dart

#203 [Elm] Add Cedd Burge as a maintainer
  languages/elm/maintainers.md
Labels: track/elm

#221 [CI] Automatically add CI label
  .github/labeler.yml
Labels: CI

#220 [JavaScript] Fix typo in reference/README.md
  languages/javascript/reference/README.md
Labels: documentation, track/javascript

#219 [Docs] Update README links
  README.md
Labels: documentation

#217 [Docs] Fix dead link in reference/concepts/operators.md
  reference/concepts/operators.md
Labels: documentation, type/improve-reference

#153 [CI] Only check markdown for added or modified files
  .github/workflows/valid-links.yml
Labels: CI

#200 [Haskell] Concept exercise implementation guide
  languages/haskell/docs/implementing-a-concept-exercise.md
Labels: documentation, track/haskell

#205 [Clojure] init config.json and implementing-a-concept-exercise.md
  languages/clojure/config.json
  languages/clojure/docs/implementing-a-concept-exercise.md
Labels: documentation, track/clojure

#199 [PureScript] Concept exercise implementation guide
  languages/purescript/README.md
  languages/purescript/docs/implementing-a-concept-exercise.md
Labels: documentation, track/purescript

#225 [JavaScript] add README.md
  languages/javascript/docs/README.md
Labels: track/javascript

#236 [C++] Add Rohit Goswami as a maintainer
  languages/cpp/maintainers.md
Labels: track/cpp

#157 [Docs] Improve explanation of representers
  docs/features-of-v3.md
Labels: documentation

#241 fix broken links
  README.md
  docs/maintainers/repository-structure.md
Labels: track/clojure

#244 [Docs] Add GH issue template for extracting concepts
  .github/ISSUE_TEMPLATE/extract-concepts.md
Labels: CI

#226 [Kotlin] Bootstrap concepts reference
  languages/kotlin/reference/README.md
Labels: track/kotlin

#95 [JavaScript] Create definition for let keyword
  languages/javascript/reference/info/scope.md
  languages/javascript/reference/keywords/let.md
Labels: track/javascript, type/new-reference

#252 [Delphi] Add rpottsoh as senior maintainer.
  languages/delphi/maintainers.md
Labels: track/delphi

#254 Add the goal of this template's task and remove sample code.
  .github/ISSUE_TEMPLATE/extract-concepts.md
Labels: CI

#251 [CI] Fix link checker
  .github/workflows/valid-links.yml
Labels: CI

#268 [Docs] Minor fixes for extract concepts template
  .github/ISSUE_TEMPLATE/extract-concepts.md
Labels: CI

#280 [Docs] Fix inconsistent placeholder markings
  .github/ISSUE_TEMPLATE/extract-concepts.md
Labels: documentation

#277 [Docs] Fix headings in "features of v3" document
  docs/features-of-v3.md
Labels: documentation

#238 [CoffeeScript] Add @aimorris to contributing maintainers
  languages/coffeescript/maintainers.md
Labels: track/coffeescript

#291 [Docs] Add link to community solutions to v2 template
  .github/ISSUE_TEMPLATE/extract-concepts.md
Labels: documentation

#292 [CI] Apply correct label to ISSUE_TEMPLATE changes
  .github/labeler.yml
Labels: CI

#278 [Docs] Add FAQ
  docs/maintainers/README.md
  docs/maintainers/_sidebar.md
  docs/maintainers/faq.md
Labels: documentation

#301 [Docs] Rename faq to faqs
  docs/maintainers/README.md
  docs/maintainers/_sidebar.md
  docs/maintainers/faqs.md
Labels: documentation

#331 [Julia] Update README checklist
  languages/julia/README.md
Labels: track/julia

#334 [Docs] Add clarifying text around Concept Exercise complexity
  docs/concept-exercises.md
Labels: documentation

#335 [Julia] List out key Concepts
  languages/julia/README.md
  languages/julia/README.md.old
  languages/julia/reference/README.md
  languages/julia/reference/_sidebar.md
  languages/julia/reference/why-do-people-use-julia.md
Labels: track/julia

#341 Remove reference to exercise specific config.json
  docs/concept-exercises.md
Labels: documentation

#233 [Go] Concepts needed to solve the v2 two fer exercise
  languages/go/reference/exercise-concepts/two-fer.md
Labels: track/go

#234 [Go] Concepts of scrabble
  languages/go/reference/exercise-concepts/scrabble.md
Labels: track/go

#345 [Kotlin] Update docs for concept exercise implementation
  languages/kotlin/docs/implementing-a-concept-exercise.md
Labels: track/kotlin

#354 Ye olde recursion joke
  reference/concepts/recursion.md
Labels: type/improve-reference

#352 [Docs] Fix typo in concept exercise template
  .github/ISSUE_TEMPLATE/implement-concept-exercise.md
Labels: documentation

#285 [JavaScript] Create `reference/keywords/const.md`
  languages/javascript/reference/info/immutability.md
  languages/javascript/reference/info/scope.md
  languages/javascript/reference/keywords/const.md
Labels: track/javascript

#284 [JavaScript] Create `reference/keywords/var.md`
  languages/javascript/reference/keywords/var.md
Labels: track/javascript

#362 [Docs] Remove .meta/config.json references
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/clojure/docs/implementing-a-concept-exercise.md
  languages/csharp/docs/examples/new-concept-exercise-arrays.md
  languages/csharp/docs/implementing-a-concept-exercise.md
  languages/fsharp/docs/implementing-a-concept-exercise.md
  languages/haskell/docs/implementing-a-concept-exercise.md
  languages/kotlin/docs/implementing-a-concept-exercise.md
  languages/purescript/docs/implementing-a-concept-exercise.md
Labels: documentation, track/csharp, track/fsharp, track/haskell, track/kotlin, track/purescript

#367 Grammar Update concept-exercises.md
  docs/concept-exercises.md
Labels: documentation

#358 [Common Lisp] Add 'implementing concept exercise' document.
  languages/common-lisp/docs/implementing-a-concept-exercise.md
  languages/common-lisp/exercises/concept/README.md
Labels: track/common-lisp

#374 [Go] Concepts of hamming
  languages/go/reference/exercise-concepts/hamming.md
Labels: status/in-progress, track/go

#304 [CI] Verify file exists before checking
  .github/workflows/valid-links.yml
Labels: CI, track/csharp

#253 [Rust] Extract Concepts from v2 exercise parallel-letter-frequency
  languages/rust/reference/exercise-concepts/parallel-letter-frequency.md
Labels: track/rust

#369 [F#] Extract concepts of v2 book-store exercise
  languages/fsharp/reference/exercise-concepts/book-store.md
Labels: track/fsharp

#364 [C#] Extract concepts of v2 book-store exercise
  languages/csharp/reference/exercise-concepts/book-store.md
Labels: track/csharp

#332 [Julia] Write a Concept Exercise implementation guide
  languages/julia/README.md
  languages/julia/docs/implementing-a-concept-exercise.md
  languages/julia/exercises/concept/README.md
Labels: track/julia

#368 [Common Lisp] correct typo of language name in sidebar.
  languages/_sidebar.md
Labels: track/common-lisp

#413 [C++] Initial concepts; derived from the C# list
  languages/cpp/reference/README.md
Labels: track/cpp, type/new-reference

#357 [C#] extract concepts of v2 robot-name exercise
  languages/csharp/reference/exercise-concepts/robot-name.md
Labels: track/csharp

#356 [Rust] Extract Concepts from v2 exercise decimal
  languages/rust/reference/exercise-concepts/decimal.md
Labels: track/rust

#333 [Docs] Add step to update implementations section in concept docs
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
Labels: documentation

#289 [C#] Extract concepts of v2 nucleotide-count exercise
  languages/csharp/reference/exercise-concepts/nucleotide-count.md
Labels: track/csharp

#365 [F#] Extract Concepts from v2 exercise: protein-translation
  languages/fsharp/reference/exercise-concepts/protein-translation.md
Labels: track/fsharp

#359 [Haskell] Check off exercise implementation guide
  languages/haskell/README.md
Labels: track/haskell

#401 [Racket] Bootstrap
  .github/labeler.yml
  README.md
  languages/racket/README.md
  languages/racket/docs/implementing-a-concept-exercise.md
  languages/racket/maintainers.md
Labels: CI, track/racket

#402 [C++] Add KevinWMatthews as maintainer
  languages/cpp/maintainers.md
Labels: track/cpp

#294 [F#] Extract Concepts from v2 exercise: bob
  languages/fsharp/reference/exercise-concepts/bob.md
Labels: track/fsharp

#293 [F#] Extract Concepts from v2 exercise: meetup
  languages/fsharp/reference/exercise-concepts/meetup.md
Labels: track/fsharp

#290 [C#] Extract concepts of v2 bowling exercise
  languages/csharp/reference/exercise-concepts/bowling.md
Labels: track/csharp

#144 [Docs] Add note about removing "foregone" property
  docs/maintainers/migrating-your-config-json-files.md
Labels: documentation

#265 [C#] Add concepts for protein-translation exercise
  languages/csharp/reference/exercise-concepts/protein-translation.md
Labels: track/csharp

#434 [C#] Convert bitwise operations exercise to advanced enums exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/_sidebar.md
  languages/csharp/exercises/concept/bitwise-operations/.docs/after.md
  languages/csharp/exercises/concept/dates/.meta/design.md
  languages/csharp/exercises/concept/enums-advanced/.docs/after.md
  languages/csharp/exercises/concept/enums-advanced/.docs/hints.md
  languages/csharp/exercises/concept/enums-advanced/.docs/instructions.md
  languages/csharp/exercises/concept/enums-advanced/.docs/introduction.md
  languages/csharp/exercises/concept/enums-advanced/.meta/Example.cs
  languages/csharp/exercises/concept/enums-advanced/.meta/design.md
  languages/csharp/exercises/concept/enums-advanced/EnumsAdvanced.cs
  languages/csharp/exercises/concept/enums-advanced/EnumsAdvanced.csproj
  languages/csharp/exercises/concept/enums-advanced/EnumsAdvancedTest.cs
  languages/csharp/exercises/concept/enums/.meta/design.md
  languages/csharp/exercises/concept/numbers-floating-point/.meta/design.md
  languages/csharp/exercises/concept/numbers/.meta/design.md
  languages/csharp/exercises/concept/strings/.meta/design.md
  languages/csharp/reference/README.md
  reference/concepts/bitwise_manipulation.md
Labels: track/csharp

#439 [Julia] Only run CI when exercises are touched
  .github/workflows/julia-ci.yml
Labels: CI, track/julia
