Repository exercism/v3, pull requests merged in 2020-05, with the labels that each got.

#1387 [C] correct description of track specific files
  languages/c/reference/implementing-a-concept-exercise.md
Labels: track/c, type/documentation

#1380 [C#] Use consistent method references
  languages/csharp/exercises/concept/arrays/.docs/instructions.md
  languages/csharp/exercises/concept/arrays/Arrays.cs
  languages/csharp/exercises/concept/basics/Basics.cs
  languages/csharp/exercises/concept/datetimes/.docs/instructions.md
  languages/csharp/exercises/concept/datetimes/DateTimes.cs
  languages/csharp/exercises/concept/enums/.docs/instructions.md
  languages/csharp/exercises/concept/enums/Enums.cs
  languages/csharp/exercises/concept/flag-enums/.docs/instructions.md
  languages/csharp/exercises/concept/flag-enums/FlagEnums.cs
  languages/csharp/exercises/concept/floating-point-numbers/.docs/instructions.md
  languages/csharp/exercises/concept/floating-point-numbers/FloatingPointNumbers.cs
  languages/csharp/exercises/concept/nullability/.docs/instructions.md
  languages/csharp/exercises/concept/nullability/Nullability.cs
  languages/csharp/exercises/concept/numbers/.docs/instructions.md
  languages/csharp/exercises/concept/numbers/Numbers.cs
  languages/csharp/exercises/concept/strings/.docs/instructions.md
  languages/csharp/exercises/concept/strings/Strings.cs
  languages/csharp/reference/implementing-a-concept-exercise.md
Labels: track/csharp

#1375 [C#] Simplify classes
  languages/csharp/exercises/concept/arrays/.meta/Example.cs
  languages/csharp/exercises/concept/arrays/Arrays.cs
  languages/csharp/exercises/concept/datetimes/.meta/Example.cs
  languages/csharp/exercises/concept/datetimes/DateTimes.cs
  languages/csharp/exercises/concept/enums/.docs/after.md
  languages/csharp/exercises/concept/enums/.docs/introduction.md
  languages/csharp/exercises/concept/enums/.meta/Example.cs
  languages/csharp/exercises/concept/enums/Enums.cs
  languages/csharp/exercises/concept/flag-enums/.docs/after.md
  languages/csharp/exercises/concept/flag-enums/.docs/introduction.md
  languages/csharp/exercises/concept/flag-enums/.meta/Example.cs
  languages/csharp/exercises/concept/flag-enums/FlagEnums.cs
  languages/csharp/exercises/concept/floating-point-numbers/.meta/Example.cs
  languages/csharp/exercises/concept/floating-point-numbers/FloatingPointNumbers.cs
  languages/csharp/exercises/concept/nullability/.meta/Example.cs
  languages/csharp/exercises/concept/nullability/Nullability.cs
  languages/csharp/exercises/concept/numbers/.meta/Example.cs
  languages/csharp/exercises/concept/numbers/Numbers.cs
  languages/csharp/exercises/concept/properties/.docs/after.md
  languages/csharp/exercises/concept/properties/.meta/Example.cs
  languages/csharp/exercises/concept/properties/Properties.cs
  languages/csharp/exercises/concept/strings/.meta/Example.cs
  languages/csharp/exercises/concept/strings/Strings.cs
Labels: track/csharp

#1374 [C#] Add classes exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/classes/.docs/after.md
  languages/csharp/exercises/concept/classes/.docs/hints.md
  languages/csharp/exercises/concept/classes/.docs/instructions.md
  languages/csharp/exercises/concept/classes/.docs/introduction.md
  languages/csharp/exercises/concept/classes/.meta/Example.cs
  languages/csharp/exercises/concept/classes/.meta/config.json
  languages/csharp/exercises/concept/classes/.meta/design.md
  languages/csharp/exercises/concept/classes/Classes.cs
  languages/csharp/exercises/concept/classes/Classes.csproj
  languages/csharp/exercises/concept/classes/ClassesTests.cs
  languages/csharp/reference/README.md
  reference/concepts/objects.md
  reference/types/class.md
Labels: track/csharp

#1336 [Elixir] New concept exercise: maps
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/lists/.docs/after.md
  languages/elixir/exercises/concept/maps/.docs/after.md
  languages/elixir/exercises/concept/maps/.docs/hints.md
  languages/elixir/exercises/concept/maps/.docs/instructions.md
  languages/elixir/exercises/concept/maps/.docs/introduction.md
  languages/elixir/exercises/concept/maps/.formatter.exs
  languages/elixir/exercises/concept/maps/.gitignore
  languages/elixir/exercises/concept/maps/.meta/config.json
  languages/elixir/exercises/concept/maps/.meta/design.md
  languages/elixir/exercises/concept/maps/.meta/example.ex
  languages/elixir/exercises/concept/maps/lib/high_score.ex
  languages/elixir/exercises/concept/maps/mix.exs
  languages/elixir/exercises/concept/maps/test/high_score_test.exs
  languages/elixir/exercises/concept/maps/test/test_helper.exs
  languages/elixir/reference/README.md
  languages/elixir/reference/concepts.csv
  reference/types/map.md
Labels: track/elixir, type/new-exercise

#1391 [Common Lisp] Add reference document for cons type.
  languages/common-lisp/reference/README.md
  languages/common-lisp/reference/types/cons.md
Labels: track/common-lisp

#1395 [Python] exercises table update
  languages/python/reference/README.md
Labels: track/python, type/documentation

#1397 [Reference] Add concept stories
  languages/clojure/exercises/concept/lists/.docs/introduction.md
  reference/stories/basics.lasagna.md
  reference/stories/booleans.pac-man.md
  reference/stories/lists.language-list.md
  reference/stories/maps.high-score-board.md
Labels: type/new-reference-doc

#1335 [Elixir] New Concept Exercise: Anonymous functions
  languages/elixir/config.json
  languages/elixir/exercises/concept/anonymous-functions/.docs/after.md
  languages/elixir/exercises/concept/anonymous-functions/.docs/hints.md
  languages/elixir/exercises/concept/anonymous-functions/.docs/instructions.md
  languages/elixir/exercises/concept/anonymous-functions/.docs/introduction.md
  languages/elixir/exercises/concept/anonymous-functions/.formatter.exs
  languages/elixir/exercises/concept/anonymous-functions/.gitignore
  languages/elixir/exercises/concept/anonymous-functions/.meta/config.json
  languages/elixir/exercises/concept/anonymous-functions/.meta/design.md
  languages/elixir/exercises/concept/anonymous-functions/.meta/example.ex
  languages/elixir/exercises/concept/anonymous-functions/lib/secrets.ex
  languages/elixir/exercises/concept/anonymous-functions/mix.exs
  languages/elixir/exercises/concept/anonymous-functions/test/secrets_test.exs
  languages/elixir/exercises/concept/anonymous-functions/test/test_helper.exs
  languages/elixir/exercises/concept/conditionals/.meta/design.md
  languages/elixir/reference/README.md
  reference/concepts/anonymous_functions.md
  reference/concepts/bitwise_manipulation.md
  reference/concepts/function_composition.md
  reference/concepts/higher_order_functions.md
  reference/concepts/partial_application.md
  reference/stories/lambda-function.secret-device.md
  reference/types/function.md
Labels: track/elixir, type/new-exercise

#1398 [Python] Fix prettier formatting on reference/README.md to pass CI
  languages/python/reference/README.md
Labels: track/python, type/improve-reference-doc

#1400 [PureScript] Rename Main.purs to Test.purs
  languages/purescript/exercises/concept/booleans/test/Test.purs
  languages/purescript/reference/implementing-a-concept-exercise.md
Labels: track/purescript, type/documentation, type/improve-exercise, type/improve-reference-doc

#1396 [Stories] Add stories from JavaScript exercises
  reference/stories/arrays.magician-card-stack.md
  reference/stories/booleans.rpg-quest-logic.md
  reference/stories/deep-dig.basketball-team-website.md
  reference/stories/numbers.freelancer-rates.md
  reference/stories/promises.klingon-translation-service.md
  reference/stories/strings.poetry-club-door-policy.md
Labels: type/documentation

#1403 [Ruby/lasagna] Remove constants from stub
  languages/ruby/exercises/concept/basics/lasagna.rb
Labels: track/ruby

#1402 [Javascript] Clean up and update packages
  languages/javascript/config.json
  languages/javascript/exercises/concept/arrays/package.json
  languages/javascript/exercises/concept/booleans/package.json
  languages/javascript/exercises/concept/numbers/package.json
  languages/javascript/exercises/concept/promises/package.json
  languages/javascript/exercises/concept/strings/package.json
Labels: track/javascript

#1407 [C#] Use consistent todo text
  languages/csharp/exercises/concept/enums/Enums.cs
  languages/csharp/exercises/concept/flag-enums/FlagEnums.cs
Labels: track/csharp

#1406 [Docs] Describe heading of task being about the what
  docs/concept-exercises.md
Labels: type/documentation

#1404 [JavaScript] Fork ruby/concept/basics
  languages/javascript/config.json
  languages/javascript/exercises/concept/README.md
  languages/javascript/exercises/concept/_sidebar.md
  languages/javascript/exercises/concept/basics/.docs/after.md
  languages/javascript/exercises/concept/basics/.docs/hints.md
  languages/javascript/exercises/concept/basics/.docs/instructions.md
  languages/javascript/exercises/concept/basics/.docs/introduction.md
  languages/javascript/exercises/concept/basics/.eslintrc
  languages/javascript/exercises/concept/basics/.gitignore
  languages/javascript/exercises/concept/basics/.meta/config.json
  languages/javascript/exercises/concept/basics/babel.config.js
  languages/javascript/exercises/concept/basics/basics.js
  languages/javascript/exercises/concept/basics/basics.spec.js
  languages/javascript/exercises/concept/basics/example.js
  languages/javascript/exercises/concept/basics/package.json
  reference/concepts/assignment.md
  reference/concepts/comments.md
  reference/concepts/constants.md
  reference/concepts/functions.md
Labels: track/javascript, type/new-exercise

#1410 [JavaScript] add basics prereq and fix basics.spec
  languages/javascript/config.json
  languages/javascript/exercises/concept/basics/basics.spec.js
Labels: track/javascript

#1411 [Docs] Specify only listing someone as an author
  docs/concept-exercises.md
Labels: type/documentation

#1401 [PureScript] Fix my handle in config.json
  languages/purescript/exercises/concept/booleans/.meta/config.json
Labels: track/purescript, type/documentation

#1344 Go: update .meta/cofing.json files and add exercises to config.json file
  languages/go/README.md
  languages/go/config.json
  languages/go/exercises/concept/README.md
  languages/go/exercises/concept/numbers/.meta/config.json
  languages/go/exercises/concept/slices/.docs/after.md
  languages/go/exercises/concept/slices/.docs/hints.md
  languages/go/exercises/concept/slices/.docs/instructions.md
  languages/go/exercises/concept/slices/.docs/introduction.md
  languages/go/exercises/concept/slices/.meta/config.json
  languages/go/exercises/concept/slices/.meta/design.md
  languages/go/exercises/concept/slices/.meta/example.go
  languages/go/exercises/concept/slices/go.mod
  languages/go/exercises/concept/slices/slices.go
  languages/go/exercises/concept/slices/slices_test.go
  languages/go/exercises/concept/strings/.docs/after.md
  languages/go/exercises/concept/strings/.docs/hints.md
  languages/go/exercises/concept/strings/.docs/instructions.md
  languages/go/exercises/concept/strings/.docs/introduction.md
  languages/go/exercises/concept/strings/.meta/config.json
  languages/go/exercises/concept/strings/.meta/design.md
  languages/go/exercises/concept/strings/.meta/example.go
  languages/go/exercises/concept/strings/go.mod
  languages/go/exercises/concept/strings/strings.go
  languages/go/exercises/concept/strings/strings_test.go
  languages/go/reference/implementing-a-concept-exercise.md
  reference/types/slice.md
  reference/types/string.md
Labels: track/go, type/documentation, type/improve-exercise, type/improve-reference-doc

#1389 [C#] Add constructors exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/constructors/.docs/after.md
  languages/csharp/exercises/concept/constructors/.docs/hints.md
  languages/csharp/exercises/concept/constructors/.docs/instructions.md
  languages/csharp/exercises/concept/constructors/.docs/introduction.md
  languages/csharp/exercises/concept/constructors/.meta/Example.cs
  languages/csharp/exercises/concept/constructors/.meta/config.json
  languages/csharp/exercises/concept/constructors/.meta/design.md
  languages/csharp/exercises/concept/constructors/Constructors.cs
  languages/csharp/exercises/concept/constructors/Constructors.csproj
  languages/csharp/exercises/concept/constructors/ConstructorsTests.cs
  languages/csharp/reference/README.md
  reference/concepts/classes.md
  reference/concepts/constructors.md
Labels: track/csharp

#1417 [Docs] Add story document description
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
Labels: type/documentation

#1409 [C#] Add booleans exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/booleans/.docs/after.md
  languages/csharp/exercises/concept/booleans/.docs/hints.md
  languages/csharp/exercises/concept/booleans/.docs/instructions.md
  languages/csharp/exercises/concept/booleans/.docs/introduction.md
  languages/csharp/exercises/concept/booleans/.meta/Example.cs
  languages/csharp/exercises/concept/booleans/.meta/config.json
  languages/csharp/exercises/concept/booleans/.meta/design.md
  languages/csharp/exercises/concept/booleans/Booleans.cs
  languages/csharp/exercises/concept/booleans/Booleans.csproj
  languages/csharp/exercises/concept/booleans/BooleansTests.cs
  languages/csharp/reference/README.md
  reference/concepts/boolean_logic.md
  reference/types/boolean.md
Labels: track/csharp

#1423 [C#] [Nullability] Cleanup
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/nullability/.meta/design.md
  languages/csharp/reference/README.md
Labels: track/csharp

#1392 [Docs] Add story: shopping cart
  reference/stories/_sidebar.md
  reference/stories/shopping-cart.md
Labels: type/documentation

#1295 [Ruby] New Concept exercise: numbers
  languages/ruby/config.json
  languages/ruby/exercises/concept/README.md
  languages/ruby/exercises/concept/floating-point-numbers/.meta/example.rb
  languages/ruby/exercises/concept/numbers/.docs/after.md
  languages/ruby/exercises/concept/numbers/.docs/hints.md
  languages/ruby/exercises/concept/numbers/.docs/instructions.md
  languages/ruby/exercises/concept/numbers/.docs/introduction.md
  languages/ruby/exercises/concept/numbers/.meta/config.json
  languages/ruby/exercises/concept/numbers/.meta/design.md
  languages/ruby/exercises/concept/numbers/.meta/example.rb
  languages/ruby/exercises/concept/numbers/assembly_line.rb
  languages/ruby/exercises/concept/numbers/assembly_line_test.rb
Labels: track/ruby, type/new-exercise

#1421 [JavaScript] Format shared/cli.md
  languages/javascript/exercises/shared/.docs/cli.md
Labels: track/javascript, type/documentation, type/improve-student-facing-doc

#1422 [PureScript] Shared folder
  languages/purescript/exercises/shared/.docs/cli.md
  languages/purescript/exercises/shared/.docs/debug.md
Labels: track/purescript, type/documentation, type/improve-student-facing-doc

#1429 [C] Adding my name to the maintainers list
  languages/c/maintainers.md
Labels: track/c

#1388 [JavaScript] Implement new Concept Exercise: concept/array-analysis #1370
  languages/javascript/config.json
  languages/javascript/exercises/concept/array-analysis/.docs/after.md
  languages/javascript/exercises/concept/array-analysis/.docs/hints.md
  languages/javascript/exercises/concept/array-analysis/.docs/instructions.md
  languages/javascript/exercises/concept/array-analysis/.docs/introduction.md
  languages/javascript/exercises/concept/array-analysis/.eslintrc
  languages/javascript/exercises/concept/array-analysis/.gitignore
  languages/javascript/exercises/concept/array-analysis/.meta/config.json
  languages/javascript/exercises/concept/array-analysis/array-analysis.js
  languages/javascript/exercises/concept/array-analysis/array-analysis.spec.js
  languages/javascript/exercises/concept/array-analysis/babel.config.js
  languages/javascript/exercises/concept/array-analysis/example.js
  languages/javascript/exercises/concept/array-analysis/package.json
Labels: track/javascript, type/new-exercise

#1446 [JavaScript] Clean-up array-analysis
  .vscode/settings.json
  languages/javascript/config.json
  languages/javascript/exercises/concept/README.md
  languages/javascript/exercises/concept/_sidebar.md
  languages/javascript/exercises/concept/array-analysis/.docs/after.md
  languages/javascript/exercises/concept/array-analysis/.docs/hints.md
  languages/javascript/exercises/concept/array-analysis/.docs/instructions.md
  languages/javascript/exercises/concept/array-analysis/.docs/introduction.md
  languages/javascript/exercises/concept/array-analysis/.meta/config.json
  languages/javascript/exercises/concept/array-analysis/array-analysis.js
  languages/javascript/exercises/concept/array-analysis/array-analysis.spec.js
  languages/javascript/exercises/concept/array-analysis/example.js
  languages/javascript/exercises/concept/array-analysis/package.json
  languages/javascript/exercises/concept/arrays/arrays.js
  languages/javascript/exercises/concept/arrays/arrays.spec.js
  languages/javascript/exercises/concept/arrays/package.json
  languages/javascript/exercises/concept/basics/package.json
  languages/javascript/exercises/concept/booleans/package.json
  languages/javascript/exercises/concept/numbers/package.json
  languages/javascript/exercises/concept/promises/package.json
  languages/javascript/exercises/concept/strings/package.json
  reference/concepts/enumeration.md
  reference/stories/arrays.magician-card-stack.md
  reference/types/array.md
Labels: track/javascript, type/improve-exercise

#1424 [C#] Add inheritance exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/inheritance/.docs/after.md
  languages/csharp/exercises/concept/inheritance/.docs/hints.md
  languages/csharp/exercises/concept/inheritance/.docs/instructions.md
  languages/csharp/exercises/concept/inheritance/.docs/introduction.md
  languages/csharp/exercises/concept/inheritance/.meta/Example.cs
  languages/csharp/exercises/concept/inheritance/.meta/config.json
  languages/csharp/exercises/concept/inheritance/.meta/design.md
  languages/csharp/exercises/concept/inheritance/Inheritance.cs
  languages/csharp/exercises/concept/inheritance/Inheritance.csproj
  languages/csharp/exercises/concept/inheritance/InheritanceTests.cs
  languages/csharp/reference/README.md
  reference/concepts/inheritance.md
  reference/stories/inheritance.role-playing-game.md
Labels: track/csharp

#1451 [C#] [DateTime] Minor corrections to document
  languages/csharp/exercises/concept/datetimes/.docs/after.md
Labels: track/csharp

#1436 [Rust] Entry API concept exercise
  languages/rust/exercises/concept/entry-api/.docs/after.md
  languages/rust/exercises/concept/entry-api/.docs/hints.md
  languages/rust/exercises/concept/entry-api/.docs/instructions.md
  languages/rust/exercises/concept/entry-api/.docs/introduction.md
  languages/rust/exercises/concept/entry-api/.meta/config.json
  languages/rust/exercises/concept/entry-api/.meta/design.md
  languages/rust/exercises/concept/entry-api/.meta/example.rs
  languages/rust/exercises/concept/entry-api/Cargo.toml
  languages/rust/exercises/concept/entry-api/src/lib.rs
  languages/rust/exercises/concept/entry-api/tests/entry_api.rs
Labels: track/rust

#1443 [C#] Update test naming
  languages/csharp/exercises/concept/arrays/ArraysTests.cs
  languages/csharp/exercises/concept/basics/BasicsTests.cs
  languages/csharp/exercises/concept/booleans/BooleansTests.cs
  languages/csharp/exercises/concept/classes/ClassesTests.cs
  languages/csharp/exercises/concept/constructors/ConstructorsTests.cs
  languages/csharp/exercises/concept/datetimes/DateTimesTests.cs
  languages/csharp/exercises/concept/enums/EnumsTests.cs
  languages/csharp/exercises/concept/flag-enums/FlagEnumsTests.cs
  languages/csharp/exercises/concept/floating-point-numbers/FloatingPointNumbersTests.cs
  languages/csharp/exercises/concept/nullability/NullabilityTests.cs
  languages/csharp/exercises/concept/numbers/NumbersTests.cs
  languages/csharp/exercises/concept/properties/PropertiesTests.cs
  languages/csharp/exercises/concept/strings/StringsTests.cs
  languages/csharp/reference/implementing-a-concept-exercise.md
Labels: track/csharp

#1460 [Rust] Additional PR feedback for Entry API Concept Exercise
  languages/rust/exercises/concept/entry-api/.docs/after.md
  languages/rust/exercises/concept/entry-api/.docs/hints.md
  languages/rust/exercises/concept/entry-api/.meta/example.rs
  languages/rust/exercises/concept/entry-api/tests/entry_api.rs
Labels: track/rust, type/improve-exercise

#1211 [C] Extract concepts of v2 square-root exercise
  languages/c/reference/exercise-concepts/square-root.md
Labels: track/c, type/documentation, type/new-reference-doc

#1433 [Python] exercises table update
  languages/python/reference/README.md
  languages/python/reference/concepts/exiting_loops.md
Labels: track/python, type/documentation

#1442 [C#] [Properties] Use basic syntax
  languages/csharp/exercises/concept/properties/.meta/Example.cs
  languages/csharp/exercises/concept/properties/PropertiesTests.cs
Labels: track/csharp

#1441 [C#] Order entries in config.json
  languages/csharp/config.json
Labels: track/csharp

#1452 [C#] [Arrays] Add mutation
  languages/csharp/exercises/concept/arrays/.docs/hints.md
  languages/csharp/exercises/concept/arrays/.docs/instructions.md
  languages/csharp/exercises/concept/arrays/.meta/Example.cs
  languages/csharp/exercises/concept/arrays/.meta/design.md
  languages/csharp/exercises/concept/arrays/Arrays.cs
  languages/csharp/exercises/concept/arrays/ArraysTests.cs
  languages/csharp/reference/README.md
Labels: track/csharp

#1445 [C#] Add method-overloading exercise
  languages/csharp/.gitignore
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/method-overloading/.docs/after.md
  languages/csharp/exercises/concept/method-overloading/.docs/hints.md
  languages/csharp/exercises/concept/method-overloading/.docs/instructions.md
  languages/csharp/exercises/concept/method-overloading/.docs/introduction.md
  languages/csharp/exercises/concept/method-overloading/.meta/Example.cs
  languages/csharp/exercises/concept/method-overloading/.meta/config.json
  languages/csharp/exercises/concept/method-overloading/.meta/design.md
  languages/csharp/exercises/concept/method-overloading/MethodOverloading.cs
  languages/csharp/exercises/concept/method-overloading/MethodOverloading.csproj
  languages/csharp/exercises/concept/method-overloading/MethodOverloadingTests.cs
  languages/csharp/reference/README.md
  reference/concepts/method_overloading.md
  reference/stories/README.md
  reference/stories/_sidebar.md
  reference/stories/method-overloading.rpg-game-master.md
Labels: track/csharp

#1468 [Elixir] New concept exercise: strings
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/strings/.docs/after.md
  languages/elixir/exercises/concept/strings/.docs/hints.md
  languages/elixir/exercises/concept/strings/.docs/instructions.md
  languages/elixir/exercises/concept/strings/.docs/introduction.md
  languages/elixir/exercises/concept/strings/.formatter.exs
  languages/elixir/exercises/concept/strings/.gitignore
  languages/elixir/exercises/concept/strings/.meta/config.json
  languages/elixir/exercises/concept/strings/.meta/design.md
  languages/elixir/exercises/concept/strings/.meta/example.ex
  languages/elixir/exercises/concept/strings/lib/high_school_sweetheart.ex
  languages/elixir/exercises/concept/strings/mix.exs
  languages/elixir/exercises/concept/strings/test/high_school_sweetheart_test.exs
  languages/elixir/exercises/concept/strings/test/test_helper.exs
  languages/elixir/reference/README.md
Labels: track/elixir, type/new-exercise

#1438 [Go]: New Concept Exercise: basics
  languages/go/exercises/concept/basics/.docs/after.md
  languages/go/exercises/concept/basics/.docs/hints.md
  languages/go/exercises/concept/basics/.docs/instructions.md
  languages/go/exercises/concept/basics/.docs/introduction.md
  languages/go/exercises/concept/basics/.meta/config.json
  languages/go/exercises/concept/basics/.meta/design.md
  languages/go/exercises/concept/basics/.meta/example.go
  languages/go/exercises/concept/basics/basics.go
Labels: track/go

#1474 [Elixir] Fix example solution path in Implementing a Concept Exercise reference
  languages/elixir/reference/implementing-a-concept-exercise.md
Labels: track/elixir, type/improve-reference-doc

#752 [Go] New Concept Exercise: conditionals
  languages/go/exercises/concept/conditionals/.docs/after.md
  languages/go/exercises/concept/conditionals/.docs/hints.md
  languages/go/exercises/concept/conditionals/.docs/instructions.md
  languages/go/exercises/concept/conditionals/.docs/introduction.md
  languages/go/exercises/concept/conditionals/.meta/design.md
  languages/go/exercises/concept/conditionals/.meta/example.go
  languages/go/exercises/concept/conditionals/conditionals.go
  languages/go/exercises/concept/conditionals/conditionals_test.go
  languages/go/exercises/concept/conditionals/go.mod
Labels: status/draft, track/go, type/new-exercise

#1475 [Go] Update Readme
  languages/go/README.md
Labels: track/go

#1447 [Elixir] New concept exercise: tuples
  languages/elixir/README.md
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/tuples/.docs/after.md
  languages/elixir/exercises/concept/tuples/.docs/hints.md
  languages/elixir/exercises/concept/tuples/.docs/instructions.md
  languages/elixir/exercises/concept/tuples/.docs/introduction.md
  languages/elixir/exercises/concept/tuples/.formatter.exs
  languages/elixir/exercises/concept/tuples/.gitignore
  languages/elixir/exercises/concept/tuples/.meta/config.json
  languages/elixir/exercises/concept/tuples/.meta/design.md
  languages/elixir/exercises/concept/tuples/.meta/example.ex
  languages/elixir/exercises/concept/tuples/lib/kitchen_calculator.ex
  languages/elixir/exercises/concept/tuples/mix.exs
  languages/elixir/exercises/concept/tuples/test/kitchen_calculator_test.exs
  languages/elixir/exercises/concept/tuples/test/test_helper.exs
  reference/stories/tuples.kitchen-calculator.md
  reference/types/tuple.md
Labels: track/elixir, type/new-exercise

#1484 [Elixir] Improve concept exercise: tuples
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/tuples/.docs/after.md
  languages/elixir/exercises/concept/tuples/.docs/hints.md
  languages/elixir/exercises/concept/tuples/.docs/instructions.md
  languages/elixir/exercises/concept/tuples/.docs/introduction.md
  languages/elixir/exercises/concept/tuples/.meta/design.md
  languages/elixir/exercises/concept/tuples/test/kitchen_calculator_test.exs
  languages/elixir/reference/README.md
Labels: track/elixir, type/improve-exercise

#1493 [Elixir] Do not require specific Elixir versions
  languages/elixir/exercises/concept/basics/mix.exs
  languages/elixir/exercises/concept/conditionals/mix.exs
  languages/elixir/exercises/concept/lists/mix.exs
  languages/elixir/exercises/concept/maps/mix.exs
  languages/elixir/exercises/concept/strings/mix.exs
  languages/elixir/exercises/concept/tuples/mix.exs
Labels: track/elixir

#1470 [F#] Order concepts alphabetically
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
Labels: track/fsharp

#1469 [C#] Order concepts alphabetically
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
Labels: track/csharp

#1453 [F#] Add arrays exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/arrays/.docs/after.md
  languages/fsharp/exercises/concept/arrays/.docs/hints.md
  languages/fsharp/exercises/concept/arrays/.docs/instructions.md
  languages/fsharp/exercises/concept/arrays/.docs/introduction.md
  languages/fsharp/exercises/concept/arrays/.meta/Example.fs
  languages/fsharp/exercises/concept/arrays/.meta/config.json
  languages/fsharp/exercises/concept/arrays/.meta/design.md
  languages/fsharp/exercises/concept/arrays/Arrays.fs
  languages/fsharp/exercises/concept/arrays/Arrays.fsproj
  languages/fsharp/exercises/concept/arrays/ArraysTests.fs
  languages/fsharp/reference/README.md
  reference/stories/arrays.garden-bird-count.md
  reference/types/array.md
Labels: track/fsharp

#1498 [C#] Add note that test methods should have just one assertion
  languages/csharp/reference/implementing-a-concept-exercise.md
Labels: track/csharp

#1462 [Rust] configure entry-api exercise
  languages/rust/config.json
Labels: track/rust

#1495 [Elixir] Patch exercise .docs *.md headings
  languages/elixir/exercises/concept/anonymous-functions/.docs/after.md
  languages/elixir/exercises/concept/anonymous-functions/.docs/introduction.md
  languages/elixir/exercises/concept/tuples/.docs/after.md
Labels: track/elixir, type/improve-exercise, type/improve-student-facing-doc

#1494 [Elixir] Improve concept exercise: basics
  languages/elixir/exercises/concept/basics/.docs/after.md
  languages/elixir/exercises/concept/basics/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#1501 [Docs] Clarify task rules in documentation
  docs/concept-exercises.md
Labels: type/documentation

#1485 [Go] Improve exercise: conditionals - fix broken ci
  languages/go/exercises/concept/conditionals/.docs/after.md
  languages/go/exercises/concept/conditionals/.docs/introduction.md
  languages/go/exercises/concept/conditionals/.meta/design.md
Labels: track/go, type/improve-exercise

#1489 [Elixir] New Concept Exercise: multiple-clause-functions
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/multiple-clause-functions/.docs/after.md
  languages/elixir/exercises/concept/multiple-clause-functions/.docs/hints.md
  languages/elixir/exercises/concept/multiple-clause-functions/.docs/instructions.md
  languages/elixir/exercises/concept/multiple-clause-functions/.docs/introduction.md
  languages/elixir/exercises/concept/multiple-clause-functions/.formatter.exs
  languages/elixir/exercises/concept/multiple-clause-functions/.gitignore
  languages/elixir/exercises/concept/multiple-clause-functions/.meta/config.json
  languages/elixir/exercises/concept/multiple-clause-functions/.meta/design.md
  languages/elixir/exercises/concept/multiple-clause-functions/.meta/example.ex
  languages/elixir/exercises/concept/multiple-clause-functions/lib/guessing_game.ex
  languages/elixir/exercises/concept/multiple-clause-functions/mix.exs
  languages/elixir/exercises/concept/multiple-clause-functions/test/guessing_game_test.exs
  languages/elixir/exercises/concept/multiple-clause-functions/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/stories/pattern-matching.number-guessing-game.md
Labels: status/draft, track/elixir, type/new-exercise

#1511 [Elixir] Update concept exercise `strings` - fix design.md
  languages/elixir/exercises/concept/strings/.meta/design.md
Labels: track/elixir, type/improve-exercise

#1512 [Elixir] Fix "forked_from" in `config.json`s to be an array
  languages/elixir/exercises/concept/lists/.meta/config.json
  languages/elixir/exercises/concept/multiple-clause-functions/.meta/config.json
Labels: track/elixir, type/improve-exercise

#1513 [Elixir] Fix typos and uppercase the language name in various docs
  languages/elixir/exercises/concept/anonymous-functions/.docs/after.md
  languages/elixir/exercises/concept/anonymous-functions/.docs/instructions.md
  languages/elixir/exercises/concept/anonymous-functions/.meta/design.md
  languages/elixir/exercises/concept/basics/.docs/hints.md
  languages/elixir/exercises/concept/basics/.meta/design.md
  languages/elixir/exercises/concept/booleans/.docs/hints.md
  languages/elixir/exercises/concept/conditionals/.docs/after.md
  languages/elixir/exercises/concept/conditionals/.docs/introduction.md
  languages/elixir/exercises/concept/conditionals/.meta/design.md
  languages/elixir/exercises/concept/maps/.docs/after.md
  languages/elixir/exercises/concept/maps/.docs/introduction.md
  languages/elixir/exercises/concept/maps/.meta/design.md
  languages/elixir/exercises/concept/maps/test/high_score_test.exs
  languages/elixir/exercises/concept/multiple-clause-functions/.docs/after.md
  languages/elixir/exercises/concept/multiple-clause-functions/.docs/introduction.md
  languages/elixir/exercises/concept/multiple-clause-functions/.meta/design.md
  languages/elixir/exercises/concept/tuples/.docs/after.md
  languages/elixir/exercises/concept/tuples/.docs/hints.md
  languages/elixir/exercises/concept/tuples/.docs/introduction.md
  languages/elixir/exercises/concept/tuples/.meta/design.md
  languages/elixir/exercises/concept/tuples/test/kitchen_calculator_test.exs
  languages/elixir/reference/README.md
  languages/elixir/reference/exercise-concepts/pangram.md
Labels: track/elixir, type/documentation

#1500 [CI] Have concept CI not fail
  .github/workflows/concept-ci.yml
Labels: type/ci

#1491 [Java] Java concepts list
  languages/java/reference/README.md
Labels: track/java

#1521 [Rust] configure other concept exercises
  languages/rust/config.json
Labels: track/rust

#1492 [Elixir] New concept exercise: numbers
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/numbers/.docs/after.md
  languages/elixir/exercises/concept/numbers/.docs/hints.md
  languages/elixir/exercises/concept/numbers/.docs/instructions.md
  languages/elixir/exercises/concept/numbers/.docs/introduction.md
  languages/elixir/exercises/concept/numbers/.formatter.exs
  languages/elixir/exercises/concept/numbers/.gitignore
  languages/elixir/exercises/concept/numbers/.meta/config.json
  languages/elixir/exercises/concept/numbers/.meta/design.md
  languages/elixir/exercises/concept/numbers/.meta/example.ex
  languages/elixir/exercises/concept/numbers/lib/freelancer_rate.ex
  languages/elixir/exercises/concept/numbers/mix.exs
  languages/elixir/exercises/concept/numbers/test/freelancer_rate_test.exs
  languages/elixir/exercises/concept/numbers/test/test_helper.exs
  reference/stories/numbers.freelancer-rates.md
Labels: track/elixir, type/new-exercise

#1497 [C#] add dictionaries exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/dictionaries/.docs/after.md
  languages/csharp/exercises/concept/dictionaries/.docs/hints.md
  languages/csharp/exercises/concept/dictionaries/.docs/instructions.md
  languages/csharp/exercises/concept/dictionaries/.docs/introduction.md
  languages/csharp/exercises/concept/dictionaries/.meta/Example.cs
  languages/csharp/exercises/concept/dictionaries/.meta/config.json
  languages/csharp/exercises/concept/dictionaries/.meta/design.md
  languages/csharp/exercises/concept/dictionaries/Dictionaries.cs
  languages/csharp/exercises/concept/dictionaries/Dictionaries.csproj
  languages/csharp/exercises/concept/dictionaries/DictionariesTest.cs
  languages/csharp/reference/README.md
Labels: track/csharp

#1515 [Elixir] New concept exercise: recursion
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/recursion/.docs/after.md
  languages/elixir/exercises/concept/recursion/.docs/hints.md
  languages/elixir/exercises/concept/recursion/.docs/instructions.md
  languages/elixir/exercises/concept/recursion/.docs/introduction.md
  languages/elixir/exercises/concept/recursion/.formatter.exs
  languages/elixir/exercises/concept/recursion/.gitignore
  languages/elixir/exercises/concept/recursion/.meta/config.json
  languages/elixir/exercises/concept/recursion/.meta/design.md
  languages/elixir/exercises/concept/recursion/.meta/example.ex
  languages/elixir/exercises/concept/recursion/lib/recursion.ex
  languages/elixir/exercises/concept/recursion/mix.exs
  languages/elixir/exercises/concept/recursion/test/recursion_test.exs
  languages/elixir/exercises/concept/recursion/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/stories/arrays.garden-bird-count.md
Labels: track/elixir, type/new-exercise

#1535 [Elixir] Mark all but first test cases pending
  languages/elixir/exercises/concept/anonymous-functions/test/secrets_test.exs
  languages/elixir/exercises/concept/basics/test/lasagna_test.exs
  languages/elixir/exercises/concept/conditionals/test/log_level_test.exs
  languages/elixir/exercises/concept/maps/test/high_score_test.exs
  languages/elixir/exercises/concept/multiple-clause-functions/test/guessing_game_test.exs
  languages/elixir/exercises/concept/numbers/test/freelancer_rate_test.exs
  languages/elixir/exercises/concept/recursion/test/recursion_test.exs
  languages/elixir/exercises/concept/tuples/test/kitchen_calculator_test.exs
Labels: track/elixir, type/improve-exercise

#1526 [Docs] Clarify that exercises can be forked from multiple exercises
  docs/concept-exercises.md
Labels: type/documentation

#1532 [Swift] Bootstrap track
  .github/labeler.yml
  README.md
  languages/_sidebar.md
  languages/swift/README.md
  languages/swift/maintainers.md
  languages/swift/reference/implementing-a-concept-exercise.md
Labels: track/swift, type/ci

#1538 [CI] Temporary fix to prevent concept CI from failing on unrelated br…
  .github/workflows/concept-ci.yml
Labels: type/ci

#1540 [C#] Add links to issues and exercises from reference
  languages/csharp/reference/README.md
Labels: track/csharp

#1486 [F#] Add records exercise
  languages/fsharp/exercises/concept/records/.docs/instructions.md
  languages/fsharp/exercises/concept/records/.meta/Example.fs
  languages/fsharp/exercises/concept/records/.meta/design.md
Labels: track/fsharp

#1539 [C#] Introduce for loops in arrays exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/arrays/.docs/after.md
  languages/csharp/exercises/concept/arrays/.docs/hints.md
  languages/csharp/exercises/concept/arrays/.docs/instructions.md
  languages/csharp/exercises/concept/arrays/.docs/introduction.md
  languages/csharp/exercises/concept/arrays/.meta/Example.cs
  languages/csharp/exercises/concept/arrays/.meta/design.md
  languages/csharp/exercises/concept/arrays/Arrays.cs
  languages/csharp/exercises/concept/arrays/ArraysTests.cs
  languages/csharp/reference/README.md
Labels: track/csharp

#1466 [CI] Add filename checks
  .github/workflows/max-file-size.yml
  .github/workflows/valid-files.yml
Labels: type/ci

#1542 [Elixir] Spell the noun "pattern matching" without a dash
  languages/elixir/exercises/concept/recursion/.docs/hints.md
  languages/elixir/exercises/concept/strings/.docs/hints.md
Labels: track/elixir, type/improve-exercise

#1435 [CI] Make /format trigger CI
  .github/workflows/format-code.yml
Labels: type/ci

#1541 [C#] Add related topics to arrays exercise
  languages/csharp/exercises/concept/arrays/.docs/after.md
Labels: track/csharp

#1553 [Docs] remove goal from rust design.md
  languages/rust/exercises/concept/entry-api/.meta/design.md
  languages/rust/exercises/concept/enums/.meta/design.md
  languages/rust/exercises/concept/numbers/.meta/design.md
  languages/rust/exercises/concept/structs/.meta/design.md
Labels: track/rust, type/documentation

#1518 [Python] Updated Track Prep Status for V3
  languages/python/README.md
Labels: track/python
