Repository exercism/v3, pull requests merged in 2020-04, with the labels that each got.

#989 [C#] Have student create a new DateTime instance
  languages/csharp/config.json
  languages/csharp/exercises/concept/dates/.docs/hints.md
  languages/csharp/exercises/concept/dates/.docs/instructions.md
  languages/csharp/exercises/concept/dates/.meta/Example.cs
  languages/csharp/exercises/concept/dates/.meta/design.md
  languages/csharp/exercises/concept/dates/Dates.cs
  languages/csharp/exercises/concept/dates/DatesTests.cs
  languages/csharp/reference/README.md
  reference/types/datetime.md
Labels: track/csharp

#947 [F#] Add numbers-floating-point exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/numbers-floating-point/.docs/after.md
  languages/fsharp/exercises/concept/numbers-floating-point/.docs/hints.md
  languages/fsharp/exercises/concept/numbers-floating-point/.docs/instructions.md
  languages/fsharp/exercises/concept/numbers-floating-point/.docs/introduction.md
  languages/fsharp/exercises/concept/numbers-floating-point/.meta/Example.fs
  languages/fsharp/exercises/concept/numbers-floating-point/.meta/config.json
  languages/fsharp/exercises/concept/numbers-floating-point/.meta/design.md
  languages/fsharp/exercises/concept/numbers-floating-point/NumbersFloatingPoint.fs
  languages/fsharp/exercises/concept/numbers-floating-point/NumbersFloatingPoint.fsproj
  languages/fsharp/exercises/concept/numbers-floating-point/NumbersFloatingPointTests.fs
  languages/fsharp/reference/README.md
  reference/types/floating_point_number.md
Labels: track/fsharp

#988 [C#] Add code syntax samples to enums-advanced exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/enums-advanced/.docs/after.md
  languages/csharp/exercises/concept/enums-advanced/.docs/introduction.md
  languages/csharp/exercises/concept/enums-advanced/.meta/design.md
Labels: track/csharp

#1040 [F#] Be explicit about creating DateTime instance
  languages/fsharp/exercises/concept/dates/.meta/design.md
  languages/fsharp/reference/README.md
Labels: track/fsharp

#1009 [C#] Add basics exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/basics/.docs/after.md
  languages/csharp/exercises/concept/basics/.docs/hints.md
  languages/csharp/exercises/concept/basics/.docs/instructions.md
  languages/csharp/exercises/concept/basics/.docs/introduction.md
  languages/csharp/exercises/concept/basics/.meta/Example.cs
  languages/csharp/exercises/concept/basics/.meta/config.json
  languages/csharp/exercises/concept/basics/.meta/design.md
  languages/csharp/exercises/concept/basics/Basics.cs
  languages/csharp/exercises/concept/basics/Basics.csproj
  languages/csharp/exercises/concept/basics/BasicsTests.cs
  languages/csharp/reference/README.md
  reference/concepts/assignment.md
  reference/concepts/methods.md
  reference/concepts/type_inference.md
  reference/concepts/variables.md
Labels: track/csharp

#973 [C#] Add Properties Exercise
  languages/csharp/config.json
  languages/csharp/exercises/concept/properties/.docs/after.md
  languages/csharp/exercises/concept/properties/.docs/hints.md
  languages/csharp/exercises/concept/properties/.docs/instructions.md
  languages/csharp/exercises/concept/properties/.docs/introduction.md
  languages/csharp/exercises/concept/properties/.meta/Example.cs
  languages/csharp/exercises/concept/properties/.meta/config.json
  languages/csharp/exercises/concept/properties/.meta/design.md
  languages/csharp/exercises/concept/properties/Properties.cs
  languages/csharp/exercises/concept/properties/Properties.csproj
  languages/csharp/exercises/concept/properties/PropertiesTests.cs
Labels: track/csharp

#1069 Corrected invalid Json token
  languages/csharp/exercises/concept/properties/.meta/config.json
Labels: track/csharp

#1071 [C#] Check boxes
  languages/csharp/README.md
Labels: track/csharp

#1049 [C#] Add parentheses to method names
  languages/csharp/exercises/concept/basics/.docs/instructions.md
  languages/csharp/exercises/concept/basics/.meta/design.md
  languages/csharp/exercises/concept/dates/.docs/instructions.md
  languages/csharp/exercises/concept/enums-advanced/.docs/instructions.md
  languages/csharp/exercises/concept/enums/.docs/instructions.md
  languages/csharp/exercises/concept/numbers-floating-point/.docs/instructions.md
  languages/csharp/exercises/concept/numbers/.docs/instructions.md
  languages/csharp/exercises/concept/strings/.docs/instructions.md
Labels: track/csharp

#1053 [C#] Add syntax examples to after document of strings exercise
  languages/csharp/exercises/concept/strings/.docs/after.md
Labels: track/csharp

#1067 [Rust] numbers concept: update headers
  languages/rust/exercises/concept/numbers/.meta/design.md
Labels: track/rust, type/improve-reference-doc

#1078 [Docs] Make after.md required
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/clojure/reference/implementing-a-concept-exercise.md
  languages/common-lisp/reference/implementing-a-concept-exercise.md
  languages/csharp/reference/implementing-a-concept-exercise.md
  languages/elixir/reference/implementing-a-concept-exercise.md
  languages/elm/reference/implementing-a-concept-exercise.md
  languages/fsharp/reference/implementing-a-concept-exercise.md
  languages/go/reference/implementing-a-concept-exercise.md
  languages/haskell/reference/implementing-a-concept-exercise.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/julia/reference/implementing-a-concept-exercise.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/purescript/reference/implementing-a-concept-exercise.md
  languages/ruby/reference/implementing-a-concept-exercise.md
  languages/rust/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: documentation, track/common-lisp, track/csharp, track/elixir, track/elm, track/fsharp, track/go, track/haskell, track/javascript, track/julia, track/kotlin, track/purescript, track/ruby, track/rust, track/typescript

#1083 [F#] Improve Skip string #1047
  languages/fsharp/exercises/concept/booleans/BooleansTests.fs
  languages/fsharp/exercises/concept/dates/DatesTests.fs
  languages/fsharp/exercises/concept/discriminated-unions/DiscriminatedUnionsTests.fs
  languages/fsharp/exercises/concept/lists/ListsTests.fs
  languages/fsharp/exercises/concept/numbers-floating-point/NumbersFloatingPointTests.fs
  languages/fsharp/exercises/concept/numbers/NumbersTests.fs
  languages/fsharp/exercises/concept/recursion/RecursionTests.fs
  languages/fsharp/exercises/concept/strings/StringsTests.fs
Labels: track/fsharp, type/improve-exercise

#1082 [C#] Improve Skip string #1047
  languages/csharp/exercises/concept/basics/BasicsTests.cs
  languages/csharp/exercises/concept/dates/DatesTests.cs
  languages/csharp/exercises/concept/enums-advanced/EnumsAdvancedTests.cs
  languages/csharp/exercises/concept/enums/EnumsTests.cs
  languages/csharp/exercises/concept/numbers-floating-point/NumbersFloatingPointTests.cs
  languages/csharp/exercises/concept/numbers/NumbersTests.cs
  languages/csharp/exercises/concept/properties/PropertiesTests.cs
  languages/csharp/exercises/concept/strings/StringsTests.cs
Labels: track/csharp, type/improve-exercise

#901 [F#] Add Basics exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/basics/.docs/after.md
  languages/fsharp/exercises/concept/basics/.docs/hints.md
  languages/fsharp/exercises/concept/basics/.docs/instructions.md
  languages/fsharp/exercises/concept/basics/.docs/introduction.md
  languages/fsharp/exercises/concept/basics/.meta/Example.fs
  languages/fsharp/exercises/concept/basics/.meta/config.json
  languages/fsharp/exercises/concept/basics/.meta/design.md
  languages/fsharp/exercises/concept/basics/Basics.fs
  languages/fsharp/exercises/concept/basics/Basics.fsproj
  languages/fsharp/exercises/concept/basics/BasicsTests.fs
  languages/fsharp/reference/README.md
  reference/concepts/assignment.md
  reference/concepts/immutability.md
  reference/concepts/type_inference.md
  reference/types/function.md
Labels: track/fsharp, type/new-exercise

#1076 [F#] Simplify concepts
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/booleans/.meta/design.md
  languages/fsharp/exercises/concept/datetimes/.docs/after.md
  languages/fsharp/exercises/concept/datetimes/.docs/hints.md
  languages/fsharp/exercises/concept/datetimes/.docs/instructions.md
  languages/fsharp/exercises/concept/datetimes/.docs/introduction.md
  languages/fsharp/exercises/concept/datetimes/.meta/Example.fs
  languages/fsharp/exercises/concept/datetimes/.meta/config.json
  languages/fsharp/exercises/concept/datetimes/.meta/design.md
  languages/fsharp/exercises/concept/datetimes/Dates.fs
  languages/fsharp/exercises/concept/datetimes/Dates.fsproj
  languages/fsharp/exercises/concept/datetimes/DatesTests.fs
  languages/fsharp/exercises/concept/discriminated-unions/.meta/design.md
  languages/fsharp/exercises/concept/floating-point-numbers/.docs/after.md
  languages/fsharp/exercises/concept/floating-point-numbers/.docs/hints.md
  languages/fsharp/exercises/concept/floating-point-numbers/.docs/instructions.md
  languages/fsharp/exercises/concept/floating-point-numbers/.docs/introduction.md
  languages/fsharp/exercises/concept/floating-point-numbers/.meta/Example.fs
  languages/fsharp/exercises/concept/floating-point-numbers/.meta/config.json
  languages/fsharp/exercises/concept/floating-point-numbers/.meta/design.md
  languages/fsharp/exercises/concept/floating-point-numbers/NumbersFloatingPoint.fs
  languages/fsharp/exercises/concept/floating-point-numbers/NumbersFloatingPoint.fsproj
  languages/fsharp/exercises/concept/floating-point-numbers/NumbersFloatingPointTests.fs
  languages/fsharp/exercises/concept/lists/.meta/design.md
  languages/fsharp/exercises/concept/numbers/.meta/design.md
  languages/fsharp/exercises/concept/recursion/.meta/design.md
  languages/fsharp/exercises/concept/strings/.meta/design.md
  languages/fsharp/reference/README.md
  reference/types/datetime.md
  reference/types/floating_point_number.md
Labels: track/fsharp

#1077 [Docs] Add syntax mention to after.md document description
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/csharp/reference/examples/new-concept-exercise-arrays.md
  languages/elixir/reference/implementing-a-concept-exercise.md
  languages/elm/reference/implementing-a-concept-exercise.md
  languages/fsharp/reference/examples/new-concept-exercise-strings.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: documentation, track/csharp, track/elixir, track/elm, track/fsharp, track/javascript, track/kotlin, track/typescript

#1074 [F#] Check 20 GitHub issues box
  languages/fsharp/README.md
Labels: track/fsharp

#1063 [F#] Add syntax examples to after document of lists exercise
  languages/fsharp/exercises/concept/lists/.docs/after.md
Labels: track/fsharp

#1080 [Docs] Add section on naming concepts
  docs/maintainers/determining-concepts.md
Labels: documentation

#1061 [F#] Add syntax examples to after document of discriminated-unions ex…
  languages/fsharp/exercises/concept/discriminated-unions/.docs/after.md
  languages/fsharp/exercises/concept/discriminated-unions/.docs/introduction.md
Labels: track/fsharp

#1060 [F#] Add syntax examples to after document of booleans exercise
  languages/fsharp/exercises/concept/booleans/.docs/after.md
Labels: track/fsharp

#1058 [F#] Add syntax examples to after document of strings exercise
  languages/fsharp/exercises/concept/strings/.docs/after.md
Labels: track/fsharp

#1057 [F#] Add syntax examples to after document of numbers exercise
  languages/fsharp/exercises/concept/numbers/.docs/after.md
  languages/fsharp/exercises/concept/numbers/.docs/introduction.md
Labels: track/fsharp

#1059 [F#] Add syntax examples to after document of numbers-floating-point …
  languages/fsharp/exercises/concept/floating-point-numbers/.docs/after.md
Labels: track/fsharp

#1050 [C#] Order implemented exercises alphabetically
  languages/csharp/exercises/concept/README.md
Labels: track/csharp

#1096 [Rust] fix name of boilerplate script
  languages/rust/reference/implementing-a-concept-exercise.md
Labels: track/rust, type/improve-reference-doc

#1079 [C++] Add track config.json
  languages/cpp/config.json
Labels: track/cpp

#1092 [C#] Add missing properties references
  languages/csharp/exercises/concept/README.md
  languages/csharp/reference/README.md
Labels: track/csharp

#1052 [C#] Add set enum member value hints
  languages/csharp/exercises/concept/enums/.docs/hints.md
Labels: track/csharp

#1054 [C#] Add syntax examples to after document of numbers-floating-point …
  languages/csharp/exercises/concept/floating-point-numbers/.docs/after.md
Labels: track/csharp

#1055 [C#] Add syntax examples to after document of numbers exercise
  languages/csharp/exercises/concept/numbers/.docs/after.md
  languages/csharp/exercises/concept/numbers/.docs/introduction.md
Labels: track/csharp

#1056 [C#] Add syntax examples to after document of enums-advanced exercise
  languages/csharp/exercises/concept/flag-enums/.docs/after.md
  languages/csharp/exercises/concept/flag-enums/.docs/introduction.md
Labels: track/csharp

#1099 [C#] Added new sub-concept
  languages/csharp/reference/README.md
Labels: track/csharp

#1051 [C#] Add syntax example to after document of enums exercise
  languages/csharp/exercises/concept/enums/.docs/after.md
Labels: track/csharp

#1089 Enable selective checking of concepts.csv
  .github/bin/concept-checks/concept-checks.jl
  .github/workflows/concept-ci.yml
  docs/maintainers/continuous-integration.md
Labels: CI, documentation

#1037 [Common Lisp] Start transitioning sexpr to basics
  languages/common-lisp/.gitignore
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/basics/.docs/after.md
  languages/common-lisp/exercises/concept/basics/.docs/hints.md
  languages/common-lisp/exercises/concept/basics/.docs/instructions.md
  languages/common-lisp/exercises/concept/basics/.docs/introduction.md
  languages/common-lisp/exercises/concept/basics/.meta/config.json
  languages/common-lisp/exercises/concept/basics/.meta/design.md
  languages/common-lisp/exercises/concept/basics/.meta/example.lisp
  languages/common-lisp/exercises/concept/basics/basics-test.lisp
  languages/common-lisp/exercises/concept/basics/basics.lisp
  languages/common-lisp/exercises/concept/sexpr/.docs/after.md
  languages/common-lisp/exercises/concept/sexpr/.docs/hints.md
  languages/common-lisp/exercises/concept/sexpr/.docs/instructions.md
  languages/common-lisp/exercises/concept/sexpr/.docs/introduction.md
  languages/common-lisp/exercises/concept/sexpr/.meta/design.md
  languages/common-lisp/exercises/concept/sexpr/.meta/example.lisp
  languages/common-lisp/exercises/concept/sexpr/sexpr-test.lisp
  languages/common-lisp/exercises/concept/sexpr/sexpr.lisp
  languages/common-lisp/reference/README.md
  languages/common-lisp/reference/concepts.csv
  languages/common-lisp/reference/implementing-a-concept-exercise.md
Labels: track/common-lisp

#1032 Start C concepts list
  languages/c/README.md
  languages/c/reference/README.md
Labels: documentation, track/c, type/new-reference-doc

#1065 [Python] Added tracking table for open issues & PRs related to concept exercises
  languages/python/reference/README.md
Labels: track/python

#514 [Julia] Add stuff to progression plan
  languages/julia/reference/progression.md
Labels: documentation, track/julia

#1101 Update javascript booleans concept instructions
  languages/javascript/exercises/concept/booleans/.docs/instructions.md
  languages/javascript/exercises/concept/booleans/booleans.js
  languages/javascript/exercises/concept/booleans/booleans.spec.js
  languages/javascript/exercises/concept/booleans/example.js
Labels: track/javascript

#1116 [CI] Fail build if any file is >10KB
  .github/workflows/max-file-size.yml
Labels: CI

#975 [Erlang] Create initial concept list
  languages/erlang/reference/README.md
Labels: track/erlang

#1122 [C#] Simplified basic-enums exercise by removing parsing
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/enums/.docs/hints.md
  languages/csharp/exercises/concept/enums/.docs/instructions.md
  languages/csharp/exercises/concept/enums/.meta/Example.cs
  languages/csharp/exercises/concept/enums/.meta/design.md
  languages/csharp/exercises/concept/enums/Enums.cs
  languages/csharp/exercises/concept/enums/EnumsTests.cs
  languages/csharp/reference/README.md
Labels: track/csharp

#1119 [C++] Catch testing lib is now downloaded automatically
  languages/cpp/exercises/concept/strings/CMakeLists.txt
  languages/cpp/reference/implementing-a-concept-exercise.md
Labels: track/cpp

#1124 [F#] Add higher-order-functions as prerequisite for recursion exercise
  languages/fsharp/config.json
  languages/fsharp/exercises/concept/README.md
  languages/fsharp/exercises/concept/recursion/.docs/after.md
  languages/fsharp/exercises/concept/recursion/.meta/design.md
Labels: track/fsharp

#1120 [Common Lisp] Update README with track progress
  languages/common-lisp/README.md
Labels: track/common-lisp

#1104 [Common Lisp] Add IO concepts
  languages/common-lisp/reference/README.md
  languages/common-lisp/reference/concepts.csv
Labels: track/common-lisp

#974 [Julia] Add concept exercise: functions-introduction / lasagna
  .github/workflows/julia-exercise-ci.yml
  languages/julia/config.json
  languages/julia/exercises/concept/functions-introduction/.docs/after.md
  languages/julia/exercises/concept/functions-introduction/.docs/hints.md
  languages/julia/exercises/concept/functions-introduction/.docs/instructions.md
  languages/julia/exercises/concept/functions-introduction/.docs/introduction.md
  languages/julia/exercises/concept/functions-introduction/.docs/source.md
  languages/julia/exercises/concept/functions-introduction/.meta/config.json
  languages/julia/exercises/concept/functions-introduction/.meta/design.md
  languages/julia/exercises/concept/functions-introduction/.meta/example.jl
  languages/julia/exercises/concept/functions-introduction/lasagna.jl
  languages/julia/exercises/concept/functions-introduction/runtests.jl
  languages/julia/reference/concepts.csv
  reference/types/function.md
Labels: CI, track/julia, type/new-exercise

#1043 Add Ruby/Basics exercise
  languages/ruby/config.json
  languages/ruby/exercises/concept/README.md
  languages/ruby/exercises/concept/basics/.docs/after.md
  languages/ruby/exercises/concept/basics/.docs/hints.md
  languages/ruby/exercises/concept/basics/.docs/instructions.md
  languages/ruby/exercises/concept/basics/.docs/introduction.md
  languages/ruby/exercises/concept/basics/.meta/config.json
  languages/ruby/exercises/concept/basics/.meta/design.md
  languages/ruby/exercises/concept/basics/.meta/example.rb
  languages/ruby/exercises/concept/basics/lasagna.rb
  languages/ruby/exercises/concept/basics/lasagna_test.rb
Labels: track/ruby

#1139 [Julia] Fix multiple-dispatch slug in config.json
  languages/julia/config.json
Labels: track/julia

#1144 [JavaScript] Add JavaScript implementation of strings to ref
  reference/types/string.md
Labels: track/javascript, type/improve-reference-doc

#1048 [Javascript] - Extract concepts of v2 pangram exercise
  languages/javascript/reference/exercise-concepts/pangram.md
Labels: track/javascript

#1028 [Java] Add implementing a concept docs
  languages/java/exercises/concept/README.md
  languages/java/reference/implementing-a-concept-exercise.md
Labels: track/java

#1143 [C#] Change switch concept name
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/enums/.meta/design.md
  languages/csharp/reference/README.md
Labels: track/csharp

#1156 [F#] Add equality operators to numbers exercise
  languages/fsharp/exercises/concept/numbers/.docs/after.md
  languages/fsharp/exercises/concept/numbers/.docs/hints.md
  languages/fsharp/exercises/concept/numbers/.docs/instructions.md
  languages/fsharp/exercises/concept/numbers/.docs/introduction.md
  languages/fsharp/exercises/concept/numbers/.meta/Example.fs
  languages/fsharp/exercises/concept/numbers/.meta/design.md
  languages/fsharp/exercises/concept/numbers/NumbersTests.fs
  languages/fsharp/reference/README.md
Labels: track/fsharp

#1149 Add source and versioninfo to exercise config
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/clojure/reference/implementing-a-concept-exercise.md
  languages/common-lisp/reference/implementing-a-concept-exercise.md
  languages/csharp/reference/implementing-a-concept-exercise.md
  languages/elm/reference/implementing-a-concept-exercise.md
  languages/fsharp/reference/implementing-a-concept-exercise.md
  languages/go/reference/implementing-a-concept-exercise.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/julia/exercises/concept/multiple-dispatch/.docs/instructions.md
  languages/julia/exercises/concept/multiple-dispatch/.docs/source.md
  languages/julia/exercises/concept/multiple-dispatch/.meta/config.json
  languages/julia/reference/implementing-a-concept-exercise.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/purescript/reference/implementing-a-concept-exercise.md
  languages/ruby/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: documentation, track/common-lisp, track/csharp, track/elixir, track/elm, track/fsharp, track/go, track/javascript, track/julia, track/kotlin, track/purescript, track/ruby, track/typescript

#1173 [F#] Remove unused examples
  languages/fsharp/reference/examples/new-concept-exercise-strings.md
Labels: track/fsharp

#1172 [C#] Remove unused examples
  docs/maintainers/writing-a-concept-exercise-github-issue.md
  languages/csharp/reference/examples/new-concept-exercise-arrays.md
  languages/csharp/reference/examples/new-reference-doc-readonly-vs-const.md
Labels: documentation, track/csharp

#1171 [Go] Point to Go example exercise instead of C#
  languages/go/README.md
Labels: track/go

#1174 [F#] Fix invalid config.json
  languages/fsharp/config.json
Labels: track/fsharp

#1170 [Docs] Add reference to required reading in implementing guide
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/clojure/reference/implementing-a-concept-exercise.md
  languages/common-lisp/reference/implementing-a-concept-exercise.md
  languages/cpp/reference/implementing-a-concept-exercise.md
  languages/csharp/reference/implementing-a-concept-exercise.md
  languages/elixir/reference/implementing-a-concept-exercise.md
  languages/elm/reference/implementing-a-concept-exercise.md
  languages/fsharp/reference/implementing-a-concept-exercise.md
  languages/go/reference/implementing-a-concept-exercise.md
  languages/haskell/reference/implementing-a-concept-exercise.md
  languages/java/reference/implementing-a-concept-exercise.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/julia/reference/implementing-a-concept-exercise.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/purescript/reference/implementing-a-concept-exercise.md
  languages/python/reference/implementing-a-concept-exercise.md
  languages/ruby/reference/implementing-a-concept-exercise.md
  languages/rust/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: documentation, track/common-lisp, track/cpp, track/csharp, track/elixir, track/elm, track/fsharp, track/go, track/haskell, track/java, track/javascript, track/julia, track/kotlin, track/purescript, track/python, track/ruby, track/rust, track/typescript

#1161 [Docs] Add standard to credit authors
  docs/concept-exercises.md
Labels: documentation

#1179 [Docs] Fix .meta/config.json examples
  docs/concept-exercises.md
Labels: documentation

#1177 [C#] Use integral-numbers concept
  languages/csharp/config.json
Labels: track/csharp

#1183 [Docs] Fix `.meta/config.json` examples
  docs/concept-exercises.md
Labels: documentation

#1180 [C] Add implementing concept exercise reference
  languages/c/README.md
  languages/c/reference/_sidebar.md
  languages/c/reference/implementing-a-concept-exercise.md
Labels: documentation, track/c, type/new-reference-doc

#1196 [C++] Updated Concept exercises config.json format
  languages/cpp/exercises/concept/strings/.meta/config.json
Labels: track/cpp

#1132 [Elixir] Concept exercise: booleans
  languages/elixir/config.json
  languages/elixir/exercises/concept/booleans/.docs/after.md
  languages/elixir/exercises/concept/booleans/.docs/hints.md
  languages/elixir/exercises/concept/booleans/.docs/instructions.md
  languages/elixir/exercises/concept/booleans/.docs/introduction.md
  languages/elixir/exercises/concept/booleans/.formatter.exs
  languages/elixir/exercises/concept/booleans/.gitignore
  languages/elixir/exercises/concept/booleans/.meta/config.json
  languages/elixir/exercises/concept/booleans/.meta/design.md
  languages/elixir/exercises/concept/booleans/.meta/example.ex
  languages/elixir/exercises/concept/booleans/lib/rules.ex
  languages/elixir/exercises/concept/booleans/mix.exs
  languages/elixir/exercises/concept/booleans/test/rules_test.exs
  languages/elixir/exercises/concept/booleans/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/concepts/boolean_logic.md
  reference/types/boolean.md
Labels: track/elixir, type/new-exercise

#862 [Elixir] Add concepts.csv
  languages/elixir/reference/concepts.csv
Labels: documentation, status/in-progress, track/elixir

#976 [Elixir] refine concepts from elixir-lang.org
  languages/elixir/reference/README.md
Labels: track/elixir

#1200 [Ruby] exercise author credit for basic and string
  languages/ruby/exercises/concept/basics/.meta/config.json
  languages/ruby/exercises/concept/strings/.meta/config.json
Labels: track/ruby

#1181 [JavaScript] Add useful links
  languages/javascript/README.md
Labels: documentation, track/javascript

#483 [Elixir] Adds concepts to bracket-push exercise
  languages/elixir/reference/exercise-concepts/bracket-push.md
Labels: documentation, status/in-progress, track/elixir

#1186 [Elixir] Refactor `config.json` reference in implementation guide
  languages/elixir/reference/implementing-a-concept-exercise.md
Labels: documentation, track/elixir

#637 [JavaScript] Add concepts for protein-translations exercise #635
  languages/JavaScript/reference/exercise-concepts/protein-translation.md
Labels: track/javascript

#1213 [JavaScript] Update all exercise .meta/config.json
  languages/javascript/exercises/concept/booleans/.meta/config.json
  languages/javascript/exercises/concept/numbers/.meta/config.json
  languages/javascript/exercises/concept/promises/.meta/config.json
  languages/javascript/exercises/concept/strings/.meta/config.json
  languages/javascript/exercises/practice/string-iterables/.meta/config.json
Labels: track/javascript

#1158 [Docs] Add missing implementation references
  reference/concepts/assignment.md
  reference/concepts/comments.md
  reference/concepts/constants.md
  reference/concepts/expressions.md
  reference/types/boolean.md
  reference/types/floating_point_number.md
  reference/types/function.md
  reference/types/integer.md
  reference/types/number.md
  reference/types/string.md
  reference/types/symbol.md
Labels: documentation

#1207 [Clojure] Update config.json
  languages/clojure/exercises/concept/lists/.meta/config.json
Labels: track/clojure

#1085 [docs] introduce a Dockerfile for the website
  Dockerfile
  docs/maintainers/website.md
Labels: documentation

#1212 [Python] Update .meta/config.json
  languages/python/exercises/concept/strings/.meta/config.json
Labels: track/python

#1227 [Docs] Add reference to Concept Exercise Anatomy video
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/c/reference/implementing-a-concept-exercise.md
  languages/clojure/reference/implementing-a-concept-exercise.md
  languages/common-lisp/reference/implementing-a-concept-exercise.md
  languages/cpp/reference/implementing-a-concept-exercise.md
  languages/csharp/reference/implementing-a-concept-exercise.md
  languages/elixir/reference/implementing-a-concept-exercise.md
  languages/elm/reference/implementing-a-concept-exercise.md
  languages/fsharp/reference/implementing-a-concept-exercise.md
  languages/go/reference/implementing-a-concept-exercise.md
  languages/haskell/reference/implementing-a-concept-exercise.md
  languages/java/reference/implementing-a-concept-exercise.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/julia/reference/implementing-a-concept-exercise.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/purescript/reference/implementing-a-concept-exercise.md
  languages/python/reference/implementing-a-concept-exercise.md
  languages/ruby/reference/implementing-a-concept-exercise.md
  languages/rust/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: documentation, track/c, track/common-lisp, track/cpp, track/csharp, track/elixir, track/elm, track/fsharp, track/go, track/haskell, track/java, track/javascript, track/julia, track/kotlin, track/purescript, track/python, track/ruby, track/rust, track/typescript

#1229 [Docs] Skip analyzer and representer steps if unclear
  .github/ISSUE_TEMPLATE/implement-concept-exercise.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/common-lisp/reference/implementing-a-concept-exercise.md
  languages/csharp/reference/implementing-a-concept-exercise.md
  languages/elixir/reference/implementing-a-concept-exercise.md
  languages/elm/reference/implementing-a-concept-exercise.md
  languages/go/reference/implementing-a-concept-exercise.md
  languages/java/reference/implementing-a-concept-exercise.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/ruby/reference/implementing-a-concept-exercise.md
  languages/rust/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: documentation, track/common-lisp, track/csharp, track/elixir, track/elm, track/go, track/java, track/javascript, track/kotlin, track/ruby, track/rust, track/typescript

#1198 [Docs] Flesh out the rules for concept-exercies.md slightly more
  docs/concept-exercises.md
Labels: documentation

#1167 [Ruby] Add resistor-color-duo concept extraction
  languages/ruby/reference/exercise-concepts/resistor-color-duo.md
Labels: track/ruby

#1214 [JavaScript] New naming convention for concepts in config.json
  languages/javascript/config.json
Labels: track/javascript

#1236 fix javascript directory capitalisation
  languages/javascript/reference/exercise-concepts/protein-translation.md
Labels: track/javascript

#1235 [Haskell] Shared docs CLI and Debug
  languages/haskell/exercises/shared/.docs/README.md
  languages/haskell/exercises/shared/.docs/cli.md
  languages/haskell/exercises/shared/.docs/debug.md
Labels: documentation, track/haskell

#1237 [Rust] migrate config.json
  languages/rust/config.json
Labels: track/rust

#1117 [Rust] add implemented numbers exercise
  languages/rust/exercises/concept/README.md
Labels: track/rust, type/improve-reference-doc

#1118 [Elixir] Concept exercise: basics
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/basics/.docs/after.md
  languages/elixir/exercises/concept/basics/.docs/hints.md
  languages/elixir/exercises/concept/basics/.docs/instructions.md
  languages/elixir/exercises/concept/basics/.docs/introduction.md
  languages/elixir/exercises/concept/basics/.formatter.exs
  languages/elixir/exercises/concept/basics/.gitignore
  languages/elixir/exercises/concept/basics/.meta/config.json
  languages/elixir/exercises/concept/basics/.meta/design.md
  languages/elixir/exercises/concept/basics/.meta/example.ex
  languages/elixir/exercises/concept/basics/lib/lasagna.ex
  languages/elixir/exercises/concept/basics/mix.exs
  languages/elixir/exercises/concept/basics/test/lasagna_test.exs
  languages/elixir/exercises/concept/basics/test/test_helper.exs
  languages/elixir/reference/README.md
  reference/concepts/assignment.md
Labels: track/elixir, type/new-exercise

#1157 [C#] Add equality operators to numbers exercise
  languages/csharp/exercises/concept/numbers/.docs/after.md
  languages/csharp/exercises/concept/numbers/.docs/hints.md
  languages/csharp/exercises/concept/numbers/.docs/instructions.md
  languages/csharp/exercises/concept/numbers/.docs/introduction.md
  languages/csharp/exercises/concept/numbers/.meta/Example.cs
  languages/csharp/exercises/concept/numbers/.meta/design.md
  languages/csharp/exercises/concept/numbers/NumbersTests.cs
  languages/csharp/reference/README.md
Labels: track/csharp

#1255 [Docs] Augment style guide
  docs/concept-exercises.md
  docs/maintainers/_sidebar.md
  docs/maintainers/style-guide.md
Labels: documentation

#1217 [PureScript] Extract concepts of v2 hello-world exercise
  languages/purescript/reference/exercise-concepts/hello-world.md
Labels: documentation, track/purescript, type/improve-reference-doc

#1260 [PureScript] New Concept Exercise: booleans
  languages/purescript/config.json
  languages/purescript/exercises/concept/booleans/.docs/after.md
  languages/purescript/exercises/concept/booleans/.docs/hints.md
  languages/purescript/exercises/concept/booleans/.docs/instructions.md
  languages/purescript/exercises/concept/booleans/.docs/introduction.md
  languages/purescript/exercises/concept/booleans/.gitignore
  languages/purescript/exercises/concept/booleans/.meta/Example.purs
  languages/purescript/exercises/concept/booleans/.meta/config.json
  languages/purescript/exercises/concept/booleans/packages.dhall
  languages/purescript/exercises/concept/booleans/spago.dhall
  languages/purescript/exercises/concept/booleans/src/Booleans.purs
  languages/purescript/exercises/concept/booleans/test/Main.purs
  reference/concepts/boolean_logic.md
Labels: track/purescript, type/new-exercise

#1272 [Elixir] Fix typo in introduction.md
  languages/elixir/exercises/concept/basics/.docs/introduction.md
Labels: documentation, track/elixir, type/improve-exercise

#1269 [Elixir] Fix typo in basics/.docs/instructions.md
  languages/elixir/exercises/concept/basics/.docs/instructions.md
Labels: documentation, track/elixir, type/improve-exercise

#1265 [Elixir] Typo in README.md
  languages/elixir/exercises/concept/README.md
Labels: documentation, track/elixir

#1033 [JavaScript] Add arrays-basic concept exercise
  languages/javascript/config.json
  languages/javascript/exercises/concept/arrays/.docs/after.md
  languages/javascript/exercises/concept/arrays/.docs/hints.md
  languages/javascript/exercises/concept/arrays/.docs/instructions.md
  languages/javascript/exercises/concept/arrays/.docs/introduction.md
  languages/javascript/exercises/concept/arrays/.eslintrc
  languages/javascript/exercises/concept/arrays/.gitignore
  languages/javascript/exercises/concept/arrays/.meta/config.json
  languages/javascript/exercises/concept/arrays/arrays-basic.js
  languages/javascript/exercises/concept/arrays/arrays-basic.spec.js
  languages/javascript/exercises/concept/arrays/babel.config.js
  languages/javascript/exercises/concept/arrays/example.js
  languages/javascript/exercises/concept/arrays/package.json
  reference/types/array.md
Labels: track/javascript, type/new-exercise

#1256 [CI] Check style
  .github/workflows/verify-markdown-formatting.yml
  docs/maintainers/continuous-integration.md
Labels: CI, documentation, status/draft

#1271 [Elixir] Edit introduction.md for consistency
  languages/elixir/exercises/concept/basics/.docs/introduction.md
Labels: documentation, track/elixir, type/improve-exercise

#1275 [CI] Fix markdown formatting check
  .github/workflows/verify-markdown-formatting.yml
Labels: CI

#1263 [JavaScript] Add booleans exercise to boolean_logic.md
  reference/concepts/boolean_logic.md
Labels: documentation, track/javascript, type/improve-reference-doc

#1270 [PureScript] Put expected outputs on new line
  languages/purescript/exercises/concept/booleans/.docs/instructions.md
Labels: documentation, track/purescript, type/improve-exercise

#1168 [Ruby] New Concept exercise: floating-point-numbers
  languages/ruby/exercises/concept/README.md
  languages/ruby/exercises/concept/floating-point-numbers/.docs/after.md
  languages/ruby/exercises/concept/floating-point-numbers/.docs/hints.md
  languages/ruby/exercises/concept/floating-point-numbers/.docs/instructions.md
  languages/ruby/exercises/concept/floating-point-numbers/.docs/introduction.md
  languages/ruby/exercises/concept/floating-point-numbers/.meta/config.json
  languages/ruby/exercises/concept/floating-point-numbers/.meta/design.md
  languages/ruby/exercises/concept/floating-point-numbers/.meta/example.rb
  languages/ruby/exercises/concept/floating-point-numbers/savings_account.rb
  languages/ruby/exercises/concept/floating-point-numbers/savings_account_test.rb
Labels: track/ruby, type/new-exercise

#1277 [C#] Add wolf99 to contributing maintainers
  languages/csharp/maintainers.md
Labels: track/csharp

#1231 [C#] Normalize code
  languages/csharp/exercises/concept/basics/.meta/Example.cs
  languages/csharp/exercises/concept/basics/BasicsTests.cs
  languages/csharp/exercises/concept/datetimes/.meta/Example.cs
  languages/csharp/exercises/concept/datetimes/DateTimesTests.cs
  languages/csharp/exercises/concept/enums/.meta/Example.cs
  languages/csharp/exercises/concept/enums/EnumsTests.cs
  languages/csharp/exercises/concept/flag-enums/.meta/Example.cs
  languages/csharp/exercises/concept/flag-enums/FlagEnumsTests.cs
  languages/csharp/exercises/concept/floating-point-numbers/.meta/Example.cs
  languages/csharp/exercises/concept/floating-point-numbers/FloatingPointNumbersTests.cs
  languages/csharp/exercises/concept/numbers/.meta/Example.cs
  languages/csharp/exercises/concept/numbers/NumbersTests.cs
  languages/csharp/exercises/concept/properties/.meta/Example.cs
  languages/csharp/exercises/concept/strings/.meta/Example.cs
  languages/csharp/exercises/concept/strings/StringsTests.cs
Labels: track/csharp

#1261 [JavaScript] Fix booleans concept exercise documents
  languages/javascript/exercises/concept/booleans/.docs/after.md
  languages/javascript/exercises/concept/booleans/.docs/hints.md
  languages/javascript/exercises/concept/booleans/.docs/introduction.md
Labels: documentation, track/javascript, type/improve-exercise

#1280 [JavaScript] Configure prettier to use single quotes and no semicolons
  .prettierrc
  languages/coffeescript/operators/logical-not.md
  languages/javascript/exercises/concept/arrays/.docs/after.md
  languages/javascript/exercises/concept/arrays/.docs/instructions.md
  languages/javascript/exercises/concept/arrays/.docs/introduction.md
  languages/javascript/exercises/concept/booleans/.docs/instructions.md
  languages/javascript/exercises/concept/numbers/.docs/instructions.md
  languages/javascript/exercises/concept/promises/.docs/instructions.md
  languages/javascript/exercises/concept/strings/.docs/instructions.md
  languages/javascript/exercises/shared/.docs/debug.md
  languages/javascript/reference/exercise-concepts/pangram.md
  languages/javascript/reference/keywords/const.md
  languages/javascript/reference/keywords/export.md
  languages/javascript/reference/keywords/function.md
  languages/javascript/reference/keywords/import.md
  languages/javascript/reference/keywords/instanceof.md
  languages/javascript/reference/keywords/let.md
  languages/javascript/reference/keywords/typeof.md
  languages/javascript/reference/keywords/var.md
  languages/purescript/reference/purescript-concepts/errors/CycleInDeclaration.md
  languages/purescript/reference/purescript-concepts/guides/FFI.md
Labels: track/javascript, track/purescript

#1230 [C#] Allow code to be formatted automatically
  languages/csharp/.config/dotnet-tools.json
  languages/csharp/exercises/concept/basics/.meta/Example.cs
  languages/csharp/exercises/concept/basics/Basics.cs
  languages/csharp/exercises/concept/basics/BasicsTests.cs
  languages/csharp/exercises/concept/datetimes/.meta/Example.cs
  languages/csharp/exercises/concept/datetimes/DateTimes.cs
  languages/csharp/exercises/concept/datetimes/DateTimesTests.cs
  languages/csharp/exercises/concept/flag-enums/.meta/Example.cs
  languages/csharp/exercises/concept/flag-enums/FlagEnums.cs
  languages/csharp/exercises/concept/flag-enums/FlagEnumsTests.cs
  languages/csharp/exercises/concept/floating-point-numbers/.meta/Example.cs
  languages/csharp/exercises/concept/floating-point-numbers/FloatingPointNumbers.cs
  languages/csharp/exercises/concept/floating-point-numbers/FloatingPointNumbersTests.cs
  languages/csharp/exercises/concept/numbers/.meta/Example.cs
  languages/csharp/exercises/concept/numbers/Numbers.cs
  languages/csharp/exercises/concept/properties/Properties.cs
  languages/csharp/exercises/concept/properties/PropertiesTests.cs
  languages/csharp/exercises/concept/strings/.meta/Example.cs
  languages/csharp/exercises/concept/strings/Strings.cs
  languages/csharp/exercises/concept/strings/StringsTests.cs
  languages/csharp/format-all.ps1
  languages/csharp/format.ps1
  languages/csharp/reference/implementing-a-concept-exercise.md
Labels: track/csharp

#1129 [Elixir] Concept exercise: conditionals
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/conditionals/.docs/after.md
  languages/elixir/exercises/concept/conditionals/.docs/hints.md
  languages/elixir/exercises/concept/conditionals/.docs/instructions.md
  languages/elixir/exercises/concept/conditionals/.docs/introduction.md
  languages/elixir/exercises/concept/conditionals/.formatter.exs
  languages/elixir/exercises/concept/conditionals/.gitignore
  languages/elixir/exercises/concept/conditionals/.meta/config.json
  languages/elixir/exercises/concept/conditionals/.meta/design.md
  languages/elixir/exercises/concept/conditionals/.meta/example.ex
  languages/elixir/exercises/concept/conditionals/lib/log_level.ex
  languages/elixir/exercises/concept/conditionals/mix.exs
  languages/elixir/exercises/concept/conditionals/test/log_level_test.exs
  languages/elixir/exercises/concept/conditionals/test/test_helper.exs
  languages/elixir/reference/README.md
  languages/elixir/reference/concepts.csv
  reference/concepts/conditionals.md
Labels: track/elixir, type/new-exercise

#1288 [JavaScript] number: fix typo
  languages/javascript/exercises/concept/numbers/example.js
  languages/javascript/exercises/concept/numbers/numbers.js
Labels: track/javascript, type/improve-exercise

#1287 [Docs] add getting started section to concept exercise template
  .github/ISSUE_TEMPLATE/implement-concept-exercise.md
Labels: documentation

#1206 [Elixir] Improve Concept Exercise: booleans
  languages/elixir/exercises/concept/booleans/.docs/after.md
  languages/elixir/exercises/concept/booleans/.docs/hints.md
  languages/elixir/exercises/concept/booleans/.docs/instructions.md
  languages/elixir/exercises/concept/booleans/.docs/introduction.md
  languages/elixir/exercises/concept/booleans/.meta/config.json
  languages/elixir/exercises/concept/booleans/.meta/design.md
  languages/elixir/exercises/concept/booleans/.meta/example.ex
  languages/elixir/exercises/concept/booleans/lib/rules.ex
  languages/elixir/exercises/concept/booleans/mix.exs
  languages/elixir/exercises/concept/booleans/test/rules_test.exs
Labels: status/draft, track/elixir, type/improve-exercise

#1262 [CI] JSON validation
  .github/bin/validate_json.py
  .github/workflows/validate-json.yml
Labels: CI

#1289 [CI] JSON validation needs `**/**/` in glob path
  .github/bin/validate_json.py
Labels: CI

#1279 [CI] Add workflow to format code
  .github/workflows/format-code.yml
Labels: CI

#1292 [JavaScript] Fix paths for arrays
  languages/javascript/exercises/concept/arrays/arrays.js
  languages/javascript/exercises/concept/arrays/arrays.spec.js
Labels: track/javascript, type/improve-exercise

#1291 [Python] Renames loglines*.py -> strings*.py
  languages/python/exercises/concept/strings/strings.py
  languages/python/exercises/concept/strings/strings_test.py
Labels: track/python

#1278 [CI] Only check formatting of added or modified markdown files in PR
  .github/workflows/verify-markdown-formatting.yml
Labels: CI

#1293 [Python] Adds make-concept-exercise utility
  languages/python/bin/README.md
  languages/python/bin/make-concept-exercise
Labels: track/python

#1294 [Julia] Update introduction.md
  languages/julia/exercises/concept/functions-introduction/.docs/introduction.md
Labels: track/julia, type/improve-exercise

#1296 [Elixir] Extract Concepts from v2 exercise: bank-account
  languages/elixir/reference/exercise-concepts/bank-account.md
Labels: documentation, track/elixir

#1297 [Rust] Extract Concepts from v2 exercise: robot-simulator
  languages/rust/reference/exercise-concepts/robot-simulator.md
Labels: documentation, track/rust

#1301 [Rust] indicate progress in readme
  languages/rust/README.md
Labels: track/rust

#1305 [Rust] update out of scope wording reference
  languages/rust/reference/out-of-scope.md
Labels: track/rust, type/improve-reference-doc

#1306 csharp: update header reference wording
  languages/csharp/reference/out-of-scope.md
Labels: track/csharp, type/improve-reference-doc

#1312 [CI] Fix escaping in markdown formatting match
  .github/workflows/verify-markdown-formatting.yml
Labels: CI

#908 [Emacs Lisp] Emacs Lisp concepts
  languages/README.md
  languages/_sidebar.md
  languages/emacs-lisp/README.md
  languages/emacs-lisp/_sidebar.md
  languages/emacs-lisp/config.json
  languages/emacs-lisp/docs/README.md
  languages/emacs-lisp/exercises/README.md
  languages/emacs-lisp/exercises/concept/README.md
  languages/emacs-lisp/exercises/practice/README.md
  languages/emacs-lisp/maintainers.md
  languages/emacs-lisp/reference/README.md
  languages/emacs-lisp/reference/implementing-a-concept-exercise.md
  languages/emacs-lisp/reference/progression.md
Labels: track/emacs-lisp, type/documentation

#967 [Emacs Lisp] Concepts: extension proposal
  languages/emacs-lisp/reference/README.md
  languages/emacs-lisp/reference/progression.md
Labels: track/emacs-lisp

#1315 [Emacs Lisp] Fix Markdown formatting from old merge
  languages/_sidebar.md
  languages/emacs-lisp/_sidebar.md
  languages/emacs-lisp/reference/README.md
Labels: track/emacs-lisp

#1311 [CI] Allow formatting of code in forks
  .github/workflows/format-code.yml
  .github/workflows/format-markdown-code.yml
Labels: type/ci

#1317 [CI] Remove always_job in rebase workflow
  .github/workflows/rebase.yml
Labels: type/ci

#1308 C#: add auto formatting support
  .github/workflows/format-csharp-code.yml
  .github/workflows/verify-csharp-formatting.yml
  languages/csharp/reference/implementing-a-concept-exercise.md
Labels: track/csharp, type/ci

#1283 [Docs] Further improve the concept-exercises.md document
  docs/concept-exercises.md
Labels: type/documentation

#1266 [Docs] Describe how auto formatting works
  bin/format.cmd
  bin/format.sh
  docs/concept-exercises.md
  docs/maintainers/style-guide.md
Labels: type/documentation

#1257 [C#] New Concept Exercise: arrays
  languages/csharp/config.json
  languages/csharp/exercises/concept/README.md
  languages/csharp/exercises/concept/arrays/.docs/after.md
  languages/csharp/exercises/concept/arrays/.docs/hints.md
  languages/csharp/exercises/concept/arrays/.docs/instructions.md
  languages/csharp/exercises/concept/arrays/.docs/introduction.md
  languages/csharp/exercises/concept/arrays/.meta/Example.cs
  languages/csharp/exercises/concept/arrays/.meta/config.json
  languages/csharp/exercises/concept/arrays/.meta/design.md
  languages/csharp/exercises/concept/arrays/Arrays.cs
  languages/csharp/exercises/concept/arrays/Arrays.csproj
  languages/csharp/exercises/concept/arrays/ArraysTests.cs
  languages/csharp/reference/README.md
Labels: track/csharp, type/new-exercise

#1318 [Emacs Lisp] concepts: fix typos
  languages/emacs-lisp/reference/README.md
Labels: track/emacs-lisp

#1324 Add cmcaine as a Julia maintainer
  languages/julia/maintainers.md
Labels: track/julia

#992 [C#] Implement new Concept Exercise: nullability
  languages/csharp/config.json
  languages/csharp/exercises/concept/nullability/.docs/after.md
  languages/csharp/exercises/concept/nullability/.docs/hints.md
  languages/csharp/exercises/concept/nullability/.docs/instructions.md
  languages/csharp/exercises/concept/nullability/.docs/introduction.md
  languages/csharp/exercises/concept/nullability/.meta/Example.cs
  languages/csharp/exercises/concept/nullability/.meta/config.json
  languages/csharp/exercises/concept/nullability/.meta/design.md
  languages/csharp/exercises/concept/nullability/Nullability.cs
  languages/csharp/exercises/concept/nullability/Nullability.csproj
  languages/csharp/exercises/concept/nullability/NullabilityTests.cs
  reference/types/null.md
  reference/types/nullable.md
Labels: track/csharp, type/new-exercise

#1323 [JavaScript] Improve concept/boolean exercise
  languages/javascript/exercises/concept/booleans/.docs/hints.md
  languages/javascript/exercises/concept/booleans/.docs/instructions.md
  languages/javascript/exercises/concept/booleans/booleans.js
Labels: track/javascript, type/improve-exercise

#1326 [Docs] Add status/wontfix label
  docs/maintainers/repository-structure.md
Labels: type/documentation

#1327 [C#] Add implementing a concept exercise link to sidebar
  languages/csharp/reference/_sidebar.md
Labels: track/csharp

#1203 [Elixir] New Concept Exercise: lists
  languages/elixir/config.json
  languages/elixir/exercises/concept/README.md
  languages/elixir/exercises/concept/lists/.docs/after.md
  languages/elixir/exercises/concept/lists/.docs/hints.md
  languages/elixir/exercises/concept/lists/.docs/instructions.md
  languages/elixir/exercises/concept/lists/.docs/introduction.md
  languages/elixir/exercises/concept/lists/.formatter.exs
  languages/elixir/exercises/concept/lists/.gitignore
  languages/elixir/exercises/concept/lists/.meta/config.json
  languages/elixir/exercises/concept/lists/.meta/design.md
  languages/elixir/exercises/concept/lists/.meta/example.ex
  languages/elixir/exercises/concept/lists/lib/language_list.ex
  languages/elixir/exercises/concept/lists/mix.exs
  languages/elixir/exercises/concept/lists/test/language_list_test.exs
  languages/elixir/exercises/concept/lists/test/test_helper.exs
  languages/elixir/reference/README.md
  languages/elixir/reference/concepts.csv
  reference/types/list.md
Labels: status/draft, track/elixir, type/new-exercise

#1332 [CI] Match on all JSON files
  .github/workflows/validate-json.yml
Labels: type/ci

#1320 [Docs] Cross-reference concept exercise file information
  docs/concept-exercises.md
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
  languages/c/reference/implementing-a-concept-exercise.md
  languages/clojure/reference/implementing-a-concept-exercise.md
  languages/common-lisp/reference/implementing-a-concept-exercise.md
  languages/cpp/reference/implementing-a-concept-exercise.md
  languages/csharp/reference/implementing-a-concept-exercise.md
  languages/elixir/reference/implementing-a-concept-exercise.md
  languages/elm/reference/implementing-a-concept-exercise.md
  languages/emacs-lisp/reference/implementing-a-concept-exercise.md
  languages/fsharp/reference/implementing-a-concept-exercise.md
  languages/go/reference/implementing-a-concept-exercise.md
  languages/haskell/reference/implementing-a-concept-exercise.md
  languages/java/reference/implementing-a-concept-exercise.md
  languages/javascript/reference/implementing-a-concept-exercise.md
  languages/julia/reference/implementing-a-concept-exercise.md
  languages/kotlin/reference/implementing-a-concept-exercise.md
  languages/purescript/reference/implementing-a-concept-exercise.md
  languages/python/reference/implementing-a-concept-exercise.md
  languages/ruby/reference/implementing-a-concept-exercise.md
  languages/rust/reference/implementing-a-concept-exercise.md
  languages/typescript/reference/implementing-a-concept-exercise.md
Labels: track/c, track/common-lisp, track/cpp, track/csharp, track/elixir, track/elm, track/emacs-lisp, track/fsharp, track/go, track/haskell, track/java, track/javascript, track/julia, track/kotlin, track/purescript, track/python, track/ruby, track/rust, track/typescript, type/documentation

#1321 [C#] Update Microsoft.NET.Test.Sdk package to 16.6.0
  languages/csharp/exercises/concept/arrays/Arrays.csproj
  languages/csharp/exercises/concept/basics/Basics.csproj
  languages/csharp/exercises/concept/datetimes/DateTimes.csproj
  languages/csharp/exercises/concept/enums/Enums.csproj
  languages/csharp/exercises/concept/flag-enums/FlagEnums.csproj
  languages/csharp/exercises/concept/floating-point-numbers/FloatingPointNumbers.csproj
  languages/csharp/exercises/concept/numbers/Numbers.csproj
  languages/csharp/exercises/concept/strings/Strings.csproj
Labels: track/csharp

#1334 [Python] Update exercise naming
  languages/python/config.json
Labels: track/python

#1340 [F#] Update implementing guide
  languages/fsharp/reference/implementing-a-concept-exercise.md
Labels: track/fsharp

#1343 [F#/Datetimes] Update files to match slug
  languages/fsharp/exercises/concept/datetimes/.meta/Example.fs
  languages/fsharp/exercises/concept/datetimes/Datetimes.fs
  languages/fsharp/exercises/concept/datetimes/Datetimes.fsproj
  languages/fsharp/exercises/concept/datetimes/DatetimesTests.fs
Labels: track/fsharp
