Repository exercism/v3, pull requests merged in 2021-01, with the labels that each got.

#2961 [Elixir] Fine-tune wording across all exercises
  languages/elixir/concepts/basics/about.md
  languages/elixir/concepts/default-arguments/about.md
  languages/elixir/exercises/concept/basketball-website/lib/basketball_website.ex
  languages/elixir/exercises/concept/boutique-suggestions/lib/boutique_suggestions.ex
  languages/elixir/exercises/concept/date-parser/lib/date_parser.ex
  languages/elixir/exercises/concept/dna-encoding/lib/dna.ex
  languages/elixir/exercises/concept/file-sniffer/lib/file_sniffer.ex
  languages/elixir/exercises/concept/guessing-game/.docs/introduction.md
  languages/elixir/exercises/concept/guessing-game/lib/guessing_game.ex
  languages/elixir/exercises/concept/high-score/.docs/instructions.md
  languages/elixir/exercises/concept/high-score/lib/high_score.ex
  languages/elixir/exercises/concept/kitchen-calculator/.docs/introduction.md
  languages/elixir/exercises/concept/kitchen-calculator/.meta/design.md
  languages/elixir/exercises/concept/language-list/.docs/instructions.md
  languages/elixir/exercises/concept/lasagna/.docs/hints.md
  languages/elixir/exercises/concept/lasagna/.docs/instructions.md
  languages/elixir/exercises/concept/lasagna/.docs/introduction.md
  languages/elixir/exercises/concept/lasagna/.meta/design.md
  languages/elixir/exercises/concept/pacman-rules/.docs/hints.md
  languages/elixir/exercises/concept/pacman-rules/.docs/instructions.md
  languages/elixir/exercises/concept/pacman-rules/.meta/design.md
  languages/elixir/exercises/concept/pacman-rules/lib/rules.ex
  languages/elixir/exercises/concept/remote-control-car/lib/remote_control_car.ex
  languages/elixir/exercises/concept/rpg-character-sheet/lib/rpg/character_sheet.ex
  languages/elixir/exercises/concept/rpn-calculator/lib/rpn_calculator.ex
  languages/elixir/exercises/concept/secrets/.docs/hints.md
  languages/elixir/exercises/concept/secrets/.docs/instructions.md
  languages/elixir/exercises/concept/secrets/.docs/introduction.md
  languages/elixir/exercises/concept/secrets/lib/secrets.ex
  languages/elixir/exercises/concept/stack-underflow/lib/rpn_calculator/exception.ex
  languages/elixir/reference/README.md
  languages/elixir/reference/exercise-concepts/word-count.md
Labels: track/elixir

#2867 [Common Lisp] Concept Exercise: Lilly's Lasagna Leftovers
  languages/common-lisp/concepts/default-parameters/about.md
  languages/common-lisp/concepts/default-parameters/links.json
  languages/common-lisp/concepts/functions/about.md
  languages/common-lisp/concepts/lambda-list/about.md
  languages/common-lisp/concepts/lambda-list/links.json
  languages/common-lisp/concepts/named-parameters/about.md
  languages/common-lisp/concepts/named-parameters/links.json
  languages/common-lisp/concepts/rest-parameters/about.md
  languages/common-lisp/concepts/rest-parameters/links.json
  languages/common-lisp/config.json
  languages/common-lisp/exercises/concept/lillys-lasagna-leftovers/.docs/hints.md
  languages/common-lisp/exercises/concept/lillys-lasagna-leftovers/.docs/instructions.md
  languages/common-lisp/exercises/concept/lillys-lasagna-leftovers/.docs/introduction.md
  languages/common-lisp/exercises/concept/lillys-lasagna-leftovers/.meta/config.json
  languages/common-lisp/exercises/concept/lillys-lasagna-leftovers/.meta/design.md
  languages/common-lisp/exercises/concept/lillys-lasagna-leftovers/.meta/example.lisp
  languages/common-lisp/exercises/concept/lillys-lasagna-leftovers/lillys-lasagna-leftovers-test.lisp
  languages/common-lisp/exercises/concept/lillys-lasagna-leftovers/lillys-lasagna-leftovers.lisp
Labels: track/common-lisp

#2964 Change username from mienaikage to m-dango
  languages/perl5/maintainers.md
Labels: track/perl5

#2958 [Elixir] New concept exercise: `file`
  languages/elixir/concepts/file/about.md
  languages/elixir/concepts/file/links.json
  languages/elixir/config.json
  languages/elixir/exercises/concept/file-sniffer/test/file_sniffer_test.exs
  languages/elixir/exercises/concept/newsletter/.docs/hints.md
  languages/elixir/exercises/concept/newsletter/.docs/instructions.md
  languages/elixir/exercises/concept/newsletter/.docs/introduction.md
  languages/elixir/exercises/concept/newsletter/.formatter.exs
  languages/elixir/exercises/concept/newsletter/.gitignore
  languages/elixir/exercises/concept/newsletter/.meta/config.json
  languages/elixir/exercises/concept/newsletter/.meta/design.md
  languages/elixir/exercises/concept/newsletter/.meta/example.ex
  languages/elixir/exercises/concept/newsletter/assets/emails.txt
  languages/elixir/exercises/concept/newsletter/assets/empty.txt
  languages/elixir/exercises/concept/newsletter/lib/newsletter.ex
  languages/elixir/exercises/concept/newsletter/mix.exs
  languages/elixir/exercises/concept/newsletter/test/newsletter_test.exs
  languages/elixir/exercises/concept/newsletter/test/test_helper.exs
Labels: track/elixir, type/new-exercise

#2970 elm: fix tests file for first concept exercise
  languages/elm/exercises/concept/lucians-luscious-lasagna/tests/Tests.elm
Labels: track/elm

#2987 [Julia] Add concept introductions
  languages/julia/concepts/arithmetic-operators/introduction.md
  languages/julia/concepts/boolean-expressions/introduction.md
  languages/julia/concepts/boolean-logic/introduction.md
  languages/julia/concepts/booleans/introduction.md
  languages/julia/concepts/conditionals/introduction.md
  languages/julia/concepts/emoji-symbols/introduction.md
  languages/julia/concepts/functions-introduction/introduction.md
  languages/julia/concepts/if-statements/introduction.md
  languages/julia/concepts/integer-equality/introduction.md
  languages/julia/concepts/iterator-protocol/introduction.md
  languages/julia/concepts/matrices-introduction/introduction.md
  languages/julia/concepts/multiple-dispatch/introduction.md
  languages/julia/concepts/optional-arguments/introduction.md
  languages/julia/concepts/short-circuit-evaluation/introduction.md
  languages/julia/concepts/ternary-operator/introduction.md
  languages/julia/concepts/unicode-identifiers/introduction.md
Labels: track/julia

#2983 [Elm] Add concept introductions
  languages/elm/concepts/basics/introduction.md
Labels: track/elm

#2982 [Elixir] Add concept introductions
  languages/elixir/concepts/access-behaviour/introduction.md
  languages/elixir/concepts/agent/introduction.md
  languages/elixir/concepts/anonymous-functions/introduction.md
  languages/elixir/concepts/atoms/introduction.md
  languages/elixir/concepts/basics/introduction.md
  languages/elixir/concepts/binaries/introduction.md
  languages/elixir/concepts/bit-manipulation/introduction.md
  languages/elixir/concepts/bitstrings/introduction.md
  languages/elixir/concepts/booleans/introduction.md
  languages/elixir/concepts/case/introduction.md
  languages/elixir/concepts/charlists/introduction.md
  languages/elixir/concepts/closures/introduction.md
  languages/elixir/concepts/cond/introduction.md
  languages/elixir/concepts/default-arguments/introduction.md
  languages/elixir/concepts/dynamic-dispatch/introduction.md
  languages/elixir/concepts/enum/introduction.md
  languages/elixir/concepts/erlang-libraries/introduction.md
  languages/elixir/concepts/errors/introduction.md
  languages/elixir/concepts/exceptions/introduction.md
  languages/elixir/concepts/file/introduction.md
  languages/elixir/concepts/floating-point-numbers/introduction.md
  languages/elixir/concepts/guards/introduction.md
  languages/elixir/concepts/if/introduction.md
  languages/elixir/concepts/integers/introduction.md
  languages/elixir/concepts/io/introduction.md
  languages/elixir/concepts/keyword-lists/introduction.md
  languages/elixir/concepts/list-comprehensions/introduction.md
  languages/elixir/concepts/lists/introduction.md
  languages/elixir/concepts/maps/introduction.md
  languages/elixir/concepts/module-attributes-as-constants/introduction.md
  languages/elixir/concepts/multiple-clause-functions/introduction.md
  languages/elixir/concepts/nil/introduction.md
  languages/elixir/concepts/pattern-matching/introduction.md
  languages/elixir/concepts/pids/introduction.md
  languages/elixir/concepts/pipe-operator/introduction.md
  languages/elixir/concepts/processes/introduction.md
  languages/elixir/concepts/protocols/introduction.md
  languages/elixir/concepts/randomness/introduction.md
  languages/elixir/concepts/ranges/introduction.md
  languages/elixir/concepts/recursion/introduction.md
  languages/elixir/concepts/regular-expressions/introduction.md
  languages/elixir/concepts/streams/introduction.md
  languages/elixir/concepts/strings/introduction.md
  languages/elixir/concepts/structs/introduction.md
  languages/elixir/concepts/tail-call-recursion/introduction.md
  languages/elixir/concepts/try-rescue-else-after/introduction.md
  languages/elixir/concepts/try-rescue/introduction.md
  languages/elixir/concepts/tuples/introduction.md
  languages/elixir/exercises/concept/rpn-calculator-output/.docs/introduction.md
Labels: track/elixir

#2992 [Rust] Add concept introductions
  languages/rust/concepts/destructuring/introduction.md
  languages/rust/concepts/entry-api/introduction.md
  languages/rust/concepts/enums-basic/introduction.md
  languages/rust/concepts/floating-point-numbers/introduction.md
  languages/rust/concepts/integers/introduction.md
  languages/rust/concepts/option/introduction.md
  languages/rust/concepts/structs/introduction.md
  languages/rust/concepts/tuples/introduction.md
Labels: track/rust

#2735 [Docs] Document new config.json entries
  docs/maintainers/migrating-your-config-json-files.md
Labels: type/documentation

#2778 [F#] Upgrade to .NET 5
  languages/fsharp/exercises/concept/annalyns-infiltration/AnnalynsInfiltration.fsproj
  languages/fsharp/exercises/concept/bandwagoner/Bandwagoner.fsproj
  languages/fsharp/exercises/concept/bird-watcher/BirdWatcher.fsproj
  languages/fsharp/exercises/concept/booking-up-for-beauty/BookingUpForBeauty.fsproj
  languages/fsharp/exercises/concept/cars-assemble/CarsAssemble.fsproj
  languages/fsharp/exercises/concept/guessing-game/GuessingGame.fsproj
  languages/fsharp/exercises/concept/interest-is-interesting/InterestIsInteresting.fsproj
  languages/fsharp/exercises/concept/log-levels/LogLevels.fsproj
  languages/fsharp/exercises/concept/lucians-luscious-lasagna/LuciansLusciousLasagna.fsproj
  languages/fsharp/exercises/concept/pizza-pricing/PizzaPricing.fsproj
  languages/fsharp/exercises/concept/tracks-on-tracks-on-tracks/TracksOnTracksOnTracks.fsproj
  languages/fsharp/exercises/concept/valentines-day/ValentinesDay.fsproj
Labels: track/fsharp

#2729 Fix incorrect links for .meta/config.json
  docs/maintainers/generic-how-to-implement-a-concept-exercise.md
Labels: type/documentation

#2600 [C#] Minor tweaks to Boolean instructions.
  languages/csharp/exercises/concept/annalyns-infiltration/.docs/instructions.md
Labels: track/csharp

#2984 [Go] Add concept introductions
  docs/maintainers/migrating-your-config-json-files.md
  languages/go/concepts/anonymous-functions/introduction.md
  languages/go/concepts/application-timing/introduction.md
  languages/go/concepts/booleans/introduction.md
  languages/go/concepts/bytes/introduction.md
  languages/go/concepts/channels/introduction.md
  languages/go/concepts/comments/introduction.md
  languages/go/concepts/conditionals-if/introduction.md
  languages/go/concepts/conditionals-switch/introduction.md
  languages/go/concepts/conditionals/introduction.md
  languages/go/concepts/constants/introduction.md
  languages/go/concepts/context/introduction.md
  languages/go/concepts/defer/introduction.md
  languages/go/concepts/duration/introduction.md
  languages/go/concepts/empty-interface/introduction.md
  languages/go/concepts/errors-handling/introduction.md
  languages/go/concepts/errors/introduction.md
  languages/go/concepts/floating-point/introduction.md
  languages/go/concepts/functions/introduction.md
  languages/go/concepts/goroutines/introduction.md
  languages/go/concepts/interfaces/introduction.md
  languages/go/concepts/iteration/introduction.md
  languages/go/concepts/maps/introduction.md
  languages/go/concepts/methods/introduction.md
  languages/go/concepts/mutex/introduction.md
  languages/go/concepts/nil/introduction.md
  languages/go/concepts/numbers/introduction.md
  languages/go/concepts/packages/introduction.md
  languages/go/concepts/panic/introduction.md
  languages/go/concepts/pointers/introduction.md
  languages/go/concepts/range-iteration/introduction.md
  languages/go/concepts/recover/introduction.md
  languages/go/concepts/reflection/introduction.md
  languages/go/concepts/runes/introduction.md
  languages/go/concepts/select/introduction.md
  languages/go/concepts/slices/introduction.md
  languages/go/concepts/strings-package/introduction.md
  languages/go/concepts/strings/introduction.md
  languages/go/concepts/structs/introduction.md
  languages/go/concepts/time/introduction.md
  languages/go/concepts/type-assertion/introduction.md
  languages/go/concepts/type-conversion/introduction.md
  languages/go/concepts/variables/introduction.md
  languages/go/concepts/zero-value/introduction.md
Labels: track/go, type/documentation

#2477 [x86-64-assembly] basics - replace about.md file with concept files
  languages/x86-64-assembly/concepts/basics/about.md
  languages/x86-64-assembly/exercises/concept/basics/.docs/after.md
Labels: track/x86-64-assembly

#2366 [Go] strings-package - replace about.md file with concept files
  languages/go/concepts/strings-package/about.md
  languages/go/exercises/concept/strings-package/.docs/after.md
Labels: track/go

#3004 [Elixir] Remove usage of `enum` (a later concept) from the `maps` exercise
  languages/elixir/exercises/concept/high-score/.docs/hints.md
  languages/elixir/exercises/concept/high-score/.docs/instructions.md
  languages/elixir/exercises/concept/high-score/.meta/example.ex
  languages/elixir/exercises/concept/high-score/lib/high_score.ex
  languages/elixir/exercises/concept/high-score/test/high_score_test.exs
Labels: track/elixir

#2397 [Ruby] arrays - replace about.md file with concept files
  languages/ruby/concepts/arrays/about.md
  languages/ruby/concepts/arrays/links.json
  languages/ruby/exercises/concept/arrays/.docs/after.md
Labels: track/ruby

#2398 [Ruby] strings - replace about.md file with concept files
  languages/ruby/concepts/strings/about.md
  languages/ruby/concepts/strings/links.json
  languages/ruby/exercises/concept/strings/.docs/after.md
Labels: track/ruby

#2402 [Ruby] booleans - replace about.md file with concept files
  languages/ruby/concepts/booleans/about.md
  languages/ruby/concepts/booleans/links.json
  languages/ruby/exercises/concept/booleans/.docs/after.md
Labels: track/ruby

#2401 [Ruby] floating-point-numbers - replace about.md file with concept files
  languages/ruby/concepts/floating-point-numbers/about.md
  languages/ruby/concepts/floating-point-numbers/links.json
  languages/ruby/concepts/loops/about.md
  languages/ruby/concepts/loops/links.json
  languages/ruby/exercises/concept/floating-point-numbers/.docs/after.md
Labels: track/ruby

#2400 [Ruby] numbers - replace about.md file with concept files
  languages/ruby/concepts/conditionals/about.md
  languages/ruby/concepts/conditionals/links.json
  languages/ruby/concepts/numbers/about.md
  languages/ruby/concepts/numbers/links.json
  languages/ruby/exercises/concept/numbers/.docs/after.md
Labels: track/ruby

#3009 elm: add basics concept to config.json
  languages/elm/config.json
Labels: track/elm

#3012 [Elixir] Improve exercise `high-score`
  languages/elixir/concepts/maps/introduction.md
  languages/elixir/exercises/concept/high-score/.docs/instructions.md
  languages/elixir/exercises/concept/high-score/.docs/introduction.md
  languages/elixir/exercises/concept/high-score/.meta/design.md
  languages/elixir/exercises/concept/high-score/lib/high_score.ex
Labels: track/elixir, type/improve-exercise

#3011 [Elixir] Improve exercise `kitchen-calculator`
  languages/elixir/concepts/tuples/introduction.md
  languages/elixir/exercises/concept/kitchen-calculator/.docs/hints.md
  languages/elixir/exercises/concept/kitchen-calculator/.docs/instructions.md
  languages/elixir/exercises/concept/kitchen-calculator/.docs/introduction.md
  languages/elixir/exercises/concept/kitchen-calculator/.meta/example.ex
  languages/elixir/exercises/concept/kitchen-calculator/lib/kitchen_calculator.ex
  languages/elixir/exercises/concept/kitchen-calculator/test/kitchen_calculator_test.exs
Labels: track/elixir, type/improve-exercise

#3010 [Elixir] Improve the `secrets` exercise
  languages/elixir/exercises/concept/secrets/.docs/instructions.md
  languages/elixir/exercises/concept/secrets/.docs/introduction.md
  languages/elixir/exercises/concept/secrets/.meta/example.ex
  languages/elixir/exercises/concept/secrets/lib/secrets.ex
Labels: track/elixir, type/improve-exercise

#3008 [Elixir] In `guessing-game`, nudge the user into actually using default arguments
  languages/elixir/exercises/concept/guessing-game/.docs/instructions.md
  languages/elixir/exercises/concept/guessing-game/.meta/example.ex
  languages/elixir/exercises/concept/guessing-game/test/guessing_game_test.exs
Labels: track/elixir, type/improve-exercise

#3005 [Elixi] Fix hints for all exercises
  languages/elixir/exercises/concept/basketball-website/.docs/hints.md
  languages/elixir/exercises/concept/bird-count/.docs/hints.md
  languages/elixir/exercises/concept/boutique-inventory/.docs/hints.md
  languages/elixir/exercises/concept/boutique-suggestions/.docs/hints.md
  languages/elixir/exercises/concept/community-garden/.docs/hints.md
  languages/elixir/exercises/concept/date-parser/.docs/hints.md
  languages/elixir/exercises/concept/dna-encoding/.docs/hints.md
  languages/elixir/exercises/concept/freelancer-rates/.docs/hints.md
  languages/elixir/exercises/concept/german-sysadmin/.docs/hints.md
  languages/elixir/exercises/concept/guessing-game/.docs/hints.md
  languages/elixir/exercises/concept/high-school-sweetheart/.docs/hints.md
  languages/elixir/exercises/concept/language-list/.docs/hints.md
  languages/elixir/exercises/concept/mensch-aergere-dich-nicht/.docs/hints.md
  languages/elixir/exercises/concept/name-badge/.docs/hints.md
  languages/elixir/exercises/concept/newsletter/.docs/hints.md
  languages/elixir/exercises/concept/pacman-rules/.docs/hints.md
  languages/elixir/exercises/concept/remote-control-car/.docs/hints.md
  languages/elixir/exercises/concept/rpg-character-sheet/.docs/hints.md
  languages/elixir/exercises/concept/rpn-calculator-output/.docs/hints.md
  languages/elixir/exercises/concept/rpn-calculator/.docs/hints.md
  languages/elixir/exercises/concept/secrets/.docs/hints.md
  languages/elixir/exercises/concept/stack-underflow/.docs/hints.md
  languages/elixir/exercises/concept/take-a-number/.docs/hints.md
  languages/elixir/exercises/concept/wine-cellar/.docs/hints.md
Labels: track/elixir, type/improve-exercise

#3006 [Elixir] Remove mention of string literals from lists
  languages/elixir/concepts/lists/introduction.md
  languages/elixir/exercises/concept/language-list/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#3007 [Elixir] Improve `language-list` instructions code snippets
  languages/elixir/exercises/concept/language-list/.docs/instructions.md
Labels: track/elixir, type/improve-exercise

#3017 [Common Lisp] Adding test descriptions for lillys-lasagna-leftover exercise
  languages/common-lisp/exercises/concept/lillys-lasagna-leftovers/lillys-lasagna-leftovers-test.lisp
Labels: track/common-lisp

#3016 [Common Lisp] Improving test/test descriptions in key-comparison exercise
  languages/common-lisp/exercises/concept/key-comparison/key-comparison-test.lisp
Labels: track/common-lisp

#3015 [Common Lisp] Review generated concept introductions
  languages/common-lisp/concepts/comments/introduction.md
  languages/common-lisp/concepts/conditionals/introduction.md
  languages/common-lisp/concepts/expressions/introduction.md
  languages/common-lisp/concepts/floating-point-numbers/introduction.md
  languages/common-lisp/concepts/lambda-list/introduction.md
  languages/common-lisp/concepts/sameness/introduction.md
  languages/common-lisp/concepts/symbols/introduction.md
Labels: track/common-lisp

#3019 [F#] Replace custom docs with concept doc
  languages/fsharp/concepts/strings/about.md
  languages/fsharp/docs/README.md
  languages/fsharp/docs/string_concatenation.md
  languages/fsharp/exercises/concept/log-levels/.docs/hints.md
  languages/fsharp/exercises/concept/log-levels/.meta/Example.fs
  languages/fsharp/exercises/concept/log-levels/.meta/design.md
Labels: track/fsharp, type/documentation

#3018 [C#] Move custom docs to reference folder
  languages/csharp/docs/README.md
  languages/csharp/reference/_sidebar.md
  languages/csharp/reference/docs/code_style.md
  languages/csharp/reference/docs/memory_allocation.md
Labels: track/csharp, type/documentation

#2369 [Go] zero-value - replace about.md file with concept files
  languages/go/concepts/nil/about.md
  languages/go/concepts/nil/links.json
  languages/go/concepts/zero-value/about.md
  languages/go/concepts/zero-value/links.json
  languages/go/exercises/concept/zero-value/.docs/after.md
Labels: track/go

#2363 [Go] numbers - replace about.md file with concept files
  languages/go/concepts/conditionals/about.md
  languages/go/concepts/conditionals/links.json
  languages/go/concepts/numbers/about.md
  languages/go/concepts/numbers/links.json
  languages/go/exercises/concept/numbers/.docs/after.md
Labels: track/go

#3033 [Elixir] Improve exercise `rpn-calculator`
  languages/elixir/concepts/try-rescue/introduction.md
  languages/elixir/exercises/concept/rpn-calculator/.docs/instructions.md
  languages/elixir/exercises/concept/rpn-calculator/.docs/introduction.md
  languages/elixir/exercises/concept/rpn-calculator/.meta/example.ex
Labels: track/elixir, type/improve-exercise

#3032 [Elixir] Improve exercise `take-a-number`
  languages/elixir/concepts/processes/about.md
  languages/elixir/config.json
  languages/elixir/exercises/concept/take-a-number/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#3031 [Elixir] Improve exercise `wine-cellar`
  languages/elixir/concepts/keyword-lists/about.md
  languages/elixir/concepts/keyword-lists/introduction.md
  languages/elixir/exercises/concept/wine-cellar/.docs/hints.md
  languages/elixir/exercises/concept/wine-cellar/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#3029 [Elixir] Improve concept exercise `boutique-inventory`
  languages/elixir/concepts/enum/introduction.md
  languages/elixir/exercises/concept/boutique-inventory/.docs/hints.md
  languages/elixir/exercises/concept/boutique-inventory/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#3025 [Elixir] Improve exercise `file-sniffer`
  languages/elixir/concepts/binaries/introduction.md
  languages/elixir/exercises/concept/file-sniffer/.docs/introduction.md
  languages/elixir/exercises/concept/file-sniffer/.meta/example.ex
  languages/elixir/exercises/concept/file-sniffer/test/file_sniffer_test.exs
Labels: track/elixir, type/improve-exercise

#3023 [Elixir] Extend the `basics` concept to mention the standard library
  languages/elixir/concepts/basics/about.md
  languages/elixir/concepts/basics/introduction.md
  languages/elixir/concepts/basics/links.json
  languages/elixir/exercises/concept/lasagna/.docs/introduction.md
Labels: track/elixir

#3022 [Elixir] Improve concept exercise `basketball-website`
  languages/elixir/concepts/access-behaviour/introduction.md
  languages/elixir/exercises/concept/basketball-website/.docs/instructions.md
  languages/elixir/exercises/concept/basketball-website/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#3030 [Elixir] Improve exercise `remote-control-car`
  languages/elixir/concepts/structs/about.md
  languages/elixir/concepts/structs/introduction.md
  languages/elixir/config.json
  languages/elixir/exercises/concept/remote-control-car/.docs/hints.md
  languages/elixir/exercises/concept/remote-control-car/.docs/instructions.md
  languages/elixir/exercises/concept/remote-control-car/.docs/introduction.md
  languages/elixir/exercises/concept/remote-control-car/.meta/design.md
Labels: track/elixir

#3024 [Elixir] Improve exercise `dna-encoding`
  languages/elixir/concepts/bitstrings/introduction.md
  languages/elixir/concepts/tail-call-recursion/introduction.md
  languages/elixir/exercises/concept/dna-encoding/.docs/hints.md
  languages/elixir/exercises/concept/dna-encoding/.docs/instructions.md
  languages/elixir/exercises/concept/dna-encoding/.docs/introduction.md
  languages/elixir/exercises/concept/dna-encoding/.meta/example.ex
  languages/elixir/exercises/concept/dna-encoding/test/dna_test.exs
Labels: track/elixir, type/improve-exercise

#2563 [JavaScript] Add Concept Exercise: type-conversion
  languages/javascript/concepts/type-conversion/about.md
  languages/javascript/concepts/type-conversion/introduction.md
  languages/javascript/concepts/type-conversion/links.json
  languages/javascript/config.json
  languages/javascript/exercises/concept/lucky-numbers/.docs/hints.md
  languages/javascript/exercises/concept/lucky-numbers/.docs/instructions.md
  languages/javascript/exercises/concept/lucky-numbers/.docs/introduction.md
  languages/javascript/exercises/concept/lucky-numbers/.eslintrc
  languages/javascript/exercises/concept/lucky-numbers/.gitignore
  languages/javascript/exercises/concept/lucky-numbers/.meta/config.json
  languages/javascript/exercises/concept/lucky-numbers/babel.config.js
  languages/javascript/exercises/concept/lucky-numbers/example.js
  languages/javascript/exercises/concept/lucky-numbers/lucky-numbers.js
  languages/javascript/exercises/concept/lucky-numbers/lucky-numbers.spec.js
  languages/javascript/exercises/concept/lucky-numbers/package.json
Labels: track/javascript, type/new-exercise

#3048 [Elixir] Improve exercise `date-parser`
  languages/elixir/concepts/regular-expressions/introduction.md
  languages/elixir/exercises/concept/date-parser/.docs/hints.md
  languages/elixir/exercises/concept/date-parser/.docs/instructions.md
  languages/elixir/exercises/concept/date-parser/.docs/introduction.md
  languages/elixir/exercises/concept/date-parser/test/date_parser_test.exs
Labels: track/elixir, type/improve-exercise

#3046 [Elixir] Improve exercise `rpn-calculator-output`
  languages/elixir/concepts/dynamic-dispatch/introduction.md
  languages/elixir/exercises/concept/rpn-calculator-output/.docs/instructions.md
  languages/elixir/exercises/concept/rpn-calculator-output/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#3045 [Elixir] Improve exercise `chessboard`
  languages/elixir/exercises/concept/chessboard/.docs/hints.md
  languages/elixir/exercises/concept/chessboard/.docs/instructions.md
Labels: track/elixir, type/improve-exercise

#3047 [Elixir] Improve exercise `captains-log`
  languages/elixir/concepts/erlang-libraries/about.md
  languages/elixir/concepts/erlang-libraries/introduction.md
  languages/elixir/exercises/concept/captains-log/.docs/hints.md
  languages/elixir/exercises/concept/captains-log/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#3044 [Elixir] Improve exercise `rpg-character-sheet`
  languages/elixir/config.json
  languages/elixir/exercises/concept/rpg-character-sheet/.docs/hints.md
  languages/elixir/exercises/concept/rpg-character-sheet/.docs/introduction.md
Labels: track/elixir, type/improve-exercise

#3043 [Elixir] Improve exercise `boutique-suggestions`
  languages/elixir/concepts/list-comprehensions/about.md
  languages/elixir/exercises/concept/boutique-suggestions/.docs/instructions.md
Labels: track/elixir, type/improve-exercise

#3042 [Elixir] Improve exerecise `stack underflow`
  languages/elixir/concepts/access-behaviour/about.md
  languages/elixir/concepts/access-behaviour/introduction.md
  languages/elixir/concepts/exceptions/introduction.md
  languages/elixir/concepts/structs/about.md
  languages/elixir/concepts/structs/introduction.md
  languages/elixir/exercises/concept/basketball-website/.docs/hints.md
  languages/elixir/exercises/concept/basketball-website/.docs/introduction.md
  languages/elixir/exercises/concept/basketball-website/.meta/design.md
  languages/elixir/exercises/concept/remote-control-car/.docs/introduction.md
  languages/elixir/exercises/concept/stack-underflow/.docs/hints.md
  languages/elixir/exercises/concept/stack-underflow/.docs/instructions.md
  languages/elixir/exercises/concept/stack-underflow/.docs/introduction.md
  languages/elixir/exercises/concept/stack-underflow/test/rpn_calculator/exception_test.exs
Labels: track/elixir, type/improve-exercise

#2357 [Go] basics - replace about.md file with concept files
  languages/go/concepts/comments/about.md
  languages/go/concepts/functions/about.md
  languages/go/concepts/functions/links.json
  languages/go/concepts/packages/about.md
  languages/go/concepts/packages/links.json
  languages/go/concepts/variables/about.md
  languages/go/concepts/variables/links.json
  languages/go/exercises/concept/basics/.docs/after.md
Labels: track/go

#3057 [C#] luciens-lasagna/basics story fix
  languages/csharp/exercises/concept/lucians-luscious-lasagna/.docs/instructions.md
Labels: track/csharp

#3059 [C#] ensure that all basics concepts are mentioned in about.md and files are consistent
  languages/csharp/concepts/basics/about.md
  languages/csharp/exercises/concept/lucians-luscious-lasagna/.meta/design.md
  languages/csharp/reference/exercises.json
Labels: track/csharp

#3058 [Rust] String-vs-str concept exercise
  languages/rust/exercises/concept/string-vs-str/.docs/hints.md
  languages/rust/exercises/concept/string-vs-str/.docs/instructions.md
  languages/rust/exercises/concept/string-vs-str/.docs/introduction.md
  languages/rust/exercises/concept/string-vs-str/.meta/config.json
  languages/rust/exercises/concept/string-vs-str/.meta/design.md
  languages/rust/exercises/concept/string-vs-str/.meta/example.rs
  languages/rust/exercises/concept/string-vs-str/Cargo.toml
  languages/rust/exercises/concept/string-vs-str/src/lib.rs
  languages/rust/exercises/concept/string-vs-str/tests/csv_builder.rs
Labels: track/rust, type/new-exercise

#2972 [Julia] Add tags & key_features
  languages/julia/config.json
Labels: track/julia

#3069 [Elixir] Add tags and key features
  languages/elixir/config.json
Labels: track/elixir

#3063 [Julia] randomness: Add annalyn2 exercise
  languages/julia/concepts/randomness/about.md
  languages/julia/concepts/randomness/introduction.md
  languages/julia/concepts/randomness/links.json
  languages/julia/config.json
  languages/julia/exercises/concept/annalyns-infiltration/.docs/instructions.md
  languages/julia/exercises/concept/annalyns-infiltration/.docs/source.md
  languages/julia/exercises/concept/annalyns-infiltration/.meta/config.json
  languages/julia/exercises/concept/annalyns-infiltration/.meta/example.jl
  languages/julia/exercises/concept/annalyns-infiltration/game.jl
  languages/julia/exercises/concept/annalyns-infiltration/runtests.jl
  languages/julia/exercises/concept/annalyns-infiltration2/.docs/instructions.md
  languages/julia/exercises/concept/annalyns-infiltration2/.docs/source.md
  languages/julia/exercises/concept/annalyns-infiltration2/.meta/config.json
  languages/julia/exercises/concept/annalyns-infiltration2/.meta/design.md
  languages/julia/exercises/concept/annalyns-infiltration2/.meta/example.jl
  languages/julia/exercises/concept/annalyns-infiltration2/game.jl
  languages/julia/exercises/concept/annalyns-infiltration2/runtests.jl
  languages/julia/exercises/concept/boolean-logic/runtests.jl
  reference/stories/booleans.rpg-quest-logic.md
  reference/stories/randomness.rpg-quest-logic-extension.md
Labels: track/julia

#3073 [Julia] annalyn2: fix pre-reqs
  languages/julia/config.json
Labels: track/julia

#3075 [Julia] annalyn2: Fix name
  languages/julia/config.json
Labels: track/julia

#3067 [Elixir] Extend the `log-level` exercise to justify using `cond` over `if` or `case`
  languages/elixir/exercises/concept/date-parser/lib/date_parser.ex
  languages/elixir/exercises/concept/dna-encoding/lib/dna.ex
  languages/elixir/exercises/concept/guessing-game/.meta/example.ex
  languages/elixir/exercises/concept/guessing-game/test/guessing_game_test.exs
  languages/elixir/exercises/concept/high-score/lib/high_score.ex
  languages/elixir/exercises/concept/kitchen-calculator/lib/kitchen_calculator.ex
  languages/elixir/exercises/concept/log-level/.docs/hints.md
  languages/elixir/exercises/concept/log-level/.docs/instructions.md
  languages/elixir/exercises/concept/log-level/.meta/example.ex
  languages/elixir/exercises/concept/log-level/lib/log_level.ex
  languages/elixir/exercises/concept/log-level/test/log_level_test.exs
  languages/elixir/exercises/concept/stack-underflow/.meta/example.ex
Labels: track/elixir, type/improve-exercise

#3062 [Python] Review of the lists elyses concept exercise
  languages/python/concepts/lists/about.md
  languages/python/concepts/lists/introduction.md
  languages/python/config.json
  languages/python/exercises/concept/elyses-enchantments/.docs/hints.md
  languages/python/exercises/concept/elyses-enchantments/.docs/instructions.md
  languages/python/exercises/concept/elyses-enchantments/.docs/introduction.md
  languages/python/exercises/concept/elyses-enchantments/.meta/config.json
  languages/python/exercises/concept/elyses-enchantments/.meta/example.py
  languages/python/exercises/concept/elyses-enchantments/lists.py
  languages/python/exercises/concept/elyses-enchantments/lists_test.py
Labels: track/python

#3061 [Rust] start vec-macro concept exercise
  languages/rust/concepts/vec-macro/about.md
  languages/rust/concepts/vec-macro/introduction.md
  languages/rust/concepts/vec-macro/links.json
  languages/rust/config.json
  languages/rust/exercises/concept/vec-macro/.docs/hints.md
  languages/rust/exercises/concept/vec-macro/.docs/instructions.md
  languages/rust/exercises/concept/vec-macro/.docs/introduction.md
  languages/rust/exercises/concept/vec-macro/.meta/config.json
  languages/rust/exercises/concept/vec-macro/.meta/design.md
  languages/rust/exercises/concept/vec-macro/.meta/example.rs
  languages/rust/exercises/concept/vec-macro/Cargo.toml
  languages/rust/exercises/concept/vec-macro/src/lib.rs
  languages/rust/exercises/concept/vec-macro/tests/vec_macro.rs
Labels: track/rust, type/new-exercise

#2660 Remove if/else/unless from booleans concept.
  languages/ruby/concepts/booleans/about.md
  languages/ruby/config.json
  languages/ruby/exercises/concept/README.md
  languages/ruby/exercises/concept/amusement-park-rides/.docs/hints.md
  languages/ruby/exercises/concept/amusement-park-rides/.docs/instructions.md
  languages/ruby/exercises/concept/amusement-park-rides/.docs/introduction.md
  languages/ruby/exercises/concept/amusement-park-rides/.meta/config.json
  languages/ruby/exercises/concept/amusement-park-rides/.meta/design.md
  languages/ruby/exercises/concept/amusement-park-rides/.meta/example.rb
  languages/ruby/exercises/concept/amusement-park-rides/attendee.rb
  languages/ruby/exercises/concept/amusement-park-rides/attendee_test.rb
  languages/ruby/exercises/concept/booleans/.docs/introduction.md
Labels: track/ruby

#2310 [Ruby] Implement new Concept Exercise: conditionals-ternary #1903
  languages/ruby/exercises/concept/conditionals-ternary/.docs/instructions.md
  languages/ruby/exercises/concept/conditionals-ternary/.docs/introduction.md
  languages/ruby/exercises/concept/conditionals-ternary/.meta/example.rb
  languages/ruby/exercises/concept/conditionals-ternary/moviegoer.rb
  languages/ruby/exercises/concept/conditionals-ternary/moviegoer_test.rb
Labels: hacktoberfest-accepted, track/ruby, type/new-exercise

#3078 [Elixir] Concept blurbs and about.md's reviews
  languages/elixir/concepts/anonymous-functions/about.md
  languages/elixir/concepts/basics/about.md
  languages/elixir/concepts/basics/introduction.md
  languages/elixir/concepts/bit-manipulation/about.md
  languages/elixir/concepts/bit-manipulation/introduction.md
  languages/elixir/concepts/bit-manipulation/links.json
  languages/elixir/concepts/booleans/about.md
  languages/elixir/concepts/booleans/introduction.md
  languages/elixir/concepts/cond/about.md
  languages/elixir/concepts/floating-point-numbers/about.md
  languages/elixir/concepts/integers/about.md
  languages/elixir/config.json
  languages/elixir/exercises/concept/secrets/.docs/introduction.md
Labels: track/elixir

#3034 [Python] string formatting concept exercise
  languages/python/concepts/string-formatting/about.md
  languages/python/concepts/string-formatting/links.json
  languages/python/config.json
  languages/python/exercises/concept/pretty-leaflet/.docs/hints.md
  languages/python/exercises/concept/pretty-leaflet/.docs/instructions.md
  languages/python/exercises/concept/pretty-leaflet/.docs/introduction.md
  languages/python/exercises/concept/pretty-leaflet/.meta/config.json
  languages/python/exercises/concept/pretty-leaflet/.meta/design.md
  languages/python/exercises/concept/pretty-leaflet/.meta/example.py
  languages/python/exercises/concept/pretty-leaflet/string_formatting.py
  languages/python/exercises/concept/pretty-leaflet/string_formatting_test.py
Labels: track/python

#2914 c: extract concepts of binary-search
  languages/c/reference/exercise-concepts/binary-search.md
Labels: track/c

#2109 [Python] Implement new Concept Exercise: conditionals #1103
  languages/python/exercises/concept/conditionals/.docs/after.md
  languages/python/exercises/concept/conditionals/.docs/hints.md
  languages/python/exercises/concept/conditionals/.docs/instructions.md
  languages/python/exercises/concept/conditionals/.docs/introduction.md
  languages/python/exercises/concept/conditionals/.meta/config.json
  languages/python/exercises/concept/conditionals/.meta/design.md
  languages/python/exercises/concept/conditionals/.meta/example.py
  languages/python/exercises/concept/conditionals/conditionals.py
  languages/python/exercises/concept/conditionals/conditionals_test.py
Labels: hacktoberfest-accepted, status/draft, track/python

#3090 [CI] Remove scheduled workflow
  .github/workflows/valid-links.yml
Labels: type/ci
